Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*

Shorter elevator announcements
  maps/sierra/areas/shuttles.dm
Labels: none

Decks comments
  maps/sierra/areas/multideck.dm
Labels: none

Pods shift
  maps/sierra/areas/shuttles.dm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra_areas.dm
Labels: :world_map: Карты

Enter
  maps/sierra/areas/shuttles.dm
Labels: none

Area files crime expansion
  maps/sierra/areas/z1_sierra_deck3.dm
  maps/sierra/areas/z2_sierra_deck2.dm
  maps/sierra/areas/z3_sierra_deck1.dm
  maps/sierra/areas/z4_admin.dm
  maps/sierra/sierra_areas.dm
Labels: none

I've commited a crime
  maps/sierra/sierra.dm
  maps/sierra/z1_sierra_deck3.dmm
  maps/sierra/z2_sierra_deck2.dmm
  maps/sierra/z3_sierra_deck1.dmm
  maps/sierra/z4_admin.dmm
  maps/sierra/z5_transit.dmm
Labels: :world_map: Карты

Sierra access
  maps/sierra/job/access.dm
Labels: none

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  maps/sierra/items/rigs.dm
  maps/sierra/job/jobs_cargo.dm
  maps/sierra/job/jobs_command.dm
  maps/sierra/job/jobs_exploration.dm
Labels: none

СЬЕРРА
  maps/sierra/items/manuals.dm
Labels: none

Опять шиза
  maps/sierra/job/jobs.dm
  maps/sierra/job/jobs_cargo.dm
  maps/sierra/job/jobs_medical.dm
Labels: none

Рот манал
  maps/sierra/job/jobs_command.dm
Labels: none

Каменты
  maps/sierra/job/jobs_cargo.dm
  maps/sierra/job/jobs_command.dm
  maps/sierra/job/jobs_engineering.dm
  maps/sierra/job/jobs_medical.dm
  maps/sierra/job/jobs_research.dm
  maps/sierra/job/jobs_security.dm
Labels: none

ARRRRGH
  maps/sierra/job/jobs_misc.dm
  maps/sierra/job/jobs_research.dm
Labels: none

MODS
  baystation12.dme
  code/controllers/subsystems/initialization/modpacks.dm
Labels: none

SIERRA TODO
  maps/sierra/items/rigs.dm
  maps/sierra/job/jobs_cargo.dm
  maps/sierra/job/jobs_command.dm
  maps/sierra/job/jobs_engineering.dm
  maps/sierra/job/jobs_medical.dm
  maps/sierra/job/jobs_research.dm
  maps/sierra/job/jobs_security.dm
  maps/sierra/loadout/loadout_pda.dm
  maps/sierra/machinery/random.dm
  packs/infinity/clothing/head/head.dm
Labels: none

Забыл раскомментить после теста
  maps/sierra/game/lockdown.dm
Labels: none

Я натворил хуйни
  maps/sierra/game/languages.dm
  maps/sierra/game/lockdown.dm
  maps/sierra/machinery/doors.dm
  maps/sierra/sierra.dm
  maps/sierra/sierra_define.dm
  maps/sierra/sierra_security_state.dm
  packs/infinity/items/modular_computer.dm
  packs/infinity/machinery/heater.dm
  packs/infinity/machinery/suit_storage.dm
  packs/infinity/structures/holoplants.dm
  packs/sierra-tweaks/_helpers/unsorted.dm
  packs/sierra-tweaks/mob/emotes.dm
  packs/sierra-tweaks/objects/buckling.dm
  packs/sierra-tweaks/objects/structures/cargo.dm
Labels: none

Файл удалил, а инклюд не убрал
  packs/sierra-tweaks/_pack.dm
Labels: none

Ща уебу моды
  maps/sierra/loadout/loadout_xeno.dm
  mods/global_modpacks.dm
  mods/species/resomi/_resomi.dme
  mods/species/resomi/gear.dm
Labels: none

Минус сон
  mods/_modpack.dm
  mods/eris_announcer/_eris_announcer.dm
  mods/machinery/atmos_ret_field/_atm_ret_field.dm
  mods/quantum_mechanic/_quantum_mechanic.dm
  mods/screentips/_screentips.dm
  mods/skills/bureaucracy/legalese_language/_legalese.dm
Labels: none

Amogus
  maps/sierra/machinery/machinery.dm
  maps/sierra/sierra.dm
Labels: none

Я дурак
  maps/sierra/sierra_areas.dm
Labels: none

Перетасовка
  packs/infinity/clothing/head/head.dm
Labels: none

Eris aanouncer
  maps/sierra/sierra_announcements.dm
Labels: none

Зачем, а главное - нахуя?
  maps/sierra/lobby/sierra.png
  maps/sierra/lobby/station.png
Labels: none

Xeno
  maps/sierra/loadout/loadout_xeno.dm
  mods/species/tajara/_tajara.dme
  mods/species/tajara/gears.dm
Labels: none

Fuck class and designation
  maps/sierra/sierra_overmap.dm
Labels: none

Clothing comment
  mods/objects/items/music_player/music_tape.dm
  packs/infinity/items/towels.dm
  packs/infinity/structures/chairs.dm
Labels: none

Нахуй
  packs/infinity/icons/sortthisplease/readme.txt
Labels: none

Idk what is this, we have no `away_inf`
  maps/sierra/sierra_overmap.dm
Labels: none

Pretty
  maps/sierra/loadout/_defines.dm
Labels: none

Random mob fix
  maps/sierra/machinery/random.dm
Labels: none

UwU
  maps/sierra/job/jobs.dm
  maps/sierra/loadout/_defines.dm
Labels: none

Ёбнуться тут кто-то умный чота делал
  maps/sierra/sierra_shuttles.dm
Labels: none

No stowaway
  maps/sierra/items/cards_ids.dm
Labels: none

Mattress exists on torch
  maps/sierra/icons/obj/matterss.dmi
  maps/sierra/sierra.dm
  maps/sierra/structures/override.dm
Labels: :mountain: Спрайты

Ой блять
  maps/sierra/items/rigs.dm
Labels: none

Yepp
  maps/sierra/job/jobs.dm
  maps/sierra/job/outfits.dm
  maps/sierra/loadout/_defines.dm
Labels: none

Нахуй ебучий анонсер
  mods/eris_announcer/_eris_announcer.dm
  mods/eris_announcer/_eris_announcer.dme
  mods/eris_announcer/announce.dm
  mods/global_modpacks.dm
Labels: none

De-infinityzation
  maps/sierra/areas/z2_sierra_deck2.dm
  maps/sierra/areas/z3_sierra_deck1.dm
  maps/sierra/icons/mob/onmob/onmob_feet.dmi
  maps/sierra/icons/mob/onmob/onmob_hands.dmi
  maps/sierra/icons/mob/onmob/onmob_head.dmi
  maps/sierra/icons/mob/onmob/onmob_suit.dmi
  maps/sierra/icons/obj/clothing/obj_feet.dmi
  maps/sierra/icons/obj/clothing/obj_hands.dmi
  maps/sierra/icons/obj/clothing/obj_head.dmi
  maps/sierra/icons/obj/clothing/obj_suit.dmi
  maps/sierra/icons/obj/library.dmi
  maps/sierra/icons/obj/matterss.dmi
  maps/sierra/icons/obj/passports.dmi
  maps/sierra/icons/obj/remote_device.dmi
  maps/sierra/icons/obj/rig_modules.dmi
  maps/sierra/icons/obj/security_state.dmi
  maps/sierra/icons/turf/areas.dmi
  maps/sierra/items/items.dm
  maps/sierra/items/manuals.dm
  maps/sierra/items/rigs.dm
  maps/sierra/sierra_holodecks.dm
  maps/sierra/sierra_lobby.dm
  maps/sierra/sierra_security_state.dm
  maps/sierra/sound/ambience/bridge.wav
  maps/sierra/sound/music/eminem_lovethewayyoulie.ogg
  maps/sierra/sound/music/river_flows_in_you.ogg
  maps/sierra/structures/override.dm
  packs/infinity/icons/obj/furniture.dmi
  packs/infinity/title_screens/infinity-2020.png
Labels: :mountain: Спрайты, :sound: Звуки
