Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

[MIRROR] connection warnings give numbers and ignore staff
  code/modules/client/client_procs.dm
Labels: none

[MIRROR] Sort and label options in `run-unit-tests`
  code/unit_tests/unit_test.dm
Labels: none

[MIRROR] Make station wires test aware of breaker boxes
  code/unit_tests/map_tests.dm
Labels: none

[MIRROR] allows Run Tests to be manually triggered
  .github/workflows/test.yml
Labels: :open_file_folder: Репозиторий

[MIRROR] bump spacemandmm version to 1.7.3
  .github/workflows/generate_documentation.yml
  .github/workflows/test.yml
Labels: :open_file_folder: Репозиторий

[MIRROR] Lets EMP affect energy melee and e-shields + some eshield related stuff
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/shields.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
Labels: :world_map: Карты

[MIRROR] finishes removing the autoshotgun from antags
  code/game/objects/effects/spawners/guns.dm
  code/game/objects/random/random.dm
Labels: none

[MIRROR] Fixes hacker hardsuits runtiming when using a wrench on them
  code/modules/clothing/spacesuits/rig/rig_attackby.dm
Labels: none

[MIRROR] Fix attack runtimes for mobs without zone selection
  code/_onclick/item_attack.dm
Labels: none

[MIRROR] allows Run Tests to be manually triggered
  .github/workflows/test.yml
Labels: :open_file_folder: Репозиторий

[MIRROR] allows Run Tests to be manually triggered
  .github/workflows/test.yml
Labels: :open_file_folder: Репозиторий

[MIRROR] bump spacemandmm version to 1.7.3
  .github/workflows/generate_documentation.yml
  .github/workflows/test.yml
Labels: :open_file_folder: Репозиторий

[MIRROR] Lets EMP affect energy melee and e-shields + some eshield related stuff
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/shields.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
Labels: :world_map: Карты

[MIRROR] finishes removing the autoshotgun from antags
  code/game/objects/effects/spawners/guns.dm
  code/game/objects/random/random.dm
Labels: none

[MIRROR] Fixes hacker hardsuits runtiming when using a wrench on them
  code/modules/clothing/spacesuits/rig/rig_attackby.dm
Labels: none

[MIRROR] Fix attack runtimes for mobs without zone selection
  code/_onclick/item_attack.dm
Labels: none

[MIRROR] deletion starts paused defaults true
  code/controllers/configuration.dm
Labels: none

[MIRROR] update ssatoms, ssicon_update queue management
  code/controllers/subsystems/atoms.dm
  code/controllers/subsystems/processing/icon_updates.dm
Labels: none

[MIRROR] correct various LateInitialize super calls & documentation
  code/game/area/areas.dm
  code/game/atoms.dm
  code/game/machinery/atmoalter/portable_atmospherics.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
  code/game/turfs/space/space.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/maps/helper_landmarks.dm
  code/modules/mob/living/carbon/human/corpse.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/modular_computers/file_system/data.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/power/turbine.dm
  code/modules/shuttles/landmarks.dm
  code/modules/species/outsider/zombie.dm
  maps/away/bearcat/bearcat.dm
  maps/torch/items/manuals.dm
  maps/torch/torch_npcs.dm
Labels: none

Conflict resolution
  .github/workflows/test.yml
Labels: :open_file_folder: Репозиторий

Music
  mods/jukebox_tapes/code/jukebox.dm
  mods/music_player/code/music_tape.dm
Labels: none

Images
  maps/sierra/items/clothing/exploration.dm
  maps/sierra/items/rigs.dm
  maps/sierra/machinery/random.dm
  maps/sierra/machinery/uniform_vendor.dm
  mods/_maps/farfleet/code/farfleet_turbolift.dm
  mods/_maps/sentinel/code/sentinel_turbolift.dm
  packs/infinity/clothing/accessories/cloak.dm
  packs/infinity/clothing/gloves/gloves.dm
  packs/infinity/clothing/head/berets.dm
  packs/infinity/clothing/head/head.dm
  packs/infinity/clothing/head/helmet.dm
  packs/infinity/clothing/shoes/shoes.dm
  packs/infinity/clothing/suits/suits.dm
  packs/infinity/machinery/scrap_compactor/scrap_pileripper.dm
  packs/infinity/machinery/scrap_compactor/scrap_refinery.dm
  packs/infinity/machinery/scrap_compactor/scrap_stacker.dm
  packs/infinity/structures/chairs.dm
Labels: none

Conflict resolution
  code/controllers/subsystems/processing/icon_updates.dm
Labels: none

EMS helmet fix
  maps/sierra/datums/uniforms_civilian.dm
  maps/sierra/datums/uniforms_contractor.dm
  maps/sierra/datums/uniforms_employee.dm
Labels: none

И шаблон туда же
  nano/templates/gravgen.tmpl
Labels: none

Mechanic and Co
  maps/sierra/sierra.dm
  mods/quantum_mechanic/code/quantum_mechanic.dm
Labels: none

Cinnamon Resort
  maps/sierra/sierra.dm
Labels: none

Gravitational Generator glorious return
  maps/sierra/z1_sierra_deck3.dmm
  maps/sierra/z2_sierra_deck2.dmm
  maps/sierra/z3_sierra_deck1.dmm
  maps/sierra/z4_admin.dmm
  maps/sierra/z5_transit.dmm
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/_maps/liberia/maps/liberia.dmm
  mods/_maps/sentinel/maps/sentinel-1.dmm
  packs/infinity/_pack.dm
  packs/infinity/icons/mob/onmob/onmob_hands.dmi
  packs/infinity/icons/mob/onmob/onmob_head.dmi
  packs/infinity/icons/obj/machinery/disposal_small.dmi
  packs/infinity/icons/obj/machinery/gravity_gen.dmi
  packs/infinity/machinery/gravity_generator/areas.dm
  packs/infinity/machinery/gravity_generator/grav_event.dm
  packs/infinity/machinery/gravity_generator/gravity_generator.dm
  packs/infinity/machinery/gravity_generator/gravitygenerator.dm
  packs/infinity/machinery/gravity_generator/mob.dm
  packs/infinity/machinery/gravity_generator/wires.dm
  packs/infinity/machinery/machines.dm
Labels: :world_map: Карты, :mountain: Спрайты

New Year 2023 posters
  packs/infinity/_pack.dm
  packs/infinity/icons/obj/posters.dmi
  packs/infinity/structures/signs_ss220.dm
Labels: :mountain: Спрайты

Colorful cloth revert
  maps/sierra/sierra.dm
  mods/fancy_sofas/code/roundedchair.dm
  mods/fancy_sofas/code/sofa.dm
  packs/infinity/structures/chairs.dm
Labels: none

Всё равно сквешать
  baystation12.dme
Labels: none

Changes
  maps/sierra/z2_sierra_deck2.dmm
  maps/sierra/z3_sierra_deck1.dmm
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/nyc_posters/code/nyc_posters.dm
Labels: :world_map: Карты

Updoot
  maps/sierra/sierra.dm
Labels: none

Gravgen migration
  maps/sierra/sierra.dm
  mods/_master_files/gravity_generator/areas.dm
  mods/_master_files/gravity_generator/grav_event.dm
  mods/_master_files/gravity_generator/gravity_gen.dmi
  mods/_master_files/gravity_generator/gravity_generator.dm
  mods/_master_files/gravity_generator/gravitygenerator.dm
  mods/_master_files/gravity_generator/mob.dm
  mods/_master_files/gravity_generator/wires.dm
  packs/infinity/_pack.dm
Labels: :mountain: Спрайты

Posters refac
  baystation12.dme
  maps/sierra/sierra.dm
  maps/sierra/z2_sierra_deck2.dmm
  maps/sierra/z3_sierra_deck1.dmm
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/nyc_posters/_nyc_posters.dm
  mods/nyc_posters/_nyc_posters.dme
  mods/nyc_posters/code/nyc_posters.dm
  mods/nyc_posters/icons/nyc_posters.dmi
  packs/infinity/_pack.dm
  packs/infinity/icons/obj/posters.dmi
Labels: :world_map: Карты, :mountain: Спрайты

В темноте не того подключили
  baystation12.dme
Labels: none

Убрали гравген из Сьерры, добавили в Бейстейшн
  maps/sierra/sierra.dm
Labels: none

Gravitational Generator glorious return
  packs/infinity/_pack.dm
  packs/infinity/icons/obj/machinery/gravity_gen.dmi
  packs/infinity/machinery/gravity_generator/areas.dm
  packs/infinity/machinery/gravity_generator/grav_event.dm
  packs/infinity/machinery/gravity_generator/gravity_generator.dm
  packs/infinity/machinery/gravity_generator/gravitygenerator.dm
  packs/infinity/machinery/gravity_generator/mob.dm
  packs/infinity/machinery/gravity_generator/wires.dm
Labels: :mountain: Спрайты

New Year 2023 posters
  packs/infinity/_pack.dm
  packs/infinity/icons/obj/posters.dmi
  packs/infinity/structures/signs_ss220.dm
Labels: :mountain: Спрайты

Mechanic and Co
  maps/sierra/sierra.dm
Labels: none

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*
