Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*

fix translate
  mods/_rus/code/obj/modules_files/clothing/glasses.dm
Labels: none

Translate head wear and fix staff
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/clothing/gloves.dm
  mods/_rus/code/obj/modules_files/clothing/head.dm
Labels: none

Translane masks and some staff
  mods/_rus/_rus.dme
  mods/_rus/code/machinery/machines_atmo.dm
  mods/_rus/code/obj/modules_files/clothing/head.dm
  mods/_rus/code/obj/modules_files/clothing/masks.dm
  mods/_rus/code/obj/modules_files/clothing/misc.dm
Labels: none

Translate rigs and modules
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/clothing/another.dm
  mods/_rus/code/obj/modules_files/clothing/shoes.dm
  mods/_rus/code/obj/modules_files/clothing/spacesuits/modules.dm
  mods/_rus/code/obj/modules_files/clothing/spacesuits/suits.dm
Labels: none

Translate void suits
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/clothing/spacesuits/void.dm
Labels: none

Fixed typo in readme.md
  README.md
Labels: :open_file_folder: Репозиторий

Translate space suits
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/clothing/spacesuits/misc.dm
  mods/_rus/code/obj/modules_files/clothing/spacesuits/void.dm
Labels: none

Translate armor and some suits
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/clothing/head.dm
  mods/_rus/code/obj/modules_files/clothing/suits/armor.dm
  mods/_rus/code/obj/modules_files/clothing/suits/jobs.dm
  mods/_rus/code/obj/modules_files/clothing/suits/labcoast.dm
  mods/_rus/code/obj/modules_files/clothing/suits/misc.dm
Labels: none

fix translate
  mods/_rus/code/obj/modules_files/clothing/suits/labcoast.dm
Labels: none

Translate misc suits
  mods/_rus/code/obj/modules_files/clothing/suits/misc.dm
Labels: none

Translate some "under" cloth
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/clothing/suits/armor.dm
  mods/_rus/code/obj/modules_files/clothing/suits/misc.dm
  mods/_rus/code/obj/modules_files/clothing/suits/under.dm
Labels: none

Translate accessories and more cloth
  mods/_rus/code/obj/modules_files/clothing/suits/armor.dm
  mods/_rus/code/obj/modules_files/clothing/suits/misc.dm
  mods/_rus/code/obj/modules_files/clothing/suits/under.dm
Labels: none

Translate jumpsuits
  mods/_rus/code/obj/modules_files/clothing/suits/jobs.dm
Labels: none

Cameras
  maps/sierra/_references/map-refs.dmm
  maps/sierra/sierra_presets.dm
Labels: :world_map: Карты

[MIRROR] Adds fast and slow modes to cryo cells
  code/game/machinery/cryo.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  nano/templates/cryo.tmpl
Labels: none

Electric eye
  maps/sierra/sierra_presets.dm
Labels: none

In the sky
  maps/sierra/_references/z1-3_sierra.dmm
Labels: :world_map: Карты

[MIRROR] Self-destruct Can Trigger Evacuation
  code/controllers/evacuation/evacuation.dm
  code/controllers/evacuation/evacuation_pods.dm
  code/datums/security_state.dm
  code/game/machinery/nuclear_bomb.dm
  nano/templates/nuclear_bomb.tmpl
Labels: none

[MIRROR] Attackby Fixes
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/detectivework/tools/sample_kits.dm
  code/modules/materials/material_sheets.dm
  code/modules/mining/mine_items.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий

[MIRROR] Alerts surgeons when an organ is decaying
  code/modules/surgery/organs_internal.dm
Labels: none

armguards_encounter
  packs/infinity/clothing/accessories/armor.dm
Labels: none

minor crimes
  maps/sierra/icons/obj/ammo.dmi
  maps/sierra/icons/obj/medical.dmi
  maps/sierra/items/ammo.dm
  maps/sierra/items/items.dm
  maps/sierra/sierra.dm
  maps/sierra/structures/closets/armory.dm
  maps/sierra/structures/closets/misc.dm
  maps/sierra/structures/closets/security.dm
Labels: :mountain: Спрайты

логотипы потому что могу
  html/images/blueofntlogo.png
  html/images/blupapntlogo.png
  html/images/ccalogo.png
  html/images/foundlogo.png
  html/images/ofntlogo.png
  html/images/papntlogo.png
  html/images/sierralogo.png
Labels: none

Translate all "clothing"
  mods/_rus/code/obj/modules_files/clothing/another.dm
  mods/_rus/code/obj/modules_files/clothing/suits/jobs.dm
  mods/_rus/code/obj/modules_files/clothing/suits/misc.dm
Labels: none

Translate some staff
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/crafting.dm
  mods/_rus/code/obj/modules_files/machinery.dm
  mods/_rus/code/obj/modules_files/misc.dm
Labels: none

Translate autolath
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/crafting_datum.dm
Labels: none

Resolve conflicts
  code/game/machinery/nuclear_bomb.dm
Labels: none

Ночь длинных плакатов
  mods/nyc_posters/code/nyc_posters.dm
Labels: none

HMC
  maps/sierra/items/rigs.dm
Labels: none

Crimes against modularisation
  code/_helpers/text.dm
  code/modules/client/client_procs.dm
  html/images/bluentlogo.png
  html/images/blupapntlogo.png
  html/images/ntlogo.png
  html/images/ofbluelogo.png
  html/images/oldbluentlogo.png
  html/images/oldntlogo.png
  html/images/papntlogo.png
Labels: none

Update code/_helpers/text.dm
  code/_helpers/text.dm
Labels: none

Update code/_helpers/text.dm
  code/_helpers/text.dm
Labels: none

Update code/modules/client/client_procs.dm
  code/modules/client/client_procs.dm
Labels: none

[MIRROR] Fixes lipstick oversight
  code/game/objects/items/weapons/cosmetics.dm
Labels: none

[MIRROR] Autolathe queue
  code/modules/fabrication/fabricator_ui.dm
  nano/templates/fabricator.tmpl
Labels: none

[MIRROR] Standardizes welding checks/values
  code/game/machinery/_machines_base/machine_construction/frame.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/camera_assembly.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/braces.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/floor_light.dm
  code/game/machinery/nuclear_bomb.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/self_destruct.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/atmospherics/components/unary/vent_scrubber.dm
  code/modules/clothing/spacesuits/breaches.dm
  code/modules/materials/material_sheets.dm
  code/modules/mechs/components/_components.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/power/apc.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/power/smes.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  code/modules/xenoarcheaology/finds/finds.dm
Labels: none

Change SIERRA to SIERRA-ADD
  code/_helpers/text.dm
  code/modules/client/client_procs.dm
Labels: none

UGHHHHHHHHHHHHHHHHHH
  code/modules/client/client_procs.dm
Labels: none

Update credits
  mods/client_verbs/html/credits.html
Labels: none

Update signs.dm
  maps/sierra/structures/signs.dm
Labels: none
