Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*

Volume down
  maps/sierra/structures/signs.dm
Labels: none

Translate holodeck and hydropon
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/holodeck.dm
  mods/_rus/code/obj/modules_files/hydroponics.dm
  mods/_rus/code/obj/modules_files/machinery.dm
Labels: none

[MIRROR] Adds support for cold mist effect for low temperatures
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/atmos.dm
  code/controllers/configuration.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/particles/particles.dm
  code/modules/xgm/xgm_gas_data.dm
  code/modules/xgm/xgm_gas_mixture.dm
  icons/effects/particles.dmi
  icons/effects/tile_effects.dmi
Labels: :mountain: Спрайты

Missed infinity traitor items
  baystation12.dme
  maps/sierra/sierra.dm
  maps/sierra/structures/closets/misc.dm
  mods/_antagonists/_antagonists.dm
  mods/_antagonists/_antagonists.dme
  mods/_antagonists/code/operative.dm
  mods/_antagonists/code/revolutionary.dm
  mods/_antagonists/code/traitor.dm
  mods/_antagonists/icons/obj/door_charge.dmi
  mods/_antagonists/icons/obj/syndiejaunter.dmi
  mods/_master_files/code/game/objects/effects/animations/teleportation.dm
  mods/_master_files/icons/effects/bs_silk.dmi
  packs/infinity/icons/effects/bs_silk.dmi
  packs/sierra-tweaks/_pack.dm
Labels: :mountain: Спрайты

Это не тот оверрайд, который вы ищете
  baystation12.dme
  mods/_antagonists/_antagonists.dme
  mods/_antagonists/code/teleportation.dm
  mods/_antagonists/icons/effects/bs_silk.dmi
Labels: :mountain: Спрайты

Resolve conflict
  code/controllers/configuration.dm
Labels: none

Fix nuclear bomb tempalte unresolved conflict
  nano/templates/nuclear_bomb.tmpl
Labels: none

Resolve seconf conflict
  code/controllers/configuration.dm
Labels: none

Fix translate seeds name
  mods/_rus/code/obj/modules_files/hydroponics.dm
Labels: none

ERT
  mods/_antagonists/_antagonists.dme
  mods/_antagonists/code/ert.dm
  mods/_antagonists/maps/ert_base.dmm
Labels: :world_map: Карты

[MIRROR] Loose pills in medical storage are now bottled
  code/game/objects/items/weapons/storage/pill_bottle.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/med_crate.dm
Labels: none

[MIRROR] Change medbot abstract firstaid type to empty
  code/modules/mob/living/bot/medibot.dm
Labels: none

[MIRROR] Voice changers work on tapes now!
  code/game/objects/items/devices/taperecorder.dm
Labels: none

[MIRROR] new ghost verb
  code/modules/mob/observer/ghost/ghost.dm
Labels: none

[MIRROR] Adds a new scrub color
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/under/jobs/medsci.dm
Labels: none

[MIRROR] Revert "Merge pull request #34315 from CrimsonShrike/Mistborn"
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/atmos.dm
  code/controllers/configuration.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/particles/particles.dm
  code/modules/xgm/xgm_gas_data.dm
  code/modules/xgm/xgm_gas_mixture.dm
  icons/effects/particles.dmi
  icons/effects/tile_effects.dmi
Labels: :mountain: Спрайты

Resolve conflicts
  code/controllers/configuration.dm
Labels: none

Still not working but whatever
  baystation12.dme
  mods/_antagonists/_antagonists.dme
  mods/_antagonists/maps/ert_base.dmm
  mods/_master_files/code/game/gamemodes/ert.dm
Labels: :world_map: Карты

Armory fix
  mods/_antagonists/maps/ert_base.dmm
  mods/_master_files/code/game/gamemodes/ert.dm
Labels: :world_map: Карты

Твики оружейки
  mods/_antagonists/maps/ert_base.dmm
Labels: :world_map: Карты

Стулья дедам
  maps/sierra/z6_admin.dmm
Labels: :world_map: Карты

[MIRROR] True Chameleon Gear
  code/datums/extensions/chameleon.dm
Labels: none

[MIRROR] Surgery fixes
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/robotics.dm
Labels: none

[MIRROR] Assorted Ballistics Changes
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: none

[MIRROR] Fixes setOxyLoss() for humanoids
  code/modules/mob/living/carbon/human/human_damage.dm
Labels: none

[MIRROR] add verb for deleting crew records
  code/modules/admin/admin_verbs.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
Labels: none

[MIRROR] You can trim grass
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  maps/away/abandoned_hotel/abandoned_hotel-1.dmm
  maps/away/abandoned_hotel/abandoned_hotel-2.dmm
Labels: :world_map: Карты

[MIRROR] New chemsprayer sprite + sound
  code/modules/reagents/reagent_containers/spray.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons/other.dmi
Labels: :mountain: Спрайты

[MIRROR] added typesof_real and subtypesof_real
  baystation12.dme
  code/_helpers/types.dm
  code/_helpers/unsorted.dm
Labels: none

[MIRROR] Adds support for cold mist effect for low temperatures
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/atmos.dm
  code/controllers/configuration.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/particles/particles.dm
  code/modules/xgm/xgm_gas_data.dm
  code/modules/xgm/xgm_gas_mixture.dm
  icons/effects/particles.dmi
  icons/effects/tile_effects.dmi
Labels: :mountain: Спрайты

[MIRROR] removed some left over trailing slashes in paths
  code/datums/trading/ai.dm
  code/datums/trading/vox.dm
  code/game/objects/items/weapons/circuitboards/machinery/power.dm
  code/modules/modular_computers/file_system/programs/generic/game.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/spells/spellbook.dm
Labels: none

[MIRROR] Sensible Belt Storage
  code/game/objects/items/weapons/storage/belt.dm
Labels: none

Translate inegrated ciruit and another staff
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/hydroponics.dm
  mods/_rus/code/obj/modules_files/integrated_elecronics/assembly.dm
  mods/_rus/code/obj/modules_files/integrated_elecronics/integrated_circuit.dm
  mods/_rus/code/obj/modules_files/integrated_elecronics/misc.dm
  mods/_rus/code/proc/throw.dm
Labels: none

sdgge
  mods/_rus/code/machinery/doors.dm
Labels: none

Revert "sdgge"
  mods/_rus/code/machinery/doors.dm
Labels: none

Translate books
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/books.dm
Labels: none

translate gases and staff
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/gases.dm
  mods/_rus/code/obj/modules_files/xenoarcheology/artefacts.dm
Labels: none

fix
  mods/_rus/_rus.dme
Labels: none

translate gases and staff
  mods/_rus/_rus.dme
Labels: none

Translate "materials"?
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/materials.dm
  mods/_rus/code/obj/modules_files/misc.dm
Labels: none
