Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

[MIRROR] Allow weapon attacks to target mob zones
  code/_onclick/item_attack.dm
  code/modules/mob/living/living_health.dm
Labels: none

[MIRROR] correct uppercased helmet paths, remove emb from loadout
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/clothing/head/hardhat.dm
  maps/away/errant_pisces/errant_pisces.dm
  maps/torch/structures/closets/medical.dm
Labels: none

[MIRROR] adds sounds to showers
  code/game/objects/structures/watercloset.dm
  sound/machines/shower.ogg
Labels: :sound: Звуки

[MIRROR] Remove mobs from queue when halting processing
  code/controllers/subsystems/mobs.dm
Labels: none

[MIRROR] Fix sector initializtion actions order
  code/modules/overmap/sectors.dm
Labels: none

[MIRROR] Removes shotgun drum mags from being lathable
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
Labels: none

[MIRROR] Fixed "Sensors is machine, console is interface"
  code/modules/overmap/contacts/_contacts.dm
  code/modules/overmap/contacts/contact_sensors.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/computers/ship.dm
  code/modules/overmap/ships/ship.dm
Labels: none

[MIRROR] Exoplanet ruins fixes and tweaks
  code/modules/maps/ruins.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dm
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dm
Labels: none

[MIRROR] Cleans up examination code
  baystation12.dme
  code/_onclick/click.dm
  code/_onclick/ghost.dm
  code/game/atoms.dm
  code/game/objects/items/devices/holowarrant.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/modules/clothing/rings/material.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/detectivework/tools/evidencebag.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mob/examinations.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
  code/modules/mob/observer/freelook/eye.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/photography.dm
  code/modules/power/cable_structure.dm
Labels: none

[MIRROR] Email program minimizes on normal exit
  code/__defines/misc.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  code/modules/modular_computers/ntos/ntos.dm
Labels: none

[MIRROR] fix observers not being able to examine things
  code/_onclick/ghost.dm
Labels: none

[MIRROR] ballistics stuff 3
  code/datums/supplypacks/security.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/beams.dm
  icons/effects/projectiles.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/laser_carbine.dmi
  maps/away/meatstation/meatstation.dm
  maps/away/meatstation/meatstation.dmm
  maps/away/meatstation/meatstation_left_hand.dmi
  maps/away/meatstation/meatstation_right_hand.dmi
  maps/away/meatstation/meatstation_sprites.dmi
  maps/torch/datums/supplypacks/security.dm
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :mountain: Спрайты

[MIRROR] Adds Fleet Sweaters
  maps/torch/datums/uniforms.dm
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/items/clothing/solgov-suit.dm
Labels: :mountain: Спрайты

[MIRROR] Improve light break/fix admin secrets \w changes
  code/modules/admin/secrets/fun_secrets/break_all_lights.dm
  code/modules/admin/secrets/fun_secrets/fix_all_lights.dm
Labels: none

[MIRROR] prevents airlocks double-crushing mobs
  code/game/machinery/doors/airlock_interactions.dm
Labels: none

[MIRROR] remove trailing comma in vscode repo settings
  .vscode/settings.json
Labels: :open_file_folder: Репозиторий

[MIRROR] add parser diagnostics block to spacemandmm config
  SpacemanDMM.toml
  code/_helpers/game.dm
  code/game/machinery/telecomms/broadcaster.dm
Labels: :open_file_folder: Репозиторий

[MIRROR] CSO changes
  maps/torch/items/rigs.dm
  maps/torch/structures/closets/research.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch6_bridge.dmm
Labels: :world_map: Карты

[MIRROR] Add ambient sound mute button to sensor
  code/modules/overmap/ships/computers/sensors.dm
  nano/templates/shipsensors.tmpl
Labels: none

[MIRROR] update ssicon_update
  code/controllers/subsystems/processing/icon_updates.dm
Labels: none

[MIRROR] faster ssatoms
  code/__defines/__initialization.dm
  code/controllers/subsystems/atoms.dm
  code/game/atoms.dm
  code/modules/lighting/lighting_overlay.dm
  code/unit_tests/subsystem_tests.dm
Labels: none

[MIRROR] update ssicon_update
  code/controllers/subsystems/processing/icon_updates.dm
Labels: none

[MIRROR] faster ssatoms
  code/__defines/__initialization.dm
  code/controllers/subsystems/atoms.dm
  code/game/atoms.dm
  code/modules/lighting/lighting_overlay.dm
  code/unit_tests/subsystem_tests.dm
Labels: none

[MIRROR] fix pai behavior
  code/game/objects/items/devices/paicard.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mob/living/silicon/pai/admin.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/pai/software.dm
Labels: none

[MIRROR] added /hook/game_ready that fires after world init, SSicon_updates flushes its queue on that hook
  code/controllers/hooks-defs.dm
  code/controllers/master.dm
  code/controllers/subsystems/processing/icon_updates.dm
Labels: none

[MIRROR] removed glide size config option, all normal AMs have the same glide size
  code/controllers/configuration.dm
  code/game/atoms_movable.dm
  code/game/objects/objs.dm
Labels: none

[MIRROR] adds surgery sounds
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/face.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/slimes.dm
  sound/items/amputation.ogg
  sound/items/bonegel.ogg
  sound/items/bonesetter.ogg
  sound/items/cautery.ogg
  sound/items/circularsaw.ogg
  sound/items/fixovein.ogg
  sound/items/hemostat.ogg
  sound/items/retractor.ogg
  sound/items/scalpel.ogg
  sound/items/surgicaldrill.ogg
Labels: :sound: Звуки

[MIRROR] Allow people to be thrown over railing
  code/game/objects/structures/railing.dm
Labels: none

[MIRROR] bump spacemandmm version to 1.7.3
  .github/workflows/generate_documentation.yml
  .github/workflows/test.yml
Labels: :open_file_folder: Репозиторий

[MIRROR] Lets EMP affect energy melee and e-shields + some eshield related stuff
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/shields.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
Labels: :world_map: Карты

[MIRROR] fixes assemblies
  code/game/objects/effects/spawners/bombspawner.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/modules/assembly/assembly.dm
  code/modules/assembly/holder.dm
  code/modules/assembly/infrared.dm
  code/modules/assembly/proximity.dm
  code/modules/assembly/timer.dm
  code/modules/assembly/voice.dm
Labels: none

[MIRROR] finishes removing the autoshotgun from antags
  code/game/objects/effects/spawners/guns.dm
  code/game/objects/random/random.dm
Labels: none

[MIRROR] Fixes hacker hardsuits runtiming when using a wrench on them
  code/modules/clothing/spacesuits/rig/rig_attackby.dm
Labels: none

[MIRROR] Fix attack runtimes for mobs without zone selection
  code/_onclick/item_attack.dm
Labels: none

[MIRROR] deletion starts paused defaults true
  code/controllers/configuration.dm
Labels: none

[MIRROR] update ssatoms, ssicon_update queue management
  code/controllers/subsystems/atoms.dm
  code/controllers/subsystems/processing/icon_updates.dm
Labels: none

[MIRROR] correct various LateInitialize super calls & documentation
  code/game/area/areas.dm
  code/game/atoms.dm
  code/game/machinery/atmoalter/portable_atmospherics.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
  code/game/turfs/space/space.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/maps/helper_landmarks.dm
  code/modules/mob/living/carbon/human/corpse.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/modular_computers/file_system/data.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/power/turbine.dm
  code/modules/shuttles/landmarks.dm
  code/modules/species/outsider/zombie.dm
  maps/away/bearcat/bearcat.dm
  maps/torch/items/manuals.dm
  maps/torch/torch_npcs.dm
Labels: none

[MIRROR] Make placeholders /visitable + Add 3 new sensor targets
  maps/event/placeholders/gcn-32.dmi
  maps/event/placeholders/gen-32.dmi
  maps/event/placeholders/gen-64.dmi
  maps/event/placeholders/placeholders.dm
Labels: :mountain: Спрайты

[MIRROR] Slows wheelchair, need free hands to drive
  code/datums/movement/mob.dm
  code/datums/movement/movement.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
Labels: none

[MIRROR] Allow watches to tell time + Remove Local Time/Date display from Status
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/clothing_forensics.dm
  code/modules/clothing/under/accessories/wristwatches.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  packs/deepmaint/deepmaint_rooms/normal/angry_unionists.dmm
Labels: :world_map: Карты

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*
