Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*

[MIRROR] Obfuscate OOC Manifest
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/modular_computers/file_system/manifest.dm
Labels: none

[MIRROR] Clipboard QoL
  code/modules/paperwork/clipboard.dm
  code/modules/paperwork/pen/retractable_pen.dm
Labels: none

[MIRROR] Removes annoying airlock beep
  code/game/machinery/doors/airlock.dm
Labels: none

[MIRROR] fix /hook/startup/proc/set_visibility appearing to error
  code/game/world.dm
Labels: none

[MIRROR] Expands stabbing eyes to all sharp items
  code/_helpers/unsorted.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/tools/screwdriver.dm
  code/game/objects/objs.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/paperwork/pen/pen.dm
Labels: none

[MIRROR] Fixes some hostile mob targeting
  code/_onclick/other_mobs.dm
  code/game/atoms_health.dm
  code/modules/mob/living/simple_animal/hostile/antlion.dm
  code/modules/mob/living/simple_animal/hostile/leech.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/exoplanet.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  code/modules/mob/living/simple_animal/hostile/vagrant.dm
Labels: none

[MIRROR] even more sprite fixes
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/mining/drilling/drill.dm
  icons/obj/doors/station/sparks_broken.dmi
  icons/obj/doors/station/sparks_damaged.dmi
  icons/obj/flora/hydroponics_growing.dmi
  icons/obj/flora/hydroponics_misc.dmi
  icons/obj/guns/merc_smg.dmi
  icons/obj/structures/portgen.dmi
  icons/obj/tools/bloodpack.dmi
  icons/obj/tools/card.dmi
  icons/obj/tools/wirecutter.dmi
Labels: :mountain: Спрайты

[MIRROR] Makes fancy storage use lists for key_items
  code/game/objects/items/weapons/storage/fancy/_fancy.dm
  code/game/objects/items/weapons/storage/fancy/crackers.dm
  code/game/objects/items/weapons/storage/fancy/crayons.dm
  code/game/objects/items/weapons/storage/fancy/egg_box.dm
  code/game/objects/items/weapons/storage/fancy/matchbox.dm
  code/game/objects/items/weapons/storage/fancy/pencilcase.dm
  code/game/objects/items/weapons/storage/fancy/smokable/_smokable.dm
  code/game/objects/items/weapons/storage/fancy/smokable/basic.dm
  code/game/objects/items/weapons/storage/fancy/vials.dm
  code/modules/reagents/reagent_containers/food/snacks/bugmeat.dm
Labels: none

Liberia
  maps/sierra/sierra.dm
  mods/_maps/liberia/code/liberia_jobs.dm
Labels: none

All your base belong to us - CATS
  code/__defines/~mods/~master_defines.dm
  maps/sierra/sierra.dm
  mods/tajara/code/clothing/accessories.dm
  mods/tajara/code/datum/species.dm
Labels: none

[MIRROR] Use browser datum for connection checker popups
  code/modules/admin/connectioncheck/bancheck_functions.dm
  code/modules/admin/connectioncheck/connectioncheck_functions.dm
Labels: none

[MIRROR] Hide stored entries in Topic manifest
  code/game/world.dm
Labels: none

Update sierra code overlays
  maps/sierra/structures/signs.dm
  mods/atmos_ret_field/code/atmospheric_retention_field.dm
  mods/fancy_sofas/code/sofa.dm
  mods/gravity_generator/code/base.dm
  mods/jukebox_tapes/code/jukebox.dm
  mods/music_player/code/music_player.dm
  mods/music_player/code/music_tape.dm
  packs/infinity/clothing/accessories/locket_custom.dm
  packs/infinity/items/modular_computer.dm
  packs/infinity/machinery/heater.dm
  packs/infinity/machinery/scrap_compactor/crusher_piston.dm
  packs/infinity/machinery/suit_storage.dm
  packs/infinity/structures/holoplants.dm
  packs/sierra-tweaks/_helpers/unsorted.dm
  packs/sierra-tweaks/objects/structures/cargo.dm
  packs/sierra-tweaks/objects/vehicles/cargo_train.dm
Labels: none

Fix compilation errors
  maps/sierra/structures/signs.dm
  packs/infinity/items/modular_computer.dm
Labels: none

[MIRROR] changeling requires 5 readies to roll
  code/game/gamemodes/changeling/changeling.dm
Labels: none

Donations (still have some problems)
  maps/sierra/sierra.dm
  mods/don_loadout/code/loadout/helpers.dm
Labels: none

Beasts Cleanup
  maps/sierra/sierra.dm
  mods/leroy_beasts/code/beasts.dm
Labels: none

tooltips
  maps/sierra/sierra.dm
Labels: none

gears typing
  mods/don_loadout/code/loadout/preferences.dm
Labels: none

[MIRROR] stop empty categories from showing in bot manifests
  code/modules/modular_computers/file_system/manifest.dm
Labels: none

UTF-8 mod
  code/__defines/~mods/~master_defines.dm
  mods/global_modpacks.dm
  mods/utf8/README.md
  mods/utf8/_utf8.dm
  mods/utf8/_utf8.dme
  mods/utf8/code/utf8.dm
Labels: none

Нахуй пол лодаута
  mods/don_loadout/_don_loadout.dme
  mods/don_loadout/code/tweaked/general/01_basic.dm
  mods/don_loadout/code/tweaked/general/02_body.dm
  mods/don_loadout/code/tweaked/general/03_equipment.dm
  mods/don_loadout/code/tweaked/general/04_flavor.dm
  mods/don_loadout/code/tweaked/general/05_preview.dm
  mods/don_loadout/code/tweaked/global.dm
Labels: none

[MIRROR] Exoplanet Gen tweaks
  code/__defines/misc.dm
  code/modules/ZAS/Fire.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/exoplanets/exoplanet_atmosphere.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/xgm/xgm_gas_mixture.dm
Labels: none

Fix shaker cannot spill issue
  mods/_master_files/code/modules/reagents/reagent_containers/food/shaker.dm
Labels: none

Revert "exoplanet gen tweaks"
  code/modules/overmap/exoplanets/planet_types/barren.dm
Labels: none

[MIRROR] Fixes D2 wiring issues and removes unnecessary SMESes
  maps/torch/items/manuals.dm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch_presets.dm
Labels: :world_map: Карты

Screentips preferences fix
  mods/screentips/code/screentip.dm
Labels: none

Screentips look fix
  interface/skin.dmf
Labels: none

Fix
  mods/screentips/code/screentip.dm
Labels: none

Fix face direction slowdown
  mods/_master_files/code/modules/mob/living/carbon/human/human_movement.dm
Labels: none

ЛЕЗНЯЯЯЯЯЯЯ!!!!!!
  code/__defines/~mods/~master_defines.dm
Labels: none

Replace packs attackby procs
  packs/infinity/clothing/accessories/collar.dm
  packs/infinity/machinery/lighting.dm
  packs/infinity/machinery/scrap_compactor/crusher_piston.dm
  packs/infinity/machinery/scrap_compactor/scrap_pileripper.dm
  packs/infinity/machinery/scrap_compactor/scrap_refine.dm
  packs/infinity/machinery/scrap_compactor/scrap_refinery.dm
Labels: none

Replace mods attackby procs
  mods/_maps/farfleet/code/farfleet_items.dm
  mods/gravity_generator/code/base.dm
  mods/music_player/code/music_player.dm
  mods/music_player/code/music_tape.dm
Labels: none

Fix identation error
  maps/sierra/job/_job_defines.dm
Labels: none

Make changelog optional by default
  tools/changelog/sierra_check_changelog.py
Labels: :open_file_folder: Репозиторий

Remove checker reaction on labels change
  .github/workflows/check_changelog.yml
Labels: :open_file_folder: Репозиторий

Fix mod name
  mods/utf8/_utf8.dme
Labels: none

Replace sierra attackby procs
  maps/sierra/items/explo_shotgun.dm
  maps/sierra/items/items.dm
  maps/sierra/machinery/doors.dm
  maps/sierra/machinery/uniform_vendor.dm
Labels: none

[MIRROR] Apply `use_*` to `/obj/item/holder`
  code/modules/mob/holder.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий

[MIRROR] Make vending machines glow
  code/game/machinery/vending/_vending.dm
Labels: none
