Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*

[MIRROR] Makes "prison break" event more impactful
  code/game/machinery/doors/airlock.dm
  code/modules/events/prison_break.dm
  code/modules/power/apc.dm
  maps/torch/torch_events.dm
Labels: none

[MIRROR] lets ghosts see the time and date in the statpanel
  code/modules/mob/observer/ghost/ghost.dm
Labels: none

[MIRROR] Fixes a typo when removing posters
  code/game/objects/effects/decals/contraband.dm
Labels: none

[MIRROR] Make check icon state limit script faster
  icons/mob/custom_synthetic.dmi
  test/check_icon_state_limit.py
  test/run-test.sh
Labels: :open_file_folder: Репозиторий, :mountain: Спрайты

WIP
  README.md
  docs/installation.md
Labels: :open_file_folder: Репозиторий

[MIRROR] More randomized vendor stock
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/boda.dm
  code/game/machinery/vending/coffee.dm
  code/game/machinery/vending/cola.dm
  code/game/machinery/vending/fitness.dm
  code/game/machinery/vending/games.dm
  code/game/machinery/vending/snack.dm
  code/game/machinery/vending/soda.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
Labels: none

Fix icon state checker script broken by mirror bot
  test/check_icon_state_limit.py
  tools/dmitool/check_icon_state_limit.py
Labels: :open_file_folder: Репозиторий

[MIRROR] attempt to give robots multiple antag items
  code/_onclick/hud/robot.dm
  code/datums/mind/mind.dm
  code/game/antagonist/antagonist_add.dm
  code/game/antagonist/station/traitor.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/hydroponics/seed.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/flying/module_flying.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_cultivator.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_emergency.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_filing.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_forensics.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_repair.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/modules/_module.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/mob/living/silicon/robot/modules/module_engineering.dm
  code/modules/mob/living/silicon/robot/modules/module_janitor.dm
  code/modules/mob/living/silicon/robot/modules/module_maintenance_drone.dm
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/mob/living/silicon/robot/modules/module_miner.dm
  code/modules/mob/living/silicon/robot/modules/module_research.dm
  code/modules/mob/living/silicon/robot/modules/module_security.dm
  code/modules/mob/living/silicon/robot/modules/module_standard.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/projectiles/guns/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/launcher/syringe_gun.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Reagents/Random/Chemistry-Reagents-Random.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  maps/torch/robot/module_flying_surveyor.dm
Labels: none

[MIRROR] Use standardized health for fireaxe cabinets
  code/game/objects/structures/fireaxe_cabinet.dm
Labels: none

[MIRROR] Fixes intercoms and allows you to open the wire hacking menu with an empty hand
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
Labels: none

Fix posters icons issue
  maps/sierra/z2_sierra_deck2.dmm
  packs/infinity/structures/signs.dm
Labels: :world_map: Карты

Fix `Random Spawners Shall Have Icon States`
  maps/sierra/machinery/random.dm
Labels: none

Fix `had a circuitboard which could not be printed`
  code/modules/research/designs/designs_circuits.dm
Labels: none

Fix `All map levels shall have a corresponding map image`
  nano/images/sierra/sierra-1.png
  nano/images/sierra/sierra-2.png
  nano/images/sierra/sierra-3.png
Labels: none

Fix escape pods ids runtime
  maps/sierra/z3_sierra_deck1.dmm
Labels: :world_map: Карты

Add CuddleAndTea to the memorial
  maps/sierra/structures/signs.dm
Labels: none

Update README.md
  README.md
Labels: :open_file_folder: Репозиторий

Pee pee poo poo
  mods/don_loadout/code/loadout/loadout.dm
Labels: none

UwU
  code/modules/client/preference_setup/general/05_preview.dm
  mods/don_loadout/README.md
  mods/don_loadout/_don_loadout.dm
  mods/don_loadout/_don_loadout.dme
  mods/don_loadout/code/donations/donations_defines.dm
  mods/don_loadout/code/loadout/gear.dm
  mods/don_loadout/code/loadout/gear_tweak.dm
  mods/don_loadout/code/loadout/gear_tweaks.dm
  mods/don_loadout/code/loadout/helpers.dm
  mods/don_loadout/code/loadout/load_dialog.dm
  mods/don_loadout/code/loadout/loadout.dm
  mods/don_loadout/code/loadout/preferences.dm
Labels: none

Loadout styles
  html/browser/common.css
Labels: none

Fix query error
  mods/don_loadout/code/donations/donations.dm
Labels: none

Enable categories
  mods/don_loadout/_don_loadout.dme
Labels: none

Finish up all the shit
  code/modules/client/preference_setup/general/05_preview.dm
  html/browser/common.css
  mods/don_loadout/code/loadout/loadout.dm
Labels: none

PR is 892
  mods/don_loadout/README.md
Labels: none

Update edit comment
  code/modules/client/preference_setup/general/05_preview.dm
Labels: none

Add skill checks
  mods/don_loadout/code/loadout/loadout.dm
Labels: none

Add normal toggle_gear
  mods/don_loadout/code/loadout/loadout.dm
Labels: none

Move defines upper
  code/__defines/~mods/~master_defines.dm
  mods/don_loadout/README.md
  mods/don_loadout/_don_loadout.dme
  mods/don_loadout/code/donations/donations_defines.dm
Labels: none

Move donation-tierd Sierra related items to the map dir
  maps/sierra/loadout/loadout.dm
  mods/don_loadout/code/loadout/categories/tiers.dm
Labels: none

Swap
  maps/sierra/sierra.dm
  mods/global_modpacks.dm
Labels: none

NO RESOMI
  maps/sierra/loadout/loadout_xeno.dm
Labels: none

Make mask a category
  mods/don_loadout/code/loadout/categories/masks.dm
Labels: none

One by one, let's go...
  maps/sierra/loadout/loadout_tactical.dm
Labels: none

Комментарии излишни
  mods/don_loadout/_don_loadout.dm
Labels: none

[MIRROR] Fixes runtime error and storing guns on harm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/projectiles/gun.dm
Labels: none

Initial chat_message
  baystation12.dme
  code/datums/chat_message.dm
Labels: none

Chat message update
  code/datums/chat_message.dm
Labels: none

Emote icon
  icons/chaticons.dmi
Labels: :mountain: Спрайты

Preferences
  code/modules/client/preference_setup/global/preferences.dm
Labels: none

Everyting very important
  code/__defines/__renderer.dm
  code/__defines/lists.dm
  code/game/atoms.dm
  code/modules/client/client_defines.dm
Labels: none
