Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*

[MIRROR] Fixes #34153
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/modules/materials/definitions/materials_organic.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий

[MIRROR] Increase surgeons' chances of repairing robotic organs in organic bodies
  code/modules/surgery/robotics.dm
Labels: none

Fix mirror errors
  maps/sierra/sierra_antagonism.dm
  packs/sierra-tweaks/gamemodes/revolutionary.dm
Labels: none

[MIRROR] Remove age-based skill bonuses
  code/modules/client/preference_setup/occupation/skill_selection.dm
  code/modules/species/outsider/vox.dm
  code/modules/species/species.dm
  code/modules/species/station/adherent.dm
  code/modules/species/station/nabber.dm
  code/modules/species/station/station.dm
Labels: none

[MIRROR] Update override references for `/datum/species` vars outside of base definition
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/skrell.dm
  code/modules/mob/living/autohiss.dm
Labels: none

[MIRROR] Remove extra wrong-direction light from hydroponics
  maps/torch/torch3_deck3.dmm
Labels: :world_map: Карты

[MIRROR] Fix runtimes from mouse-dropping non-items on tables
  code/modules/tables/tables.dm
Labels: none

[MIRROR] Improves parapen feedback
  code/modules/paperwork/pen/reagent_pen.dm
Labels: none

[MIRROR] Cryo temperature lights
  code/game/machinery/cryo.dm
  icons/obj/machines/medical/cryogenics_split.dmi
Labels: :mountain: Спрайты

[MIRROR] Corporate Mining outpost
  maps/away/mining/mining-corporate.dmm
  maps/away/mining/mining.dm
  maps/away/mining/mining_corporate.dm
Labels: :world_map: Карты

[MIRROR] Fix multitile doors opacity
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
Labels: none

[MIRROR] merged skill bonus into jobs, reduced it to 6 on the way
  code/game/jobs/job/job.dm
  code/game/jobs/job/silicon.dm
  code/modules/client/preference_setup/occupation/skill_selection.dm
  code/modules/species/species.dm
  maps/away/scavver/scavver_gantry_jobs.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/voxship/voxship_jobs.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/misc_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/supply_jobs.dm
  maps/torch/torch_ranks.dm
  packs/factions/iccgn/faction.dm
  packs/factions/scga/faction.dm
Labels: none

Add mod-creating scripts
  mods/CREATE_MOD.ps1
  mods/CREATE_MOD.py
  mods/CREATE_MOD.sh
  mods/README.md
Labels: none

Fix lobby making all the interfaces white
  maps/mapsystem/maps.dm
  mods/lobbyscreen/README.md
Labels: none

[MIRROR] Make Medical OSHA-compliant
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты

[MIRROR] Make chair use icon instead of magic string
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Labels: none

[MIRROR] Fixes heat
  code/game/objects/effects/particles/particles.dm
Labels: none

[MIRROR] fix character preview not updating
  code/modules/client/preference_setup/general/05_preview.dm
Labels: none

[MIRROR] Fix record photos not appearing
  code/modules/modular_computers/file_system/reports/crew_record.dm
Labels: none

Fix map and sierra light
  maps/sierra/sierra_security_state.dm
  maps/sierra/structures/signs.dm
  maps/using.dm
  mods/atmos_ret_field/code/atmospheric_retention_field.dm
  mods/gravity_generator/code/base.dm
  packs/infinity/items/modular_computer.dm
  packs/infinity/machinery/heater.dm
  packs/infinity/machinery/lighting.dm
  packs/infinity/structures/holoplants.dm
  packs/sierra-tweaks/objects/vehicles/vehicle.dm
Labels: none

[MIRROR] Update russian keyboard layout to utf-8
  code/modules/mob/living/say.dm
Labels: none

Fix face direction keybind
  mods/ssinput/code/general/bindings_atom.dm
Labels: none

Change custom emote prefix
  code/modules/client/preference_setup/global/prefixes.dm
Labels: none

[TMP] Make browser datum use UTF-8
  code/datums/browser.dm
Labels: none

[TMP] Make browser datum use UTF-8
  code/datums/browser.dm
Labels: none

Fix map paths
  mods/_maps/farfleet/code/farfleet.dm
  mods/_maps/liberia/code/liberia.dm
  mods/_maps/sentinel/code/sentinel.dm
Labels: none

Remove Sierra multi tile airlocks directions
  maps/sierra/z1-3_sierra.dmm
Labels: :world_map: Карты

Add CMO and RD command consoles
  maps/sierra/z1-3_sierra.dmm
Labels: :world_map: Карты

Tweak middleclick to make user point at atom
  code/_onclick/click.dm
  mods/ssinput/README.md
Labels: none

Fix overlays
  packs/infinity/machinery/machines.dm
Labels: none

Fix overlays
  packs/infinity/icons/obj/machinery/disposal_small.dmi
  packs/infinity/machinery/machines.dm
Labels: :mountain: Спрайты

[MIRROR] Make browser datum use UTF-8
  code/datums/browser.dm
Labels: none

[MIRROR] Make noexcutite actually work
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: none

[MIRROR] Update default subsystem runlevels to game and postgame
  code/__defines/subsystems.dm
  code/controllers/subsystem.dm
  code/controllers/subsystems/ai.dm
  code/controllers/subsystems/aifast.dm
  code/controllers/subsystems/ambient_lighting.dm
  code/controllers/subsystems/ao.dm
  code/controllers/subsystems/chat.dm
  code/controllers/subsystems/chemistry.dm
  code/controllers/subsystems/garbage.dm
  code/controllers/subsystems/ghost_images.dm
  code/controllers/subsystems/graphs.dm
  code/controllers/subsystems/initialization/character_setup.dm
  code/controllers/subsystems/lighting.dm
  code/controllers/subsystems/machines.dm
  code/controllers/subsystems/misc.dm
  code/controllers/subsystems/misc_slow.dm
  code/controllers/subsystems/mobs.dm
  code/controllers/subsystems/plants.dm
  code/controllers/subsystems/presence.dm
  code/controllers/subsystems/processing/vines.dm
  code/controllers/subsystems/spacedrift.dm
  code/controllers/subsystems/ticker.dm
  code/controllers/subsystems/turf_fire.dm
  code/controllers/subsystems/typing.dm
  code/controllers/subsystems/vote.dm
  code/controllers/subsystems/zcopy.dm
  code/unit_tests/~unit_test_subsystems.dm
Labels: none

[MIRROR] New icons and bugfixes for body scanner and cryopod
  code/game/machinery/body_scanner.dm
  code/game/machinery/cryopod.dm
  icons/obj/machines/medical/bodyscanner.dmi
  icons/obj/machines/medical/cryopod.dmi
Labels: :mountain: Спрайты

[MIRROR] robot item fixes
  code/game/objects/items/weapons/flamethrower.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_filing.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_forensics.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_repair.dm
  code/modules/mob/living/silicon/robot/modules/_module.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/mob/living/silicon/robot/modules/module_engineering.dm
  code/modules/mob/living/silicon/robot/modules/module_janitor.dm
  code/modules/mob/living/silicon/robot/modules/module_maintenance_drone.dm
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/projectiles/guns/launcher/syringe_gun.dm
Labels: none

[MIRROR] adds the 'humanifier' artifact effect
  baystation12.dme
  code/modules/xenoarcheaology/effects/human_ifier.dm
Labels: none

[MIRROR] overmap placeholder ships don't randomize location
  code/modules/overmap/sectors.dm
  maps/event/placeholders/placeholders.dm
Labels: none

Add client verbs mod
  mods/client_verbs/README.md
  mods/client_verbs/_client_verbs.dm
  mods/client_verbs/_client_verbs.dme
  mods/client_verbs/code/credits.dm
  mods/client_verbs/code/get_server_logs.dm
  mods/client_verbs/code/respawn_as_human.dm
  mods/client_verbs/code/skin_dmf.dm
  mods/client_verbs/html/credits.css
  mods/client_verbs/html/credits.html
  mods/global_modpacks.dm
  packs/sierra-tweaks/_pack.dm
Labels: none

Add statusbar mod
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/logout.dm
  mods/global_modpacks.dm
  mods/statusbar/README.md
  mods/statusbar/_statusbar.dm
  mods/statusbar/_statusbar.dme
  mods/statusbar/code/statusbar.dm
Labels: none
