Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*

Icon
  icons/chaticons.dmi
Labels: :mountain: Спрайты

maptext style
  interface/skin.dmf
Labels: none

Оно не работает
  code/datums/chat_message.dm
  code/game/atoms.dm
  code/game/machinery/buttons.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/mob.dm
Labels: none

qwertyuiop
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/datums/chat_message.dm
Labels: none

Runechat. Finally.
  code/datums/chat_message.dm
  code/game/machinery/buttons.dm
  code/modules/emotes/emote_define.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/hear_say.dm
  interface/skin.dmf
Labels: none

kay, type
  code/datums/chat_message.dm
Labels: none

Global list
  code/datums/chat_message.dm
Labels: none

Path
  code/datums/chat_message.dm
Labels: none

shiftr
  code/datums/chat_message.dm
Labels: none

Dmf
  interface/skin.dmf
Labels: none

[MIRROR] Delay gun recharging if recently fired
  code/modules/projectiles/guns/energy.dm
Labels: none

2md
  docs/SECURITY.md
  docs/installation.md
Labels: :open_file_folder: Репозиторий

Summary
  .github/CONTRIBUTING.md
Labels: :open_file_folder: Репозиторий

Typo
  README.md
Labels: :open_file_folder: Репозиторий

Add EX666 tables
  sql/migrations/001_initial.sql
Labels: :floppy_disk: База данных

Add ckey whitelist
  code/controllers/configuration.dm
  code/modules/mob/new_player/login.dm
  config/example/config.txt
  mods/ex666_ecosystem/README.md
  mods/ex666_ecosystem/_ex666_ecosystem.dm
  mods/ex666_ecosystem/_ex666_ecosystem.dme
  mods/ex666_ecosystem/code/whitelist.dm
  mods/global_modpacks.dm
Labels: :page_facing_up: Конфиги

Allow to specify shared database
  code/controllers/configuration.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/banjob.dm
  code/modules/admin/connectioncheck/bancheck_functions.dm
  config/example/dbconfig.txt
  mods/ex666_ecosystem/_ex666_ecosystem.dme
  mods/ex666_ecosystem/code/database.dm
Labels: :page_facing_up: Конфиги

Rename `erro_ban` to `ban`
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/banjob.dm
  code/modules/admin/connectioncheck/bancheck_functions.dm
  sql/modifications/001_initial.sql
Labels: :floppy_disk: База данных

Rename archived admin rank
  code/modules/admin/admin_ranks.dm
  code/modules/admin/topic.dm
Labels: none

Add discord profile linking and min acc age
  baystation12.dme
  code/controllers/configuration.dm
  code/modules/admin/admin.dm
  code/modules/client/client_procs.dm
  config/example/config.txt
  mods/_master_files/code/modules/mob/new_player/new_player.dm
  mods/ex666_ecosystem/_ex666_ecosystem.dme
  mods/ex666_ecosystem/code/discord.dm
  mods/ex666_ecosystem/code/whitelist.dm
Labels: :page_facing_up: Конфиги

Update EX666_ECOSYSTEM mod README.md
  mods/ex666_ecosystem/README.md
Labels: none

Improve and fix isBanned() sql query
  code/modules/admin/IsBanned.dm
Labels: none

Change DB for discord linking
  mods/ex666_ecosystem/code/discord.dm
Labels: none

Add ticker_state for status topic
  code/game/world.dm
  mods/ex666_ecosystem/README.md
Labels: none

Add json format option for status topic
  code/game/world.dm
Labels: none

Add roundtime alias field to status topic
  code/game/world.dm
Labels: none

Add Queue Engine support
  code/game/world.dm
Labels: none

Add species and job experience saving to DB
  mods/ex666_ecosystem/_ex666_ecosystem.dme
  mods/ex666_ecosystem/code/experience/_defines.dm
  mods/ex666_ecosystem/code/experience/_undefines.dm
  mods/ex666_ecosystem/code/experience/exp_job.dm
  mods/ex666_ecosystem/code/experience/exp_species.dm
  mods/ex666_ecosystem/code/experience/subsystem.dm
Labels: none

Fix HTML tags
  mods/ex666_ecosystem/code/discord.dm
Labels: none

Add gliding - smooth movement
  code/__defines/~mods/~master_defines.dm
  code/datums/movement/mob.dm
  code/modules/mob/living/living.dm
  mods/gliding/README.md
  mods/gliding/_gliding.dm
  mods/gliding/_gliding.dme
  mods/gliding/code/movable.dm
  mods/gliding/code/movement_handler.dm
  mods/global_modpacks.dm
Labels: none

Add lobbyscreen assets
  mods/lobbyscreen/html/assets/buttons.mp4
  mods/lobbyscreen/html/assets/light_left.png
  mods/lobbyscreen/html/assets/light_right.png
  mods/lobbyscreen/html/assets/smallbutton.png
  mods/lobbyscreen/html/font-awesome/fa-brands-400.eot
  mods/lobbyscreen/html/font-awesome/fa-brands-400.woff
  mods/lobbyscreen/html/fonts/courierprime-code.woff
  mods/lobbyscreen/html/fonts/round-control.woff
  mods/lobbyscreen/html/lobby.html
Labels: none

Add fa-brands font to list of fontawesome asset
  code/modules/client/asset_cache.dm
Labels: none

Remove loading messages from public chat
  code/controllers/subsystem.dm
Labels: none

Wait, this is illegal
  mods/lobbyscreen/README.md
  mods/lobbyscreen/_lobbyscreeen.dm
  mods/lobbyscreen/_lobbyscreeen.dme
  mods/lobbyscreen/code/assets.dm
  mods/lobbyscreen/code/lobby.dm
Labels: none

СОСАТЬ
  html/font-awesome/css/all.min.css
  html/font-awesome/css/v4-shims.min.css
Labels: none

Yup
  baystation12.dme
  code/controllers/master.dm
  code/modules/client/preferences.dm
  code/modules/mob/new_player/new_player.dm
  mods/_master_files/maps/mapsystem/maps.dm
  mods/global_modpacks.dm
  mods/lobbyscreen/README.md
  mods/lobbyscreen/_lobbyscreeen.dme
  mods/lobbyscreen/_lobbyscreen.dm
  mods/lobbyscreen/_lobbyscreen.dme
  mods/lobbyscreen/code/lobby.dm
  mods/lobbyscreen/html/lobby.html
Labels: none

rm
  mods/lobbyscreen/README.md
Labels: none

rm
  mods/lobbyscreen/README.md
Labels: none

winset
  mods/_master_files/maps/mapsystem/maps.dm
Labels: none

Fix loadout unknown index runtime
  mods/don_loadout/code/loadout/loadout.dm
Labels: none
