Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

Translation to handle icons
  maps/sierra/machinery/keycard authentication.dm
  maps/sierra/sierra_security_state.dm
Labels: none

Я был неправ
  maps/sierra/sierra_security_state.dm
Labels: none

[MIRROR] Shave process all machinery
  code/controllers/subsystems/machines.dm
  code/game/machinery/_machines_base/machinery.dm
Labels: none

[MIRROR] Make the rest verb lay players instanetely
  code/modules/mob/living/living.dm
Labels: none

[MIRROR] Fix falldown sound constantly triggering
  code/modules/mob/living/carbon/human/human_damage.dm
Labels: none

[MIRROR] Remaps security armory
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/structures/closets/security.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: :world_map: Карты

[MIRROR] Cane Expansion
  code/game/objects/items/weapons/cane.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_items.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons/melee_physical.dmi
Labels: :mountain: Спрайты

[MIRROR] Fixes magazines not updating sprites
  code/modules/projectiles/ammunition.dm
Labels: none

Remove line
  .github/workflows/test.yml
Labels: :open_file_folder: Репозиторий

Add mods NanoUI templates
  nano/templates/_inf-mod-stasis.tmpl
  nano/templates/_jukebox-mod_jukebox.tmpl
Labels: none

[MIRROR] Adds an alert when attempting to late join as a role that is not set in your 'Occupation' preferences
  code/modules/mob/new_player/new_player.dm
Labels: none

[MIRROR] Sensors is machine, console is interface
  code/modules/overmap/contacts/_contacts.dm
  code/modules/overmap/contacts/contact_sensors.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/computers/ship.dm
  code/modules/overmap/ships/ship.dm
Labels: none

[MIRROR] Add goonchat reload button to the legacy chat
  code/modules/goonchat/browserOutput.dm
Labels: none

[MIRROR] Fix chat loading as non-newplayer mob
  code/modules/mob/login.dm
Labels: none

[MIRROR] Fix create object menu html layout
  code/modules/admin/create_mob.dm
  code/modules/admin/create_object.dm
  code/modules/admin/create_turf.dm
  html/create_object.html
Labels: none

[MIRROR] Revert "Sensors is machine, console is interface"
  code/modules/overmap/contacts/_contacts.dm
  code/modules/overmap/contacts/contact_sensors.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/computers/ship.dm
  code/modules/overmap/ships/ship.dm
Labels: none

[MIRROR] Fixes various mobs floating off, balances fleet bots
  code/modules/mob/living/simple_animal/hostile/robotic/bad_drone.dm
  code/modules/mob/living/simple_animal/hostile/robotic/hivebot/ranged.dm
  code/modules/mob/living/simple_animal/hostile/robotic/robots.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  maps/torch/torch_simplemobs.dm
Labels: none

[MIRROR] Fixes random hell Move() call counts, removes the parent call from mob/Login
  code/modules/mob/login.dm
Labels: none

[MIRROR] telescopic cane goes click-clack
  code/game/objects/items/weapons/cane.dm
Labels: none

Mod refac: Leroy beasts
  mods/leroy_beasts/_leroy_beasts.dme
  mods/leroy_beasts/icons/beasts.dm
Labels: none

Mod refac: Fancy sofas
  mods/fancy_sofas/_fancy_sofas.dme
  mods/fancy_sofas/code/roundedchair.dm
  mods/fancy_sofas/code/sofa.dm
  mods/fancy_sofas/furniture.dmi
  mods/fancy_sofas/icons/furniture.dmi
Labels: :mountain: Спрайты

Mod refac: Atmos retention field
  mods/atmos_ret_field/_atm_ret_field.dm
  mods/atmos_ret_field/_atm_ret_field.dme
  mods/atmos_ret_field/code/atmospheric_retention_field.dm
  mods/atmos_ret_field/icons/atm_fieldgen.dmi
Labels: :mountain: Спрайты

Mod refac: Donation loadout
  mods/don_loadout/_don_loadout.dme
  mods/don_loadout/code/donations/donations.dm
  mods/don_loadout/code/donations/donations_defines.dm
  mods/don_loadout/code/donations/donator.dm
  mods/don_loadout/code/donations/ooc_color.dm
  mods/don_loadout/code/loadout/categories/categories.dm
  mods/don_loadout/code/loadout/categories/masks.dm
  mods/don_loadout/code/loadout/categories/tiers.dm
  mods/don_loadout/code/loadout/gear.dm
  mods/don_loadout/code/loadout/gear_tweaks.dm
  mods/don_loadout/code/loadout/helpers.dm
  mods/don_loadout/code/loadout/loadout.dm
  mods/don_loadout/code/loadout/preferences.dm
  mods/don_loadout/code/tweaked/general/01_basic.dm
  mods/don_loadout/code/tweaked/general/02_body.dm
  mods/don_loadout/code/tweaked/general/03_equipment.dm
  mods/don_loadout/code/tweaked/general/04_flavor.dm
  mods/don_loadout/code/tweaked/general/05_preview.dm
  mods/don_loadout/code/tweaked/global.dm
Labels: none

Mod refac: Kitty
  mods/bluespace_kitty/_bluespace_kitty.dme
  mods/bluespace_kitty/code/bluespace_kitty.dm
  mods/bluespace_kitty/icons/runtimecat.dmi
  mods/don_loadout/donations/ooc_color.dm
Labels: :mountain: Спрайты

Mod refac: Map Liberia
  mods/_maps/liberia/_map_liberia.dm
  mods/_maps/liberia/_map_liberia.dme
  mods/_maps/liberia/code/liberia.dm
  mods/_maps/liberia/code/liberia_areas.dm
  mods/_maps/liberia/code/liberia_jobs.dm
  mods/_maps/liberia/code/liberia_navpoints.dm
  mods/_maps/liberia/code/liberia_shuttles.dm
  mods/_maps/liberia/maps/liberia.dmm
  mods/maps/liberia/_map_liberia.dme
Labels: :world_map: Карты

Mod refac: Map Farfleet
  mods/_maps/farfleet/_map_farfleet.dm
  mods/_maps/farfleet/_map_farfleet.dme
  mods/_maps/farfleet/code/farfleet.dm
  mods/_maps/farfleet/code/farfleet_areas.dm
  mods/_maps/farfleet/code/farfleet_crew.dm
  mods/_maps/farfleet/code/farfleet_faction.dm
  mods/_maps/farfleet/code/farfleet_items.dm
  mods/_maps/farfleet/code/farfleet_presets.dm
  mods/_maps/farfleet/code/farfleet_shuttle.dm
  mods/_maps/farfleet/code/farfleet_structures.dm
  mods/_maps/farfleet/code/farfleet_turbolift.dm
  mods/_maps/farfleet/icons/GCC-floor.dmi
  mods/_maps/farfleet/icons/bonfire.dmi
  mods/_maps/farfleet/icons/iccg_flag.dmi
  mods/_maps/farfleet/icons/iccg_rifle.dmi
  mods/_maps/farfleet/icons/lefthand.dmi
  mods/_maps/farfleet/icons/mbr_bullpup.dmi
  mods/_maps/farfleet/icons/mr735.dmi
  mods/_maps/farfleet/icons/righthand.dmi
  mods/_maps/farfleet/icons/stupor.dmi
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/maps/farfleet/_map_farfleet.dme
Labels: :world_map: Карты, :mountain: Спрайты

Mod refac: Jukebox tapes
  mods/jukebox_tapes/_jukebox_tapes.dm
  mods/jukebox_tapes/_jukebox_tapes.dme
  mods/jukebox_tapes/code/jukebox.dm
  mods/jukebox_tapes/sounds/tape_eject.ogg
  mods/jukebox_tapes/sounds/tape_insert.ogg
  mods/machinery/jukebox_tapes/audio/jukebox.dm
Labels: :sound: Звуки

Mod refac: Music player
  mods/music_player/_music_player.dm
  mods/music_player/_music_player.dme
  mods/music_player/code/music_player.dm
  mods/music_player/code/music_tape.dm
  mods/music_player/code/music_writer.dm
  mods/music_player/code/subtypes_player.dm
  mods/music_player/code/subtypes_tape.dm
  mods/music_player/icons/object.dmi
  mods/music_player/icons/onmob_back.dmi
  mods/music_player/icons/onmob_lefthand.dmi
  mods/music_player/icons/onmob_righthand.dmi
  mods/objects/items/music_player/_music_player.dme
Labels: :mountain: Спрайты

Mod refac: Map Sentinel
  mods/_maps/sentinel/_map_sentinel.dm
  mods/_maps/sentinel/_map_sentinel.dme
  mods/_maps/sentinel/code/sentinel.dm
  mods/_maps/sentinel/code/sentinel_areas.dm
  mods/_maps/sentinel/code/sentinel_crew.dm
  mods/_maps/sentinel/code/sentinel_items.dm
  mods/_maps/sentinel/code/sentinel_presets.dm
  mods/_maps/sentinel/code/sentinel_shuttle.dm
  mods/_maps/sentinel/code/sentinel_structures.dm
  mods/_maps/sentinel/code/sentinel_turbolift.dm
  mods/_maps/sentinel/icons/fleet_vendomat.dmi
  mods/_maps/sentinel/maps/sentinel-1.dmm
  mods/_maps/sentinel/maps/sentinel-2.dmm
  mods/maps/sentinel/_map_sentinel.dme
Labels: :world_map: Карты, :mountain: Спрайты

Mod refac: Screentips
  mods/screentips/_screentips.dm
  mods/screentips/_screentips.dme
  mods/screentips/code/handler.dm
  mods/screentips/code/hud.dm
  mods/screentips/code/preference.dm
  mods/screentips/code/screentip.dm
Labels: none

Mod refac: Resomi
  mods/resomi/_resomi.dm
  mods/resomi/_resomi.dme
  mods/resomi/code/clothing/accessories.dm.dm
  mods/resomi/code/clothing/clothing.dm
  mods/resomi/code/clothing/glasses.dm
  mods/resomi/code/clothing/misc.dm
  mods/resomi/code/clothing/suits.dm
  mods/resomi/code/clothing/under.dm
  mods/resomi/code/datum/body/organs.dm
  mods/resomi/code/datum/culture/resomi_culture.dm
  mods/resomi/code/datum/species.dm
  mods/resomi/code/gear.dm
  mods/resomi/code/language.dm
  mods/resomi/code/unit_tests.dm
  mods/resomi/icons/clothing/misc.dmi
  mods/resomi/icons/clothing/onmob_accessories_resomi.dmi
  mods/resomi/icons/clothing/onmob_back_resomi.dmi
  mods/resomi/icons/clothing/onmob_belt_resomi.dmi
  mods/resomi/icons/clothing/onmob_ears_resomi.dmi
  mods/resomi/icons/clothing/onmob_eyes_resomi.dmi
  mods/resomi/icons/clothing/onmob_feet_resomi.dmi
  mods/resomi/icons/clothing/onmob_hands_resomi.dmi
  mods/resomi/icons/clothing/onmob_head_resomi.dmi
  mods/resomi/icons/clothing/onmob_id_resomi.dmi
  mods/resomi/icons/clothing/onmob_mask_resomi.dmi
  mods/resomi/icons/clothing/onmob_rig_back_resomi.dmi
  mods/resomi/icons/clothing/onmob_suit_resomi.dmi
  mods/resomi/icons/clothing/onmob_under_resomi.dmi
  mods/species/resomi/_resomi.dme
  mods/species/resomi/clothing/clothing.dm
  mods/tajara/code/gears.dm
Labels: :mountain: Спрайты

Mod refac: Legalese language
  mods/legalese_language/_legalese.dm
  mods/legalese_language/_legalese.dme
  mods/legalese_language/code/gutter.dm
  mods/legalese_language/code/legalese.dm
  mods/legalese_language/code/robot_module.dm
  mods/legalese_language/code/selenian.dm
  mods/legalese_language/code/skill.dm
  mods/skills/bureaucracy/legalese_language/_legalese.dme
Labels: none

Mod refac: Quantum mechanic
  mods/quantum_mechanic/_quantum_mechanic.dme
  mods/quantum_mechanic/code/quantum_mechanic.dm
  mods/quantum_mechanic/icons/uniform_quantum.dmi
Labels: :mountain: Спрайты

Fix mods includes
  maps/sierra/sierra.dm
  mods/global_modpacks.dm
Labels: none

Remove mortar and Fix atm_ret_field
  mods/_events/mortar/_mortar.dm
  mods/_events/mortar/_mortar.dme
  mods/_events/mortar/icons/mortar.dmi
  mods/_events/mortar/mortar.dm
  mods/_events/mortar/sounds/mortar_falling.ogg
  mods/_events/mortar/sounds/mortar_fire.ogg
  mods/_events/mortar/sounds/rpgreload.ogg
  mods/atmos_ret_field/code/atmospheric_retention_field.dm
Labels: :mountain: Спрайты, :sound: Звуки

Define new mods file structure
  .github/CONTRIBUTING.md
  baystation12.dme
  code/__defines/~mods/~master_defines.dm
  mods/README.md
  mods/_example/README.md
  mods/_example/_example.dm
  mods/_example/_example.dme
Labels: :open_file_folder: Репозиторий

Mod refac: Tajara
  mods/species/tajara/_tajara.dme
  mods/tajara/_tajara.dm
  mods/tajara/_tajara.dme
  mods/tajara/code/clothing/accessories.dm
  mods/tajara/code/clothing/clothing.dm
  mods/tajara/code/datum/species.dm
  mods/tajara/code/datum/sprite_accessory.dm
  mods/tajara/code/datum/tajara_culture.dm
  mods/tajara/code/language.dm
  mods/tajara/code/unit_tests.dm
  mods/tajara/gears.dm
  mods/tajara/icons/obj_accessories.dmi
  mods/tajara/icons/obj_eyes.dmi
  mods/tajara/icons/onmob_accessories.dmi
  mods/tajara/icons/onmob_eyes.dmi
  mods/tajara/icons/onmob_feet.dmi
  mods/tajara/icons/onmob_suit.dmi
  mods/tajara/icons/onmob_under.dmi
  mods/tajara/icons/shoes.dmi
  mods/tajara/icons/sprite_sheets/feet.dmi
  mods/tajara/icons/sprite_sheets/hands.dmi
  mods/tajara/icons/sprite_sheets/helmet.dmi
  mods/tajara/icons/sprite_sheets/mask.dmi
  mods/tajara/icons/sprite_sheets/obj/hats.dmi
  mods/tajara/icons/sprite_sheets/obj/suits.dmi
  mods/tajara/icons/sprite_sheets/suit.dmi
  mods/tajara/icons/suit.dmi
  mods/tajara/icons/tajara_body/body.dmi
  mods/tajara/icons/tajara_body/deformed_body.dmi
  mods/tajara/icons/tajara_body/organs.dmi
  mods/tajara/icons/tajara_body/preview.dmi
  mods/tajara/icons/tajara_body/sprite_accessory/ears.dmi
  mods/tajara/icons/tajara_body/sprite_accessory/facial.dmi
  mods/tajara/icons/tajara_body/sprite_accessory/hair.dmi
  mods/tajara/icons/tajara_body/sprite_accessory/markings.dmi
  mods/tajara/icons/tajara_body/tail.dmi
  mods/tajara/icons/under.dmi
Labels: :mountain: Спрайты

Update changelog generation
  html/auction-hammer-gavel.png
  html/bug-minus.png
  html/burn-exclamation.png
  html/changelog.css
  html/cross-circle.png
  html/hard-hat-exclamation.png
  html/image-minus.png
  html/image-plus.png
  html/map-pencil.png
  html/music-minus.png
  html/music-plus.png
  html/scales.png
  html/spell-check.png
  html/templates/footer.html
  html/templates/header.html
  html/tick-circle.png
  html/wrench-screwdriver.png
  tools/changelog/ss13_genchangelog.py
Labels: :open_file_folder: Репозиторий

Remove bodyfall sound added on upstream
  packs/sierra-tweaks/_pack.dm
  packs/sierra-tweaks/mob/bodyfall_sound.dm
Labels: none

[MIRROR] Move gun attack handling to resolve attackby
  code/modules/projectiles/gun.dm
Labels: none

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*
