Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*

Cinnamon Resort
  maps/sierra/sierra.dm
Labels: none

Updoot
  maps/sierra/sierra.dm
Labels: none

Gravgen migration
  maps/sierra/sierra.dm
  packs/infinity/_pack.dm
  packs/infinity/icons/obj/machinery/gravity_gen.dmi
  packs/infinity/machinery/gravity_generator/areas.dm
  packs/infinity/machinery/gravity_generator/grav_event.dm
  packs/infinity/machinery/gravity_generator/gravity_generator.dm
  packs/infinity/machinery/gravity_generator/gravitygenerator.dm
  packs/infinity/machinery/gravity_generator/mob.dm
  packs/infinity/machinery/gravity_generator/wires.dm
Labels: :mountain: Спрайты

Posters refac
  baystation12.dme
  maps/sierra/sierra.dm
  maps/sierra/z2_sierra_deck2.dmm
  maps/sierra/z3_sierra_deck1.dmm
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  packs/infinity/_pack.dm
  packs/infinity/icons/obj/posters.dmi
  packs/infinity/structures/signs_ss220.dm
Labels: :world_map: Карты, :mountain: Спрайты

В темноте не того подключили
  baystation12.dme
Labels: none

bad indentation fix
  maps/sierra/job/jobs.dm
Labels: none

Changes
  maps/sierra/z2_sierra_deck2.dmm
  maps/sierra/z3_sierra_deck1.dmm
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
Labels: :world_map: Карты

Убрали гравген из Сьерры, добавили в Бейстейшн
  maps/sierra/sierra.dm
Labels: none

Гравген + Наноуи прикол для модов
  baystation12.dme
  mods/README.md
  mods/_master_files/code/modules/client/asset_cache.dm
  mods/_master_files/code/modules/events/gravity.dm
  mods/_master_files/code/modules/power/gravitygenerator.dm
  mods/_master_files/gravity_generator/areas.dm
  mods/_master_files/gravity_generator/gravity_generator.dm
  mods/_master_files/gravity_generator/mob.dm
  mods/global_modpacks.dm
  mods/gravity_generator/README.md
  mods/gravity_generator/_gravity_generator.dm
  mods/gravity_generator/_gravity_generator.dme
  mods/gravity_generator/code/base.dm
  mods/gravity_generator/code/main.dm
  mods/gravity_generator/code/wires.dm
  mods/gravity_generator/icons/gravity_generator.dmi
  mods/jukebox_tapes/code/jukebox.dm
  nano/templates/mods/gravgen.tmpl
  nano/templates/mods/jukebox.tmpl
  nano/templates/mods/stasis.tmpl
  packs/infinity/machinery/survival_pod.dm
Labels: :mountain: Спрайты

NUKE
  maps/sierra/z2_sierra_deck2.dmm
  maps/sierra/z3_sierra_deck1.dmm
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/nyc_posters/code/nyc_posters.dm
Labels: :world_map: Карты

It needs an icon, yeah
  baystation12.dme
  code/unit_tests/icon_tests.dm
  mods/_master_files/code/game/objects/effects/decals/contraband.dm
  mods/nyc_posters/README.md
  mods/nyc_posters/_nyc_posters.dme
  mods/nyc_posters/code/nyc_posters.dm
  mods/nyc_posters/code/singleton.dm
Labels: none

Механик прекращает своё существование
  maps/sierra/sierra.dm
  mods/quantum_mechanic/_quantum_mechanic.dm
  mods/quantum_mechanic/_quantum_mechanic.dme
  mods/quantum_mechanic/code/quantum_mechanic.dm
  mods/quantum_mechanic/icons/uniform_quantum.dmi
Labels: :mountain: Спрайты

Icon states
  mods/nyc_posters/icons/nyc_posters.dmi
Labels: :mountain: Спрайты

Remove webhooks and make tests check sierra
  .github/workflows/test.yml
Labels: :open_file_folder: Репозиторий

suggestions
  maps/sierra/job/_job_defines.dm
  maps/sierra/job/jobs.dm
  maps/sierra/sierra.dm
  mods/_master_files/code/modules/client/asset_cache.dm
Labels: none

[MIRROR] Make placeholders /visitable + Add 3 new sensor targets
  maps/event/placeholders/gcn-32.dmi
  maps/event/placeholders/gen-32.dmi
  maps/event/placeholders/gen-64.dmi
  maps/event/placeholders/placeholders.dm
Labels: :mountain: Спрайты

[MIRROR] Slows wheelchair, need free hands to drive
  code/datums/movement/mob.dm
  code/datums/movement/movement.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
Labels: none

[MIRROR] Allow watches to tell time + Remove Local Time/Date display from Status
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/clothing_forensics.dm
  code/modules/clothing/under/accessories/wristwatches.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  packs/deepmaint/deepmaint_rooms/normal/angry_unionists.dmm
Labels: :world_map: Карты

[MIRROR] connection warnings give numbers and ignore staff
  code/modules/client/client_procs.dm
Labels: none

[MIRROR] Reimplements Sensor Mute button
  code/modules/overmap/ships/computers/sensors.dm
Labels: none

[MIRROR] Fix stasis cage battery wackiness
  code/game/machinery/stasis_cage.dm
Labels: none

[MIRROR] Fixes #34018
  code/game/objects/structures/window.dm
Labels: none

[MIRROR] move TO_HEX_DIGIT, remove ancient IconProcs comment
  code/_helpers/icons.dm
  code/_helpers/unsorted.dm
  code/_macros.dm
Labels: none

[MIRROR] Adds Antag Challenge Coins
  code/datums/uplink/devices and tools.dm
  code/game/machinery/_machines_base/machinery_components.dm
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/boda.dm
  code/game/machinery/vending/boozeomat.dm
  code/game/machinery/vending/cigarette.dm
  code/game/machinery/vending/coffee.dm
  code/game/machinery/vending/cola.dm
  code/game/machinery/vending/dinnerware.dm
  code/game/machinery/vending/engineering.dm
  code/game/machinery/vending/engivend.dm
  code/game/machinery/vending/fashion.dm
  code/game/machinery/vending/fitness.dm
  code/game/machinery/vending/games.dm
  code/game/machinery/vending/generic.dm
  code/game/machinery/vending/hotfood.dm
  code/game/machinery/vending/hydronutrients.dm
  code/game/machinery/vending/lavatory.dm
  code/game/machinery/vending/medical.dm
  code/game/machinery/vending/phoron.dm
  code/game/machinery/vending/robotics.dm
  code/game/machinery/vending/security.dm
  code/game/machinery/vending/snack.dm
  code/game/machinery/vending/snix.dm
  code/game/machinery/vending/sol.dm
  code/game/machinery/vending/tool.dm
  code/game/machinery/vending/wallmed1.dm
  code/game/machinery/vending/wallmed2.dm
  code/game/objects/items/devices/uplink_random_lists.dm
  code/game/objects/items/weapons/material/coins.dm
  code/game/objects/items/weapons/storage/fancy/_fancy.dm
  code/game/objects/items/weapons/storage/fancy/smokable/basic.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  icons/obj/cigarettes.dmi
  icons/obj/machines/vending.dmi
  icons/obj/materials/coin.dmi
Labels: :mountain: Спрайты

[MIRROR] sprite fixes batch #1/?
  code/game/machinery/doors/airlock.dm
  code/modules/mining/machinery/mineral_console.dm
  icons/obj/doors/Doorglass.dmi
  icons/obj/doors/centcomm/door.dmi
  icons/obj/doors/doorint.dmi
  icons/obj/doors/doorlift.dmi
  icons/obj/doors/doormorgue.dmi
  icons/obj/doors/double/door.dmi
  icons/obj/doors/elevator/door.dmi
  icons/obj/doors/external/door.dmi
  icons/obj/doors/hatch/door.dmi
  icons/obj/doors/hazard/door.dmi
  icons/obj/doors/hightechsecurity.dmi
  icons/obj/doors/material_doors.dmi
  icons/obj/doors/rapid_pdoor.dmi
  icons/obj/doors/secure/door.dmi
  icons/obj/doors/station/door.dmi
  icons/obj/doors/vault.dmi
  icons/obj/doors/vault/door.dmi
  icons/obj/doors/windoor.dmi
  icons/obj/flora/hydroponics_vines.dmi
Labels: :mountain: Спрайты

[MIRROR] Adjust wristwatch and examine code
  code/datums/wires/wires.dm
  code/game/atoms.dm
  code/game/machinery/body_scanner.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items.dm
  code/game/objects/items/cryobag.dm
  code/game/objects/items/devices/slide_projector.dm
  code/modules/augment/implanter.dm
  code/modules/clothing/under/accessories/wristwatches.dm
  code/modules/mob/examinations.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/pai/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  code/modules/persistence/noticeboards.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий

[MIRROR] Fixes Grabs and melee cooldown
  code/__defines/mobs.dm
  code/modules/mob/grab/grab_datum.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/grab/nab/grab_nab.dm
  code/modules/mob/grab/normal/grab_normal.dm
  code/modules/mob/grab/normal/norm_passive.dm
  code/modules/mob/grab/normal/norm_struggle.dm
Labels: none

[MIRROR] more sprite fixes
  code/game/machinery/body_scanner_console.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/modular_computers/file_system/programs/generic/reports.dm
  code/modules/research/message_server.dm
  code/modules/xenoarcheaology/anomaly_container.dm
  icons/obj/flora/hydroponics_products.dmi
  icons/obj/structures/rubble.dmi
  maps/torch/z1_admin.dmm
Labels: :world_map: Карты, :mountain: Спрайты

[MIRROR] waddle
  code/modules/admin/secrets/fun_secrets/waddle.dm
  code/modules/mob/animations.dm
Labels: none

[MIRROR] Fixes Dociler and bullpup grenade launcher
  code/game/objects/items/devices/dociler.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий

[MIRROR] More use_grabs, standardizes checks
  code/game/machinery/Sleeper.dm
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/body_scanner.dm
  code/game/machinery/cryo.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/kitchen/gibber.dm
  code/game/machinery/suit_cycler.dm
  code/game/machinery/suit_storage.dm
  code/game/objects/structures/mineral_bath.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/recycling/disposal.dm
Labels: none

[MIRROR] Tweaks grab returns
  code/modules/mob/grab/grab_datum.dm
  code/modules/mob/grab/normal/grab_normal.dm
Labels: none

[MIRROR] planet ruins spawn when player budget would be negative
  code/modules/maps/ruins.dm
Labels: none

[MIRROR] removed glide size config option, all normal AMs have the same glide size
  code/controllers/configuration.dm
  code/game/atoms_movable.dm
  code/game/objects/objs.dm
Labels: none

[MIRROR] added /hook/game_ready that fires after world init, SSicon_updates flushes its queue on that hook
  code/controllers/hooks-defs.dm
  code/controllers/master.dm
  code/controllers/subsystems/processing/icon_updates.dm
Labels: none

[MIRROR] adds surgery sounds
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/face.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/slimes.dm
  sound/items/amputation.ogg
  sound/items/bonegel.ogg
  sound/items/bonesetter.ogg
  sound/items/cautery.ogg
  sound/items/circularsaw.ogg
  sound/items/fixovein.ogg
  sound/items/hemostat.ogg
  sound/items/retractor.ogg
  sound/items/scalpel.ogg
  sound/items/surgicaldrill.ogg
Labels: :sound: Звуки

[MIRROR] Allow people to be thrown over railing
  code/game/objects/structures/railing.dm
Labels: none

[MIRROR] fix pai behavior
  code/game/objects/items/devices/paicard.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mob/living/silicon/pai/admin.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/pai/software.dm
Labels: none

[MIRROR] Fixes pAI radios
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/silicon/pai/admin.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  nano/templates/pai_radio.tmpl
  nano/templates/radio_basic.tmpl
Labels: none

[MIRROR] Radio fixes
  code/game/objects/items/devices/radio/radio.dm
Labels: none
