Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

[MIRROR] Fixes self-buckling when incapacitated
  code/game/objects/buckling.dm
Labels: none

[MIRROR] More obvious neural suppressors for OR tables
  code/game/machinery/OpTable.dm
  icons/obj/machines/medical/operatingtable.dmi
Labels: :mountain: Спрайты

[MIRROR] Music instruments sound range fix
  code/modules/synthesized_instruments/real_instruments/Synthesizer/synthesizer.dm
Labels: none

[MIRROR] Update some posters icons
  icons/obj/structures/contraband.dmi
Labels: :mountain: Спрайты

[MIRROR] Fix closet icon test output
  code/unit_tests/closets.dm
Labels: none

[MIRROR] Fix decals on open closets
  code/game/objects/structures/crates_lockers/closets/_closet_appearance_definitions.dm
  code/unit_tests/closets.dm
  icons/obj/closets/bases/closet.dmi
  icons/obj/closets/decals/closet.dmi
  icons/obj/closets/decals/crate.dmi
  icons/obj/closets/decals/wall.dmi
Labels: :mountain: Спрайты

[MIRROR] Ability to punch objects
  code/game/objects/objs.dm
Labels: none

[MIRROR] Radio Incapacitation Tweaks
  code/game/objects/items/devices/radio/radio.dm
Labels: none

[MIRROR] Removes admin log for throwing people via gravikinetic
  code/modules/clothing/spacesuits/rig/modules/utility.dm
Labels: none

Update closet base icon
  mods/_master_files/icons/obj/closets/bases/closet.dmi
Labels: :mountain: Спрайты

Fix hookah
  packs/infinity/items/hookah.dm
Labels: none

bugfix
  mods/_maps/farfleet/_map_farfleet.dme
Labels: none

[MIRROR] Chewable spit out and drone designator in belt
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/clothing/masks/chewable.dm
Labels: none

[MIRROR] Replace xenofauna carbine spawn with SMG(and rubber SMG mag) spawn
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты

Фикс радиуса музыкального плеера
  mods/music_player/code/music_player.dm
  mods/music_player/code/subtypes_player.dm
Labels: none

Operative_fix
  mods/_maps/farfleet/code/farfleet_areas.dm
  mods/_maps/farfleet/code/farfleet_crew.dm
Labels: none

[MIRROR] Fix vv handler for the confused var locked to 15
  code/modules/mob/vv_handlers.dm
Labels: none

[MIRROR] Mountain wind is lime green
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
Labels: none

Revert "[TMP] Make browser datum use UTF-8"
  code/datums/browser.dm
Labels: none

Add shutdown on reboot
  code/controllers/configuration.dm
  code/game/world.dm
Labels: none

Fixes
  mods/_maps/farfleet/code/farfleet.dm
  mods/_maps/farfleet/code/farfleet_crew.dm
  mods/_maps/farfleet/code/farfleet_structures.dm
  mods/_maps/sentinel/code/sentinel.dm
Labels: none

[MIRROR] Removes server-crashing TC option
  code/datums/uplink/badassery.dm
Labels: none

[MIRROR] Remove extra R&D sign from deck 1 stairs
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты

[MIRROR] Various electronic assembly window fixes
  code/modules/integrated_electronics/core/assemblies.dm
Labels: none

[MIRROR] Update console glow when updating icon
  code/game/machinery/computer/computer.dm
Labels: none

[MIRROR] Fixes the extremely small typo in the fax names
  maps/torch/torch_define.dm
Labels: none

[MIRROR] Fixes speedpunching
  code/game/objects/objs.dm
Labels: none

[MIRROR] Remove further references to things that don't exist
  maps/away/mining/mining.dm
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dm
Labels: none

[MIRROR] fixed generate_cl yaml loading
  tools/changelog/generate_cl.py
Labels: :open_file_folder: Репозиторий

[MIRROR] Change disposal constant overlay image path to icon var
  code/modules/recycling/disposal.dm
Labels: none

Update generate_cl.py
  tools/changelog/generate_cl.py
Labels: :open_file_folder: Репозиторий

Fix check changelog
  tools/changelog/sierra_check_changelog.py
Labels: :open_file_folder: Репозиторий

[MIRROR] correct spelling of incorrectly spelled gencl param
  tools/changelog/generate_cl.py
  tools/changelog/sierra_check_changelog.py
Labels: :open_file_folder: Репозиторий

[MIRROR] Remove arterial bleed confusion
  code/modules/organs/internal/heart.dm
Labels: none

[MIRROR] 2ndFleet corrections + Ceti Expansion
  code/__defines/culture.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/culture_descriptor/location/locations_human.dm
  code/modules/species/station/station.dm
  maps/mapsystem/maps.dm
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-head.dm
Labels: none

Update Ceti Expansion Sierra defines
  maps/sierra/sierra_define.dm
  mods/tajara/code/datum/species.dm
Labels: none

Попытка разкомментить
  maps/sierra/sierra_areas.dm
Labels: none

Update map files
  maps/sierra/_references/map-refs.dmm
  maps/sierra/_references/z1-3_sierra.dmm
  maps/sierra/sierra.dm
  maps/sierra/z1-z5_sierra.dmm
  maps/sierra/z6_admin.dmm
  maps/sierra/z7_transit.dmm
Labels: :world_map: Карты

Update welcome message
  maps/sierra/sierra_setup.dm
Labels: none

Update beraing
  maps/sierra/sierra_setup.dm
Labels: none

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*
