Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*

Update everything else that doesn't use RustG to use it
  baystation12.dme
  code/modules/persistence/persistence_datum.dm
  mods/_master_files/code/game/world.dm
  mods/_master_files/code/modules/client/preferences_persist.dm
  mods/rust_g/README.md
Labels: none

Update startup log message
  code/game/world.dm
Labels: none

Update runtime log to use RustG
  code/_macros.dm
  code/game/world.dm
  mods/rust_g/README.md
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий

[MIRROR] EMP Damage Scaling
  code/modules/organs/external/_external.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/species/fbp.dm
  code/modules/projectiles/guns/energy/special.dm
  mods/hairs_ports/_hairs_ports.dm
  mods/hairs_ports/code/_accessory_facial.dm
  mods/hairs_ports/code/_accessory_hair.dm
Labels: none

[MIRROR] Allow using outfits for setting up chameleon appearance
  baystation12.dme
  code/datums/extensions/chameleon.dm
  code/datums/observation/empd.dm
  code/game/atoms.dm
  code/game/machinery/barrier.dm
  code/game/machinery/stasis_cage.dm
  code/game/objects/items/devices/gps.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/shields.dm
  code/modules/clothing/chameleon.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/power/port_gen.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/shuttles/shuttle_console.dm
  code/modules/xenoarcheaology/anomaly_container.dm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dm
Labels: none

[MIRROR] System Programs
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/generic/configurator.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  code/modules/modular_computers/file_system/programs/generic/file_browser.dm
  code/modules/modular_computers/file_system/programs/generic/ntdownloader.dm
  code/modules/modular_computers/ntos/ntos.dm
Labels: none

[MIRROR] Makes robotic bone surgery a robotic surgery
  code/modules/surgery/robotics.dm
Labels: none

[MIRROR] Industrial suit access restriction
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты

[MIRROR] Flowers from hydroponics can be made into hair pins
  code/datums/supplypacks/nonessent.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/clothing/head/misc.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed_datums.dm
  icons/mob/onmob/onmob_ears.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/species/unathi/onmob_ears_unathi.dmi
  icons/mob/species/unathi/onmob_head_unathi.dmi
  icons/obj/clothing/obj_head.dmi
Labels: :mountain: Спрайты

Pioneer Fixes (again)
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
Labels: :world_map: Карты

Тритий с барского плеча
  mods/_maps/liberia/maps/liberia.dmm
Labels: :world_map: Карты

А снится нам не рокот космодрома
  mods/_maps/farfleet/maps/farfleet-1.dmm
Labels: :world_map: Карты

Fix errors
  mods/_master_files/code/modules/power/gravitygenerator.dm
  packs/sierra-tweaks/objects/vehicles/vehicle.dm
Labels: none

[MIRROR] Add some posters
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/effects/decals/posters/bs12.dm
  icons/obj/structures/contraband.dmi
Labels: :mountain: Спрайты

[MIRROR] replace rome with its successor, biome
  .vscode/extensions.json
  biome.json
Labels: :open_file_folder: Репозиторий

[MIRROR] Fix EMP event unregistration and inconsistent /emp_act() override
  code/datums/extensions/chameleon.dm
  code/modules/integrated_electronics/subtypes/input.dm
Labels: none

[MIRROR] no free merc ofd charges + add charges to uplink
  baystation12.dme
  code/datums/uplink/structures_and_vehicles.dm
  code/datums/uplink/uplink_categories.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
Labels: :world_map: Карты

Update mods/tajara/code/posters.dm
  mods/tajara/code/posters.dm
Labels: none

Update mods/tajara/code/posters.dm
  mods/tajara/code/posters.dm
Labels: none

Update mods/tajara/README.md
  mods/tajara/README.md
Labels: none

ридми
  mods/tajara/README.md
Labels: none

Update mods/tajara/code/posters.dm
  mods/tajara/code/posters.dm
Labels: none

[MIRROR] fixes rotation on soda machine in shuttle pilot's office
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты

[MIRROR] fixes rotation of soda machine in deck five aft ladderwell
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты

[MIRROR] gun & ninja boxes are selection items, adds pilot helmet selection item
  baystation12.dme
  code/game/antagonist/outsider/ninja.dm
  code/game/objects/items/gunboxes.dm
  code/game/objects/items/selection.dm
  maps/torch/items/selection.dm
  maps/torch/structures/closets/exploration.dm
  maps/torch/torch.dm
Labels: none

[MIRROR] Changes SFV Lexington placeholder sprite (By Rockton)
  maps/event/placeholders/placeholders.dm
  maps/event/placeholders/scg-64.dmi
Labels: :mountain: Спрайты

Mapfixes december
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  maps/sierra/_references/map-refs.dmm
  maps/sierra/icons/mob/wrist_computer.dmi
  maps/sierra/icons/obj/wrist_computer.dmi
  maps/sierra/items/explo_shotgun.dm
  maps/sierra/items/modular_computer.dm
  maps/sierra/items/weapons/storage/boxes.dm
  maps/sierra/loadout/loadout_gloves.dm
  maps/sierra/loadout/loadout_pda.dm
  maps/sierra/loadout/loadout_uniform.dm
  maps/sierra/sierra.dm
  maps/sierra/sound/items/ui_pipboy_select.wav
  maps/sierra/z6_admin.dmm
  mods/antagonists/code/traitor.dm
  mods/antagonists/icons/obj/holobomb.dmi
  mods/loadout_items/README.md
  mods/loadout_items/_loadout_items.dme
  mods/loadout_items/code/gloves.dm
  mods/loadout_items/code/lists/uniforms.dm
  mods/loadout_items/code/uniforms.dm
  mods/loadout_items/icons/obj_under.dmi
  mods/loadout_items/icons/onmob_under.dmi
  packs/infinity/_datums/loadout/gears.dm
  packs/infinity/_pack.dm
  packs/infinity/icons/mob/wrist_computer.dmi
  packs/infinity/icons/obj/wrist_computer.dmi
  packs/infinity/items/modular_computer.dm
  packs/infinity/sound/items/ui_pipboy_select.wav
Labels: :world_map: Карты, :mountain: Спрайты, :sound: Звуки

[MIRROR] Canister storage changes
  code/game/objects/structures/signs.dm
  icons/obj/structures/decals.dmi
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты, :mountain: Спрайты

Update maps/sierra/loadout/loadout_uniform.dm
  maps/sierra/loadout/loadout_uniform.dm
Labels: none

КАПСОМ НАЗВАНИЕ, ДА
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
Labels: none

[MIRROR] Aviator Expansion
  code/datums/uplink/devices and tools.dm
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/glasses/thermals.dm
  icons/mob/onmob/onmob_eyes.dmi
  icons/obj/clothing/obj_eyes.dmi
Labels: :mountain: Спрайты

[MIRROR] re-add borg all access, tweak antag borg loadouts
  code/modules/mob/living/silicon/robot/modules/_module.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/mob/living/silicon/robot/modules/module_engineering.dm
  code/modules/mob/living/silicon/robot/modules/module_janitor.dm
  code/modules/mob/living/silicon/robot/modules/module_maintenance_drone.dm
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/mob/living/silicon/robot/modules/module_miner.dm
  code/modules/mob/living/silicon/robot/modules/module_research.dm
  code/modules/mob/living/silicon/robot/modules/module_security.dm
  code/modules/mob/living/silicon/robot/modules/module_standard.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/robot/_robot_access.dm
  maps/torch/torch.dm
Labels: none

Revert "Set default synth Sierra access to full"
  maps/sierra/job/jobs.dm
Labels: none

[MIRROR] Additions to IPC
  baystation12.dme
  code/_helpers/global_lists.dm
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/machine/screen_abilities.dm
  code/modules/organs/robolimbs.dm
  code/modules/species/station/machine.dm
  code/modules/sprite_accessories/accessory_ipc.dm
  code/unit_tests/icon_tests.dm
  icons/mob/human_races/cyberlimbs/shellguard/shellguard_main.dmi
  icons/mob/human_races/species/ipc/facial.dmi
  icons/mob/human_races/species/ipc/hair.dmi
  icons/mob/human_races/species/ipc/legacy_markings.dmi
  icons/mob/human_races/species/ipc/markings.dmi
Labels: :mountain: Спрайты

[MIRROR] Adds NTNRC Notifications and NT Relay Chat to PDA defaults
  code/modules/modular_computers/computers/subtypes/preset_pda.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  nano/templates/ntnet_chat.tmpl
Labels: none

[MIRROR] fix a runtime in examines
  code/modules/mob/living/carbon/human/examine.dm
Labels: none

[MIRROR] Assumes Cobby's gender
  code/modules/mob/living/simple_animal/hostile/retaliate/snake.dm
Labels: none
