Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

Block merging of PRs flagged for test merge
  .github/workflows/testmerge-blocker.yml
Labels: :open_file_folder: Репозиторий

[MIRROR] eliminates new\s*/list style of list definition
  code/_helpers/areas.dm
  code/_helpers/game.dm
  code/_helpers/unsorted.dm
  code/game/machinery/vitals_monitor.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/storage/storage_ui/default.dm
  code/modules/clothing/suits/armor.dm
  code/modules/integrated_electronics/subtypes/smart.dm
  code/modules/modular_computers/file_system/programs/engineering/rcon_console.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/paperwork/paperbin.dm
  code/modules/power/apc.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/turbine.dm
  code/modules/projectiles/guns/launcher/foam_gun.dm
  code/modules/projectiles/guns/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/launcher/rocket.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/procs/AStar.dm
  packs/deepmaint/generator/deepmaint_event.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий

[MIRROR] Add more Fake NanoUI
  code/controllers/subsystems/vote.dm
  code/game/machinery/alarm.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: none

[MIRROR] fix tcomms lights not updating on init
  code/game/machinery/bluespacerelay.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/NTNet/NTNet_relay.dm
  code/modules/research/message_server.dm
  code/modules/research/server.dm
  icons/obj/machines/telecomms.dmi
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :mountain: Спрайты

[MIRROR] Fix pre-game vote timers not ticking
  code/controllers/subsystems/vote.dm
Labels: none

[MIRROR] Unanchor pAI when folded
  code/modules/mob/living/silicon/pai/pai.dm
Labels: none

[MIRROR] Block merging of PRs flagged for test merge
  .github/workflows/testmerge-blocker.yml
Labels: :open_file_folder: Репозиторий

Resolve errors
  mods/_maps/sentinel/code/sentinel_structures.dm
Labels: none

[MIRROR] fix high speed floor people
  code/modules/mob/living/life.dm
Labels: none

[MIRROR] Improves Giftwrapping
  baystation12.dme
  code/datums/supplypacks/nonessent.dm
  code/datums/supplypacks/supply.dm
  code/game/machinery/vending/games.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/gifts.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/items/weapons/wrapping_paper.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/accessories/_accessory.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_filing.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/recycling/sortingmachinery.dm
  icons/obj/gifts.dmi
  icons/obj/parcels.dmi
  maps/torch/items/items.dm
  maps/torch/structures/closets/supply.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты

[MIRROR] fix spiderlings not growing when in limbs
  code/game/objects/effects/spiders.dm
Labels: none

[MIRROR] Add VV handlers for /mob/confused
  baystation12.dme
  code/_helpers/functional.dm
  code/modules/mob/vv_handlers.dm
Labels: none

[MIRROR] re-tgm's ninja_base
  maps/antag_spawn/ninja/ninja_base.dmm
Labels: :world_map: Карты

Resolve complation errors
  maps/sierra/items/clothing/clothing.dm
  maps/sierra/z4_admin.dmm
Labels: :world_map: Карты

More fixes
  maps/antag_spawn/ert/ert_base.dmm
  maps/sierra/z4_admin.dmm
Labels: :world_map: Карты

[MIRROR] re-tgm's ninja_base
  maps/antag_spawn/ninja/ninja_base.dmm
Labels: :world_map: Карты

Fix
  mods/_maps/sentinel/code/sentinel_structures.dm
Labels: none

[MIRROR] stock renderwhitespace pref "all" -> "boundary"
  .vscode/settings.json
Labels: :open_file_folder: Репозиторий

[MIRROR] makes current versions of suite not die on 515 compatibility consts
  code/_version.dm
Labels: none

Farfleet RIG and lore-friendy branch cleanup
  maps/sierra/sierra_ranks.dm
  mods/_maps/farfleet/code/farfleet_crew.dm
  mods/_maps/farfleet/code/farfleet_faction.dm
  mods/_maps/farfleet/code/farfleet_items.dm
  mods/_maps/farfleet/code/farfleet_structures.dm
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
Labels: :world_map: Карты

Suits and Rigs
  mods/_maps/farfleet/_map_farfleet.dme
  mods/_maps/farfleet/code/farfleet_items.dm
  mods/_maps/farfleet/code/farfleet_structures.dm
  mods/_maps/farfleet/icons/mob/lefthand.dmi
  mods/_maps/farfleet/icons/mob/onmob_head.dmi
  mods/_maps/farfleet/icons/mob/onmob_suit.dmi
  mods/_maps/farfleet/icons/mob/righthand.dmi
  mods/_maps/farfleet/icons/obj/bonfire.dmi
  mods/_maps/farfleet/icons/obj/iccg_rifle.dmi
  mods/_maps/farfleet/icons/obj/mbr_bullpup.dmi
  mods/_maps/farfleet/icons/obj/mr735.dmi
  mods/_maps/farfleet/icons/obj/obj_head.dmi
  mods/_maps/farfleet/icons/obj/obj_suit.dmi
  mods/_maps/farfleet/icons/obj/stupor.dmi
  mods/_maps/farfleet/maps/farfleet-1.dmm
Labels: :world_map: Карты, :mountain: Спрайты

[MIRROR] misc sprite and text fixes
  code/game/machinery/bioprinter.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/vitals_monitor.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/surgery/organs_internal.dm
  icons/obj/machines/medical/bodyscanner.dmi
  icons/obj/tools/bloodpack.dmi
Labels: :mountain: Спрайты

[MIRROR] Fixes mech jetpacks
  code/modules/mechs/mech_movement.dm
Labels: none

[MIRROR] nerf nurse spiderling injection
  code/modules/mob/living/simple_animal/hostile/giant_spider/nurse.dm
Labels: none

Update maps items paths
  maps/sierra/structures/closets/supply.dm
  maps/sierra/z1-3_sierra.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/_maps/liberia/maps/liberia.dmm
  mods/_maps/sentinel/maps/sentinel-2.dmm
Labels: :world_map: Карты

Fix solgov parcels
  maps/sierra/machinery/random.dm
Labels: none

[MIRROR] Fix spiderlings growing that shouldn't grow
  code/game/objects/effects/spiders.dm
Labels: none

[MIRROR] nerf nurse spiderling injection
  code/modules/mob/living/simple_animal/hostile/giant_spider/nurse.dm
Labels: none

Update effect paths for sierra files
  maps/sierra/sierra_overmap.dm
  maps/sierra/sierra_setup.dm
  maps/sierra/sierra_shuttles.dm
  maps/sierra/z1-3_sierra.dmm
  maps/sierra/z4_admin.dmm
  maps/sierra/z5_transit.dmm
  mods/_maps/farfleet/code/farfleet.dm
  mods/_maps/farfleet/code/farfleet_crew.dm
  mods/_maps/farfleet/code/farfleet_shuttle.dm
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/_maps/liberia/code/liberia.dm
  mods/_maps/liberia/code/liberia_jobs.dm
  mods/_maps/liberia/code/liberia_navpoints.dm
  mods/_maps/liberia/code/liberia_shuttles.dm
  mods/_maps/liberia/maps/liberia.dmm
  mods/_maps/sentinel/code/sentinel.dm
  mods/_maps/sentinel/code/sentinel_crew.dm
  mods/_maps/sentinel/code/sentinel_shuttle.dm
  mods/_maps/sentinel/code/sentinel_structures.dm
  mods/_maps/sentinel/maps/sentinel-1.dmm
  mods/_maps/sentinel/maps/sentinel-2.dmm
  mods/bluespace_kitty/code/bluespace_kitty.dm
  mods/music_player/code/music_player.dm
  mods/resomi/code/datum/species.dm
  mods/tajara/code/datum/species.dm
  packs/infinity/clothing/accessories/collar.dm
  packs/infinity/items/hookah.dm
  packs/sierra-tweaks/objects/structures/wallframe_spawner.dm
  packs/sierra-tweaks/objects/vehicles/vehicle.dm
Labels: :world_map: Карты

Update sentinel structures path
  mods/_maps/sentinel/code/sentinel_structures.dm
Labels: none

Update decal paths
  maps/sierra/sierra_decals.dm
  maps/sierra/z1-3_sierra.dmm
  maps/sierra/z4_admin.dmm
  mods/_maps/farfleet/code/farfleet_structures.dm
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/_maps/liberia/maps/liberia.dmm
  mods/_maps/sentinel/maps/sentinel-1.dmm
  mods/_maps/sentinel/maps/sentinel-2.dmm
Labels: :world_map: Карты

https://www.youtube.com/watch?v=3dYRN1rtncA
  maps/sierra/items/items.dm
  maps/sierra/z1-3_sierra.dmm
  maps/sierra/z4_admin.dmm
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/_maps/liberia/maps/liberia.dmm
  mods/_maps/sentinel/maps/sentinel-1.dmm
  mods/_maps/sentinel/maps/sentinel-2.dmm
  packs/infinity/effects/paint.dm
Labels: :world_map: Карты

Final fixes
  maps/sierra/z1-3_sierra.dmm
  maps/sierra/z4_admin.dmm
  maps/sierra/z5_transit.dmm
Labels: :world_map: Карты

[MIRROR] fix objects not falling through openspace
  code/modules/multiz/movement.dm
Labels: none

[MIRROR] nerf nurse spiderling injection
  code/modules/mob/living/simple_animal/hostile/giant_spider/nurse.dm
Labels: none

[MIRROR] Makes no client colour consistently work with planemasters
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/particles/particles.dm
  code/modules/mechs/equipment/utility.dm
Labels: none

Fixes
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
Labels: :world_map: Карты

[MIRROR] Integration (and tweaks) for Polaris AI Framework
  baystation12.dme
  code/__defines/ai.dm
  code/__defines/mobs.dm
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/aifast.dm
  code/game/machinery/portable_turret.dm
  code/modules/ai/__readme.dm
  code/modules/ai/ai_holder.dm
  code/modules/ai/ai_holder_combat.dm
  code/modules/ai/ai_holder_combat_unseen.dm
  code/modules/ai/ai_holder_communication.dm
  code/modules/ai/ai_holder_cooperation.dm
  code/modules/ai/ai_holder_fleeing.dm
  code/modules/ai/ai_holder_movement.dm
  code/modules/ai/ai_holder_subtypes/alien_ai.dm
  code/modules/ai/ai_holder_subtypes/human_ai.dm
  code/modules/ai/ai_holder_subtypes/simple_mob_ai.dm
  code/modules/ai/ai_holder_targeting.dm
  code/modules/ai/interfaces.dm
  code/modules/ai/say_list.dm
  code/modules/emotes/definitions/_mob.dm
  code/modules/mob/living/carbon/alien/diona/_nymph.dm
  code/modules/mob/living/carbon/alien/diona/nymph_life.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/defense.dm
  code/modules/mob/living/simple_animal/life.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
  code/modules/species/outsider/zombie.dm
  code/modules/species/species.dm
  code/modules/species/station/monkey.dm
  code/modules/species/station/station.dm
Labels: none

[MIRROR] Fixes placing mobs in mounted sleepers
  code/_onclick/item_attack.dm
  code/modules/mob/mob.dm
Labels: none

[MIRROR] admin light_maker fix
  code/modules/admin/buildmode/light_maker.dm
Labels: none

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*
