Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*

trans xenoarcheology
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/xenoarcheology/artefacts.dm
  mods/_rus/code/obj/modules_files/xenoarcheology/finds.dm
  mods/_rus/code/obj/modules_files/xenoarcheology/portals.dm
  mods/_rus/code/obj/modules_files/xenoarcheology/tools.dm
Labels: none

Revert "trans xenoarcheology"
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/xenoarcheology/artefacts.dm
  mods/_rus/code/obj/modules_files/xenoarcheology/finds.dm
  mods/_rus/code/obj/modules_files/xenoarcheology/portals.dm
  mods/_rus/code/obj/modules_files/xenoarcheology/tools.dm
Labels: none

Revert "Revert "trans xenoarcheology""
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/xenoarcheology/artefacts.dm
  mods/_rus/code/obj/modules_files/xenoarcheology/finds.dm
  mods/_rus/code/obj/modules_files/xenoarcheology/portals.dm
  mods/_rus/code/obj/modules_files/xenoarcheology/tools.dm
Labels: none

add to xeno
  mods/_rus/code/obj/modules_files/xenoarcheology/tools.dm
Labels: none

Change Sierra non-ranged afterattacks to use_after
  mods/_antagonists/code/traitor.dm
  mods/_master_files/code/modules/reagents/reagent_containers/food/shaker.dm
  packs/infinity/structures/ladder_mobile.dm
Labels: none

[MIRROR] Skip abstract types in merchant list generation
  code/datums/trading/trade.dm
Labels: none

Resolve conflicts
  code/controllers/configuration.dm
Labels: none

[MIRROR] Addendum to #34339
  code/modules/mob/living/carbon/human/human_damage.dm
Labels: none

[MIRROR] Chem Quantities: Alky/Imi
  code/modules/reagents/Chemistry-Recipes.dm
Labels: none

trans musical instruments, lift, magic staff
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/instruments/real_instruments.dm
  mods/_rus/code/obj/modules_files/spells/artefacts.dm
  mods/_rus/code/obj/modules_files/spells/general.dm
  mods/_rus/code/obj/modules_files/spells/hund.dm
  mods/_rus/code/obj/modules_files/spells/spells.dm
  mods/_rus/code/obj/modules_files/spells/turgeted.dm
  mods/_rus/code/obj/modules_files/turbolift/turbolift.dm
  mods/_rus/code/obj/modules_files/xenoarcheology/tools.dm
Labels: none

Ships
  maps/sierra/areas/z6_admin.dm
  maps/sierra/z6_admin.dmm
  mods/_antagonists/maps/ert_base.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/_maps/sentinel/maps/sentinel-1.dmm
Labels: :world_map: Карты

Порт причесок
  mods/hairs_ports/README.md
  mods/hairs_ports/_hairs_ports.dm
  mods/hairs_ports/_hairs_ports.dme
  mods/hairs_ports/_hairs_ports.int
  mods/hairs_ports/code/_accessory_facial.dm
  mods/hairs_ports/code/_accessory_hair.dm
  mods/hairs_ports/icons/port_facial.dmi
  mods/hairs_ports/icons/port_hair.dmi
Labels: :mountain: Спрайты

Update global_modpacks.dm
  mods/global_modpacks.dm
Labels: none

Add files via upload
  mods/hairs_ports/_hairs_ports.dme
  mods/hairs_ports/_hairs_ports.int
  mods/hairs_ports/code/_accessory_facial.dm
  mods/hairs_ports/code/_accessory_hair.dm
  mods/hairs_ports/icons/port_facial.dmi
  mods/hairs_ports/icons/port_hair.dmi
Labels: :mountain: Спрайты

Update _accessory_facial.dm
  mods/hairs_ports/code/_accessory_facial.dm
Labels: none

Update _accessory_facial.dm
  mods/hairs_ports/code/_accessory_facial.dm
Labels: none

Meow
  maps/sierra/sierra.dm
  mods/_antagonists/_antagonists.dm
  mods/_master_files/code/game/gamemodes/ert.dm
  mods/antagonists/README.md
  mods/antagonists/_antagonists.dm
  mods/antagonists/_antagonists.dme
  mods/antagonists/code/ert.dm
  mods/antagonists/code/operative.dm
  mods/antagonists/code/revolutionary.dm
  mods/antagonists/code/teleportation.dm
  mods/antagonists/code/traitor.dm
  mods/antagonists/icons/effects/bs_silk.dmi
  mods/antagonists/icons/obj/door_charge.dmi
  mods/antagonists/icons/obj/syndiejaunter.dmi
  mods/antagonists/maps/ert_base.dmm
  mods/global_modpacks.dm
Labels: :world_map: Карты, :mountain: Спрайты

Update readme
  mods/antagonists/README.md
Labels: none

Add modpack author
  mods/antagonists/README.md
Labels: none

Update code antag paths
  mods/_master_files/code/game/gamemodes/ert.dm
  mods/antagonists/code/teleportation.dm
  mods/antagonists/code/traitor.dm
Labels: none

Add scga faction to the mod
  mods/antagonists/README.md
  mods/antagonists/_antagonists.dme
Labels: none

Move modpack to sierra-only
  maps/sierra/sierra.dm
  mods/global_modpacks.dm
Labels: none

Undo adding scga pack
  mods/antagonists/README.md
  mods/antagonists/_antagonists.dme
Labels: none

Отвалилось две прически, возвращаем
  mods/hairs_ports/icons/port_hair.dmi
Labels: :mountain: Спрайты

Блудные прически с инфинити вернулись
  mods/hairs_ports/code/_accessory_hair.dm
Labels: none

Модпак своей жизнью живет и инклюдит сам все
  mods/hairs_ports/_hairs_ports.dme
Labels: none

Убираем конфликты, дубликаты. Причесываем волосы.
  mods/hairs_ports/_hairs_ports.int
  mods/hairs_ports/code/_accessory_facial.dm
  mods/hairs_ports/code/_accessory_hair.dm
  mods/hairs_ports/icons/port_facial.dmi
  mods/hairs_ports/icons/port_hair.dmi
Labels: :mountain: Спрайты

Причесываем, причесываем
  mods/hairs_ports/_hairs_ports.int
  mods/hairs_ports/code/_accessory_facial.dm
  mods/hairs_ports/code/_accessory_hair.dm
Labels: none

Update _accessory_facial.dm
  mods/hairs_ports/code/_accessory_facial.dm
Labels: none

Delete mods/hairs_ports/_hairs_ports.int
  mods/hairs_ports/_hairs_ports.int
Labels: none

Приводим в порядок порядок инклюдов.
  mods/hairs_ports/_hairs_ports.dme
Labels: none

Теперь все по алфавиту.
  mods/global_modpacks.dm
Labels: none

Update mods/hairs_ports/_hairs_ports.dme
  mods/hairs_ports/_hairs_ports.dme
Labels: none

Bump RustG version to 3.0.0
  .github/workflows/test.yml
  scripts/install-rust_g-dependencies.sh
Labels: :open_file_folder: Репозиторий

Mapfix 25.11.23
  maps/sierra/areas/z1_sierra_deck4.dm
  maps/sierra/areas/z2_sierra_deck3.dm
  maps/sierra/areas/z4_sierra_deck1.dm
  maps/sierra/job/jobs_command.dm
  maps/sierra/job/jobs_engineering.dm
  maps/sierra/job/jobs_exploration.dm
  maps/sierra/job/jobs_research.dm
  maps/sierra/z6_admin.dmm
Labels: :world_map: Карты

Вернул датумы двух забытых причесок.
  mods/hairs_ports/code/_accessory_hair.dm
Labels: none

Make diagonal gliding realistic
  code/datums/movement/mob.dm
Labels: none

Remove silly resource-consuming loop
  mods/gliding/code/movable.dm
Labels: none

Make cart item glide like it's parent
  packs/sierra-tweaks/objects/structures/cargo.dm
Labels: none

Override fexists builtin with RustG call
  code/__defines/~mods/rust_g.dm
Labels: none
