Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

[MIRROR] fix some morpheus head icons
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_airborne.dmi
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_blitz.dmi
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_prime.dmi
Labels: :mountain: Спрайты

[MIRROR] fix beehive assembly icon
  code/modules/hydroponics/beekeeping/beehive.dm
  icons/obj/beekeeping.dmi
Labels: :mountain: Спрайты

[MIRROR] re-add augment implanter sprite
  code/modules/augment/implanter.dm
  icons/obj/tools/augment_implanter.dmi
Labels: :mountain: Спрайты

[MIRROR] Fix augment surgery messages
  code/modules/surgery/robotics.dm
Labels: none

[MIRROR] Anchored navlights
  code/modules/power/nav_light.dm
Labels: none

[MIRROR] fixed plant genes not being randomized
  code/controllers/subsystems/plants.dm
Labels: none

[MIRROR] fix chameleon items not being usable
  code/datums/extensions/chameleon.dm
Labels: none

[MIRROR] fixed masks blocking speech problems
  code/modules/mob/living/carbon/human/say.dm
Labels: none

[MIRROR] Fixes parrying
  code/_onclick/item_attack.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/defense.dm
Labels: none

[MIRROR] Allows machines inside an obj to actually be able to get power
  code/game/machinery/_machines_base/machinery_power.dm
Labels: none

[MIRROR] Fixes the Petrov R&D server access
  code/game/machinery/telecomms/logbrowser.dm
  code/game/machinery/telecomms/telemonitor.dm
  code/modules/research/rdconsole.dm
  code/modules/research/server.dm
Labels: none

[MIRROR] fix bluespace turfs not reverting entirely
  code/modules/events/bsd_instability.dm
Labels: none

[MIRROR] Fix incorrect waddle targeting
  code/modules/mob/animations.dm
Labels: none

[MIRROR] Remove language when removing changeling
  code/game/antagonist/station/changeling.dm
Labels: none

[MIRROR] Nabber Kill Grab Fixes
  code/modules/mob/grab/nab/grab_nab.dm
  code/modules/mob/grab/nab/nab_kill.dm
Labels: none

[MIRROR] attack/use_weapon consistancy fixes
  code/__defines/mobs.dm
  code/_onclick/item_attack.dm
Labels: none

[MIRROR] Fix grabs dropping when swapping hands
  code/modules/mob/grab/grab_object.dm
Labels: none

Resolve conflicts
  code/_onclick/item_attack.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/defense.dm
Labels: none

Resolve conflicts
  code/_onclick/item_attack.dm
Labels: none

[MIRROR] fix rig mounted rcds not working
  code/game/objects/items/weapons/RCD.dm
Labels: none

Remove locks from fridges on sierra maps
  maps/sierra/z1-3_sierra.dmm
  maps/sierra/z4_admin.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/_maps/liberia/maps/liberia.dmm
  mods/_maps/sentinel/maps/sentinel-2.dmm
Labels: :world_map: Карты

Revert "[MIRROR] Exoplanet Gen tweaks"
  code/__defines/misc.dm
  code/modules/ZAS/Fire.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/exoplanets/exoplanet_atmosphere.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/xgm/xgm_gas_mixture.dm
Labels: none

[MIRROR] Self destruct tile fixes
  code/game/machinery/nuclear_bomb.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты

[MIRROR] Made spawning chemicals easier
  code/modules/reagents/dispenser/cartridge_spawn.dm
Labels: none

[MIRROR] Make station wires test aware of breaker boxes
  code/unit_tests/map_tests.dm
Labels: none

[MIRROR] Sort and label options in `run-unit-tests`
  code/unit_tests/unit_test.dm
Labels: none

Fix self-desctruct tiles on sierra
  maps/sierra/z1-3_sierra.dmm
Labels: :world_map: Карты

[MIRROR] restrict robot access to their relevant departments
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_emergency.dm
  code/modules/mob/living/silicon/robot/modules/_module.dm
  code/modules/mob/living/silicon/robot/modules/module_illegal.dm
  code/modules/mob/living/silicon/robot/modules/module_maintenance_drone.dm
  code/modules/mob/living/silicon/robot/modules/module_research.dm
  code/modules/mob/living/silicon/robot/modules/module_security.dm
  maps/mapsystem/maps_jobs.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/robot/_robot_access.dm
  maps/torch/robot/module_flying_surveyor.dm
  maps/torch/torch.dm
  maps/torch/torch_areas.dm
Labels: none

Set default synth Sierra access to full
  maps/sierra/job/jobs.dm
Labels: none

[MIRROR] Fixes zombies' destructive capabilities, cleans up NPC behaviour
  code/_onclick/other_mobs.dm
  code/game/machinery/doors/door.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/species/outsider/zombie.dm
Labels: none

[MIRROR] Particles stuff
  code/__defines/_renderer.dm
  code/_helpers/global_lists.dm
  code/_helpers/maths.dm
  code/game/atoms_movable.dm
  code/game/machinery/bluespace_drive.dm
  code/game/objects/effects/particles/particles.dm
  code/modules/power/fusion/core/_core.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_particle_catcher.dm
  code/modules/power/singularity/particle_accelerator/particle.dm
Labels: none

[MIRROR] Attack() refactor fixes
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/weapons/material/coins.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/surgery/surgery.dm
Labels: none

[MIRROR] guns ignoring safety on harm intent is a preference
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/projectiles/gun.dm
Labels: none

[MIRROR] Fixes runtime when removing airlock electronics
  code/game/objects/structures/door_assembly.dm
Labels: none

Conflict resolution
  code/modules/projectiles/gun.dm
Labels: none

[MIRROR] Installing items using a gripper no longer fails sanity checks
  code/_onclick/item_attack.dm
Labels: none

[MIRROR] Tweak/protected roles
  code/controllers/configuration.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/station/changeling.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/antagonist/station/traitor.dm
  maps/torch/torch_antagonism.dm
Labels: none

[MIRROR] even more sprite fixes
  code/game/machinery/cryopod.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/detectivework/microscope/dnascanner.dm
  code/modules/paperwork/papershredder.dm
  code/modules/persistence/noticeboards.dm
  icons/mob/light_overlays.dmi
  icons/obj/light_overlays.dmi
  icons/obj/machines/medical/bodyscanner.dmi
  icons/obj/machines/robot_charger.dmi
  maps/away/mining/mining-signal.dmm
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dmm
Labels: :world_map: Карты, :mountain: Спрайты

[MIRROR] Rewrites unarmed attacks on fellow humans
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/RPD.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/simple_animal/defense.dm
  code/modules/mob/mob_helpers.dm
  icons/obj/cigarettes.dmi
Labels: :mountain: Спрайты

[MIRROR] allow examining of items people are wearing
  code/game/objects/items.dm
  code/modules/clothing/_clothing.dm
Labels: none

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*
