Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*

Блять забыл
  mods/lobbyscreen/html/lobby.html
Labels: none

Name length fix
  mods/lobbyscreen/html/lobby.html
Labels: none

Fix abandoned creates unit test error
  code/modules/mining/abandonedcrates.dm
Labels: none

Fix broken poster icon_states
  mods/_master_files/code/game/objects/effects/decals/contraband.dm
Labels: none

[MIRROR] more sprite fixes
  code/modules/detectivework/microscope/microscope.dm
  code/modules/power/sensors/sensor_monitoring.dm
  icons/obj/beekeeping.dmi
  icons/obj/closets/coffin.dmi
  icons/obj/closets/coffin_wood.dmi
  icons/obj/structures/structures.dmi
Labels: :mountain: Спрайты

[MIRROR] Removes lock from the hydro closet
  code/game/objects/structures/crates_lockers/closets/_closet_appearance_definitions.dm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dmm
  maps/torch/structures/closets/services.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты

[MIRROR] Hypospray tweaks
  code/modules/clothing/under/accessories/storage.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: none

Remove silly comment
  code/modules/mining/abandonedcrates.dm
Labels: none

rm
  code/modules/mob/living/silicon/robot/login.dm
Labels: none

rm2
  code/modules/mob/login.dm
Labels: none

ed1
  code/modules/mob/mob_helpers.dm
Labels: none

add1
  code/_onclick/click.dm
Labels: none

ed2
  code/game/verbs/ooc.dm
Labels: none

add2
  code/game/verbs/ooc.dm
Labels: none

No old macro
  interface/skin.dmf
Labels: none

rm3
  code/modules/admin/callproc/callproc.dm
Labels: none

add3
  code/modules/client/client_procs.dm
Labels: none

add4
  code/__defines/subsystems.dm
Labels: none

add5
  code/__defines/subsystem-priority.dm
Labels: none

Add ssinput as mod
  mods/global_modpacks.dm
  mods/ssinput/README.md
  mods/ssinput/_ssinput.dm
  mods/ssinput/_ssinput.dme
  mods/ssinput/code/README.md
  mods/ssinput/code/_defines.dm
  mods/ssinput/code/_undefines.dm
  mods/ssinput/code/general/bindings_atom.dm
  mods/ssinput/code/general/bindings_client.dm
  mods/ssinput/code/general/bindings_setup.dm
  mods/ssinput/code/general/client.dm
  mods/ssinput/code/general/preference_setup.dm
  mods/ssinput/code/general/preferences.dm
  mods/ssinput/code/general/subsystem.dm
  mods/ssinput/code/global_lists.dm
  mods/ssinput/code/global_maps.dm
  mods/ssinput/code/keybindings/_defines.dm
  mods/ssinput/code/keybindings/_keybinding.dm
  mods/ssinput/code/keybindings/_undefines.dm
  mods/ssinput/code/keybindings/admin.dm
  mods/ssinput/code/keybindings/carbon.dm
  mods/ssinput/code/keybindings/client.dm
  mods/ssinput/code/keybindings/communication.dm
  mods/ssinput/code/keybindings/human.dm
  mods/ssinput/code/keybindings/living.dm
  mods/ssinput/code/keybindings/mob.dm
  mods/ssinput/code/keybindings/movement.dm
  mods/ssinput/code/keybindings/robot.dm
Labels: none

Missed part
  mods/ssinput/code/general/client.dm
Labels: none

Fix
  mods/ssinput/code/general/bindings_client.dm
Labels: none

Update README.md
  mods/ssinput/README.md
Labels: none

Link client.dm to skin.dmf
  mods/ssinput/code/general/client.dm
Labels: none

Link skin.dmf to client.dm
  interface/skin.dmf
Labels: none

ed3
  code/modules/mob/mob_defines.dm
  mods/ssinput/README.md
Labels: none

White reset
  interface/skin.dmf
Labels: none

Long glide 2
  mods/ssinput/code/general/bindings_atom.dm
Labels: none

ed4
  code/modules/mob/observer/ghost/ghost.dm
  mods/ssinput/README.md
Labels: none

wat
  mods/ssinput/code/general/bindings_atom.dm
Labels: none

[MIRROR] RCD rarity
  code/game/machinery/vending/engineering.dm
  code/game/objects/items/weapons/RCD.dm
  code/modules/fabrication/designs/general/designs_engineering.dm
  code/modules/research/designs/designs_tool.dm
Labels: none

Change lobby videos from rectangles to squares
  mods/lobbyscreen/html/assets/buttons.mp4
Labels: none

[MIRROR] Fancy latejoin menu
  code/modules/mob/new_player/new_player.dm
Labels: none

[MIRROR] Additional EVA equipment for miners and xenoarchs
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты

[MIRROR] Mapping icons fixes
  code/game/machinery/alarm.dm
  code/game/machinery/holosign.dm
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/structures/morgue.dm
  code/modules/materials/material_sheets.dm
  icons/obj/structures/contraband.dmi
Labels: :mountain: Спрайты

[MIRROR] Changed a bunch of isTypes to isTools
  code/game/machinery/embedded_controller/airlock_docking_controller.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/items/buttons.dm
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/structures/pit.dm
  code/game/objects/structures/signs.dm
  code/modules/atmospherics/components/valve.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/power/lighting.dm
  code/modules/power/singularity/generator.dm
Labels: none

Squash sierra map files
  maps/sierra/sierra.dm
  maps/sierra/z1-3_sierra.dmm
  maps/sierra/z1_sierra_deck3.dmm
  maps/sierra/z2_sierra_deck2.dmm
  maps/sierra/z3_sierra_deck1.dmm
Labels: :world_map: Карты

Resolve conflicts
  code/_onclick/item_attack.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/defense.dm
Labels: none

[TMP] Runechat (#912)
  baystation12.dme
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/lists.dm
  code/datums/chat_message.dm
  code/game/atoms.dm
  code/modules/client/client_defines.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/emotes/emote_define.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/mob.dm
  icons/chaticons.dmi
  interface/skin.dmf
Labels: :mountain: Спрайты

Make interface look nice
  code/modules/client/darkmode.dm
  code/modules/goonchat/browserOutput.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/logout.dm
  interface/skin.dmf
  mods/ssinput/README.md
  mods/ssinput/code/general/client.dm
  packs/sierra-tweaks/client/verbs.dm
  packs/sierra-tweaks/html/credits.css
Labels: none
