Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*

finaly fix recursion error
  mods/_rus/code/sierra/area/_z5_sierra_bridge.dm
Labels: none

[MIRROR] Make cryopods immune to power loss
  code/game/machinery/cryopod.dm
Labels: none

[MIRROR] Makes storage take priority on use_after
  code/_onclick/item_attack.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/scanners/_scanner.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/weldbackpack.dm
  code/game/objects/objs.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/research/message_server.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий

Translate some atmo machines
  mods/_rus/_rus.dme
  mods/_rus/code/machinery/machines_atmo.dm
  mods/_rus/code/machinery/stock_parts.dm
Labels: none

fix correct work lifts
  mods/_rus/code/sierra/area/_shuttles.dm
Labels: none

Пофиксил зоны
  maps/sierra/areas/shuttles.dm
  maps/sierra/areas/z1_sierra_deck4.dm
  maps/sierra/areas/z2_sierra_deck3.dm
  maps/sierra/areas/z3_sierra_deck2.dm
  maps/sierra/areas/z4_sierra_deck1.dm
  maps/sierra/areas/z5_sierra_bridge.dm
Labels: none

Фикс мода на джубокс и немного редактирование некоторых элементов карты.
  mods/jukebox_tapes/code/jukebox.dm
Labels: none

Translate all doors and some machines
  mods/_rus/code/machinery/doors.dm
  mods/_rus/code/machinery/machinery.dm
  mods/_rus/code/machinery/machines_atmo.dm
  mods/_rus/code/obj/weapon/circuitboard.dm
Labels: none

Translate some doors and machines
  mods/_rus/_rus.dme
  mods/_rus/code/machinery/doors.dm
  mods/_rus/code/machinery/machinery.dm
Labels: none

.!. (=_=) .!.
  mods/jukebox_tapes/code/jukebox.dm
Labels: none

Translate machinery and some kitchen staff
  mods/_rus/_rus.dme
  mods/_rus/code/machinery/machinery.dm
  mods/_rus/code/obj/kitchen.dm
Labels: none

Translate vending, some pipes, machines and another staff
  mods/_rus/_rus.dme
  mods/_rus/code/machinery/doors.dm
  mods/_rus/code/machinery/machinery.dm
  mods/_rus/code/machinery/vending.dm
  mods/_rus/code/obj/pipe.dm
Labels: none

Translate and fix
  mods/_rus/code/machinery/machinery.dm
  mods/_rus/code/machinery/machines_atmo.dm
  mods/_rus/code/machinery/vending.dm
  mods/_rus/code/obj/storage/storage_med.dm
  mods/_rus/code/obj/weapon/circuitboard.dm
Labels: none

spawnpoint fix
  mods/_maps/farfleet/code/farfleet_crew.dm
Labels: none

Make saferooms area datum better
  maps/sierra/areas/z3_sierra_deck2.dm
  maps/sierra/areas/z4_sierra_deck1.dm
  maps/sierra/areas/z5_sierra_bridge.dm
  maps/sierra/sierra_areas.dm
Labels: none

Add saferooms ability to bolt and unbolt
  maps/sierra/sierra_procs.dm
Labels: none

[MIRROR] Fix parrot drop message visible to observers
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
Labels: none

Remove unecessary logging
  mods/don_loadout/code/donations/ooc_color.dm
Labels: none

Fix UTF-8 browser charset
  code/datums/browser.dm
Labels: none

Fix airlock red circle triangle exclaimnation mark icon
  code/game/machinery/doors/door.dm
Labels: none

[MIRROR] Fix airlock red circle triangle exclaimnation mark icon
  code/game/machinery/doors/door.dm
Labels: none

Revert "[TMP] Runechat (#912)"
  baystation12.dme
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/lists.dm
  code/datums/chat_message.dm
  code/game/atoms.dm
  code/modules/client/client_defines.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/emotes/emote_define.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/mob.dm
  icons/chaticons.dmi
  interface/skin.dmf
Labels: :mountain: Спрайты

Revert "[TMP] Runechat (#912)"
  baystation12.dme
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/lists.dm
  code/datums/chat_message.dm
  code/game/atoms.dm
  code/modules/client/client_defines.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/emotes/emote_define.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/mob.dm
  icons/chaticons.dmi
  interface/skin.dmf
Labels: :mountain: Спрайты

MAP: Assorted fixes
  maps/_maps.dm
  maps/sierra/_references/map-refs.dmm
  maps/sierra/sierra_shuttles.dm
  mods/_maps/farfleet/code/farfleet_crew.dm
  mods/_maps/liberia/maps/liberia.dmm
  mods/_maps/sentinel/code/sentinel_crew.dm
  mods/_maps/sentinel/maps/sentinel-1.dmm
  mods/_maps/sentinel/maps/sentinel-2.dmm
Labels: :world_map: Карты

Fix lobby.dm runtime error
  mods/lobbyscreen/code/lobby.dm
Labels: none

Translate some machines and items
  mods/_rus/_rus.dme
  mods/_rus/code/machinery/machinery.dm
  mods/_rus/code/machinery/vending.dm
  mods/_rus/code/obj/another.dm
  mods/_rus/code/structures.dm
Labels: none

Fix subsystem null client error
  mods/ex666_ecosystem/code/experience/subsystem.dm
Labels: none

[MIRROR] Disallow tranders to sell unique memorials
  maps/torch/structures/signs.dm
Labels: none

fix translate messenger backpack
  mods/_rus/code/obj/storage/storage_backpack.dm
Labels: none

fix names medkit
  mods/_rus/code/obj/storage/storage_med.dm
Labels: none

fix name bandage
  mods/_rus/code/obj/stack/another.dm
Labels: none

[MIRROR] Unathi clothing cleanup
  code/modules/clothing/under/accessories/frontier.dm
  code/modules/clothing/under/frontier.dm
  icons/mob/species/unathi/onmob_accessories_frontier_unathi.dmi
  icons/mob/species/unathi/onmob_feet_unathi.dmi
  icons/mob/species/unathi/onmob_head_unathi.dmi
  icons/mob/species/unathi/onmob_mask_unathi.dmi
  icons/mob/species/unathi/onmob_under_frontier_unathi.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/icons/mob/unathi/onmob_accessories_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_head_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_suit_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_under_solgov_unathi.dmi
  packs/factions/scga/badges.dm
  packs/factions/scga/clothing.dm
  packs/factions/scga/ranks.dm
  packs/factions/scga/species/badges_unathi.dmi
  packs/factions/scga/species/clothing_unathi.dmi
  packs/factions/scga/species/ranks_unathi.dmi
Labels: :mountain: Спрайты

[MIRROR] Engineering augment fixing drop them
  code/modules/augment/active/tool/engineering.dm
Labels: none

[MIRROR] fix humanifier artifact not transferring languages
  code/modules/xenoarcheaology/effects/human_ifier.dm
Labels: none

[MIRROR] add gunpowder
  code/modules/hydroponics/trays/tray.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/presets/chemistry.dm
  code/modules/xenoarcheaology/triggers/chemical.dm
Labels: none

[MIRROR] Adds ability to resist out of gift-wrapped mob
  code/game/objects/buckling.dm
  code/game/objects/items/weapons/gifts.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/wrapping_paper.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/modules/hydroponics/spreading/spreading_response.dm
  code/modules/mob/living/carbon/resist.dm
  code/modules/spells/targeted/projectile/stuncuff.dm
Labels: none

Translate some machines and items
  mods/_rus/code/machinery/machinery.dm
  mods/_rus/code/obj/another.dm
  mods/_rus/code/obj/weapon/circuitboard.dm
Labels: none

Translate some items and atmo machines
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/items.dm
  mods/_rus/code/obj/modules_files/machinery.dm
Labels: none

Translate all augments
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/items_augments.dm
Labels: none

Translate some clothes
  mods/_rus/_rus.dme
  mods/_rus/code/obj/modules_files/clothing/another.dm
  mods/_rus/code/obj/modules_files/clothing/earring.dm
  mods/_rus/code/obj/modules_files/clothing/glasses.dm
  mods/_rus/code/obj/modules_files/clothing/gloves.dm
  mods/_rus/code/obj/modules_files/items.dm
  mods/_rus/code/obj/modules_files/machinery.dm
  mods/_rus/code/obj/modules_files/machinery_atmos.dm
  mods/_rus/code/obj/modules_files/structures.dm
Labels: none
