Repository SierraBay/SierraBay12, changes with the labels that .github/labeler.yml gives for each.
All labels: :open_file_folder: Репозиторий, :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :page_facing_up: Конфиги, :floppy_disk: База данных

multi-tile opacity fix
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
Labels: none

[TMP] Multi-tile opacity fix (#924)
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
Labels: none

Revert "[TMP] Multi-tile opacity fix (#924)"
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
Labels: none

Revert "multi-tile opacity fix" (#925)
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
Labels: none

[MIRROR] Add a charging station to the GUP
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты

[MIRROR] Remove robot door hacking and access when AI wire is cut
  code/game/machinery/alarm.dm
  code/game/machinery/doors/airlock.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий

[MIRROR] Prevents incapacitated mobs from resisting being buckled.
  code/game/objects/buckling.dm
Labels: none

[MIRROR] atom/use_tool & atom/use_on don't force a parent call
  code/_onclick/item_attack.dm
Labels: none

[MIRROR] Badge and macro capitalization fixes
  code/_onclick/item_attack.dm
  code/game/machinery/embedded_controller/airlock_docking_controller.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/items/buttons.dm
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/structures/pit.dm
  code/game/objects/structures/signs.dm
  code/modules/atmospherics/components/valve.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/power/generator.dm
  code/modules/power/lighting.dm
  code/modules/power/singularity/generator.dm
Labels: none

[MIRROR] Fix runtimes
  code/datums/communication/dsay.dm
  code/modules/mob/new_player/new_player.dm
Labels: none

Fix branch check
  mods/don_loadout/code/loadout/loadout.dm
Labels: none

Fix screentip.dm runtime error
  mods/screentips/code/screentip.dm
Labels: none

Add logs downloading
  code/modules/admin/admin_verbs.dm
  packs/sierra-tweaks/client/verbs.dm
Labels: none

Fix getserverlog
  code/modules/admin/admin_verbs.dm
Labels: none

[MIRROR] Aghost fix
  code/modules/admin/admin.dm
  code/modules/admin/verbs/debug.dm
Labels: none

Fix unit tests
  maps/sierra/sierra.dm
  mods/global_modpacks.dm
  packs/sierra-tweaks/client/verbs.dm
Labels: none

asdas
  packs/infinity/items/grown.dm
  packs/sierra-tweaks/objects/items/fruit_jar.dm
Labels: none

[MIRROR] Drag and drop tables
  code/modules/tables/tables.dm
Labels: none

[MIRROR] Allow intent-agnostic table frame interactions
  code/modules/tables/tables.dm
Labels: none

[MIRROR] New cryo cell sprite
  code/game/machinery/cryo.dm
  icons/obj/machines/medical/cryogenics_split.dmi
Labels: :mountain: Спрайты

[MIRROR] Fixes parrot icon on death
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  icons/mob/parrot.dmi
Labels: :mountain: Спрайты

Remove ICGNV Ship
  maps/sierra/sierra.dm
Labels: none

[MIRROR] Fix faxes take and reply
  code/modules/admin/topic.dm
Labels: none

[MIRROR] Fix player panel sends you to nullspace
  code/modules/mob/mob_transformation_simple.dm
Labels: none

[MIRROR] Fix glass shard
  code/game/objects/items/weapons/material/shards.dm
Labels: none

[MIRROR] Replace Join Response Team and Join as Actor verb from IC to Ghost tab
  code/game/antagonist/outsider/actors.dm
  code/game/response_team.dm
Labels: none

[MIRROR] Prevents smearing of blood and oil on the floor on creep intent
  code/game/objects/effects/decals/Cleanable/humans.dm
Labels: none

[MIRROR] makes cigarette cases start empty, cleans up a bunch of smoking-related descriptions/actions
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/items/weapons/storage/fancy/smokable/basic.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/clothing/masks/chewable.dm
  code/modules/clothing/masks/cig_crafting.dm
Labels: none

[MIRROR] Rust output SMES no longer starts fully charged
  maps/torch/torch4_deck2.dmm
  maps/torch/torch_presets.dm
Labels: :world_map: Карты

[MIRROR] Guns no longer ignore safety on harm with good skills
  code/modules/projectiles/gun.dm
Labels: none

[MIRROR] Allows to iron mobs on any surface!
  code/game/objects/structures/ironing_board.dm
Labels: none

[MIRROR] Remove unused fuel pipes from supermatter
  maps/torch/torch4_deck2.dmm
Labels: :world_map: Карты

[MIRROR] remove e-machette from borgs
  code/modules/mob/living/silicon/robot/flying/module_flying_cultivator.dm
  maps/torch/robot/module_flying_surveyor.dm
Labels: none

[MIRROR] Removes locks from fridges
  baystation12.dme
  code/game/objects/structures/crates_lockers/closets/fridge.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/reagents/reagent_containers/food/snacks/bugmeat.dm
  icons/obj/closets/fridge.dmi
  maps/antag_spawn/ert/ert_base.dmm
  maps/antag_spawn/heist/heist_base.dmm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/away/abandoned_hotel/abandoned_hotel-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat_access.dm
  maps/away/casino/casino.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/lost_supply_base/lost_supply_base.dmm
  maps/away/magshield/magshield.dmm
  maps/away/mininghome/mininghome.dmm
  maps/away/miningstation/miningstation.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/scavver/scavver_gantry.dm
  maps/away/slavers/slavers_base.dmm
  maps/away/yacht/yacht.dmm
  maps/example/example-2.dmm
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/z1_admin.dmm
  packs/deepmaint/deepmaint_rooms/core/archive.dmm
  packs/deepmaint/deepmaint_rooms/core/diner.dmm
  packs/deepmaint/deepmaint_rooms/core/medbay.dmm
Labels: :world_map: Карты, :mountain: Спрайты

[MIRROR] Remove BD probability for denying interaction + increase threshold for denying interaction
  code/game/machinery/_machines_base/machinery.dm
Labels: none

Revert: Guns no longer ignore safety...
  code/modules/projectiles/gun.dm
Labels: none

[MIRROR] Fix spacedrift `has_gravity` check
  code/game/area/areas.dm
Labels: none

Fix README.md `уязвисости` typo
  README.md
Labels: :open_file_folder: Репозиторий

[MIRROR] Remove unwanted projectile knockback variable
  code/modules/projectiles/projectile.dm
Labels: none

Improve closet appearance
  baystation12.dme
  mods/_master_files/code/game/objects/structures/crates_lockers/closets/_closet_appearance_definitions.dm
  mods/_master_files/icons/obj/closets/bases/closet.dmi
  mods/_master_files/icons/obj/closets/bases/wall.dmi
Labels: :mountain: Спрайты

.github/labeler.yml:

':open_file_folder: Репозиторий':
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

':world_map: Карты':
- '**/*.dmm'

':mountain: Спрайты':
- '**/*.dmi'

':sound: Звуки':
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

':page_facing_up: Конфиги':
- config/example/**/*

':floppy_disk: База данных':
- sql/**/*
