Repository SierraBay/SierraBay12, pull requests merged in 2023-03, with the labels that each got.

#83 Удаление Лоялистов из ротации
  packs/sierra-tweaks/_pack.dm
  packs/sierra-tweaks/gamemodes/revolutionary.dm
Labels: :hourglass: Ожидание мёржа, :scroll: CL валиден

#93 Various QoL content
  packs/sierra-tweaks/_pack.dm
  packs/sierra-tweaks/admintools/fun_secrets_lights.dm
Labels: :scroll: CL валиден

#94 Feat: Glup Down and Face Washing
  packs/infinity/_pack.dm
  packs/infinity/interactions/face_wash.dm
  packs/infinity/interactions/glup_down.dm
Labels: :hourglass: Ожидание мёржа, :scroll: CL валиден

#73 Feat: Sensors rework
  baystation12.dme
  code/__defines/misc.dm
  code/modules/overmap/_defines.dm
  code/modules/overmap/contacts/_contacts.dm
  code/modules/overmap/contacts/contact_sensors.dm
  code/modules/overmap/contacts/tracker.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/computers/ship.dm
  code/modules/overmap/ships/ship.dm
  icons/obj/ship_tracker.dmi
  icons/turf/space.dmi
  maps/antag_spawn/vox/voxraider.dm
  maps/away/derelict/derelict.dm
  maps/away/lar_maria/lar_maria.dm
  maps/away/lost_supply_base/lost_supply_base.dm
  maps/away/magshield/magshield.dm
  maps/away/meatstation/meatstation.dm
  maps/away/mining/mining.dm
  maps/away/miningstation/miningstation.dm
  maps/away/mobius_rift/mobius_rift.dm
  maps/away/scavver/scavver_gantry.dm
  maps/away/slavers/slavers_base.dm
  maps/away/smugglers/smugglers.dm
  maps/event/empty/empty.dm
  maps/event/iccgn_ship/icgnv_hound.dm
  maps/event/placeholders/placeholders.dm
  maps/event/sfv_arbiter/sfv_arbiter.dm
  maps/sierra/sierra_overmap.dm
  nano/templates/shipsensors.tmpl
  sound/machines/sensors/contact_lost.ogg
  sound/machines/sensors/contactgeneric.ogg
  sound/machines/sensors/dradis.ogg
  test/check-paths.sh
Labels: :mountain: Спрайты, :open_file_folder: Репозиторий, :hourglass: Ожидание мёржа, :test_tube: Требуются тесты, :sound: Звуки, :scroll: CL валиден

#100 Tweak: Disposal popup
  packs/sierra-tweaks/_pack.dm
  packs/sierra-tweaks/objects/machines/disposal.dm
Labels: :scroll: CL валиден

#98 Fix: Changelog checker
  tools/changelog/sierra_check_changelog.py
Labels: :open_file_folder: Репозиторий, :mag: Требуется ревью, :scroll: CL не требуется

#101 Feat: QoL с SS220
  code/game/machinery/floor_light.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/say.dm
  icons/misc/buildmode.dmi
  packs/sierra-tweaks/_helpers/unsorted.dm
  packs/sierra-tweaks/_pack.dm
  packs/sierra-tweaks/admintools/bmode_copypaste.dm
  packs/sierra-tweaks/icons/machinery/floor_light.dmi
  packs/sierra-tweaks/mob/say.dm
  packs/sierra-tweaks/mob/stat.dm
  packs/sierra-tweaks/objects/machines/floor_light.dm
Labels: :mountain: Спрайты

#32 Tweak: Onyx Loadout
  baystation12.dme
  code/_helpers/icons.dm
  code/_helpers/sql.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/client/preference_setup/_defines.dm
  code/modules/client/preference_setup/general/05_preview.dm
  code/modules/client/preference_setup/global/05_settings.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/client/preferences_toggle.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/modular_computers/file_system/reports/crew_record.dm
  html/browser/common.css
  maps/sierra/loadout/loadout.dm
  maps/sierra/sierra.dm
  mods/don_loadout/_don_loadout.dm
  mods/don_loadout/_don_loadout.dme
  mods/don_loadout/donations/donations.dm
  mods/don_loadout/donations/donations_defines.dm
  mods/don_loadout/donations/donator.dm
  mods/don_loadout/donations/ooc_color.dm
  mods/don_loadout/loadout/categories/categories.dm
  mods/don_loadout/loadout/categories/masks.dm
  mods/don_loadout/loadout/categories/tiers.dm
  mods/don_loadout/loadout/gear.dm
  mods/don_loadout/loadout/gear_tweaks.dm
  mods/don_loadout/loadout/helpers.dm
  mods/don_loadout/loadout/loadout.dm
  mods/don_loadout/loadout/preferences.dm
  mods/don_loadout/tweaked/general/01_basic.dm
  mods/don_loadout/tweaked/general/02_body.dm
  mods/don_loadout/tweaked/general/03_equipment.dm
  mods/don_loadout/tweaked/general/04_flavor.dm
  mods/don_loadout/tweaked/general/05_preview.dm
  mods/don_loadout/tweaked/global.dm
  sql/migrate/V010__Donations.sql
Labels: :test_tube: Требуются тесты, :scroll: CL валиден

#111 New build icons
  icons/ss13_32.png
  icons/ss13_64.png
Labels: :hourglass: Ожидание автора, :scroll: CL валиден

#115 Feat: Правка текстов кодов угроз
  maps/sierra/sierra_security_state.dm
Labels: :scroll: CL валиден

#191 Tweak: Улучшение внешнего вида интерфейса
  code/controllers/subsystems/input.dm
  code/modules/client/client_procs.dm
  code/modules/client/darkmode.dm
  code/modules/keybindings/setup.dm
  interface/skin.dmf
  maps/mapsystem/maps.dm
  packs/sierra-tweaks/client/verbs.dm
Labels: :scroll: CL валиден

#103 Либерия
  maps/sierra/job/jobs.dm
  maps/sierra/loadout/_defines.dm
  maps/sierra/sierra.dm
  mods/maps/liberia/_map_liberia.dme
  mods/maps/liberia/liberia.dm
  mods/maps/liberia/liberia.dmm
  mods/maps/liberia/liberia_areas.dm
  mods/maps/liberia/liberia_jobs.dm
  mods/maps/liberia/liberia_navpoints.dm
  mods/maps/liberia/liberia_shuttles.dm
  packs/infinity/_pack.dm
  packs/infinity/structures/mag_tables.dm
  packs/sierra-tweaks/_pack.dm
  packs/sierra-tweaks/objects/items/cash.dm
Labels: :world_map: Карты, :scroll: CL валиден, :compass: Авей-карты, :infinity: Ancient Evil

#192 Tweak: Модификации указания в точку
  code/_onclick/click.dm
  code/modules/mob/mob.dm
Labels: :scroll: CL валиден

#193 Feat: Screentips
  maps/sierra/sierra.dm
  mods/screentips/_screentips.dm
  mods/screentips/_screentips.dme
  mods/screentips/handler.dm
  mods/screentips/hud.dm
  mods/screentips/preference.dm
  mods/screentips/screentip.dm
Labels: :scroll: CL валиден

#188 CuddleAndFixes
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra_unit_testing.dm
  maps/sierra/structures/closets/services.dm
  mods/machinery/scrap_compactor/crusher_piston.dm
  mods/machinery/scrap_compactor/scrap_pileripper.dm
  mods/sofa/_sofa.dme
  packs/infinity/items/music_player/music_writer.dm
  packs/infinity/machinery/survival_pod.dm
  packs/sierra-tweaks/_pack.dm
  packs/sierra-tweaks/objects/machines/machinery.dm
  packs/sierra-tweaks/objects/structures/utility_closets.dm
Labels: :world_map: Карты, :scroll: CL валиден

#113 Cuddle Bug Fixes
  code/modules/mob/grab/grab_object.dm
  maps/sierra/sierra.dm
  mods/mortar/_mortar.dme
  packs/sierra-tweaks/_pack.dm
  packs/sierra-tweaks/objects/buckling.dm
Labels: :scroll: CL валиден

#97 Калик)): Кальянная сага
  packs/infinity/_pack.dm
  packs/infinity/icons/obj/items.dmi
  packs/infinity/items/hookah.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#199 Tweak: Конфиги VSCode
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Labels: :open_file_folder: Репозиторий, :scroll: CL не требуется

#201 Refac: Modpacks brainfuck
  baystation12.dme
  code/modules/mob/living/simple_animal/hostile/bear.dm
  maps/sierra/sierra.dm
  mods/README.md
  mods/_events/EVENT_MODPACKS_HERE.md
  mods/_events/mortar/_mortar.dm
  mods/_events/mortar/_mortar.dme
  mods/_events/mortar/icons/mortar.dmi
  mods/_events/mortar/mortar.dm
  mods/_events/mortar/sounds/mortar_falling.ogg
  mods/_events/mortar/sounds/mortar_fire.ogg
  mods/_events/mortar/sounds/rpgreload.ogg
  mods/don_loadout/_don_loadout.dme
  mods/eris_announcer/_eris_announcer.dm
  mods/eris_announcer/_eris_announcer.dme
  mods/eris_announcer/announce.dm
  mods/fancy_sofas/_fancy_sofas.dm
  mods/fancy_sofas/_fancy_sofas.dme
  mods/fancy_sofas/furniture.dmi
  mods/fancy_sofas/roundedchair.dm
  mods/fancy_sofas/sofa.dm
  mods/global_modpacks.dm
  mods/leroy_beasts/_leroy_beasts.dm
  mods/leroy_beasts/_leroy_beasts.dme
  mods/leroy_beasts/beasts.dm
  mods/leroy_beasts/icons/leroy_beasts_32x32.dmi
  mods/leroy_beasts/icons/leroy_beasts_32x64.dmi
  mods/leroy_beasts_pack/_leroy_beasts.dm
  mods/leroy_beasts_pack/_leroy_beasts.dme
  mods/machinery/atmos_ret_field/_atm_ret_field.dm
  mods/machinery/atmos_ret_field/_atm_ret_field.dme
  mods/machinery/atmos_ret_field/atmospheric_retention_field.dm
  mods/machinery/scrap_compactor/_scrap_compactor.dm
  mods/machinery/scrap_compactor/_scrap_compactor.dme
  mods/maps/liberia/_map_liberia.dm
  mods/maps/liberia/_map_liberia.dme
  mods/maps/liberia/liberia.dm
  mods/mortar/_mortar.dme
  mods/quantum_mechanic/_quantum_mechanic.dm
  mods/quantum_mechanic/_quantum_mechanic.dme
  mods/quantum_mechanic/quantum_mechanic.dm
  mods/sofa/_sofa.dm
  mods/sofa/_sofa.dme
  mods/species/resomi/_resomi.dme
  mods/species/tajara/_tajara.dme
Labels: :mountain: Спрайты, :sound: Звуки, :scroll: CL валиден

#202 Fixes
  code/game/machinery/alarm.dm
  code/modules/client/ui_style.dm
  packs/infinity/icons/mob/screen/midnight-inf.dmi
  packs/sierra-tweaks/_pack.dm
  packs/sierra-tweaks/mob/emotes.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#205 FEAT: Composite sound
  baystation12.dme
  code/datums/composite_sounds/_composite_sound.dm
  code/game/objects/structures/shower.dm
  code/game/objects/structures/watercloset.dm
  sound/effects/shower/shower_end.ogg
  sound/effects/shower/shower_mid1.ogg
  sound/effects/shower/shower_mid2.ogg
  sound/effects/shower/shower_mid3.ogg
  sound/effects/shower/shower_start.ogg
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :sound: Звуки, :scroll: CL валиден

#204 Bugfix: Alarm Monitor
  code/game/machinery/computer/station_alert.dm
  code/modules/alarm/alarm.dm
Labels: :scroll: CL валиден
