Repository SierraBay/SierraBay12, pull requests merged in 2023-09, with the labels that each got.

#909 [MIRROR] RCD rarity
  code/game/machinery/vending/engineering.dm
  code/game/objects/items/weapons/RCD.dm
  code/modules/fabrication/designs/general/designs_engineering.dm
  code/modules/research/designs/designs_tool.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#913 [MIRROR] Fancy latejoin menu
  code/modules/mob/new_player/new_player.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#915 [MIRROR] Mapping icons fixes
  code/game/machinery/alarm.dm
  code/game/machinery/holosign.dm
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/structures/morgue.dm
  code/modules/materials/material_sheets.dm
  icons/obj/structures/contraband.dmi
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#917 [MIRROR] Changed a bunch of isTypes to isTools
  code/game/machinery/embedded_controller/airlock_docking_controller.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/items/buttons.dm
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/structures/pit.dm
  code/game/objects/structures/signs.dm
  code/modules/atmospherics/components/valve.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/power/lighting.dm
  code/modules/power/singularity/generator.dm
Labels: :mirror: MIR ЯОЯ

#914 [MIRROR] Additional EVA equipment for miners and xenoarchs
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#918 Squash sierra map files
  maps/sierra/sierra.dm
  maps/sierra/z1-3_sierra.dmm
  maps/sierra/z1_sierra_deck3.dmm
  maps/sierra/z2_sierra_deck2.dmm
  maps/sierra/z3_sierra_deck1.dmm
Labels: :world_map: Карты

#919 Make interface look nice
  code/modules/client/darkmode.dm
  code/modules/goonchat/browserOutput.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/logout.dm
  interface/skin.dmf
  mods/ssinput/README.md
  mods/ssinput/code/general/client.dm
  packs/sierra-tweaks/client/verbs.dm
  packs/sierra-tweaks/html/credits.css
Labels: :scroll: CL валиден

#922 Add Eris Announcer mod
  code/game/objects/items/devices/radio/radio.dm
  code/procs/announce.dm
  mods/eris_announcer/README.md
  mods/eris_announcer/_eris_announcer.dm
  mods/eris_announcer/_eris_announcer.dme
  mods/eris_announcer/code/announcement.dm
  mods/global_modpacks.dm
Labels: :scroll: CL валиден

#942 [MIRROR] Add a charging station to the GUP
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#944 [MIRROR] Prevents incapacitated mobs from resisting being buckled.
  code/game/objects/buckling.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#943 [MIRROR] Remove robot door hacking and access when AI wire is cut
  code/game/machinery/alarm.dm
  code/game/machinery/doors/airlock.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден, :mirror: MIR ЯОЯ

#946 [MIRROR] Badge and macro capitalization fixes
  code/_onclick/item_attack.dm
  code/game/machinery/embedded_controller/airlock_docking_controller.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/items/buttons.dm
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/structures/pit.dm
  code/game/objects/structures/signs.dm
  code/modules/atmospherics/components/valve.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/power/generator.dm
  code/modules/power/lighting.dm
  code/modules/power/singularity/generator.dm
Labels: :mirror: MIR ЯОЯ

#947 [MIRROR] Fix runtimes
  code/datums/communication/dsay.dm
  code/modules/mob/new_player/new_player.dm
Labels: :mirror: MIR ЯОЯ

#949 Add logs downloading
  code/modules/admin/admin_verbs.dm
  packs/sierra-tweaks/client/verbs.dm
Labels: :scroll: CL валиден

#953 [MIRROR] Aghost fix
  code/modules/admin/admin.dm
  code/modules/admin/verbs/debug.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#976 [MIRROR] Fixes parrot icon on death
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  icons/mob/parrot.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#974 [MIRROR] Drag and drop tables
  code/modules/tables/tables.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#973 [MIRROR] Allow intent-agnostic table frame interactions
  code/modules/tables/tables.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#985 [MIRROR] Fix faxes take and reply
  code/modules/admin/topic.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#986 [MIRROR] Fix player panel sends you to nullspace
  code/modules/mob/mob_transformation_simple.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#988 [MIRROR] Fix glass shard
  code/game/objects/items/weapons/material/shards.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#989 [MIRROR] Replace Join Response Team and Join as Actor verb from IC to Ghost tab
  code/game/antagonist/outsider/actors.dm
  code/game/response_team.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#990 [MIRROR] Prevents smearing of blood and oil on the floor on creep intent
  code/game/objects/effects/decals/Cleanable/humans.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#991 [MIRROR] makes cigarette cases start empty, cleans up a bunch of smoking-related descriptions/actions
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/items/weapons/storage/fancy/smokable/basic.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/clothing/masks/chewable.dm
  code/modules/clothing/masks/cig_crafting.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#992 [MIRROR] Rust output SMES no longer starts fully charged
  maps/torch/torch4_deck2.dmm
  maps/torch/torch_presets.dm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#998 [MIRROR] Remove BD probability for denying interaction + increase threshold for denying interaction
  code/game/machinery/_machines_base/machinery.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#996 [MIRROR] remove e-machette from borgs
  code/modules/mob/living/silicon/robot/flying/module_flying_cultivator.dm
  maps/torch/robot/module_flying_surveyor.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#995 [MIRROR] Remove unused fuel pipes from supermatter
  maps/torch/torch4_deck2.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#994 [MIRROR] Allows to iron mobs on any surface!
  code/game/objects/structures/ironing_board.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#993 [MIRROR] Guns no longer ignore safety on harm with good skills
  code/modules/projectiles/gun.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#999 [MIRROR] Fix spacedrift `has_gravity` check
  code/game/area/areas.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1001 [MIRROR] Remove unwanted projectile knockback variable
  code/modules/projectiles/projectile.dm
Labels: :mirror: MIR ЯОЯ

#1003 [MIRROR] fix some morpheus head icons
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_airborne.dmi
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_blitz.dmi
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_prime.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1018 [MIRROR] attack/use_weapon consistancy fixes
  code/__defines/mobs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1004 [MIRROR] fix beehive assembly icon
  code/modules/hydroponics/beekeeping/beehive.dm
  icons/obj/beekeeping.dmi
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#1005 [MIRROR] re-add augment implanter sprite
  code/modules/augment/implanter.dm
  icons/obj/tools/augment_implanter.dmi
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#1008 [MIRROR] fixed plant genes not being randomized
  code/controllers/subsystems/plants.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1007 [MIRROR] Anchored navlights
  code/modules/power/nav_light.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1006 [MIRROR] Fix augment surgery messages
  code/modules/surgery/robotics.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1013 [MIRROR] Fixes the Petrov R&D server access
  code/game/machinery/telecomms/logbrowser.dm
  code/game/machinery/telecomms/telemonitor.dm
  code/modules/research/rdconsole.dm
  code/modules/research/server.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1016 [MIRROR] Remove language when removing changeling
  code/game/antagonist/station/changeling.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1015 [MIRROR] Fix incorrect waddle targeting
  code/modules/mob/animations.dm
Labels: :mirror: MIR ЯОЯ

#1014 [MIRROR] fix bluespace turfs not reverting entirely
  code/modules/events/bsd_instability.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1012 [MIRROR] Allows machines inside an obj to actually be able to get power
  code/game/machinery/_machines_base/machinery_power.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1017 [MIRROR] Nabber Kill Grab Fixes
  code/modules/mob/grab/nab/grab_nab.dm
  code/modules/mob/grab/nab/nab_kill.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1019 [MIRROR] Fix grabs dropping when swapping hands
  code/modules/mob/grab/grab_object.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1010 [MIRROR] fixed masks blocking speech problems
  code/modules/mob/living/carbon/human/say.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1009 [MIRROR] fix chameleon items not being usable
  code/datums/extensions/chameleon.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1002 Improve closet appearance
  baystation12.dme
  mods/_master_files/code/game/objects/structures/crates_lockers/closets/_closet_appearance_definitions.dm
  mods/_master_files/icons/obj/closets/bases/closet.dmi
  mods/_master_files/icons/obj/closets/bases/wall.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#1000 Fix README.md `уязвисости` typo
  README.md
Labels: :open_file_folder: Репозиторий

#1020 [MIRROR] fix rig mounted rcds not working
  code/game/objects/items/weapons/RCD.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1023 [MIRROR] Made spawning chemicals easier
  code/modules/reagents/dispenser/cartridge_spawn.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1025 [MIRROR] Sort and label options in `run-unit-tests`
  code/unit_tests/unit_test.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1024 [MIRROR] Make station wires test aware of breaker boxes
  code/unit_tests/map_tests.dm
Labels: :mirror: MIR ЯОЯ

#1041 [MIRROR] Fixes zombies' destructive capabilities, cleans up NPC behaviour
  code/_onclick/other_mobs.dm
  code/game/machinery/doors/door.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/species/outsider/zombie.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1044 [MIRROR] Attack() refactor fixes
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/weapons/material/coins.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/surgery/surgery.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1046 [MIRROR] Fixes runtime when removing airlock electronics
  code/game/objects/structures/door_assembly.dm
Labels: :mirror: MIR ЯОЯ

#1045 [MIRROR] guns ignoring safety on harm intent is a preference
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/projectiles/gun.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1047 [MIRROR] Installing items using a gripper no longer fails sanity checks
  code/_onclick/item_attack.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1052 [MIRROR] Fixes #34153
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/modules/materials/definitions/materials_organic.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1051 [MIRROR] allow examining of items people are wearing
  code/game/objects/items.dm
  code/modules/clothing/_clothing.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1050 [MIRROR] Rewrites unarmed attacks on fellow humans
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/RPD.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/simple_animal/defense.dm
  code/modules/mob/mob_helpers.dm
  icons/obj/cigarettes.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1053 [MIRROR] Increase surgeons' chances of repairing robotic organs in organic bodies
  code/modules/surgery/robotics.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1043 [MIRROR] Particles stuff
  code/__defines/_renderer.dm
  code/_helpers/global_lists.dm
  code/_helpers/maths.dm
  code/game/atoms_movable.dm
  code/game/machinery/bluespace_drive.dm
  code/game/objects/effects/particles/particles.dm
  code/modules/power/fusion/core/_core.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_particle_catcher.dm
  code/modules/power/singularity/particle_accelerator/particle.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1048 [MIRROR] Tweak/protected roles
  code/controllers/configuration.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/station/changeling.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/antagonist/station/traitor.dm
  maps/sierra/sierra_antagonism.dm
  maps/torch/torch_antagonism.dm
  packs/sierra-tweaks/gamemodes/revolutionary.dm
Labels: :mirror: MIR ЯОЯ

#1057 [MIRROR] Fix runtimes from mouse-dropping non-items on tables
  code/modules/tables/tables.dm
Labels: :mirror: MIR ЯОЯ

#1058 [MIRROR] Improves parapen feedback
  code/modules/paperwork/pen/reagent_pen.dm
Labels: :mirror: MIR ЯОЯ

#1056 [MIRROR] Remove extra wrong-direction light from hydroponics
  maps/torch/torch3_deck3.dmm
Labels: :world_map: Карты, :mirror: MIR ЯОЯ

#1059 [MIRROR] Cryo temperature lights
  code/game/machinery/cryo.dm
  icons/obj/machines/medical/cryogenics_split.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1060 [MIRROR] Corporate Mining outpost
  maps/away/mining/mining-corporate.dmm
  maps/away/mining/mining.dm
  maps/away/mining/mining_corporate.dm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1061 [MIRROR] Fix multitile doors opacity
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1066 [MIRROR] Make Medical OSHA-compliant
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1068 [MIRROR] Make chair use icon instead of magic string
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Labels: :mirror: MIR ЯОЯ

#1069 [MIRROR] Fixes heat
  code/game/objects/effects/particles/particles.dm
Labels: :mirror: MIR ЯОЯ

#1071 [MIRROR] Fix record photos not appearing
  code/modules/modular_computers/file_system/reports/crew_record.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1070 [MIRROR] fix character preview not updating
  code/modules/client/preference_setup/general/05_preview.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1055 [MIRROR] Update override references for `/datum/species` vars outside of base definition
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/skrell.dm
  code/modules/mob/living/autohiss.dm
Labels: :mirror: MIR ЯОЯ

#1075 [MIRROR] Update russian keyboard layout to utf-8
  code/modules/mob/living/say.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1087 Add emote panel
  mods/emote_panel/README.md
  mods/emote_panel/_emote_panel.dm
  mods/emote_panel/_emote_panel.dme
  mods/emote_panel/code/emotes.dm
  mods/global_modpacks.dm
Labels: :scroll: CL валиден
