Repository SierraBay/SierraBay12, pull requests merged in 2023-06, with the labels that each got.

#603 [MIRROR] Overhauls the generation of planet atmospheres
  code/__defines/misc.dm
  code/_helpers/maths.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/exoplanets/exoplanet_atmosphere.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  maps/away/blueriver/blueriver.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#604 [MIRROR] changes mentions of "officer" to "security personnel" in security reports
  maps/torch/datums/reports/security.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#600 [MIRROR] fix MC tab making ssevac runtime during startup
  code/controllers/subsystems/evac.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#601 [MIRROR] ssgarbage refactor part 2
  baystation12.dme
  code/controllers/subsystems/garbage.dm
  code/datums/datum.dm
  code/datums/singletons/pools/pool_behavior.dm
  code/game/turfs/turf.dm
  code/unit_tests/atmospherics_tests.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#615 Fix: Pepepoint fix
  code/_onclick/click.dm
Labels: :scroll: CL валиден

#613 [MIRROR] Make stasis cages machinery
  baystation12.dme
  code/game/machinery/stasis_cage.dm
  code/game/objects/items/devices/scanners/xenobio.dm
  code/game/objects/items/weapons/circuitboards/machinery/research.dm
  code/game/objects/structures/stasis_cage.dm
  code/modules/research/designs/designs_circuits.dm
  code/modules/xenoarcheaology/tools/transport_drone.dm
  icons/obj/storage.dmi
  maps/away/meatstation/meatstation.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/random_ruins/exoplanet_ruins/icarus/icarus.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/torch/torch1_deck5.dmm
  mods/maps/farfleet/farfleet-2.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#611 [MIRROR] Spkrtn/sys/destroy human
  code/controllers/subsystems/garbage.dm
  code/datums/browser.dm
  code/datums/movement/movement.dm
  code/game/atoms.dm
  code/game/dna/dna2.dm
  code/modules/admin/buildmode/_build_mode.dm
  code/modules/admin/buildmode/_click_handler.dm
  code/modules/admin/buildmode/_color_pool.dm
  code/modules/admin/buildmode/_overlay.dm
  code/modules/admin/buildmode/ai.dm
  code/modules/admin/buildmode/areas.dm
  code/modules/ai/ai_holder.dm
  code/modules/atmospherics/pipes.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/observer/following.dm
  code/modules/mob/observer/freelook/eye.dm
  code/modules/mob/observer/freelook/update_triggers.dm
  code/modules/mob/observer/virtual/base.dm
  code/modules/organs/external/_external.dm
  code/modules/species/outsider/zombie.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#614 [MIRROR] Assess bodypart checks for laser and managed incisions
  code/modules/surgery/generic.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#602 [MIRROR] Add `use_sanity_check()` to grabs
  code/game/objects/structures.dm
  code/game/objects/structures/ironing_board.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/watercloset.dm
  code/modules/mob/grab/grab_object.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#612 [MIRROR] Fixes Scoped Guns. Makes Panther Usable.
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#616 SS220 ban table alter
  sql/schema.sql
Labels: :scroll: CL не требуется, :floppy_disk: База данных

#516 Jukebox can take tapes
  maps/away/bearcat/bearcat-2.dmm
  maps/away/casino/casino.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/lost_supply_base/lost_supply_base.dmm
  maps/away/meatstation/meatstation.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra-4.dmm
  maps/torch/z1_admin.dmm
  mods/global_modpacks.dm
  mods/machinery/jukebox_tapes/_jukebox_tapes.dm
  mods/machinery/jukebox_tapes/_jukebox_tapes.dme
  mods/machinery/jukebox_tapes/audio/jukebox.dm
  mods/machinery/jukebox_tapes/machinery/jukebox.dm
  mods/machinery/jukebox_tapes/tape_eject.ogg
  mods/machinery/jukebox_tapes/tape_insert.ogg
  mods/maps/farfleet/farfleet-2.dmm
  mods/maps/liberia/liberia.dmm
  mods/objects/items/music_player/_music_player.dm
  mods/objects/items/music_player/_music_player.dme
  mods/objects/items/music_player/music_player.dm
  mods/objects/items/music_player/music_tape.dm
  mods/objects/items/music_player/music_writer.dm
  mods/objects/items/music_player/sprites/object.dmi
  mods/objects/items/music_player/sprites/onmob_back.dmi
  mods/objects/items/music_player/sprites/onmob_lefthand.dmi
  mods/objects/items/music_player/sprites/onmob_righthand.dmi
  mods/objects/items/music_player/subtypes_player.dm
  mods/objects/items/music_player/subtypes_tape.dm
  nano/templates/_jukebox-mod_jukebox.tmpl
  packs/deepmaint/deepmaint_rooms/core/diner.dmm
  packs/infinity/_pack.dm
Labels: :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :scroll: CL валиден, :infinity: Ancient Evil, :infinity: Механ, 🐂 Priority: Low, :computer: Интерфейс

#619 Map: Transponders Placement
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/casino/casino.dmm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/yacht/yacht.dmm
  maps/sierra/job/jobs_service.dm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra.dm
  mods/maps/farfleet/farfleet-1.dmm
  mods/maps/farfleet/farfleet-2.dmm
  mods/maps/liberia/liberia.dmm
  mods/maps/sentinel/sentinel-1.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :compass: Авей-карты, :bug: Баг

#618 [MIRROR] Revert "Spkrtn/sys/destroy human"
  code/controllers/subsystems/garbage.dm
  code/datums/browser.dm
  code/datums/movement/movement.dm
  code/game/atoms.dm
  code/game/dna/dna2.dm
  code/modules/admin/buildmode/_build_mode.dm
  code/modules/admin/buildmode/_click_handler.dm
  code/modules/admin/buildmode/_color_pool.dm
  code/modules/admin/buildmode/_overlay.dm
  code/modules/admin/buildmode/ai.dm
  code/modules/admin/buildmode/areas.dm
  code/modules/ai/ai_holder.dm
  code/modules/atmospherics/pipes.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/observer/following.dm
  code/modules/mob/observer/freelook/eye.dm
  code/modules/mob/observer/freelook/update_triggers.dm
  code/modules/mob/observer/virtual/base.dm
  code/modules/organs/external/_external.dm
  code/modules/species/outsider/zombie.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#621 [MIRROR] add get_circle_coordinates and get_circle_turfs
  code/_helpers/turfs.dm
  code/core/math/math.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#624 DB: Everything `utf8mb4_unicode_ci`
  sql/schema.sql
Labels: :scroll: CL не требуется, :floppy_disk: База данных

#625 [MIRROR] Icons: Barmbot and Cleanbot
  icons/mob/bot/cleanbot.dmi
  icons/mob/bot/farmbot.dmi
Labels: :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#627 CI: `rust_g.so` to `2.0.0-ss220`
  scripts/download_rust_g.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL не требуется

#620 [MIRROR] Fixes emagging vending machines
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/hydroseeds.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#626 [MIRROR] farmbot uses farmbot_collect for collecting
  code/modules/mob/living/bot/farmbot.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#610 Fix: White space
  code/_onclick/hud/skybox.dm
  code/controllers/subsystems/skybox.dm
Labels: :scroll: CL валиден

#634 [MIRROR] CI: GitHub Actions cache fix
  .github/workflows/test.yml
Labels: :open_file_folder: Репозиторий, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#633 CI: Matrix + new RUST_G fix
  .github/workflows/test.yml
  scripts/download_rust_g.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL не требуется

#628 Fix: Double `empty` map include
  maps/sierra/sierra.dm
Labels: :scroll: CL не требуется

#639 TMP: Revert "[MIRROR] Spkrtn/fix/grbrrrg"
  code/__defines/lists.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/garbage.dm
  code/datums/progressbar.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL невалиден

#632 Держатель кассет для бармена и удобный список персонажей
  code/game/objects/items/weapons/storage/misc.dm
  mods/don_loadout/loadout/preferences.dm
  mods/objects/items/music_player/music_tape.dm
  mods/objects/items/music_player/sprites/object.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#643 TMP: Revert qdel
  baystation12.dme
  code/__datastructures/globals.dm
  code/__defines/qdel.dm
  code/_global_vars/logging.dm
  code/_helpers/cmp.dm
  code/_helpers/logging.dm
  code/_helpers/unsorted.dm
  code/_macros.dm
  code/controllers/controller.dm
  code/controllers/evacuation/evacuation_predicate.dm
  code/controllers/subsystems/garbage.dm
  code/datums/datum.dm
  code/datums/singletons/pools/pool_behavior.dm
  code/game/turfs/turf.dm
  code/game/world.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/secrets/debug/toggle_harddel.dm
  code/modules/goonchat/browserOutput.dm
  code/modules/holomap/ship_holomap.dm
  code/modules/maps/dmm_suite.dm
  code/unit_tests/atmospherics_tests.dm
  test/check-paths.sh
  ~code/global_init.dm
Labels: :open_file_folder: Репозиторий, :scroll: CL невалиден

#631 [MIRROR] Allow artifacts/animals to be exported
  code/__defines/xenoarcheaology.dm
  code/controllers/hooks-defs.dm
  code/controllers/subsystems/supply.dm
  code/game/machinery/stasis_cage.dm
  code/modules/mob/living/simple_animal/hostile/pirate.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/paperwork/paper.dm
  code/modules/random_map/dungeon/predefined.dm
  code/modules/xenoarcheaology/effect.dm
  code/modules/xenoarcheaology/tools/artifact_analyser.dm
  code/modules/xenoarcheaology/triggers/_trigger.dm
  code/modules/xenoarcheaology/triggers/chemical.dm
  code/modules/xenoarcheaology/triggers/gas.dm
  code/modules/xenoarcheaology/triggers/touch.dm
  maps/torch/torch_simplemobs.dm
  packs/deepmaint/deepmaint_rooms/normal/diner.dmm
  packs/deepmaint/deepmaint_rooms/normal/pirate_asteroid.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#671 Second day mapfixes
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/structures/signs.dm
Labels: :world_map: Карты, :scroll: CL валиден

#673 [MIRROR] gives unit tests an extra minute to finish
  code/unit_tests/_defines.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#684 CI: No fail-fast
  .github/workflows/test.yml
Labels: :open_file_folder: Репозиторий, :scroll: CL не требуется

#685 Fix: Lobby music URLs
  maps/sierra/sierra_lobby.dm
Labels: :scroll: CL валиден

#672 [MIRROR] Add: SpaceDrift subsystem
  baystation12.dme
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/spacedrift.dm
  code/controllers/subsystems/throwing.dm
  code/datums/movement/mob.dm
  code/game/area/areas.dm
  code/game/atoms_movable.dm
  code/game/machinery/_machines_base/machinery.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/objs.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/footsteps.dm
  code/game/turfs/turf.dm
  code/modules/ai/interfaces.dm
  code/modules/mechs/mech_movement.dm
  code/modules/mob/animations.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/maneuvers/_maneuver.dm
  code/modules/mob/living/silicon/robot/flying/flying.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  code/modules/mob/living/simple_animal/friendly/juvenile_space_whale.dm
  code/modules/mob/living/simple_animal/hostile/bluespace.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/space_whale.dm
  code/modules/mob/living/simple_animal/hostile/space_carp.dm
  code/modules/mob/living/simple_animal/hostile/vagrant.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/observer/observer.dm
  code/modules/multiz/movement.dm
  code/modules/multiz/structures.dm
  code/modules/overmap/spacetravel.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/launcher.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  maps/away/errant_pisces/errant_pisces.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#676 Map: Drone in hangar
  maps/sierra/sierra-1.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#675 [MIRROR] ZLevel travel time fix
  code/modules/xenoarcheaology/tools/transport_drone.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#680 [MIRROR] Assorted Fixes
  code/game/machinery/washing_machine.dm
  code/game/objects/structures/window.dm
  code/modules/materials/_materials.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/definitions/materials_organic.dm
  code/modules/materials/material_sheets.dm
  code/modules/synthesized_instruments/real_instruments.dm
  code/modules/synthesized_instruments/real_instruments/Synthesizer/synthesizer.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#677 [MIRROR] Fixes #33654
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/hydroseeds.dm
  code/game/objects/random/random.dm
  icons/obj/vending.dmi
Labels: :mountain: Спрайты, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#681 [MIRROR] Adds some basic antenna markings for IPCs
  code/modules/sprite_accessories/accessory_ipc.dm
  icons/mob/human_races/species/ipc/markings.dmi
Labels: :mountain: Спрайты, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#679 [MIRROR] remove unused /datum/ai
  baystation12.dme
  code/datums/ai/ai.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#629 [MIRROR] Allow holopads to ping PDAs
  code/game/machinery/hologram.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#683 [MIRROR] Minor mapping changes
  maps/torch/torch2_deck4.dmm
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#682 [MIRROR] separates nitrile and latex gloves into their own boxes, fills each
  code/datums/supplypacks/medical.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  maps/antag_spawn/ert/ert_base.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/example/example-2.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra-4.dmm
  maps/sierra/structures/closets/security.dm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/z1_admin.dmm
  mods/maps/farfleet/farfleet-2.dmm
  mods/maps/liberia/liberia.dmm
  mods/maps/sentinel/sentinel-1.dmm
  packs/deepmaint/deepmaint_rooms/normal/lab.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#657 TMP: Optimization
  code/controllers/master.dm
  code/controllers/subsystems/garbage.dm
Labels: :scroll: CL валиден

#688 [MIRROR] Bsd instability event
  baystation12.dme
  code/_helpers/bubble_effect.dm
  code/datums/helper_datums/teleport.dm
  code/game/machinery/bluespace_drive.dm
  code/game/machinery/teleporter/pad.dm
  code/game/turfs/flooring/flooring.dm
  code/modules/events/bsd_instability.dm
  code/modules/events/event_container.dm
  code/modules/mob/living/simple_animal/hostile/bluespace.dm
  code/modules/multiz/structures.dm
  sound/ambience/bsd_alarm.ogg
Labels: :white_check_mark: Принято, :sound: Звуки, :scroll: CL валиден, :mirror: MIR ЯОЯ

#687 [MIRROR] makes charon holopads more convenient
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#674 [MIRROR] Added glucose IV bags
  code/datums/supplypacks/medical.dm
  code/modules/reagents/reagent_containers/ivbag.dm
  maps/sierra/sierra-3.dmm
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :exclamation: DO NOT MERGE, :scroll: CL валиден, :mirror: MIR ЯОЯ

#689 [MIRROR] Buff simple mob movement speeds
  code/modules/mob/living/simple_animal/hostile/giant_spider/_giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/phorogenic.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#690 [MIRROR] Makes Wardrobes anchored
  code/game/objects/objs.dm
  code/game/objects/structures/under_wardrobe.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#694 [MIRROR] Adds rarity functionality to vending machines
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/_vending_products.dm
  code/game/machinery/vending/cola.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#693 [MIRROR] Gives stasis cage a tesla link
  code/game/objects/items/weapons/circuitboards/machinery/research.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#691 [MIRROR] Abandoned hotel away site
  maps/away/abandoned_hotel/abandoned_hotel-1.dmm
  maps/away/abandoned_hotel/abandoned_hotel-2.dmm
  maps/away/abandoned_hotel/abandoned_hotel.dm
  maps/away/abandoned_hotel/abandoned_hotel_areas.dm
  maps/away/abandoned_hotel/abandoned_hotel_sprites.dmi
  maps/away_sites_testing/away_sites_testing.dm
  maps/torch/torch.dm
Labels: :world_map: Карты, :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#692 [MIRROR] welders now have sounds once more
  code/game/objects/items/weapons/tools/weldingtool.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#696 [MIRROR] Prevent closets from closing on large mobs
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/carrier.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/phorogenic.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#700 [MIRROR] adds type hinting to some rig vars
  code/modules/clothing/spacesuits/rig/rig.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#697 [MIRROR] Abandoned Hotel Away Site Fix
  maps/away/abandoned_hotel/abandoned_hotel-1.dmm
  maps/away/abandoned_hotel/abandoned_hotel-2.dmm
  maps/away/abandoned_hotel/abandoned_hotel.dm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#701 [MIRROR] add fake corpse cube to uplink
  baystation12.dme
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/game/objects/items/devices/dna_sampler.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
  sound/effects/corpsecube.ogg
Labels: :mountain: Спрайты, :white_check_mark: Принято, :sound: Звуки, :scroll: CL валиден, :mirror: MIR ЯОЯ

#702 [MIRROR] allows you to fit screwdrivers in your boots (and also gives the holdout revolver a visible sprite)
  code/game/objects/items/weapons/tools/screwdriver.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#703 [MIRROR] Add cosmetic surgery kit to uplink
  baystation12.dme
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/game/objects/items/devices/cosmetic_surgery_kit.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#704 [MIRROR] revert planet atmos overhaul
  code/__defines/misc.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/exoplanets/exoplanet_atmosphere.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#705 [MIRROR] fix spacedrift affecting pulled objects
  code/game/atoms_movable.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#706 [MIRROR] rigs get some storage on the chestpiece
  code/game/objects/items/weapons/storage/internal.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/clothing/spacesuits/rig/rig_attackby.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#708 [MIRROR] pipes are not re-added to networks while qdeleting
  code/modules/atmospherics/pipes.dm
Labels: :mirror: MIR ЯОЯ

#714 [MIRROR] CI fix - Attempt 2
  .github/workflows/test.yml
  install-byond.sh
  scripts/install-spaceman-dmm.sh
  test/run-test.sh
Labels: :open_file_folder: Репозиторий, :white_check_mark: Принято

#711 [MIRROR] BSD event tweaks
  code/datums/helper_datums/teleport.dm
  code/game/machinery/bluespace_drive.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/events/bsd_instability.dm
  code/modules/mob/living/simple_animal/hostile/bluespace.dm
  code/modules/multiz/structures.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#717 [MIRROR] Fix the hole in maintenance that allows dropping into exploration prep
  maps/torch/torch2_deck4.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#715 [MIRROR] Frees the bandana
  maps/torch/loadout/loadout_head.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#713 [MIRROR] FA items and fleet robots
  baystation12.dme
  code/modules/clothing/under/accessories/frontier.dm
  code/modules/clothing/under/frontier.dm
  code/modules/mob/living/simple_animal/hostile/robotic/bad_drone.dm
  code/modules/mob/living/simple_animal/hostile/robotic/hivebot/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/robotic/hivebot/ranged.dm
  code/modules/mob/living/simple_animal/hostile/robotic/hivebot/tank.dm
  code/modules/mob/living/simple_animal/hostile/robotic/robots.dm
  icons/effects/Targeted.dmi
  icons/mob/hostile_robot.dmi
  icons/mob/hostile_robot_big.dmi
  icons/mob/onmob/onmob_accessories_frontier.dmi
  icons/mob/onmob/onmob_under_frontier.dmi
  icons/obj/clothing/obj_accessories_frontier.dmi
  icons/obj/clothing/obj_under_frontier.dmi
Labels: :mountain: Спрайты, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#716 [MIRROR] Swap BSD/AI Upload room
  maps/torch/torch4_deck2.dmm
  maps/torch/torch_areas.dm
Labels: :world_map: Карты, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#718 [MIRROR] Fix some floor decals in the Charon
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#721 [MIRROR] Improvement to random vendors
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/cola.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#727 [MIRROR] Fix line breaks after every character in beacon scans
  code/modules/overmap/ships/beacon.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#725 [MIRROR] SE tweaks
  maps/torch/job/engineering_jobs.dm
  maps/torch/torch4_deck2.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#720 [MIRROR] Transshipment Point
  maps/_maps.dm
  maps/random_ruins/exoplanet_ruins/transshipment/transshipment.dm
  maps/random_ruins/exoplanet_ruins/transshipment/transshipment.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#724 [MIRROR] Add button for equipping loadout to player panel
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#729 [MIRROR] SNZ grammar fix
  maps/random_ruins/exoplanet_ruins/transshipment/transshipment.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#733 [MIRROR] Moves the thermal regulator 1 tile closer to the pharmacy chair
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#731 [MIRROR] Revert "Adds NJP form to the report editor"
  maps/torch/datums/reports/security.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#732 [MIRROR] Bandana resprite + tweaks
  code/datums/outfits/pirates.dm
  code/game/gamemodes/wizard/servant_items/familiar.dm
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/item_worth/worths_list.dm
  code/modules/spells/artifacts/spellbound_servants.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_mask.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_mask.dmi
Labels: :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#728 [MIRROR] Pajamas: Unchained.
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#737 [MIRROR] no config fps
  code/controllers/configuration.dm
  code/controllers/master.dm
  config/example/config.txt
Labels: :page_facing_up: Конфиги, :white_check_mark: Принято, :mirror: MIR ЯОЯ
