Repository SierraBay/SierraBay12, pull requests merged in 2023-10, with the labels that each got.

#1097 Tweak middleclick to make user point at atom
  code/_onclick/click.dm
  mods/ssinput/README.md
Labels: :scroll: CL валиден

#1098 Mapfixes
  maps/sierra/z1-3_sierra.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#1101 Add more body markings
  mods/body_markings/README.md
  mods/body_markings/_body_markings.dm
  mods/body_markings/_body_markings.dme
  mods/body_markings/code/body_markings.dm
  mods/body_markings/icons/body_markings.dmi
  mods/global_modpacks.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#1105 [MIRROR] Make noexcutite actually work
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1107 [MIRROR] New icons and bugfixes for body scanner and cryopod
  code/game/machinery/body_scanner.dm
  code/game/machinery/cryopod.dm
  icons/obj/machines/medical/bodyscanner.dmi
  icons/obj/machines/medical/cryopod.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1108 [MIRROR] robot item fixes
  code/game/objects/items/weapons/flamethrower.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_filing.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_forensics.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_repair.dm
  code/modules/mob/living/silicon/robot/modules/_module.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/mob/living/silicon/robot/modules/module_engineering.dm
  code/modules/mob/living/silicon/robot/modules/module_janitor.dm
  code/modules/mob/living/silicon/robot/modules/module_maintenance_drone.dm
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/projectiles/guns/launcher/syringe_gun.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1110 [MIRROR] adds the 'humanifier' artifact effect
  baystation12.dme
  code/modules/xenoarcheaology/effects/human_ifier.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1111 [MIRROR] overmap placeholder ships don't randomize location
  code/modules/overmap/sectors.dm
  maps/event/placeholders/placeholders.dm
Labels: :mirror: MIR ЯОЯ

#1106 [MIRROR] Update default subsystem runlevels to game and postgame
  code/__defines/subsystems.dm
  code/controllers/subsystem.dm
  code/controllers/subsystems/ai.dm
  code/controllers/subsystems/aifast.dm
  code/controllers/subsystems/ambient_lighting.dm
  code/controllers/subsystems/ao.dm
  code/controllers/subsystems/chat.dm
  code/controllers/subsystems/chemistry.dm
  code/controllers/subsystems/garbage.dm
  code/controllers/subsystems/ghost_images.dm
  code/controllers/subsystems/graphs.dm
  code/controllers/subsystems/initialization/character_setup.dm
  code/controllers/subsystems/lighting.dm
  code/controllers/subsystems/machines.dm
  code/controllers/subsystems/misc.dm
  code/controllers/subsystems/misc_slow.dm
  code/controllers/subsystems/mobs.dm
  code/controllers/subsystems/plants.dm
  code/controllers/subsystems/presence.dm
  code/controllers/subsystems/processing/vines.dm
  code/controllers/subsystems/spacedrift.dm
  code/controllers/subsystems/ticker.dm
  code/controllers/subsystems/turf_fire.dm
  code/controllers/subsystems/typing.dm
  code/controllers/subsystems/vote.dm
  code/controllers/subsystems/zcopy.dm
  code/unit_tests/~unit_test_subsystems.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1114 [MIRROR] Bump styfle/cancel-workflow-action from 0.11.0 to 0.12.0
  .github/workflows/cancel.yml
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#1119 [MIRROR] Fix pre-game vote timers not ticking
  code/controllers/subsystems/vote.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1118 [MIRROR] fix tcomms lights not updating on init
  code/game/machinery/bluespacerelay.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/NTNet/NTNet_relay.dm
  code/modules/research/message_server.dm
  code/modules/research/server.dm
  icons/obj/machines/telecomms.dmi
  test/check-paths.sh
Labels: :mountain: Спрайты, :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#1117 [MIRROR] Add more Fake NanoUI
  code/controllers/subsystems/vote.dm
  code/game/machinery/alarm.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1122 [MIRROR] Block merging of PRs flagged for test merge
  .github/workflows/testmerge-blocker.yml
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#1120 [MIRROR] Unanchor pAI when folded
  code/modules/mob/living/silicon/pai/pai.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1123 [MIRROR] Limit and update confusion updating logic
  code/__defines/mobs.dm
  code/datums/movement/mob.dm
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/game/machinery/bluespace_drive.dm
  code/game/machinery/flasher.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/sound.dm
  code/modules/ai/ai_holder_disabled.dm
  code/modules/augment/active/nerve_dampeners.dm
  code/modules/events/ion_storm.dm
  code/modules/genetics/side_effects.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mob/grab/grab_datum.dm
  code/modules/mob/living/carbon/xenobiological/slime_AI.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/species/ipc.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/psionics/faculties/coercion.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/spells/targeted/shatter_mind.dm
  code/modules/spells/targeted/targeted.dm
  code/modules/tension/tension.dm
  code/modules/xenoarcheaology/effects/human_ifier.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1128 [MIRROR] Add VV handlers for /mob/confused
  baystation12.dme
  code/_helpers/functional.dm
  code/modules/mob/vv_handlers.dm
Labels: :mirror: MIR ЯОЯ

#1127 [MIRROR] fix spiderlings not growing when in limbs
  code/game/objects/effects/spiders.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1124 [MIRROR] fix high speed floor people
  code/modules/mob/living/life.dm
Labels: :mirror: MIR ЯОЯ

#1125 [MIRROR] New Operative Gamemode PR (A Ninja Rework)
  code/__defines/gamemode.dm
  code/_macros.dm
  code/datums/uplink/hardsuit_modules.dm
  code/game/antagonist/outsider/ninja.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/ninja/ninja.dm
  code/game/objects/items/devices/personal_shield.dm
  code/game/objects/items/gunboxes.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/augment/active/armblades.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
  code/modules/item_worth/worths_list.dm
  code/modules/multiz/movement.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/research/designs/designs_mechfab.dm
  code/modules/shuttles/antagonist.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/guns/minigun.dmi
  icons/obj/rig_modules.dmi
  icons/obj/weapons/ammo.dmi
  maps/antag_spawn/ert/ert_base.dmm
  maps/antag_spawn/ninja/ninja.dm
  maps/antag_spawn/ninja/ninja_base.dmm
  maps/sierra/items/clothing/clothing.dm
  maps/sierra/z4_admin.dmm
  maps/torch/structures/closets.dm
  maps/torch/torch_simplemobs.dm
  maps/torch/z1_admin.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1131 [MIRROR] stock renderwhitespace pref "all" -> "boundary"
  .vscode/settings.json
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#1130 [MIRROR] re-tgm's ninja_base
  maps/antag_spawn/ninja/ninja_base.dmm
Labels: :world_map: Карты, :mirror: MIR ЯОЯ

#1132 [MIRROR] makes current versions of suite not die on 515 compatibility consts
  code/_version.dm
Labels: :mirror: MIR ЯОЯ

#1116 [MIRROR] eliminates new\s*/list style of list definition
  code/_helpers/areas.dm
  code/_helpers/game.dm
  code/_helpers/unsorted.dm
  code/game/machinery/vitals_monitor.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/storage/storage_ui/default.dm
  code/modules/clothing/suits/armor.dm
  code/modules/integrated_electronics/subtypes/smart.dm
  code/modules/modular_computers/file_system/programs/engineering/rcon_console.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/paperwork/paperbin.dm
  code/modules/power/apc.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/turbine.dm
  code/modules/projectiles/guns/launcher/foam_gun.dm
  code/modules/projectiles/guns/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/launcher/rocket.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/procs/AStar.dm
  mods/_maps/sentinel/code/sentinel_structures.dm
  packs/deepmaint/generator/deepmaint_event.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#1133 [MIRROR] misc sprite and text fixes
  code/game/machinery/bioprinter.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/vitals_monitor.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/surgery/organs_internal.dm
  icons/obj/machines/medical/bodyscanner.dmi
  icons/obj/tools/bloodpack.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1134 [MIRROR] Fixes mech jetpacks
  code/modules/mechs/mech_movement.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1136 [MIRROR] Fix spiderlings growing that shouldn't grow
  code/game/objects/effects/spiders.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1140 [MIRROR] fix objects not falling through openspace
  code/modules/multiz/movement.dm
Labels: :mirror: MIR ЯОЯ

#1141 [MIRROR] nerf nurse spiderling injection
  code/modules/mob/living/simple_animal/hostile/giant_spider/nurse.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1142 [MIRROR] Makes no client colour consistently work with planemasters
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/particles/particles.dm
  code/modules/mechs/equipment/utility.dm
Labels: :mirror: MIR ЯОЯ

#1146 [MIRROR] Fixes self-buckling when incapacitated
  code/game/objects/buckling.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1145 [MIRROR] admin light_maker fix
  code/modules/admin/buildmode/light_maker.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1151 [MIRROR] Fix closet icon test output
  code/unit_tests/closets.dm
Labels: :mirror: MIR ЯОЯ

#1149 [MIRROR] Update some posters icons
  icons/obj/structures/contraband.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1148 [MIRROR] Music instruments sound range fix
  code/modules/synthesized_instruments/real_instruments/Synthesizer/synthesizer.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1147 [MIRROR] More obvious neural suppressors for OR tables
  code/game/machinery/OpTable.dm
  icons/obj/machines/medical/operatingtable.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1143 [MIRROR] Integration (and tweaks) for Polaris AI Framework
  baystation12.dme
  code/__defines/ai.dm
  code/__defines/mobs.dm
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/aifast.dm
  code/game/machinery/portable_turret.dm
  code/modules/ai/__readme.dm
  code/modules/ai/ai_holder.dm
  code/modules/ai/ai_holder_combat.dm
  code/modules/ai/ai_holder_combat_unseen.dm
  code/modules/ai/ai_holder_communication.dm
  code/modules/ai/ai_holder_cooperation.dm
  code/modules/ai/ai_holder_fleeing.dm
  code/modules/ai/ai_holder_movement.dm
  code/modules/ai/ai_holder_subtypes/alien_ai.dm
  code/modules/ai/ai_holder_subtypes/human_ai.dm
  code/modules/ai/ai_holder_subtypes/simple_mob_ai.dm
  code/modules/ai/ai_holder_targeting.dm
  code/modules/ai/interfaces.dm
  code/modules/ai/say_list.dm
  code/modules/emotes/definitions/_mob.dm
  code/modules/mob/living/carbon/alien/diona/_nymph.dm
  code/modules/mob/living/carbon/alien/diona/nymph_life.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/defense.dm
  code/modules/mob/living/simple_animal/life.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
  code/modules/species/outsider/zombie.dm
  code/modules/species/species.dm
  code/modules/species/station/monkey.dm
  code/modules/species/station/station.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1154 [MIRROR] Ability to punch objects
  code/game/objects/objs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1155 [MIRROR] Radio Incapacitation Tweaks
  code/game/objects/items/devices/radio/radio.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1158 [MIRROR] Chewable spit out and drone designator in belt
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/clothing/masks/chewable.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1159 [MIRROR] Replace xenofauna carbine spawn with SMG(and rubber SMG mag) spawn
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :mirror: MIR ЯОЯ

#1162 [MIRROR] Fix vv handler for the confused var locked to 15
  code/modules/mob/vv_handlers.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1161 Фикс радиуса музыкального плеера
  mods/music_player/code/music_player.dm
  mods/music_player/code/subtypes_player.dm
Labels: :scroll: CL валиден

#1164 [MIRROR] Mountain wind is lime green
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1137 Pioneer corps
  maps/sierra/sierra_ranks.dm
  mods/_maps/farfleet/code/farfleet.dm
  mods/_maps/farfleet/code/farfleet_areas.dm
  mods/_maps/farfleet/code/farfleet_crew.dm
  mods/_maps/farfleet/code/farfleet_faction.dm
  mods/_maps/farfleet/code/farfleet_items.dm
  mods/_maps/farfleet/code/farfleet_structures.dm
  mods/_maps/farfleet/icons/mob/lefthand.dmi
  mods/_maps/farfleet/icons/mob/onmob_head.dmi
  mods/_maps/farfleet/icons/mob/onmob_suit.dmi
  mods/_maps/farfleet/icons/mob/righthand.dmi
  mods/_maps/farfleet/icons/obj/bonfire.dmi
  mods/_maps/farfleet/icons/obj/iccg_rifle.dmi
  mods/_maps/farfleet/icons/obj/mbr_bullpup.dmi
  mods/_maps/farfleet/icons/obj/mr735.dmi
  mods/_maps/farfleet/icons/obj/obj_head.dmi
  mods/_maps/farfleet/icons/obj/obj_suit.dmi
  mods/_maps/farfleet/icons/obj/stupor.dmi
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/_maps/sentinel/code/sentinel.dm
Labels: :world_map: Карты, :mountain: Спрайты, :compass: Авей-карты

#1174 [MIRROR] Fixes the extremely small typo in the fax names
  maps/torch/torch_define.dm
Labels: :mirror: MIR ЯОЯ

#1180 [MIRROR] Change disposal constant overlay image path to icon var
  code/modules/recycling/disposal.dm
Labels: :mirror: MIR ЯОЯ

#1172 [MIRROR] Various electronic assembly window fixes
  code/modules/integrated_electronics/core/assemblies.dm
Labels: :mirror: MIR ЯОЯ

#1173 [MIRROR] Update console glow when updating icon
  code/game/machinery/computer/computer.dm
Labels: :mirror: MIR ЯОЯ

#1175 [MIRROR] Fixes speedpunching
  code/game/objects/objs.dm
Labels: :mirror: MIR ЯОЯ

#1177 [MIRROR] fixed generate_cl yaml loading
  tools/changelog/generate_cl.py
  tools/changelog/sierra_check_changelog.py
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#1169 [MIRROR] Removes server-crashing TC option
  code/datums/uplink/badassery.dm
Labels: :mirror: MIR ЯОЯ

#1171 [MIRROR] Remove arterial bleed confusion
  code/modules/organs/internal/heart.dm
Labels: :mirror: MIR ЯОЯ

#1184 [MIRROR] Change open blastdoor mapping icon to open
  code/game/machinery/doors/blast_door.dm
Labels: :mirror: MIR ЯОЯ

#1232 [MIRROR] Add nice outlet injector map icon
  code/modules/atmospherics/components/unary/outlet_injector.dm
Labels: :mirror: MIR ЯОЯ

#1239 [MIRROR] Bugfix of random.dm
  code/game/objects/random/random.dm
Labels: :mirror: MIR ЯОЯ

#1244 Fix station levels
  maps/sierra/sierra_define.dm
Labels: :scroll: CL валиден

#1245 Add Sierra age restictions and recommendations
  maps/sierra/job/jobs.dm
  maps/sierra/job/jobs_cargo.dm
  maps/sierra/job/jobs_command.dm
  maps/sierra/job/jobs_engineering.dm
  maps/sierra/job/jobs_exploration.dm
  maps/sierra/job/jobs_medical.dm
  maps/sierra/job/jobs_research.dm
  maps/sierra/job/jobs_security.dm
  maps/sierra/job/jobs_service.dm
  mods/_maps/farfleet/code/farfleet_crew.dm
  mods/_maps/sentinel/code/sentinel_crew.dm
Labels: :scroll: CL валиден

#1248 [MIRROR] Fixes pointing at closets
  code/game/objects/structures/crates_lockers/closets/__closet.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1262 [MIRROR] fix engine injector depowering itself in Initialize
  code/modules/atmospherics/components/unary/outlet_injector.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1264 [MIRROR] Damage organs when exploding limbs
  code/modules/organs/external/_external.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1263 [MIRROR] fis space carp never making it to the ship
  code/modules/events/mob_spawning/_mob_spawning.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1256 [MIRROR] Planet Gen Redo to make exploration more fun, two
  code/__defines/misc.dm
  code/modules/mob/living/simple_animal/hostile/leech.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/exoplanets/exoplanet_atmosphere.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
Labels: :mirror: MIR ЯОЯ

#1267 [MIRROR] Fix fuel pipes not always being fuel pipes
  code/modules/atmospherics/pipes.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1268 [MIRROR] Fix combat boots having no sprite
  code/modules/clothing/shoes/miscellaneous.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1269 [MIRROR] Fire Extinguisher Fix
  code/game/objects/effects/chem/water.dm
  code/game/objects/items/weapons/extinguisher.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1270 [MIRROR] More Reliable Shrapnel Removal
  code/modules/surgery/implant.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ
