Repository SierraBay/SierraBay12, pull requests merged in 2023-04, with the labels that each got.

#212 FEAT: SSOvermap
  baystation12.dme
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/processing/overmap.dm
  code/modules/overmap/ships/ship.dm
Labels: :scroll: CL валиден

#215 FEAT: Водитель, управлять транспортом в нетрезвом виде - преступление
  code/modules/overmap/ships/computers/helm.dm
Labels: :hourglass: Ожидание автора, :scroll: CL валиден

#214 FEAT: Sensors Overhaul
  code/modules/overmap/ships/computers/sensors.dm
  nano/templates/shipsensors.tmpl
Labels: :scroll: CL валиден

#209 Bugfix: bunch of bugfixes
  code/controllers/subsystems/initialization/modpacks.dm
  code/game/objects/structures/window.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/projectile.dm
  icons/mob/screen_alert.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#218 Tweak: Scrap Compactor moved
  maps/sierra/sierra.dm
  mods/machinery/scrap_compactor/_scrap_compactor.dm
  packs/infinity/_pack.dm
  packs/infinity/machinery/scrap_compactor/crusher_control.dm
  packs/infinity/machinery/scrap_compactor/crusher_piston.dm
  packs/infinity/machinery/scrap_compactor/icons/crusher_base.dmi
  packs/infinity/machinery/scrap_compactor/icons/crusherpiston.dmi
  packs/infinity/machinery/scrap_compactor/icons/recycling.dmi
  packs/infinity/machinery/scrap_compactor/icons/refine.dmi
  packs/infinity/machinery/scrap_compactor/scrap.dm
  packs/infinity/machinery/scrap_compactor/scrap_circuitboards.dm
  packs/infinity/machinery/scrap_compactor/scrap_compactor.dm
  packs/infinity/machinery/scrap_compactor/scrap_pileripper.dm
  packs/infinity/machinery/scrap_compactor/scrap_refine.dm
  packs/infinity/machinery/scrap_compactor/scrap_refinery.dm
  packs/infinity/machinery/scrap_compactor/scrap_stacker.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#220 Species unit tests
  mods/species/resomi/_resomi.dm
  mods/species/resomi/_resomi.dme
  mods/species/resomi/resomi_unit_tests.dm
  mods/species/tajara/_tajara.dm
  mods/species/tajara/_tajara.dme
  mods/species/tajara/tajara_unit_tests.dm
Labels: :scroll: CL не требуется

#194 SCGF Patrol Craft
  maps/away_sites_testing/away_sites_testing.dm
  maps/sierra/sierra.dm
  maps/sierra/sierra_ranks.dm
  mods/maps/liberia/liberia.dm
  mods/maps/liberia/liberia.dmm
  mods/maps/liberia/liberia_jobs.dm
  mods/maps/sentinel/_map_sentinel.dm
  mods/maps/sentinel/_map_sentinel.dme
  mods/maps/sentinel/fleet_vendomat.dmi
  mods/maps/sentinel/sentinel-1.dmm
  mods/maps/sentinel/sentinel-2.dmm
  mods/maps/sentinel/sentinel.dm
  mods/maps/sentinel/sentinel_areas.dm
  mods/maps/sentinel/sentinel_crew.dm
  mods/maps/sentinel/sentinel_items.dm
  mods/maps/sentinel/sentinel_presets.dm
  mods/maps/sentinel/sentinel_shuttle.dm
  mods/maps/sentinel/sentinel_structures.dm
  mods/maps/sentinel/sentinel_turbolift.dm
  packs/infinity/icons/obj/decals.dmi
  packs/infinity/structures/signs.dm
Labels: :world_map: Карты, :mountain: Спрайты, :mag: Требуется ревью, :scroll: CL валиден, :compass: Авей-карты, :infinity: Ancient Evil

#227 [MIRROR] Add connection check functions
  baystation12.dme
  code/modules/admin/connectioncheck/connectioncheck_functions.dm
Labels: :scroll: CL не требуется

#224 [MIRROR] Revert "Add debug logs to `explosion_rec()`"
  code/game/objects/explosion_recursive.dm
Labels: :scroll: CL не требуется

#222 [MIRROR] Unshackling pronouns from gender
  baystation12.dme
  code/__defines/mobs.dm
  code/_helpers/mobs.dm
  code/datums/mind/mind.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_add.dm
  code/game/antagonist/antagonist_helpers.dm
  code/game/antagonist/outsider/commando.dm
  code/game/antagonist/outsider/deathsquad.dm
  code/game/antagonist/outsider/ert.dm
  code/game/antagonist/outsider/mercenary.dm
  code/game/antagonist/outsider/ninja.dm
  code/game/antagonist/outsider/raider.dm
  code/game/antagonist/outsider/vox.dm
  code/game/antagonist/outsider/wizard.dm
  code/game/antagonist/station/provocateur.dm
  code/game/gamemodes/changeling/absorbed_dna.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/jobs/job/job.dm
  code/game/movietitles.dm
  code/game/objects/items/passport.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_persist.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/emotes/emote_define.dm
  code/modules/mob/grab/normal/grab_normal.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/corpse.dm
  code/modules/mob/living/carbon/human/descriptors/_descriptors.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/mob/pronouns.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
  code/modules/nano/modules/human_appearance.dm
  code/modules/species/outsider/vox.dm
  code/modules/species/species.dm
  code/modules/species/station/adherent.dm
  code/modules/species/station/golem.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/nabber.dm
  code/modules/species/station/station.dm
  code/modules/spells/artifacts/spellbound_servants.dm
  code/modules/submaps/submap_join.dm
  maps/torch/torch_simplemobs.dm
  nano/templates/appearance_changer.tmpl
Labels: :scroll: CL валиден

#235 [MIRROR] Connection Log Checking Part 2
  code/modules/admin/connectioncheck/connectioncheck_functions.dm
  code/modules/client/client_procs.dm
Labels: :scroll: CL валиден

#236 [MIRROR] Fixes the smart revolver
  code/modules/projectiles/guns/energy/secure.dm
Labels: :scroll: CL валиден

#237 [MIRROR] Cable color fixes
  code/modules/power/cable_coil.dm
  code/modules/power/cable_structure.dm
Labels: :scroll: CL валиден

#238 [MIRROR] Add cleaner grenades to custodial closets
  maps/torch/structures/closets/services.dm
Labels: :scroll: CL валиден

#225 [MIRROR] ghosts recognize everyone again
  code/modules/mob/mob.dm
Labels: :scroll: CL валиден

#242 Closes Closet problems
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
Labels: :world_map: Карты, :mag: Требуется ревью, :scroll: CL валиден

#184 Кучка фиксов
  code/_helpers/icons.dm
  code/controllers/subsystems/ticker.dm
  code/datums/browser.dm
  code/modules/client/preference_setup/controls/01_keybindings.dm
  code/modules/keybindings/client.dm
  code/modules/keybindings/mob.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
Labels: :scroll: CL валиден

#246 [MIRROR] Lets pain/effects on assailant matter for grabs
  code/modules/mob/grab/grab_datum.dm
Labels: :scroll: CL валиден

#248 [MIRROR] Various Pronoun and Faction fixes
  code/datums/mind/mind.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/passport.dm
  code/game/objects/items/robot/robot_frame.dm
  code/modules/mob/living/carbon/human/descriptors/_descriptors.dm
  code/modules/mob/living/carbon/human/descriptors/descriptors_nabber.dm
  code/modules/mob/living/carbon/human/descriptors/descriptors_skrell.dm
  code/modules/mob/living/carbon/human/descriptors/descriptors_vox.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/transform_procs.dm
  maps/torch/torch_npcs.dm
Labels: :scroll: CL валиден

#247 [MIRROR] Maintenance Jack Resprite
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#244 [MIRROR] send2adminirc -> send_to_admin_discord
  baystation12.dme
  code/__defines/_excom.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/ticker.dm
  code/game/verbs/who.dm
  code/modules/admin/admin.dm
  code/modules/admin/ticket.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/ext_scripts/irc.dm
  code/modules/mob/logout.dm
  code/modules/supermatter/supermatter.dm
  config/example/config.txt
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :page_facing_up: Конфиги, :scroll: CL не требуется

#245 [MIRROR] Refac: AI datums to singleton
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/icons.dm
Labels: :scroll: CL валиден

#207 Настоящая Рантайм
  code/modules/error_handler/error_handler.dm
  maps/sierra/sierra.dm
  mods/bluespace_kitty/_bluespace_kitty.dm
  mods/bluespace_kitty/_bluespace_kitty.dme
  mods/bluespace_kitty/bluespace_kitty.dm
  mods/bluespace_kitty/runtimecat.dmi
Labels: :mountain: Спрайты, :scroll: CL не требуется

#249 [MIRROR] fix incorrect spawn count
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL не требуется

#253 [MIRROR] Fix geosample errors for pitchblende
  code/modules/materials/definitions/materials_mineral.dm
Labels: :scroll: CL валиден

#252 [MIRROR] Output vote stats to admins
  code/datums/vote/vote.dm
Labels: :scroll: CL валиден

#251 [MIRROR] Optimize find bans in connections
  code/modules/admin/connectioncheck/connectioncheck_functions.dm
Labels: :scroll: CL валиден

#229 Bugfix неудаляемые консоли управления кораблём и сенсоров
  code/modules/overmap/ships/computers/ship.dm
Labels: :scroll: CL валиден, :bug: Баг, 🐂 Priority: Low

#260 [MIRROR] Add: BYOND TRACY profiler
  code/modules/admin/admin_verbs.dm
Labels: :scroll: CL невалиден, :scroll: CL не требуется

#258 [MIRROR] Misc sprite fixes
  code/modules/mob/living/bot/remotebot.dm
  code/modules/projectiles/ammunition/bullets.dm
  icons/obj/ammo.dmi
  icons/obj/food_custom.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#259 [MIRROR] Fix outlying pixel on unbranded arms
  icons/mob/human_races/cyberlimbs/robotic.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#261 [MIRROR] Automatic gun safety on holstering
  code/datums/extensions/holster/holster.dm
  code/modules/projectiles/gun.dm
Labels: :scroll: CL валиден

#257 [MIRROR] new EC rank sprites by DasFox
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/obj/obj_accessories_solgov.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#263 Tweak: Welder on/off sound
  code/game/objects/items/weapons/tools/weldingtool.dm
Labels: :scroll: CL валиден

#262 PR 259 Changelog author
  html/changelogs/AutoChangeLog-sierra-pr-259.yml
Labels: :scroll: CL не требуется

#264 [MIRROR] collect deepmaint into a pack
  baystation12.dme
  code/modules/maps/map_template.dm
  code/unit_tests/~unit_test_subsystems.dm
  maps/away/away_sites.dm
  maps/sierra/sierra.dm
  maps/torch/torch.dm
  packs/deepmaint/_pack.dm
  packs/deepmaint/deepmaint-1.dmm
  packs/deepmaint/deepmaint-2.dmm
  packs/deepmaint/deepmaint-3.dmm
  packs/deepmaint/deepmaint.dm
  packs/deepmaint/deepmaint_rooms/core/_core_rooms.dm
  packs/deepmaint/deepmaint_rooms/core/ai_core.dmm
  packs/deepmaint/deepmaint_rooms/core/archive.dmm
  packs/deepmaint/deepmaint_rooms/core/diner.dmm
  packs/deepmaint/deepmaint_rooms/core/maint_asteroid.dmm
  packs/deepmaint/deepmaint_rooms/core/medbay.dmm
  packs/deepmaint/deepmaint_rooms/core/telecoms.dmm
  packs/deepmaint/deepmaint_rooms/normal/_normal_rooms.dm
  packs/deepmaint/deepmaint_rooms/normal/angry_unionists.dmm
  packs/deepmaint/deepmaint_rooms/normal/asteroid_bar.dmm
  packs/deepmaint/deepmaint_rooms/normal/casino.dmm
  packs/deepmaint/deepmaint_rooms/normal/catwalks.dmm
  packs/deepmaint/deepmaint_rooms/normal/diner.dmm
  packs/deepmaint/deepmaint_rooms/normal/engine_room.dmm
  packs/deepmaint/deepmaint_rooms/normal/geese_observation.dmm
  packs/deepmaint/deepmaint_rooms/normal/lab.dmm
  packs/deepmaint/deepmaint_rooms/normal/medical.dmm
  packs/deepmaint/deepmaint_rooms/normal/office.dmm
  packs/deepmaint/deepmaint_rooms/normal/pirate_asteroid.dmm
  packs/deepmaint/deepmaint_rooms/normal/robot_asteroid.dmm
  packs/deepmaint/deepmaint_rooms/normal/ship_wreck.dmm
  packs/deepmaint/deepmaint_rooms/normal/supply.dmm
  packs/deepmaint/deepmaint_rooms/normal/tundra.dmm
  packs/deepmaint/deepmaint_rooms/normal/vampire_lair.dmm
  packs/deepmaint/deepmaint_rooms/template.dm
  packs/deepmaint/deepmaint_rooms/template.dmm
  packs/deepmaint/generator/deepmain_room.dm
  packs/deepmaint/generator/deepmaint.dm
  packs/deepmaint/generator/deepmaint_event.dm
  packs/deepmaint/generator/jp_dungeon_gen.dm
Labels: :world_map: Карты, :scroll: CL не требуется

#266 Fix: Bartender spawn positions
  maps/sierra/job/jobs_service.dm
Labels: :scroll: CL валиден

#268 [MIRROR] remove a newline from vote stats
  code/datums/vote/vote.dm
Labels: :scroll: CL не требуется

#325 [MIRROR] Adds transport drone
  baystation12.dme
  code/datums/beam.dm
  code/game/objects/items/weapons/circuitboards/other.dm
  code/modules/codex/entries/machinery.dm
  code/modules/codex/entries/tools.dm
  code/modules/fabrication/designs/general/designs_tools.dm
  code/modules/research/designs/designs_circuits.dm
  code/modules/xenoarcheaology/tools/transport_drone.dm
  icons/obj/landing_pad.dmi
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#339 Fix: YouTool cable coil
  code/game/machinery/vending/tool.dm
Labels: :scroll: CL валиден

#269 [MIRROR] Remove the BSD circuit board
  baystation12.dme
  code/game/machinery/bluespace_drive.dm
  code/game/objects/items/weapons/circuitboards/machinery/bluespacedrive.dm
  code/modules/research/designs/designs_circuits.dm
  maps/sierra/sierra-2.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#324 [MIRROR] Removes the officer's beret from SEA's loadout
  maps/torch/datums/uniforms_fleet.dm
Labels: :scroll: CL валиден

#323 [MIRROR] Adjusts integrated circuit injector targeting
  code/modules/integrated_electronics/subtypes/reagents.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/silicon.dm
  mods/quantum_mechanic/quantum_mechanic.dm
Labels: :scroll: CL валиден

#342 [MIRROR] Reduces renegade skill choices
  code/game/antagonist/station/renegade.dm
  code/modules/mob/skills/antag_skill_setter.dm
  code/modules/mob/skills/skill_ui.dm
Labels: :speech_balloon: Обсуждается, :scroll: CL валиден, :balance_scale: Баланс

#367 NTNet stage 1 + ui fix
  code/game/machinery/doors/door.dm
  nano/css/layout_default.css
  packs/sierra-tweaks/_pack.dm
  packs/sierra-tweaks/machinery/NTNet/NTNet-core.dm
  packs/sierra-tweaks/machinery/NTNet/terminal/commands/connect.dm
  packs/sierra-tweaks/machinery/NTNet/terminal/terminal-core.dm
Labels: :scroll: CL валиден

#344 [MIRROR] More Connection Checker Fixes
  code/modules/admin/admin.dm
  code/modules/admin/connectioncheck/connectioncheck_functions.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден

#373 [MIRROR] Check Connections UI
  code/modules/admin/connectioncheck/connectioncheck_functions.dm
  code/modules/admin/topic.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден

#372 [MIRROR] Increase wall health
  code/game/turfs/simulated/walls.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден

#375 [MIRROR] Stack Name Helpers
  code/__defines/feedback.dm
  code/game/machinery/_machines_base/machinery_components.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/simple.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/stack.dm
  code/modules/crafting/_crafting_stage.dm
  code/modules/materials/_materials.dm
  code/modules/materials/material_sheets.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/defense.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден

#374 [MIRROR] Bug Fixes 2023-04-09
  code/game/machinery/computer/guestpass.dm
  code/game/machinery/jukebox.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/glasses/eyepatch.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/shuttles/shuttle_console_multi.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден

#376 [MIRROR] Document crafting
  code/controllers/subsystems/initialization/fabrication.dm
  code/modules/crafting/_crafting_holder.dm
  code/modules/crafting/_crafting_stage.dm
Labels: :white_check_mark: Принято, :scroll: CL не требуется

#380 [MIRROR] Surgery on roller_bed
  code/_helpers/unsorted.dm
  code/modules/surgery/surgery.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден

#381 [MIRROR] Fix missing and update existing rank icons for nanoui map
  nano/css/icons.css
Labels: :white_check_mark: Принято, :scroll: CL валиден

#356 [MIRROR] Bug fixes 2023 04 08
  code/game/objects/items/traitor_plush.dm
  code/modules/recycling/disposal.dm
Labels: :scroll: CL валиден

#382 [MIRROR] Makes bridge Solar SMES start with normal magnetic coil
  maps/torch/torch_presets.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден

#343 [MIRROR] Add one-tile jumps/make vox jumps instant
  code/modules/mob/living/maneuvers/_maneuver.dm
  code/modules/mob/living/maneuvers/maneuver_leap.dm
  code/modules/species/species.dm
Labels: :scroll: CL валиден

#358 [MIRROR] fixes the AWFUL morpheus mistake I made
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_main.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#341 [MIRROR] Biscotti
  code/modules/food/recipes_microwave.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#347 [MIRROR] Inflatable cases now use "case" for their inhand icon
  code/game/objects/structures/inflatable.dm
Labels: :scroll: CL валиден

#357 [MIRROR] Bug fixes 2023 04 03
  code/modules/recycling/sortingmachinery.dm
Labels: :scroll: CL валиден

#361 [MIRROR] Upgrades bridge deck solars roundstart
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_presets.dm
Labels: :world_map: Карты, :scroll: CL валиден

#364 [MIRROR] Bugfix: NPC controlled zombie emotes
  code/modules/species/outsider/zombie.dm
Labels: :scroll: CL валиден

#363 [MIRROR] Fixes some issues with transport drones
  code/modules/xenoarcheaology/tools/transport_drone.dm
Labels: :scroll: CL валиден

#362 [MIRROR] Ported /tg/ emissives
  baystation12.dme
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/emissives.dm
  code/__defines/lighting.dm
  code/_helpers/emissives.dm
  code/_helpers/lighting.dm
  code/datums/beam.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/computer/computer.dm
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/modular_computers/file_system/programs/security/forceauthorization.dm
  code/modules/modular_computers/ntos/visuals.dm
  icons/obj/computer.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#340 [MIRROR] Chemistry iv bags
  code/game/machinery/kitchen/smartfridge.dm
  maps/sierra/sierra-3.dmm
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден

#365 [MIRROR] Fix ahelp replies not going to discord
  code/modules/admin/admin.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/mob/logout.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден

#369 [MIRROR] Reinforce event shuttle exterior walls
  maps/event/iccgn_ship/icgnv_hound.dmm
  maps/event/sfv_arbiter/sfv_arbiter.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден

#378 [MIRROR] Add standing at attention emote
  code/modules/emotes/definitions/_mob.dm
  code/modules/emotes/definitions/visible.dm
Labels: :scroll: CL валиден

#387 [MIRROR] tweak 'notes' topic output for easier usage
  code/modules/admin/player_notes.dm
Labels: :white_check_mark: Принято, :scroll: CL не требуется, :mirror: MIR ЯОЯ

#390 [MIRROR] Fix get_stack_name using the wrong var
  code/modules/materials/material_sheets.dm
Labels: :white_check_mark: Принято, :scroll: CL не требуется, :mirror: MIR ЯОЯ

#391 [MIRROR] Reduce sword force multiplier
  code/game/objects/items/weapons/material/swords.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#394 [MIRROR] Bug Fixes 2023-04-11
  maps/torch/torch3_deck3.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#395 [MIRROR] Bug Fixes 2023-04-12
  code/game/objects/structures/wall_frame.dm
  code/modules/recycling/sortingmachinery.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#405 [MIRROR] Fleet uniform fixes
  maps/torch/datums/uniforms.dm
  maps/torch/datums/uniforms_fleet.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#406 [MIRROR] fix torch chef closet to correct closet
  maps/torch/torch3_deck3.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#377 [MIRROR] Ports food sprites from TG and Aurora, cooker tweaks
  code/game/machinery/kitchen/cookers.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/objects/items/weapons/storage/mre.dm
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/sandwich.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  icons/obj/food.dmi
  icons/obj/food_custom.dmi
  icons/obj/food_ingredients.dmi
  maps/sierra/sierra-4.dmm
  test/check-paths.sh
Labels: :world_map: Карты, :mountain: Спрайты, :open_file_folder: Репозиторий, :white_check_mark: Принято, :scroll: CL валиден

#385 [MIRROR] `/mob` `New()` -> `Initialize()`
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/mechs/premade/powerloader.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/bot/cleanbot.dm
  code/modules/mob/living/bot/farmbot.dm
  code/modules/mob/living/bot/mulebot.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/laws.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/software.dm
  code/modules/mob/living/silicon/posi_brainmob.dm
  code/modules/mob/living/silicon/subsystems.dm
  code/modules/mob/living/simple_animal/aquatic/_aquatic.dm
  code/modules/mob/living/simple_animal/aquatic/aquatic_carp.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/living/simple_animal/crow/crow.dm
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/juvenile_space_whale.dm
  code/modules/mob/living/simple_animal/friendly/mushroom.dm
  code/modules/mob/living/simple_animal/friendly/slime.dm
  code/modules/mob/living/simple_animal/hostile/hivebot/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/observer/freelook/ai/eye.dm
  code/modules/mob/observer/freelook/ai/update_triggers.dm
  code/modules/mob/observer/freelook/cult/mask.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/observer/observer.dm
  code/modules/mob/observer/virtual/base.dm
  code/modules/mob/observer/virtual/mob.dm
  code/modules/species/outsider/zombie.dm
  code/modules/spells/racial_wizard.dm
  maps/torch/torch_npcs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#389 [MIRROR] Swaps hamburger and cheeseburger sprite
  icons/obj/food.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#396 [MIRROR] Mines
  baystation12.dme
  code/game/objects/effects/mines.dm
  code/game/objects/structures/mines.dm
  icons/obj/mines.dmi
  icons/obj/weapons/other.dmi
  maps/away/meatstation/meatstation.dmm
  test/check-paths.sh
Labels: :world_map: Карты, :mountain: Спрайты, :open_file_folder: Репозиторий, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#397 [MIRROR] New Advanced Energy Gun Sprites
  code/modules/projectiles/guns/energy/nuclear.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/adv_egun.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#407 [MIRROR] Assorted borg tweaks
  code/_onclick/ai.dm
  code/_onclick/cyborg.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  interface/interface.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#360 [MIRROR] A very boron pedantry PR
  code/__defines/colors.dm
  code/__defines/materials.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/wallframe_spawner.dm
  code/game/objects/structures/window.dm
  code/game/objects/structures/window_spawner.dm
  code/game/turfs/simulated/walls.dm
  code/modules/item_worth/worths_list.dm
  code/modules/materials/definitions/materials_glass.dm
  code/modules/materials/definitions/materials_mineral.dm
  code/modules/materials/material_sheets.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/random_map/automata/caves.dm
  code/modules/tables/presets.dm
  code/modules/xenoarcheaology/anomaly_container.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  maps/antag_spawn/ert/ert_base.dmm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/event/sfv_arbiter/sfv_arbiter.dmm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dmm
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  mods/maps/sentinel/sentinel-1.dmm
  packs/infinity/machinery/machines.dm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден

#410 [MIRROR] Reduces hardsuit chem injection amount to 5u
  code/modules/clothing/spacesuits/rig/modules/utility.dm
Labels: :1st_place_medal: Literally the best PR, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#404 [MIRROR] Corrects spelling of "meatstake" icon to "meatsteak"
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
Labels: :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#409 [MIRROR] Fixes table slamming, three eye overlay
  code/game/objects/structures.dm
  code/modules/client/client_color.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#408 [MIRROR] Bug fixes 2023 04 16
  code/datums/browser.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/inflatable.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/tables/tables.dm
  maps/torch/torch2_deck4.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#411 [MIRROR] Gives Civilian Pilots access to formal clothes
  maps/torch/loadout/_defines.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#414 [MIRROR] Misc fixes 4-18-23
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/skrell/skrell_rigs.dm
  maps/random_ruins/exoplanet_ruins/playablecolony2/playablecolony2.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#413 [MIRROR] Bump actions/setup-python from 4.5.0 to 4.6.0
  .github/workflows/changelog_generation.yml
  .github/workflows/make_changelogs.yml
Labels: :open_file_folder: Репозиторий, :scroll: CL не требуется, :mirror: MIR ЯОЯ

#416 [MIRROR] MMIs inside FBPs are no longer immortal
  code/modules/organs/internal/species/fbp.dm
Labels: :1st_place_medal: Literally the best PR, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#419 [MIRROR] Bug Fixes 2023-04-19
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/wall_frame.dm
  code/modules/recycling/disposal-construction.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#420 [MIRROR] Bug Fixes 2023-04-15
  code/game/objects/items/devices/scanners/health.dm
  code/modules/blob/blob.dm
  code/modules/crafting/_crafting_holder.dm
  code/modules/materials/material_sheets.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/wounds/wound.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/disposalholder.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#322 Звуки стаканов, баллонов, фаер-бластдоров и креста
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/sound.dm
  code/modules/reagents/reagent_containers/drinkingglass/drinkingglass.dm
  packs/sierra-tweaks/sound/effects/blast_open_close.ogg
  packs/sierra-tweaks/sound/effects/extinguisher_pickup.ogg
  packs/sierra-tweaks/sound/effects/glass2_drop.ogg
  packs/sierra-tweaks/sound/effects/glass2_pickup.ogg
  packs/sierra-tweaks/sound/effects/glass3_drop.ogg
  packs/sierra-tweaks/sound/effects/glass3_pickup.ogg
  packs/sierra-tweaks/sound/effects/glass4_drop.ogg
  packs/sierra-tweaks/sound/effects/glass4_pickup.ogg
  packs/sierra-tweaks/sound/effects/glass5_drop.ogg
  packs/sierra-tweaks/sound/effects/glass5_pickup.ogg
  packs/sierra-tweaks/sound/effects/glass6_drop.ogg
  packs/sierra-tweaks/sound/effects/glass6_pickup.ogg
  packs/sierra-tweaks/sound/effects/glass_drop.ogg
  packs/sierra-tweaks/sound/effects/glass_pickup.ogg
  packs/sierra-tweaks/sound/effects/tank2_drop.ogg
  packs/sierra-tweaks/sound/effects/tank_drop.ogg
  packs/sierra-tweaks/sound/effects/tank_pickup.ogg
Labels: :sound: Звуки, :scroll: CL валиден

#384 Map: Pioneer Corps
  maps/away_sites_testing/away_sites_testing.dm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra.dm
  maps/sierra/sierra_overmap.dm
  maps/sierra/sierra_ranks.dm
  mods/maps/farfleet/_map_farfleet.dm
  mods/maps/farfleet/_map_farfleet.dme
  mods/maps/farfleet/farfleet-1.dmm
  mods/maps/farfleet/farfleet-2.dmm
  mods/maps/farfleet/farfleet.dm
  mods/maps/farfleet/farfleet_areas.dm
  mods/maps/farfleet/farfleet_crew.dm
  mods/maps/farfleet/farfleet_faction.dm
  mods/maps/farfleet/farfleet_items.dm
  mods/maps/farfleet/farfleet_presets.dm
  mods/maps/farfleet/farfleet_shuttle.dm
  mods/maps/farfleet/farfleet_structures.dm
  mods/maps/farfleet/farfleet_turbolift.dm
  mods/maps/farfleet/icons/GCC-floor.dmi
  mods/maps/farfleet/icons/bonfire.dmi
  mods/maps/farfleet/icons/iccg_flag.dmi
  mods/maps/farfleet/icons/iccg_rifle.dmi
  mods/maps/farfleet/icons/lefthand.dmi
  mods/maps/farfleet/icons/mbr_bullpup.dmi
  mods/maps/farfleet/icons/mr735.dmi
  mods/maps/farfleet/icons/righthand.dmi
  mods/maps/farfleet/icons/stupor.dmi
  test/check-paths.sh
Labels: :world_map: Карты, :mountain: Спрайты, :open_file_folder: Репозиторий, :hourglass: Ожидание автора, :scroll: CL валиден, :compass: Авей-карты

#425 [MIRROR] Fix guest pass terminal ui template
  nano/templates/guestpass.tmpl
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#436 [MIRROR] Fixes missing pixels in unbranded hand sides
  icons/mob/human_races/cyberlimbs/robotic.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#321 Звуки падения тел локально и через Z уровни
  code/game/sound.dm
  code/modules/multiz/movement.dm
  packs/infinity/items/music_player/_music_player.dm
  packs/sierra-tweaks/_pack.dm
  packs/sierra-tweaks/mob/bodyfall_sound.dm
  packs/sierra-tweaks/sound/effects/bodyfall/bodyfall1.ogg
  packs/sierra-tweaks/sound/effects/bodyfall/bodyfall2.ogg
  packs/sierra-tweaks/sound/effects/bodyfall/bodyfall3.ogg
  packs/sierra-tweaks/sound/effects/bodyfall/bodyfall4.ogg
  packs/sierra-tweaks/sound/effects/bodyfall/bodyfall_skrell1.ogg
  packs/sierra-tweaks/sound/effects/bodyfall/bodyfall_skrell2.ogg
  packs/sierra-tweaks/sound/effects/bodyfall/bodyfall_skrell3.ogg
  packs/sierra-tweaks/sound/effects/bodyfall/bodyfall_skrell4.ogg
Labels: :sound: Звуки, :scroll: CL валиден

#422 Fix: Various map issues
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/structures/closets/engineering.dm
  maps/sierra/structures/closets/services.dm
  packs/infinity/_pack.dm
  packs/infinity/icons/mob/mobs.dmi
  packs/infinity/mobs/simple/rabbit.dm
Labels: :world_map: Карты, :mountain: Спрайты, :mag: Требуется ревью, :scroll: CL валиден, :infinity: Ancient Evil, :detective: Объект

#423 [MIRROR] Chemical triggers are now more accepting of chemicals
  code/modules/xenoarcheaology/triggers/chemical.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#424 [MIRROR] Fixes ninja having wrong chem dispenser
  code/modules/clothing/spacesuits/rig/suits/light.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#426 [MIRROR] Changes zipgun trigger to be a lightswitch
  code/modules/crafting/crafting_weapons_ranged.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#427 [MIRROR] Fix active tickets timing out
  code/modules/admin/ticket.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#430 [MIRROR] Fix deathgrips (again)
  code/modules/mob/grab/grab_datum.dm
  code/modules/mob/grab/normal/norm_aggressive.dm
  code/modules/mob/grab/normal/norm_kill.dm
  code/modules/mob/grab/normal/norm_neck.dm
  code/modules/mob/grab/normal/norm_struggle.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#438 [MIRROR] Remove `T_BOARD` Defines
  code/__defines/research.dm
  code/datums/extensions/multitool/circuitboards/buildtype_select.dm
  code/game/objects/items/weapons/circuitboards/circuitboard.dm
  code/game/objects/items/weapons/circuitboards/computer/air_management.dm
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/game/objects/items/weapons/circuitboards/computer/holodeckcontrol.dm
  code/game/objects/items/weapons/circuitboards/computer/research.dm
  code/game/objects/items/weapons/circuitboards/computer/shuttle.dm
  code/game/objects/items/weapons/circuitboards/computer/station_alert.dm
  code/game/objects/items/weapons/circuitboards/computer/telecomms.dm
  code/game/objects/items/weapons/circuitboards/machinery/biogenerator.dm
  code/game/objects/items/weapons/circuitboards/machinery/chemistry.dm
  code/game/objects/items/weapons/circuitboards/machinery/cloning.dm
  code/game/objects/items/weapons/circuitboards/machinery/commsantenna.dm
  code/game/objects/items/weapons/circuitboards/machinery/engineering_circuits.dm
  code/game/objects/items/weapons/circuitboards/machinery/gravgen.dm
  code/game/objects/items/weapons/circuitboards/machinery/household.dm
  code/game/objects/items/weapons/circuitboards/machinery/mech_recharger.dm
  code/game/objects/items/weapons/circuitboards/machinery/medical.dm
  code/game/objects/items/weapons/circuitboards/machinery/mining.dm
  code/game/objects/items/weapons/circuitboards/machinery/mining_drill.dm
  code/game/objects/items/weapons/circuitboards/machinery/oxyregenerator.dm
  code/game/objects/items/weapons/circuitboards/machinery/pacman.dm
  code/game/objects/items/weapons/circuitboards/machinery/portable_atmospherics.dm
  code/game/objects/items/weapons/circuitboards/machinery/power.dm
  code/game/objects/items/weapons/circuitboards/machinery/recharge_station.dm
  code/game/objects/items/weapons/circuitboards/machinery/research.dm
  code/game/objects/items/weapons/circuitboards/machinery/shieldgen.dm
  code/game/objects/items/weapons/circuitboards/machinery/telecomms.dm
  code/game/objects/items/weapons/circuitboards/machinery/teleporter.dm
  code/game/objects/items/weapons/circuitboards/machinery/unary_atmos.dm
  code/game/objects/items/weapons/circuitboards/other.dm
  code/modules/mechs/components/software.dm
  code/modules/overmap/disperser/disperser_circuit.dm
  code/modules/overmap/ships/beacon.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/engines/gas_thruster.dm
  code/modules/overmap/ships/engines/ion_thruster.dm
  code/modules/power/fusion/fusion_circuits.dm
  mods/maps/sentinel/sentinel_structures.dm
  packs/infinity/machinery/scrap_compactor/scrap_circuitboards.dm
Labels: :scroll: CL невалиден, :mirror: MIR ЯОЯ

#440 [MIRROR] Bug Fixes 2023-04-23
  code/controllers/subsystems/initialization/misc_late.dm
  code/datums/trading/trade.dm
  code/game/antagonist/antagonist_add.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/structures/drain.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/admin/view_variables/view_variables.dm
  code/modules/games/boardgame.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/research/rdmachines.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#429 [MIRROR] SCG and ICCG rifles
  code/__defines/guns.dm
  code/modules/power/gravitygenerator.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/guns/bullpup_rifle.dmi
  icons/obj/guns/bullpup_rifle_light.dmi
  icons/obj/guns/terran_rifle.dmi
  packs/infinity/items/projectile/guns/automatic.dm
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#434 [MIRROR] Updates penetration_modifier comment
  code/modules/projectiles/projectile.dm
Labels: :scroll: CL не требуется, :mirror: MIR ЯОЯ

#435 [MIRROR] removes union membership from uniformed services loadout options
  maps/torch/loadout/loadout_misc.dm
Labels: :scroll: CL невалиден, :mirror: MIR ЯОЯ

#445 [MIRROR] Make plaid skirts actually skirts
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/skirts.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#448 [MIRROR] Gun Fixes / Magazine Blacklists
  code/modules/projectiles/guns/projectile.dm
  maps/torch/items/weapons.dm
  packs/faction_iccgn/weapons.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#449 [MIRROR] Bug Fixes 2023-04-25
  code/_helpers/mobs.dm
  code/game/objects/items/weapons/material/bell.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#450 [MIRROR] Camera Tweaks & Fixes
  code/game/machinery/camera/camera.dm
  code/modules/modular_computers/file_system/programs/generic/camera.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#451 [MIRROR] Make drink dispensers rotatable
  code/modules/reagents/dispenser/dispenser2.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#453 [MIRROR] Adds more chest-rigs
  code/game/objects/random/random.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/suits/jobs.dm
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_suit.dmi
  maps/torch/loadout/loadout_suit.dm
  maps/torch/structures/closets/engineering.dm
Labels: :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#459 [MIRROR] (azlan) adds new sprites for drones (33308)
  code/modules/xenoarcheaology/tools/transport_drone.dm
  icons/obj/landing_pad.dmi
Labels: :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#452 [MIRROR] Table objects
  code/__defines/flags.dm
  code/__defines/misc.dm
  code/_onclick/item_attack.dm
  code/game/machinery/cell_charger.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/kitchen/microwave.dm
  code/game/machinery/recharger.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/reagents/Chemistry-Grinder.dm
  code/modules/reagents/dispenser/dispenser2.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
  code/modules/reagents/heat_sources/_heat_source.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/tables/interactions.dm
  code/modules/tables/rack.dm
  code/modules/tables/tables.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#460 [MIRROR] nano housekeeping 1
  nano/js/nano_base_callbacks.js
  nano/js/nano_base_helpers.js
  nano/js/nano_state.js
  nano/js/nano_state_default.js
  nano/js/nano_state_manager.js
  nano/js/nano_template.js
  nano/js/nano_utility.js
Labels: :white_check_mark: Принято, :scroll: CL невалиден, :mirror: MIR ЯОЯ

#461 [MIRROR] updates new chest-rigs to use better palette
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#457 [MIRROR] Ban Checking UI Updates
  baystation12.dme
  code/modules/admin/connectioncheck/bancheck_functions.dm
  code/modules/admin/connectioncheck/connectioncheck_functions.dm
  code/modules/admin/topic.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#441 [MIRROR] Bug Fixes 2023-04-24
  code/game/objects/structures/railing.dm
  code/game/objects/structures/window.dm
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#444 CI upgrade
  .github/workflows/check_changelog.yml
  tools/changelog/sierra_check_changelog.py
Labels: :open_file_folder: Репозиторий, :scroll: CL не требуется

#442 [MIRROR] Bug Fixes 2023-04-26
  code/modules/mob/living/carbon/human/human_maneuvers.dm
  code/modules/mob/observer/freelook/ai/update_triggers.dm
  code/modules/organs/external/_external.dm
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/casino/casino.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/meatstation/meatstation.dmm
  maps/away/miningstation/miningstation.dmm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/slavers/slavers_base.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#447 [MIRROR] Flag supermatter core and waste chamber as airless
  maps/torch/torch4_deck2.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :hourglass: Ожидание автора, :scroll: CL валиден, :mirror: MIR ЯОЯ

#462 [MIRROR] wallets can't hold syringes and hyposprays
  code/game/objects/items/weapons/storage/wallets.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#464 [MIRROR] Various storage tweaks
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/lunchbox.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/items/weapons/weldbackpack.dm
  code/modules/client/preference_setup/loadout/lists/storage.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#465 [MIRROR] fix riot shotgun pump delay
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#466 Fix: `TRUE` to `1` in dmm
  maps/sierra/sierra-2.dmm
Labels: :world_map: Карты, :scroll: CL не требуется

#454 [MIRROR] makes ai say list access a little safer
  code/modules/ai/ai_holder_communication.dm
Labels: :white_check_mark: Принято, :scroll: CL невалиден, :mirror: MIR ЯОЯ

#456 [MIRROR] Vox Raiders: Lootbox Edition
  code/datums/outfits/misc.dm
  code/game/antagonist/outsider/vox.dm
  code/modules/augment/active/nerve_dampeners.dm
  code/modules/augment/implanter.dm
  maps/antag_spawn/vox/vox.dmi
  maps/antag_spawn/vox/vox_raider.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#458 [MIRROR] `do_skilled()` for skilled interactions
  code/game/machinery/computer/ai_core.dm
  code/game/machinery/doors/firedoor_assembly.dm
  code/game/objects/structures/barricade.dm
  code/game/objects/structures/catwalk.dm
  code/game/objects/structures/crates_lockers/closets/coffin.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/pit.dm
  code/game/objects/structures/railing.dm
  code/game/objects/structures/rubble.dm
  code/game/objects/structures/wall_frame.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/modules/library/lib_items.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_animal/defense.dm
  code/modules/mob/skills/skillset.dm
  code/modules/persistence/graffiti.dm
  code/modules/persistence/noticeboards.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/recycling/disposal-construction.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/disposalpipe.dm
  code/modules/tables/tables.dm
  code/modules/xenoarcheaology/boulder.dm
Labels: :white_check_mark: Принято, :scroll: CL невалиден, :mirror: MIR ЯОЯ

#467 [MIRROR] fixed a moved event in cameras not unregistering
  code/modules/modular_computers/file_system/programs/generic/camera.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ
