Repository SierraBay/SierraBay12, pull requests merged in 2023-05, with the labels that each got.

#455 [MIRROR] Hot/Cold plate
  code/game/objects/items/weapons/circuitboards/machinery/chemistry.dm
  code/modules/reagents/heat_sources/_heat_source.dm
  code/modules/research/designs/designs_circuits.dm
  maps/away/meatstation/meatstation.dmm
  maps/away/miningstation/miningstation.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/voxship/voxship-2.dmm
  maps/example/example-2.dmm
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra-4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  mods/maps/farfleet/farfleet-2.dmm
  mods/maps/sentinel/sentinel-2.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#471 [MIRROR] prescription material goggles
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/clothing/glasses/glasses.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#490 [MIRROR] Mysql schema dump
  .github/labeler.yml
  sql/Dockerfile
  sql/README.md
  sql/migrate/V001__Initial_schema.sql
  sql/migrate/V002__Update_tajlang.sql
  sql/migrate/V003__Update_Antag_Bans.sql
  sql/migrate/V004__Add_StaffWarn.sql
  sql/migrate/V005__Cyborg2Robot.sql
  sql/migrate/V006__InfinityTables.sql
  sql/migrate/V007__Remove_Polls.sql
  sql/migrate/V008__Add_Discord_Accounts.sql
  sql/migrate/V009__Add_Player_Experience.sql
  sql/migrate/V010__Donations.sql
  sql/schema.sql
Labels: :open_file_folder: Репозиторий, :floppy_disk: База данных

#489 [MIRROR] Fix `SANITY_CHECK_BOTH_ADJACENT` check
  code/__defines/misc.dm
  code/_onclick/item_attack.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#488 [MIRROR] After ten thousand years, #define get_area()
  code/_helpers/game.dm
  code/_macros.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#487 [MIRROR] Fix empty use_sanity_check calls
  code/game/machinery/doors/firedoor_assembly.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/defense.dm
  code/modules/power/cable_coil.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#486 [MIRROR] Fix light replacer replacing bag
  code/game/objects/structures/janicart.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#485 [MIRROR] Fix Integrated Cameras
  code/game/machinery/_machines_base/machinery_stat.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/integrated_electronics/subtypes/output.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#484 [MIRROR] Only show email subject in chat log
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#469 [MIRROR] Fix mangled meatstation tile
  maps/away/meatstation/meatstation.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#468 [MIRROR] messenger bags get grey/black/brown options
  code/datums/outfits/equipment/backpacks.dm
  code/game/objects/items/weapons/storage/backpack.dm
  icons/mob/onmob/onmob_back.dmi
  icons/obj/storage.dmi
Labels: :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#472 [MIRROR] Fix runtimes when do_after has no target.
  code/_helpers/mobs.dm
  upstream-pr-33398.patch
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#473 [MIRROR] Devices attached to bombs can be activated
  code/game/objects/items/devices/transfer_valve.dm
  nano/templates/transfer_valve.tmpl
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#474 [MIRROR] add /singleton/shared_list
  baystation12.dme
  code/datums/singletons/shared_list.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#475 [MIRROR] rcd crossbow gets a new fire sound
  code/modules/projectiles/guns/launcher/crossbow.dm
  sound/weapons/rcd_crossbow.ogg
Labels: :white_check_mark: Принято, :sound: Звуки, :scroll: CL валиден, :mirror: MIR ЯОЯ

#476 [MIRROR] Toggle gamemode requirements check verb
  code/controllers/subsystems/ticker.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#477 [MIRROR] Fix cameras runtiming if mobs list has a null entry
  code/game/machinery/camera/camera.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#478 [MIRROR] Merge responsive carriers and finds as strings lists
  code/modules/xenoarcheaology/finds/finds_defines.dm
  code/modules/xenoarcheaology/tools/geosample_scanner.dm
  code/modules/xenoarcheaology/tools/tools.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#479 [MIRROR] Make `is_species()` null-safe
  code/modules/mob/mob_helpers.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#480 [MIRROR] Fix runtime when adding robot parts to robots
  code/modules/mob/living/silicon/robot/robot.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#481 [MIRROR] Fix invalid use of set_color in water effects
  code/game/objects/effects/chem/water.dm
  code/modules/reagents/reagent_containers/spray.dm
  icons/obj/chempuff.dmi
Labels: :mountain: Спрайты, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#482 [MIRROR] Telecomms uses cold air alarm
  maps/torch/torch2_deck4.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#483 [MIRROR] zmimic removes itself from renderers on destroy
  code/__defines/_renderer.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#388 feat: legalese language
  maps/sierra/sierra.dm
  mods/skills/bureaucracy/legalese_language/_legalese.dm
  mods/skills/bureaucracy/legalese_language/_legalese.dme
  mods/skills/bureaucracy/legalese_language/gutter.dm
  mods/skills/bureaucracy/legalese_language/legalese.dm
  mods/skills/bureaucracy/legalese_language/robot_module.dm
  mods/skills/bureaucracy/legalese_language/selenian.dm
  mods/skills/bureaucracy/legalese_language/skill.dm
Labels: :scroll: CL валиден

#492 [MIRROR] Halves hud color intensity
  icons/obj/hud_full.dmi
Labels: :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#493 [MIRROR] Supervisor text tweaks
  code/controllers/subsystems/ticker.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#496 [MIRROR] Minor tracks refactor + runtime fix
  code/game/objects/effects/decals/Cleanable/tracks.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#495 [MIRROR] Gendered Objects Fixes
  code/modules/clothing/underwear/base.dm
  code/modules/mob/gender.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/psionics/mob/mob_assay.dm
  code/modules/species/station/prometheans.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#494 [MIRROR] Disposals Anchoring Fixes
  code/game/machinery/pipe/pipe_datums/disposal_pipe_datums.dm
  code/modules/recycling/disposal-construction.dm
  code/modules/recycling/disposalpipe.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#498 [MIRROR] no healing hands or surgery counselors
  maps/torch/job/medical_jobs.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#500 [MIRROR] Integrated Camera Fix
  code/game/machinery/_machines_base/machinery_stat.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#501 [MIRROR] Fix t_scanner destroy cleanup
  code/game/objects/items/devices/t_scanner.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#502 [MIRROR] Run sanity check after food combination prompts
  code/game/machinery/kitchen/cookers.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#503 [MIRROR] Make `print_player_summary()` null-safe
  code/game/antagonist/antagonist_print.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#499 [MIRROR] Research storage changes
  code/datums/appearances/automatic/cardborg.dm
  code/datums/outfits/jobs/_defines.dm
  code/datums/outfits/jobs/medical.dm
  code/datums/outfits/jobs/science.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/xenoarcheaology/misc.dm
  icons/mob/onmob/items/lefthand_backpacks.dmi
  icons/mob/onmob/items/righthand_backpacks.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/storage.dmi
  maps/sierra/items/items.dm
  maps/torch/items/items.dm
  maps/torch/job/outfits/corporate_outfits.dm
  maps/torch/job/outfits/research_outfits.dm
  maps/torch/structures/closets/research.dm
Labels: :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#505 [MIRROR] Fix invalid fire_act call in fire_act_adjacent
  code/game/turfs/simulated/floor_acts.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#506 [MIRROR] Moves the science janitor alt title to janitor, fixes a uniform spawn
  maps/torch/job/research_jobs.dm
  maps/torch/job/service_jobs.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#507 [MIRROR] Increases the carbine/semistrip rifle to ITEM_SIZE_HUGE
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#504 [MIRROR] Remove from `xeno_artifact_turfs()` on destroy
  code/modules/mining/mine_turfs.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#508 [MIRROR] Fixes Prone Unathi Overlay Issues
  code/modules/species/station/lizard.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#533 [MIRROR] Fixes book URls
  maps/torch/items/manuals.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#518 Sound fixed
  code/modules/mob/living/bot/cleanbot.dm
Labels: :scroll: CL валиден

#513 [MIRROR] Unathi default regen is true, cannot toggle, less regen when sleeping
  code/game/objects/auras/regenerating_aura.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#509 [MIRROR] Structure stack names
  baystation12.dme
  code/game/machinery/doors/firedoor_assembly.dm
  code/game/objects/structures/coathanger.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/shower.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/watercloset.dm
  code/game/objects/structures/window.dm
  code/modules/holodeck/HolodeckObjects.dm
  maps/away/magshield/magshield.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#510 [MIRROR] Fetch Connections/Bans UI and Function Cleanup & Fixes
  code/modules/admin/connectioncheck/bancheck_functions.dm
  code/modules/admin/connectioncheck/connectioncheck_functions.dm
  html/browser/common.css
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#511 [MIRROR] Initialize global xeno lists
  code/controllers/subsystems/initialization/misc_late.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#512 [MIRROR] Changes to GravityChange
  code/game/area/areas.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#517 [MIRROR] shared_list to base def, /sound & /path subtypes
  baystation12.dme
  code/datums/singletons/shared_list/_shared_list.dm
  code/datums/singletons/shared_list/path.dm
  code/datums/singletons/shared_list/sound.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#548 [MIRROR] Removes Loadout Pets
  baystation12.dme
  code/modules/client/preference_setup/loadout/lists/pet.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#549 [MIRROR] Some research colors fixes
  code/game/machinery/doors/airlock.dm
  maps/torch/structures/closets/research.dm
  maps/torch/torch6_bridge.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#519 [MIRROR] Material Icon Refactor
  code/game/objects/items/stacks/stack.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/wall_types.dm
  code/modules/materials/_materials.dm
  code/modules/materials/definitions/materials_glass.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/definitions/materials_mineral.dm
  code/modules/materials/definitions/materials_organic.dm
  code/modules/materials/definitions/materials_other.dm
  code/modules/materials/definitions/materials_stone.dm
  code/modules/materials/definitions/materials_wood.dm
  code/modules/materials/material_sheets.dm
  code/modules/psionics/null/material.dm
  code/modules/tables/tables.dm
  icons/obj/materials.dmi
  packs/infinity/machinery/scrap_compactor/scrap.dm
Labels: :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#520 [MIRROR] More Sanity Check Flags
  code/__defines/misc.dm
  code/_onclick/item_attack.dm
  code/game/objects/objs.dm
  code/modules/mechs/mech_construction.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mob/living/simple_animal/constructs/soulstone.dm
  code/modules/reagents/reagent_dispenser.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#521 [MIRROR] Cosmosharks and Carp variants no longer fight
  code/modules/mob/living/simple_animal/hostile/space_pike.dm
  code/modules/mob/living/simple_animal/hostile/space_shark.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#522 [MIRROR] Tweaks cheval-de-frise
  code/game/objects/structures/barricade.dm
  icons/obj/structures.dmi
Labels: :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#523 [MIRROR] Raises hit chance against mech times a quarter
  code/modules/mob/living/living_defense.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#528 [MIRROR] Fix Machinery subsystem pipenet runtimes
  code/controllers/subsystems/machines.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#531 [MIRROR] Call parent if closet has no lock
  code/game/objects/structures/crates_lockers/closets/__closet.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#544 [MIRROR] Adds extra error logging for map template loading
  code/modules/maps/map_template.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#545 [MIRROR] Adds NJP form to the report editor
  maps/torch/datums/reports/security.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#546 [MIRROR] Remove rotatable flag from fullsize windows
  code/game/objects/structures/window.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#526 [MIRROR] Laser scalpels
  code/datums/outfits/horror_killers.dm
  code/datums/supplypacks/medical.dm
  code/datums/trading/goods.dm
  code/game/machinery/vending/robotics.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/game/objects/random/random.dm
  code/modules/augment/active/tool/surgical.dm
  code/modules/fabrication/designs/general/designs_medical.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_cultivator.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_forensics.dm
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/mob/living/silicon/robot/modules/module_research.dm
  code/modules/research/designs/designs_surgery.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/slimes.dm
  maps/antag_spawn/heist/heist_base.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/lar_maria/lar_maria.dm
  maps/away/miningstation/miningstation.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/slavers/slavers_base.dmm
  maps/example/example-2.dmm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/z1_admin.dmm
  packs/deepmaint/deepmaint_rooms/normal/lab.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#535 [MIRROR] fix behavior of get_crewmember_record
  code/modules/modular_computers/file_system/reports/crew_record.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#527 [MIRROR] adds animals to gold slime reactions
  code/modules/reagents/Chemistry-Recipes.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#534 [MIRROR] Cash is always tiny
  code/modules/economy/cash.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#529 [MIRROR] remove reagents ics
  baystation12.dme
  code/modules/integrated_electronics/core/prefab/test/testprefabs.dm
  code/modules/integrated_electronics/subtypes/reagents.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#541 [MIRROR] records aren't deleted on cryo
  code/game/machinery/cryopod.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#540 [MIRROR] fix multi aug surgery 1
  code/_helpers/lists.dm
  code/modules/surgery/robotics.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#539 [MIRROR] spike throwers can't be fumbled
  code/modules/projectiles/guns/launcher/alien.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#515 Recharger for music player and music rewriter distance fix
  code/game/sound.dm
  packs/infinity/items/music_player/_music_tape.dm
  packs/infinity/items/music_player/music_writer.dm
  packs/sierra-tweaks/_pack.dm
  packs/sierra-tweaks/objects/machines/recharger.dm
  packs/sierra-tweaks/sound/effects/small_plastic_drop.ogg
  packs/sierra-tweaks/sound/effects/small_plastic_pickup.ogg
Labels: :sound: Звуки, :scroll: CL валиден

#547 [MIRROR] fix burn damage display on scanners
  code/modules/organs/external/_external.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#536 [MIRROR] Click Modifier Refactor
  code/_onclick/ai.dm
  code/_onclick/click.dm
  code/_onclick/cyborg.dm
  code/_onclick/rig.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/bodyscanner.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/cryo.dm
  code/game/objects/items/devices/gps.dm
  code/game/objects/items/devices/paint_sprayer.dm
  code/game/objects/items/devices/personal_shield.dm
  code/game/objects/items/weapons/cane.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/game/objects/structures/extinguisher.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/atmospherics/components/binary_devices/pump.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/masks/monitor.dm
  code/modules/detectivework/microscope/microscope.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/mechs/equipment/engineering.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/modular_computers/computers/subtypes/dev_laptop.dm
  code/modules/modular_computers/computers/subtypes/dev_pda.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/launcher/foam_gun.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/psionics/interface/ui_hub.dm
  code/modules/reagents/Chemistry-Grinder.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/dispenser/dispenser2.dm
  code/modules/reagents/heat_sources/_heat_source.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/tables/interactions.dm
  packs/infinity/items/modular_computer.dm
  packs/infinity/items/music_player/_music_player.dm
  packs/infinity/structures/mag_tables.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#538 [MIRROR] generate_valid_species & change_appearance fixes
  code/__defines/mobs.dm
  code/game/antagonist/antagonist_update.dm
  code/modules/acting/acting_items.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/nano/modules/human_appearance.dm
  code/modules/spells/artifacts/spellbound_servants.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#537 [MIRROR] Apply `use_*` to `/obj/item/gun/*`
  code/modules/projectiles/guns/launcher/crossbow.dm
  code/modules/projectiles/guns/launcher/foam_gun.dm
  code/modules/projectiles/guns/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/launcher/money_cannon.dm
  code/modules/projectiles/guns/launcher/net.dm
  code/modules/projectiles/guns/launcher/pneumatic.dm
  code/modules/projectiles/guns/launcher/rocket.dm
  code/modules/projectiles/guns/launcher/syringe_gun.dm
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/dartgun.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/secure.dm
  maps/torch/items/explo_shotgun.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#532 [MIRROR] Fix rods using sheet stack sprites
  code/__defines/materials.dm
  code/game/objects/items/stacks/rods.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/material_synth.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#550 [MIRROR] Adds heels for fleet service and dress.
  icons/mob/onmob/onmob_feet.dmi
  icons/obj/clothing/obj_feet.dmi
  maps/torch/datums/uniforms.dm
  maps/torch/items/clothing/solgov-feet.dm
  maps/torch/items/uniform_vendor.dm
Labels: :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#543 fax machine sound fix
  code/modules/paperwork/faxmachine.dm
  packs/sierra-tweaks/sound/machines/printer.ogg
Labels: :sound: Звуки, :scroll: CL валиден

#552 [MIRROR] Lets unathi regen again
  code/game/objects/auras/regenerating_aura.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#553 [MIRROR] Fix psionics UI element not being clickable
  code/modules/psionics/interface/ui_hub.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#555 [MIRROR] Fixes a Uranium typo
  code/modules/materials/material_sheets.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#556 [MIRROR] Moves the damage and surgery layers above clothes.
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#557 [MIRROR] Let OFD choose coordinates
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/overmap/disperser/disperser_fire.dm
  code/modules/overmap/ships/computers/helm.dm
  nano/templates/disperser.tmpl
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#558 Boo
  maps/sierra/sierra-3.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :bug: Баг

#563 [MIRROR] Revert "Moves the damage and surgery layers above clothes."
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#565 [MIRROR] Unarmed attack fixes
  code/modules/mob/living/carbon/human/unarmed_attack.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#566 [MIRROR] Clean up research lockers
  maps/torch/items/headsets.dm
  maps/torch/structures/closets/research.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#567 [MIRROR] Congregated map changes
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#569 [MIRROR] add cbrand, cbrand picker tool
  code/core/math/math.dm
  tools/cbrand-picker.html
Labels: :open_file_folder: Репозиторий, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#561 Stasis pod circuit
  packs/infinity/machinery/survival_pod.dm
Labels: :scroll: CL валиден, :detective: Объект

#568 [MIRROR] Moves the damage layers above clothes (Now with less naked)
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#562 [MIRROR] vscode defaults renders whitespace
  .vscode/settings.json
Labels: :open_file_folder: Репозиторий, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#570 [MIRROR] cbrand -> poly_interp*
  code/core/math/math.dm
  tools/polyvis.html
Labels: :open_file_folder: Репозиторий, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#573 [MIRROR] Remove `use_user()`
  code/_onclick/item_attack.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#574 [MIRROR] Remove topic checks from default sanity checks
  code/__defines/misc.dm
  code/_onclick/item_attack.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#575 [MIRROR] Remove the helm access from crashed probe
  maps/random_ruins/exoplanet_ruins/crashed_probe/crashed_probe.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#576 [MIRROR] Adds toe-less foam clogs
  code/modules/client/preference_setup/loadout/lists/footwear.dm
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/clothing/shoes/miscellaneous.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/species/unathi/onmob_eyes_unathi.dmi
  icons/mob/species/unathi/onmob_feet_unathi.dmi
  icons/obj/clothing/obj_feet.dmi
  maps/torch/icons/mob/unathi/onmob_accessories_solgov_unathi.dmi
  maps/torch/loadout/loadout_xeno.dm
Labels: :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#579 [MIRROR] EC Science Bag Sprite Update
  icons/mob/onmob/items/lefthand_backpacks.dmi
  icons/mob/onmob/items/righthand_backpacks.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/storage.dmi
Labels: :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#578 [MIRROR] Fix reinforced material wall and table icons
  code/game/turfs/simulated/wall_icon.dm
  code/modules/tables/tables.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#580 [MIRROR] Randomize aliumium icons
  code/modules/materials/definitions/materials_metal.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#583 [MIRROR] Lar maria Pronouns Fix
  maps/away/lar_maria/lar_maria.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#572 [MIRROR] Reverts ChemLab remap
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#581 [MIRROR] druidic tendencies
  code/_onclick/hud/action.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/suit_cooling.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/scrubpack.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/modules/butchery/remains.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/light_overlays.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/obj/light_overlays.dmi
Labels: :mountain: Спрайты, :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#588 [MIRROR] Slime surgery laser incision
  code/modules/surgery/slimes.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#582 [MIRROR] fixes bad maths for OFD coordinate accuracy
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/overmap/disperser/disperser_fire.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#586 [MIRROR] Spkrtn/sys/pointless violence
  code/_onclick/item_attack.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#584 [MIRROR] Fix tickets not timing out when they should
  code/modules/admin/ticket.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#585 [MIRROR] Spkrtn/cng/submap fixes
  maps/random_ruins/exoplanet_ruins/crashed_probe/crashed_probe.dm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dm
  maps/sierra/sierra.dm
  maps/torch/structures/signs.dm
  maps/torch/torch.dm
  packs/factions/iccgn/_pack.dm
  packs/factions/iccgn/badges.dm
  packs/factions/iccgn/badges.dmi
  packs/factions/iccgn/clothing.dm
  packs/factions/iccgn/clothing.dmi
  packs/factions/iccgn/coins.dm
  packs/factions/iccgn/coins.dmi
  packs/factions/iccgn/faction.dm
  packs/factions/iccgn/misc.dm
  packs/factions/iccgn/outfits.dm
  packs/factions/iccgn/patches.dm
  packs/factions/iccgn/patches.dmi
  packs/factions/iccgn/ranks.dm
  packs/factions/iccgn/ranks.dmi
  packs/factions/iccgn/tweaks.dm
  packs/factions/iccgn/weapons.dm
  packs/factions/iccgn/weapons.dmi
  packs/factions/scgec/_pack.dm
  packs/factions/scgec/misc.dm
Labels: :mountain: Спрайты, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#589 [MIRROR] Adds some additional sensor scan functionality
  code/modules/blob/blob.dm
  code/modules/events/exo_awakening/exo_awaken.dm
  code/modules/events/spider_infestation.dm
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/computers/sensors.dm
  nano/templates/shipsensors.tmpl
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#587 [MIRROR] Add `use_on()` proc
  code/_onclick/item_attack.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#591 [MIRROR] fix invalid smokables
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :mirror: MIR ЯОЯ

#590 [MIRROR] Fix: _map_include.dm homecoming
  code/controllers/configuration.dm
  code/game/machinery/_machines_base/machine_construction/computer.dm
  code/game/machinery/_machines_base/machine_construction/default.dm
  code/game/machinery/atmoalter/area_atmos_computer.dm
  code/game/machinery/bioprinter.dm
  code/modules/research/designs/designs_circuits.dm
  code/world.dm
  config/example/config.txt
Labels: :page_facing_up: Конфиги, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#256 [MIRROR] Removes Root and the Posi Union. Adds new IPC cultures
  baystation12.dme
  code/__defines/culture.dm
  code/modules/culture_descriptor/culture/cultures_ipc.dm
  code/modules/culture_descriptor/faction/factions_ipc.dm
  code/modules/culture_descriptor/location/locations_ipc.dm
  code/modules/species/station/machine.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден

#595 [MIRROR] ssgarbage / qdel refactor
  code/__datastructures/globals.dm
  code/__defines/qdel.dm
  code/_global_vars/logging.dm
  code/_helpers/cmp.dm
  code/_helpers/logging.dm
  code/_helpers/unsorted.dm
  code/_macros.dm
  code/controllers/controller.dm
  code/controllers/evacuation/evacuation_predicate.dm
  code/controllers/subsystems/garbage.dm
  code/datums/datum.dm
  code/game/world.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/secrets/debug/toggle_harddel.dm
  code/modules/goonchat/browserOutput.dm
  code/modules/holomap/ship_holomap.dm
  code/modules/maps/dmm_suite.dm
  ~code/global_init.dm
Labels: :white_check_mark: Принято, :mirror: MIR ЯОЯ

#594 Add: SS220 dependencies
  code/_global_vars/sensitive.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/statistics.dm
  code/game/world.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/banjob.dm
  code/modules/admin/connectioncheck/bancheck_functions.dm
  code/modules/admin/topic.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/new_player.dm
  code/procs/dbcore.dm
  config/example/config.txt
  config/example/dbconfig.txt
  sql/schema.sql
Labels: :page_facing_up: Конфиги, :scroll: CL не требуется, :floppy_disk: База данных

#598 [MIRROR] Add: Bullet holes, sparkles and knockback
  baystation12.dme
  code/game/atoms.dm
  code/game/objects/effects/decals/bullet_holes.dm
  code/game/turfs/simulated/walls.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#596 [MIRROR] Add stat lines to evacuation subsystem
  code/controllers/evacuation/evacuation.dm
  code/controllers/subsystems/evac.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#597 [MIRROR] Fix double-actions when climbing
  code/game/atoms.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :mirror: MIR ЯОЯ

#606 [MIRROR] Spkrtn/fix/grbrrrg
  code/__defines/lists.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/garbage.dm
  code/datums/progressbar.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :white_check_mark: Принято, :mirror: MIR ЯОЯ

#418 FEAT: Ship transponder
  baystation12.dme
  code/datums/wires/iff.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/computers/engine_control.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/computers/ship.dm
  code/modules/overmap/ships/identification.dm
  code/modules/overmap/ships/ship.dm
  maps/sierra/sierra_overmap.dm
  nano/templates/shipsensors.tmpl
  packs/sierra-tweaks/icons/machinery/ship_transponder.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден
