Repository SierraBay/SierraBay12, pull requests merged in 2023-11, with the labels that each got.

#1276 [MIRROR] Make cryopods immune to power loss
  code/game/machinery/cryopod.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1277 [MIRROR] Makes storage take priority on use_after
  code/_onclick/item_attack.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/scanners/_scanner.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/weldbackpack.dm
  code/game/objects/objs.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/research/message_server.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1318 [MIRROR] Fix parrot drop message visible to observers
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
Labels: :mirror: MIR ЯОЯ

#1332 Fix UTF-8 browser charset
  code/datums/browser.dm
Labels: :scroll: CL валиден

#1312 Pioneer Corps spawnpoint fix
  mods/_maps/farfleet/code/farfleet_crew.dm
Labels: :scroll: CL валиден

#1336 [MIRROR] Fix airlock red circle triangle exclaimnation mark icon
  code/game/machinery/doors/door.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1431 [MIRROR] Disallow tranders to sell unique memorials
  maps/torch/structures/signs.dm
Labels: :mirror: MIR ЯОЯ

#1446 [MIRROR] Unathi clothing cleanup
  code/modules/clothing/under/accessories/frontier.dm
  code/modules/clothing/under/frontier.dm
  icons/mob/species/unathi/onmob_accessories_frontier_unathi.dmi
  icons/mob/species/unathi/onmob_feet_unathi.dmi
  icons/mob/species/unathi/onmob_head_unathi.dmi
  icons/mob/species/unathi/onmob_mask_unathi.dmi
  icons/mob/species/unathi/onmob_under_frontier_unathi.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/icons/mob/unathi/onmob_accessories_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_head_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_suit_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_under_solgov_unathi.dmi
  packs/factions/scga/badges.dm
  packs/factions/scga/clothing.dm
  packs/factions/scga/ranks.dm
  packs/factions/scga/species/badges_unathi.dmi
  packs/factions/scga/species/clothing_unathi.dmi
  packs/factions/scga/species/ranks_unathi.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1450 [MIRROR] Adds ability to resist out of gift-wrapped mob
  code/game/objects/buckling.dm
  code/game/objects/items/weapons/gifts.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/wrapping_paper.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/modules/hydroponics/spreading/spreading_response.dm
  code/modules/mob/living/carbon/resist.dm
  code/modules/spells/targeted/projectile/stuncuff.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1448 [MIRROR] fix humanifier artifact not transferring languages
  code/modules/xenoarcheaology/effects/human_ifier.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1447 [MIRROR] Engineering augment fixing drop them
  code/modules/augment/active/tool/engineering.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1451 Spellcheck: readme.md extra a
  README.md
Labels: :open_file_folder: Репозиторий

#1449 [MIRROR] add gunpowder
  code/modules/hydroponics/trays/tray.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/presets/chemistry.dm
  code/modules/xenoarcheaology/triggers/chemical.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1455 [MIRROR] Grav-worlders can wear shirts now (and Species Info stuff)
  code/modules/species/outsider/random.dm
  code/modules/species/outsider/shadow.dm
  code/modules/species/outsider/starlight.dm
  code/modules/species/outsider/vox.dm
  code/modules/species/outsider/zombie.dm
  code/modules/species/species.dm
  code/modules/species/station/golem.dm
  code/modules/species/station/human_subspecies.dm
  code/modules/species/station/lizard_subspecies.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/monkey.dm
  code/modules/species/station/prometheans.dm
  code/modules/species/station/station.dm
  icons/mob/human_races/species/adherent/body.dmi
  icons/mob/human_races/species/adherent/preview.dmi
  icons/mob/human_races/species/blueforged/body.dmi
  icons/mob/human_races/species/diona/body.dmi
  icons/mob/human_races/species/diona/preview.dmi
  icons/mob/human_races/species/golem/body.dmi
  icons/mob/human_races/species/human/body.dmi
  icons/mob/human_races/species/human/preview.dmi
  icons/mob/human_races/species/human/subspecies/gravworlder_body.dmi
  icons/mob/human_races/species/human/subspecies/gravworlder_preview.dmi
  icons/mob/human_races/species/human/subspecies/mule_preview.dmi
  icons/mob/human_races/species/human/subspecies/spacer_body.dmi
  icons/mob/human_races/species/human/subspecies/spacer_preview.dmi
  icons/mob/human_races/species/human/subspecies/tritonian_body.dmi
  icons/mob/human_races/species/human/subspecies/tritonian_preview.dmi
  icons/mob/human_races/species/human/subspecies/vatgrown_body.dmi
  icons/mob/human_races/species/human/subspecies/vatgrown_preview.dmi
  icons/mob/human_races/species/humanoid/body.dmi
  icons/mob/human_races/species/ipc/preview.dmi
  icons/mob/human_races/species/monkey/farwa_body.dmi
  icons/mob/human_races/species/monkey/monkey_body.dmi
  icons/mob/human_races/species/monkey/neaera_body.dmi
  icons/mob/human_races/species/monkey/stok_body.dmi
  icons/mob/human_races/species/nabber/body.dmi
  icons/mob/human_races/species/nabber/msq/preview.dmi
  icons/mob/human_races/species/nabber/preview.dmi
  icons/mob/human_races/species/shadow/body.dmi
  icons/mob/human_races/species/skrell/body.dmi
  icons/mob/human_races/species/skrell/preview.dmi
  icons/mob/human_races/species/starborn/body.dmi
  icons/mob/human_races/species/unathi/preview.dmi
  icons/mob/human_races/species/unathi/skin.dmi
  icons/mob/human_races/species/unathi/yeosa_preview.dmi
  icons/mob/human_races/species/vox/body.dmi
  icons/mob/human_races/species/vox/preview.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1460 [MIRROR] Attackby Fixes
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/detectivework/tools/sample_kits.dm
  code/modules/materials/material_sheets.dm
  code/modules/mining/mine_items.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1461 [MIRROR] Alerts surgeons when an organ is decaying
  code/modules/surgery/organs_internal.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1459 [MIRROR] Self-destruct Can Trigger Evacuation
  code/controllers/evacuation/evacuation.dm
  code/controllers/evacuation/evacuation_pods.dm
  code/datums/security_state.dm
  code/game/machinery/nuclear_bomb.dm
  nano/templates/nuclear_bomb.tmpl
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1466 [MIRROR] Standardizes welding checks/values
  code/game/machinery/_machines_base/machine_construction/frame.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/camera_assembly.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/braces.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/floor_light.dm
  code/game/machinery/nuclear_bomb.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/self_destruct.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/atmospherics/components/unary/vent_scrubber.dm
  code/modules/clothing/spacesuits/breaches.dm
  code/modules/materials/material_sheets.dm
  code/modules/mechs/components/_components.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/power/apc.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/power/smes.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  code/modules/xenoarcheaology/finds/finds.dm
Labels: :mirror: MIR ЯОЯ

#1465 [MIRROR] Autolathe queue
  code/modules/fabrication/fabricator_ui.dm
  nano/templates/fabricator.tmpl
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1464 [MIRROR] Fixes lipstick oversight
  code/game/objects/items/weapons/cosmetics.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1179 [MIRROR] 2ndFleet corrections + Ceti Expansion
  code/__defines/culture.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/culture_descriptor/location/locations_human.dm
  code/modules/species/station/station.dm
  maps/mapsystem/maps.dm
  maps/sierra/sierra_define.dm
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-head.dm
  mods/tajara/code/datum/species.dm
Labels: :mirror: MIR ЯОЯ

#1469 Update signs.dm
  maps/sierra/structures/signs.dm
Labels: :scroll: CL валиден

#1468 Add: Traitor items and uplink stuff
  maps/sierra/sierra.dm
  maps/sierra/structures/closets/misc.dm
  mods/_antagonists/_antagonists.dm
  mods/_antagonists/_antagonists.dme
  mods/_antagonists/code/operative.dm
  mods/_antagonists/code/revolutionary.dm
  mods/_antagonists/code/teleportation.dm
  mods/_antagonists/code/traitor.dm
  mods/_antagonists/icons/effects/bs_silk.dmi
  mods/_antagonists/icons/obj/door_charge.dmi
  mods/_antagonists/icons/obj/syndiejaunter.dmi
  packs/infinity/icons/effects/bs_silk.dmi
  packs/sierra-tweaks/_pack.dm
Labels: :mountain: Спрайты

#1472 [MIRROR] Adds support for cold mist effect for low temperatures
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/atmos.dm
  code/controllers/configuration.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/particles/particles.dm
  code/modules/xgm/xgm_gas_data.dm
  code/modules/xgm/xgm_gas_mixture.dm
  icons/effects/particles.dmi
  icons/effects/tile_effects.dmi
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#1475 [MIRROR] Loose pills in medical storage are now bottled
  code/game/objects/items/weapons/storage/pill_bottle.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/med_crate.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1476 [MIRROR] Change medbot abstract firstaid type to empty
  code/modules/mob/living/bot/medibot.dm
Labels: :mirror: MIR ЯОЯ

#1478 [MIRROR] Voice changers work on tapes now!
  code/game/objects/items/devices/taperecorder.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1479 [MIRROR] new ghost verb
  code/modules/mob/observer/ghost/ghost.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1480 [MIRROR] Adds a new scrub color
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/under/jobs/medsci.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1477 [MIRROR] Revert "Merge pull request #34315 from CrimsonShrike/Mistborn"
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/atmos.dm
  code/controllers/configuration.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/particles/particles.dm
  code/modules/xgm/xgm_gas_data.dm
  code/modules/xgm/xgm_gas_mixture.dm
  icons/effects/particles.dmi
  icons/effects/tile_effects.dmi
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#1482 [MIRROR] True Chameleon Gear
  code/datums/extensions/chameleon.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1484 [MIRROR] Assorted Ballistics Changes
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1483 [MIRROR] Surgery fixes
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/robotics.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1485 [MIRROR] Fixes setOxyLoss() for humanoids
  code/modules/mob/living/carbon/human/human_damage.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1492 [MIRROR] removed some left over trailing slashes in paths
  code/datums/trading/ai.dm
  code/datums/trading/vox.dm
  code/game/objects/items/weapons/circuitboards/machinery/power.dm
  code/modules/modular_computers/file_system/programs/generic/game.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/spells/spellbook.dm
Labels: :mirror: MIR ЯОЯ

#1486 [MIRROR] add verb for deleting crew records
  code/modules/admin/admin_verbs.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1488 [MIRROR] New chemsprayer sprite + sound
  code/modules/reagents/reagent_containers/spray.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons/other.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1489 [MIRROR] added typesof_real and subtypesof_real
  baystation12.dme
  code/_helpers/types.dm
  code/_helpers/unsorted.dm
Labels: :mirror: MIR ЯОЯ

#1487 [MIRROR] You can trim grass
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  maps/away/abandoned_hotel/abandoned_hotel-1.dmm
  maps/away/abandoned_hotel/abandoned_hotel-2.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1490 [MIRROR] Adds support for cold mist effect for low temperatures
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/atmos.dm
  code/controllers/configuration.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/particles/particles.dm
  code/modules/xgm/xgm_gas_data.dm
  code/modules/xgm/xgm_gas_mixture.dm
  icons/effects/particles.dmi
  icons/effects/tile_effects.dmi
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#1494 [MIRROR] Addendum to #34339
  code/modules/mob/living/carbon/human/human_damage.dm
Labels: :mirror: MIR ЯОЯ

#1498 [MIRROR] Chem Quantities: Alky/Imi
  code/modules/reagents/Chemistry-Recipes.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1496 Adding Unathi sprite accessories from Infinity
  mods/global_modpacks.dm
  mods/sprite_accessories/README.md
  mods/sprite_accessories/_sprite_accessories.dm
  mods/sprite_accessories/_sprite_accessories.dme
  mods/sprite_accessories/code/accessory_unathi.dm
  mods/sprite_accessories/icons/unathi_facial.dmi
  mods/tajara/code/datum/sprite_accessory.dm
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1500 Hairs port
  mods/global_modpacks.dm
  mods/hairs_ports/README.md
  mods/hairs_ports/_hairs_ports.dm
  mods/hairs_ports/_hairs_ports.dme
  mods/hairs_ports/code/_accessory_facial.dm
  mods/hairs_ports/code/_accessory_hair.dm
  mods/hairs_ports/icons/port_facial.dmi
  mods/hairs_ports/icons/port_hair.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#1553 Bump RustG version to 3.0.0
  .github/workflows/test.yml
  scripts/install-rust_g-dependencies.sh
Labels: :open_file_folder: Репозиторий

#1559 Вернул датумы двух забытых причесок.
  mods/hairs_ports/code/_accessory_hair.dm
Labels: :scroll: CL валиден

#1574 [MIRROR] EMP Damage Scaling
  code/modules/organs/external/_external.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/species/fbp.dm
  code/modules/projectiles/guns/energy/special.dm
  mods/hairs_ports/_hairs_ports.dm
  mods/hairs_ports/code/_accessory_facial.dm
  mods/hairs_ports/code/_accessory_hair.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1580 [MIRROR] Flowers from hydroponics can be made into hair pins
  code/datums/supplypacks/nonessent.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/clothing/head/misc.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed_datums.dm
  icons/mob/onmob/onmob_ears.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/species/unathi/onmob_ears_unathi.dmi
  icons/mob/species/unathi/onmob_head_unathi.dmi
  icons/obj/clothing/obj_head.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1577 [MIRROR] System Programs
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/generic/configurator.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  code/modules/modular_computers/file_system/programs/generic/file_browser.dm
  code/modules/modular_computers/file_system/programs/generic/ntdownloader.dm
  code/modules/modular_computers/ntos/ntos.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1579 [MIRROR] Industrial suit access restriction
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1578 [MIRROR] Makes robotic bone surgery a robotic surgery
  code/modules/surgery/robotics.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1582 [MIRROR] Bump JamesIves/github-pages-deploy-action from 4.4.3 to 4.5.0
  .github/workflows/generate_documentation.yml
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#1576 [MIRROR] Allow using outfits for setting up chameleon appearance
  baystation12.dme
  code/datums/extensions/chameleon.dm
  code/datums/observation/empd.dm
  code/game/atoms.dm
  code/game/machinery/barrier.dm
  code/game/machinery/stasis_cage.dm
  code/game/objects/items/devices/gps.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/shields.dm
  code/modules/clothing/chameleon.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/power/port_gen.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/shuttles/shuttle_console.dm
  code/modules/xenoarcheaology/anomaly_container.dm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dm
  mods/_master_files/code/modules/power/gravitygenerator.dm
  packs/sierra-tweaks/objects/vehicles/vehicle.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1591 [MIRROR] Fix EMP event unregistration and inconsistent /emp_act() override
  code/datums/extensions/chameleon.dm
  code/modules/integrated_electronics/subtypes/input.dm
Labels: :mirror: MIR ЯОЯ

#1592 [MIRROR] no free merc ofd charges + add charges to uplink
  baystation12.dme
  code/datums/uplink/structures_and_vehicles.dm
  code/datums/uplink/uplink_categories.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ
