Repository SierraBay/SierraBay12, pull requests merged in 2023-02, with the labels that each got.

#2 Тинты окон и куча фиксов
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/window.dm
  maps/sierra/sierra-3.dmm
  packs/infinity/_pack.dm
  packs/infinity/icons/obj/tables.dmi
  packs/infinity/structures/table_presets.dm
Labels: Map, Sprites

#6 BayMerge 12-02-23
  .github/workflows/test.yml
  baystation12.dme
  code/__defines/culture.dm
  code/datums/supplypacks/galley.dm
  code/datums/trading/goods.dm
  code/game/antagonist/alien/borer.dm
  code/game/machinery/biogenerator.dm
  code/game/machinery/vending/cigarette.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/fancy/_fancy.dm
  code/game/objects/items/weapons/storage/fancy/crackers.dm
  code/game/objects/items/weapons/storage/fancy/crayons.dm
  code/game/objects/items/weapons/storage/fancy/egg_box.dm
  code/game/objects/items/weapons/storage/fancy/pencilcase.dm
  code/game/objects/items/weapons/storage/fancy/smokable/_smokable.dm
  code/game/objects/items/weapons/storage/fancy/smokable/antag.dm
  code/game/objects/items/weapons/storage/fancy/smokable/basic.dm
  code/game/objects/items/weapons/storage/fancy/vials.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/clothing/masks/smokable.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/materials/recipes_storage.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/borer/borer_hud.dm
  code/modules/random_map/drop/drop_types.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/reagent_containers/food/snacks/bugmeat.dm
  code/modules/reagents/reagent_containers/syringes.dm
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-33033.yml
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
  icons/mob/onmob/onmob_head.dmi
  maps/antag_spawn/ert/ert_base.dmm
  maps/antag_spawn/heist/heist_base.dmm
  maps/away/casino/casino.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/meatstation/meatstation.dmm
  maps/away/miningstation/miningstation.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/scavver/scavver_gantry.dm
  maps/event/sfv_arbiter/sfv_arbiter.dmm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-4.dmm
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/z1_admin.dmm
Labels: Map, Sprites, Repo

#9 PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Repo

#10 Фикс скрипта ченджлога
  tools/changelog/sierra_generate_cl.py
Labels: Repo

#5 Tajara Icons Fix
  code/modules/clothing/masks/miscellaneous.dm
  maps/sierra/items/items.dm
  mods/species/resomi/clothing/clothing.dm
  mods/species/tajara/clothing/accessories.dm
  mods/species/tajara/clothing/clothing.dm
  mods/species/tajara/datum/species.dm
  mods/species/tajara/datum/sprite_accessory.dm
  mods/species/tajara/icons/obj_accessories.dmi
  mods/species/tajara/icons/obj_eyes.dmi
  mods/species/tajara/icons/onmob_accessories.dmi
  mods/species/tajara/icons/onmob_eyes.dmi
  mods/species/tajara/icons/sprite_sheets/feet.dmi
  mods/species/tajara/icons/sprite_sheets/hands.dmi
  mods/species/tajara/icons/sprite_sheets/helmet.dmi
  mods/species/tajara/icons/sprite_sheets/mask.dmi
  mods/species/tajara/icons/sprite_sheets/obj/hats.dmi
  mods/species/tajara/icons/sprite_sheets/obj/suits.dmi
  mods/species/tajara/icons/sprite_sheets/suit.dmi
  mods/species/tajara/icons/tajara_body/body.dmi
  mods/species/tajara/icons/tajara_body/deformed_body.dmi
  mods/species/tajara/icons/tajara_body/organs.dmi
  mods/species/tajara/icons/tajara_body/preview.dmi
  mods/species/tajara/icons/tajara_body/sprite_accessory/ears.dmi
  mods/species/tajara/icons/tajara_body/sprite_accessory/facial.dmi
  mods/species/tajara/icons/tajara_body/sprite_accessory/hair.dmi
  mods/species/tajara/icons/tajara_body/sprite_accessory/markings.dmi
  mods/species/tajara/icons/tajara_body/tail.dmi
  packs/infinity/clothing/accessories/other.dm
  packs/infinity/clothing/shoes/shoes.dm
  packs/infinity/icons/mob/onmob/onmob_accessories.dmi
  packs/infinity/icons/mob/onmob/onmob_eyes.dmi
  packs/infinity/icons/obj/clothing/obj_accessories.dmi
  packs/infinity/icons/obj/clothing/obj_eyes.dmi
Labels: Sprites, Task: Requires review

#13 Передаю привет оффам
  tools/changelog/sierra_generate_cl.py
Labels: Repo

#12 HTML и CSS пак
  code/modules/admin/create_mob.dm
  code/modules/admin/create_object.dm
  code/modules/admin/create_turf.dm
  code/modules/client/asset_cache.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  html/88x31.png
  html/browser/common.css
  html/bug-minus.png
  html/burn-exclamation.png
  html/changelog-static/admin.png
  html/changelog-static/balance.png
  html/changelog-static/bugfix.png
  html/changelog-static/experiment.png
  html/changelog-static/footer.html
  html/changelog-static/header.html
  html/changelog-static/imageadd.png
  html/changelog-static/imagedel.png
  html/changelog-static/maptweak.png
  html/changelog-static/rscadd.png
  html/changelog-static/rscdel.png
  html/changelog-static/soundadd.png
  html/changelog-static/sounddel.png
  html/changelog-static/spellcheck.png
  html/changelog-static/tweak.png
  html/changelog-static/wip.png
  html/changelog.css
  html/chevron-expand.png
  html/chevron.png
  html/create_object.html
  html/cross-circle.png
  html/hard-hat-exclamation.png
  html/image-minus.png
  html/image-plus.png
  html/music-minus.png
  html/music-plus.png
  html/scales.png
  html/spell-check.png
  html/templates/footer.html
  html/templates/header.html
  html/tick-circle.png
  html/wrench-screwdriver.png
  maps/sierra/sierra.dm
  packs/sierra-tweaks/_pack.dm
  packs/sierra-tweaks/client/verbs.dm
  packs/sierra-tweaks/html/credits.css
  packs/sierra-tweaks/html/credits.html
  test/run-test.sh
  tools/changelog/sierra_genchangelog.py
Labels: Repo

#16 Leroy_beasts_base
  baystation12.dme
  code/modules/mob/living/simple_animal/hostile/bear.dm
  mods/leroy_beasts_pack/_leroy_beasts.dm
  mods/leroy_beasts_pack/_leroy_beasts.dme
  mods/leroy_beasts_pack/leroy_beasts.dm
  mods/leroy_beasts_pack/leroy_beasts_32x32.dmi
  mods/leroy_beasts_pack/leroy_beasts_32x64.dmi
Labels: Sprites

#33 Trash Compactor re-integration
  baystation12.dme
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra.dm
  mods/machinery/scrap_compactor/_scrap_compactor.dme
  mods/machinery/scrap_compactor/crusher_base.dmi
  mods/machinery/scrap_compactor/crusher_control.dm
  mods/machinery/scrap_compactor/crusher_piston.dm
  mods/machinery/scrap_compactor/crusherpiston.dmi
  mods/machinery/scrap_compactor/recycling.dmi
  mods/machinery/scrap_compactor/refine.dmi
  mods/machinery/scrap_compactor/scrap.dm
  mods/machinery/scrap_compactor/scrap_circuitboards.dm
  mods/machinery/scrap_compactor/scrap_pileripper.dm
  mods/machinery/scrap_compactor/scrap_refine.dm
  mods/machinery/scrap_compactor/scrap_refinery.dm
  mods/machinery/scrap_compactor/scrap_stacker.dm
  nano/templates/mod_scrap_compactor_crushercontrol.tmpl
  test/check-paths.sh
Labels: Map, Sprites, Repo

#41 Fixes unittests
  baystation12.dme
  code/modules/mob/living/carbon/human/corpse.dm
  maps/torch/outfits/roguefleet.dm
  maps/torch/torch.dm
  test/check-paths.sh
Labels: Repo

#42 Roundchairs
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  mods/sofa/_sofa.dme
  mods/sofa/roundedchair.dm
Labels: Map

#58 Вот что такое настоящий варкрайм
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/keylabeler.yml
  .github/labeler.yml
  .github/workflows/check_changelog.yml
  docs/CODE_OF_CONDUCT.md
  tools/changelog/sierra_check_changelog.py
Labels: Repo

#56 Various icons fixes
  code/modules/mob/living/carbon/human/update_icons.dm
  packs/infinity/_pack.dm
  packs/infinity/icons/obj/suitstorage.dmi
  packs/infinity/machinery/machines.dm
  packs/infinity/machinery/suit_storage.dm
Labels: :mountain: Спрайты, :mag: Требуется ревью

#63 feat: port tg emissives
  baystation12.dme
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/lighting.dm
  code/_helpers/lighting.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/computer/computer.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  code/modules/mob/mob_defines.dm
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/power/sensors/sensor_monitoring.dm
Labels: :1st_place_medal: Literally the best PR, :scroll: CL валиден

#59 Да да да
  .github/CONTRIBUTING.md
  .github/workflows/check_changelog.yml
  docs/contributing.md
  tools/changelog/sierra_check_changelog.py
Labels: :open_file_folder: Репозиторий, :scroll: CL не требуется

#64 Tweak: Resomi cleanup
  code/modules/mob/holder.dm
  maps/sierra/items/clothing/exploration.dm
  maps/sierra/items/rigs.dm
  mods/species/resomi/_resomi.dm
  mods/species/resomi/clothing/clothing.dm
  mods/species/resomi/clothing/glasses.dm
  mods/species/resomi/clothing/misc.dm
  mods/species/resomi/clothing/suits.dm
  mods/species/resomi/icons/clothing/misc.dmi
  mods/species/resomi/icons/clothing/onmob_accessories_resomi.dmi
  mods/species/resomi/icons/clothing/onmob_back_resomi.dmi
  mods/species/resomi/icons/clothing/onmob_belt_resomi.dmi
  mods/species/resomi/icons/clothing/onmob_ears_resomi.dmi
  mods/species/resomi/icons/clothing/onmob_eyes_resomi.dmi
  mods/species/resomi/icons/clothing/onmob_feet_resomi.dmi
  mods/species/resomi/icons/clothing/onmob_hands_resomi.dmi
  mods/species/resomi/icons/clothing/onmob_head_resomi.dmi
  mods/species/resomi/icons/clothing/onmob_id_resomi.dmi
  mods/species/resomi/icons/clothing/onmob_mask_resomi.dmi
  mods/species/resomi/icons/clothing/onmob_rig_back_resomi.dmi
  mods/species/resomi/icons/clothing/onmob_suit_resomi.dmi
  mods/species/resomi/icons/clothing/onmob_under_resomi.dmi
  packs/infinity/clothing/accessories/collar.dm
  packs/infinity/clothing/head/head.dm
  packs/infinity/icons/mob/species/resomi/onmob_modular_armor_resomi.dmi
Labels: :mountain: Спрайты, :mag: Требуется ревью

#66 Мелкие твики
  code/modules/admin/create_mob.dm
  code/modules/admin/create_object.dm
  code/modules/admin/create_turf.dm
  html/lobby_titlescreen.html
  packs/infinity/_pack.dm
  packs/infinity/machinery/lighting.dm
  test/check-paths.sh
  tools/changelog/sierra_check_changelog.py
Labels: :open_file_folder: Репозиторий, :mag: Требуется ревью, :scroll: CL валиден

#68 Отмена должна не себя отменять
  .github/workflows/cancel.yml
  .github/workflows/check_changelog.yml
Labels: :open_file_folder: Репозиторий, :scroll: CL не требуется

#15 Фикс SQL файликов
  code/__defines/misc.dm
  config/example/dbconfig.txt
  sql/migrate/V006__InfinityTables.sql
  sql/migrate/V007__Remove_Polls.sql
  sql/migrate/V008__Add_Discord_Accounts.sql
  sql/migrate/V009__Add_Player_Experience.sql
Labels: :page_facing_up: Конфиги

#70 Я был не прав
  .github/workflows/check_changelog.yml
Labels: :open_file_folder: Репозиторий

#69 Tweak: Кейбинд "Stop Pulling"
  code/modules/keybindings/human.dm
Labels: :scroll: CL валиден

#71 Tweak: Кнопка try again в незагрузившемся чате
  code/modules/goonchat/browserOutput.dm
Labels: :scroll: CL валиден

#67 Feat: Memorial of Sierra
  maps/sierra/structures/memorial/levitation_sound.ogg
  maps/sierra/structures/memorial/sierra_memorial.dmi
  maps/sierra/structures/signs.dm
Labels: :mountain: Спрайты, :sound: Звуки, :scroll: CL валиден

#72 Refactor: Overmap Flags
  code/__defines/flags.dm
  code/game/machinery/cryopod.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/spacetravel.dm
  maps/antag_spawn/mercenary/mercenary.dm
  maps/antag_spawn/vox/voxraider.dm
  maps/away/blueriver/blueriver.dm
  maps/away/derelict/derelict.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/voxship/voxship.dm
  maps/event/iccgn_ship/icgnv_hound.dm
  maps/event/sfv_arbiter/sfv_arbiter.dm
  maps/sierra/sierra_overmap.dm
Labels: :hourglass: Ожидание мёржа, :scroll: CL валиден

#76 Feat: Overmap tooltips
  code/modules/overmap/sectors.dm
Labels: :scroll: CL валиден

#81 Scrap return
  mods/machinery/scrap_compactor/scrap_refine.dm
Labels: :hourglass: Ожидание мёржа, :scroll: CL валиден

#8 Добавление контента для заполнения карты Сьерра. (В ПРОЦЕССЕ)
  code/__defines/mobs.dm
  code/game/objects/structures/wallframe_spawner.dm
  maps/sierra/areas/sierra1.dm
  maps/sierra/icons/obj/vending.dmi
  maps/sierra/icons/turf/decals.dmi
  maps/sierra/items/items.dm
  maps/sierra/items/weapons/books.dm
  maps/sierra/items/weapons/storage/boxes.dm
  maps/sierra/machinery/vendors.dm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra.dm
  maps/sierra/sierra_decals.dm
  maps/sierra/sierra_unit_testing.dm
  mods/species/resomi/clothing/misc.dm
  packs/infinity/_defines/clothing.dm
  packs/infinity/_defines/guns.dm
  packs/infinity/_pack.dm
  packs/infinity/clothing/accessories/accessories_resomi.dm
  packs/infinity/clothing/accessories/accessory_hand.dm
  packs/infinity/clothing/accessories/armor.dm
  packs/infinity/clothing/accessories/cloak.dm
  packs/infinity/clothing/accessories/collar.dm
  packs/infinity/clothing/accessories/locket_custom.dm
  packs/infinity/clothing/accessories/other.dm
  packs/infinity/clothing/accessories/pins.dm
  packs/infinity/clothing/accessories/torch.dm
  packs/infinity/clothing/gloves/gloves.dm
  packs/infinity/effects/paint.dm
  packs/infinity/items/multimeter.dm
  packs/infinity/items/powertools.dm
  packs/infinity/items/projectile/ammunition/boxes.dm
  packs/infinity/items/projectile/ammunition/bullets.dm
  packs/infinity/items/projectile/guns/automatic.dm
  packs/infinity/machinery/computer_presets.dm
  packs/infinity/mobs/simple/fox.dm
  packs/infinity/mobs/simple/koala.dm
  packs/infinity/structures/barrier.dm
  packs/infinity/structures/signs.dm
  packs/sierra-tweaks/_pack.dm
  packs/sierra-tweaks/client/spawnpoints.dm
  packs/sierra-tweaks/objects/structures/wall_frame.dm
  packs/sierra-tweaks/objects/structures/wallframe_spawner.dm
Labels: :world_map: Карты, :mountain: Спрайты, :hourglass: Ожидание автора, :exclamation: DO NOT MERGE
