Repository SierraBay/SierraBay12, pull requests merged in 2023-08, with the labels that each got.

#823 [MIRROR] allows Run Tests to be manually triggered
  .github/workflows/test.yml
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#824 [MIRROR] bump spacemandmm version to 1.7.3
  .github/workflows/generate_documentation.yml
  .github/workflows/test.yml
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#825 [MIRROR] Lets EMP affect energy melee and e-shields + some eshield related stuff
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/shields.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#826 [MIRROR] finishes removing the autoshotgun from antags
  code/game/objects/effects/spawners/guns.dm
  code/game/objects/random/random.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#828 [MIRROR] Fix attack runtimes for mobs without zone selection
  code/_onclick/item_attack.dm
Labels: :mirror: MIR ЯОЯ

#829 [MIRROR] deletion starts paused defaults true
  code/controllers/configuration.dm
Labels: :mirror: MIR ЯОЯ

#831 [MIRROR] correct various LateInitialize super calls & documentation
  code/game/area/areas.dm
  code/game/atoms.dm
  code/game/machinery/atmoalter/portable_atmospherics.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
  code/game/turfs/space/space.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/maps/helper_landmarks.dm
  code/modules/mob/living/carbon/human/corpse.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/modular_computers/file_system/data.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/power/turbine.dm
  code/modules/shuttles/landmarks.dm
  code/modules/species/outsider/zombie.dm
  maps/away/bearcat/bearcat.dm
  maps/torch/items/manuals.dm
  maps/torch/torch_npcs.dm
Labels: :mirror: MIR ЯОЯ

#797 Modpack fixes (Sofas, Gravgen and more)
  baystation12.dme
  code/unit_tests/icon_tests.dm
  maps/sierra/datums/uniforms_civilian.dm
  maps/sierra/datums/uniforms_contractor.dm
  maps/sierra/datums/uniforms_employee.dm
  maps/sierra/job/_job_defines.dm
  maps/sierra/job/jobs.dm
  maps/sierra/sierra.dm
  maps/sierra/z1_sierra_deck3.dmm
  maps/sierra/z2_sierra_deck2.dmm
  maps/sierra/z3_sierra_deck1.dmm
  maps/sierra/z4_admin.dmm
  maps/sierra/z5_transit.dmm
  mods/README.md
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/_maps/liberia/maps/liberia.dmm
  mods/_maps/sentinel/maps/sentinel-1.dmm
  mods/_master_files/code/game/objects/effects/decals/contraband.dm
  mods/_master_files/code/modules/client/asset_cache.dm
  mods/_master_files/code/modules/events/gravity.dm
  mods/_master_files/code/modules/power/gravitygenerator.dm
  mods/fancy_sofas/code/roundedchair.dm
  mods/fancy_sofas/code/sofa.dm
  mods/global_modpacks.dm
  mods/gravity_generator/README.md
  mods/gravity_generator/_gravity_generator.dm
  mods/gravity_generator/_gravity_generator.dme
  mods/gravity_generator/code/base.dm
  mods/gravity_generator/code/main.dm
  mods/gravity_generator/code/wires.dm
  mods/gravity_generator/icons/gravity_generator.dmi
  mods/jukebox_tapes/code/jukebox.dm
  mods/nyc_posters/README.md
  mods/nyc_posters/_nyc_posters.dm
  mods/nyc_posters/_nyc_posters.dme
  mods/nyc_posters/code/nyc_posters.dm
  mods/nyc_posters/code/singleton.dm
  mods/nyc_posters/icons/nyc_posters.dmi
  mods/quantum_mechanic/_quantum_mechanic.dm
  mods/quantum_mechanic/_quantum_mechanic.dme
  mods/quantum_mechanic/code/quantum_mechanic.dm
  mods/quantum_mechanic/icons/uniform_quantum.dmi
  nano/templates/mods/gravgen.tmpl
  nano/templates/mods/jukebox.tmpl
  nano/templates/mods/stasis.tmpl
  packs/infinity/icons/mob/onmob/onmob_hands.dmi
  packs/infinity/icons/mob/onmob/onmob_head.dmi
  packs/infinity/icons/obj/machinery/disposal_small.dmi
  packs/infinity/machinery/machines.dm
  packs/infinity/machinery/survival_pod.dm
  packs/infinity/structures/chairs.dm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#833 [MIRROR] Make placeholders /visitable + Add 3 new sensor targets
  maps/event/placeholders/gcn-32.dmi
  maps/event/placeholders/gen-32.dmi
  maps/event/placeholders/gen-64.dmi
  maps/event/placeholders/placeholders.dm
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#834 [MIRROR] Slows wheelchair, need free hands to drive
  code/datums/movement/mob.dm
  code/datums/movement/movement.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#835 [MIRROR] Allow watches to tell time + Remove Local Time/Date display from Status
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/clothing_forensics.dm
  code/modules/clothing/under/accessories/wristwatches.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  packs/deepmaint/deepmaint_rooms/normal/angry_unionists.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#837 [MIRROR] Reimplements Sensor Mute button
  code/modules/overmap/ships/computers/sensors.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#839 [MIRROR] Fixes #34018
  code/game/objects/structures/window.dm
Labels: :mirror: MIR ЯОЯ

#838 [MIRROR] Fix stasis cage battery wackiness
  code/game/machinery/stasis_cage.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#840 [MIRROR] move TO_HEX_DIGIT, remove ancient IconProcs comment
  code/_helpers/icons.dm
  code/_helpers/unsorted.dm
  code/_macros.dm
Labels: :mirror: MIR ЯОЯ

#841 [MIRROR] Adds Antag Challenge Coins
  code/datums/uplink/devices and tools.dm
  code/game/machinery/_machines_base/machinery_components.dm
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/boda.dm
  code/game/machinery/vending/boozeomat.dm
  code/game/machinery/vending/cigarette.dm
  code/game/machinery/vending/coffee.dm
  code/game/machinery/vending/cola.dm
  code/game/machinery/vending/dinnerware.dm
  code/game/machinery/vending/engineering.dm
  code/game/machinery/vending/engivend.dm
  code/game/machinery/vending/fashion.dm
  code/game/machinery/vending/fitness.dm
  code/game/machinery/vending/games.dm
  code/game/machinery/vending/generic.dm
  code/game/machinery/vending/hotfood.dm
  code/game/machinery/vending/hydronutrients.dm
  code/game/machinery/vending/lavatory.dm
  code/game/machinery/vending/medical.dm
  code/game/machinery/vending/phoron.dm
  code/game/machinery/vending/robotics.dm
  code/game/machinery/vending/security.dm
  code/game/machinery/vending/snack.dm
  code/game/machinery/vending/snix.dm
  code/game/machinery/vending/sol.dm
  code/game/machinery/vending/tool.dm
  code/game/machinery/vending/wallmed1.dm
  code/game/machinery/vending/wallmed2.dm
  code/game/objects/items/devices/uplink_random_lists.dm
  code/game/objects/items/weapons/material/coins.dm
  code/game/objects/items/weapons/storage/fancy/_fancy.dm
  code/game/objects/items/weapons/storage/fancy/smokable/basic.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  icons/obj/cigarettes.dmi
  icons/obj/machines/vending.dmi
  icons/obj/materials/coin.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#842 [MIRROR] sprite fixes batch #1/?
  code/game/machinery/doors/airlock.dm
  code/modules/mining/machinery/mineral_console.dm
  icons/obj/doors/Doorglass.dmi
  icons/obj/doors/centcomm/door.dmi
  icons/obj/doors/doorint.dmi
  icons/obj/doors/doorlift.dmi
  icons/obj/doors/doormorgue.dmi
  icons/obj/doors/double/door.dmi
  icons/obj/doors/elevator/door.dmi
  icons/obj/doors/external/door.dmi
  icons/obj/doors/hatch/door.dmi
  icons/obj/doors/hazard/door.dmi
  icons/obj/doors/hightechsecurity.dmi
  icons/obj/doors/material_doors.dmi
  icons/obj/doors/rapid_pdoor.dmi
  icons/obj/doors/secure/door.dmi
  icons/obj/doors/station/door.dmi
  icons/obj/doors/vault.dmi
  icons/obj/doors/vault/door.dmi
  icons/obj/doors/windoor.dmi
  icons/obj/flora/hydroponics_vines.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#843 [MIRROR] Adjust wristwatch and examine code
  code/datums/wires/wires.dm
  code/game/atoms.dm
  code/game/machinery/body_scanner.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items.dm
  code/game/objects/items/cryobag.dm
  code/game/objects/items/devices/slide_projector.dm
  code/modules/augment/implanter.dm
  code/modules/clothing/under/accessories/wristwatches.dm
  code/modules/mob/examinations.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/pai/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  code/modules/persistence/noticeboards.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#845 [MIRROR] more sprite fixes
  code/game/machinery/body_scanner_console.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/modular_computers/file_system/programs/generic/reports.dm
  code/modules/research/message_server.dm
  code/modules/xenoarcheaology/anomaly_container.dm
  icons/obj/flora/hydroponics_products.dmi
  icons/obj/structures/rubble.dmi
  maps/torch/z1_admin.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#844 [MIRROR] Fixes Grabs and melee cooldown
  code/__defines/mobs.dm
  code/modules/mob/grab/grab_datum.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/grab/nab/grab_nab.dm
  code/modules/mob/grab/normal/grab_normal.dm
  code/modules/mob/grab/normal/norm_passive.dm
  code/modules/mob/grab/normal/norm_struggle.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#846 [MIRROR] waddle
  code/modules/admin/secrets/fun_secrets/waddle.dm
  code/modules/mob/animations.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#847 [MIRROR] Fixes Dociler and bullpup grenade launcher
  code/game/objects/items/devices/dociler.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден, :mirror: MIR ЯОЯ

#848 [MIRROR] More use_grabs, standardizes checks
  code/game/machinery/Sleeper.dm
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/body_scanner.dm
  code/game/machinery/cryo.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/kitchen/gibber.dm
  code/game/machinery/suit_cycler.dm
  code/game/machinery/suit_storage.dm
  code/game/objects/structures/mineral_bath.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/recycling/disposal.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#852 [MIRROR] removed glide size config option, all normal AMs have the same glide size
  code/controllers/configuration.dm
  code/game/atoms_movable.dm
  code/game/objects/objs.dm
Labels: :scroll: CL валиден

#855 [MIRROR] Allow people to be thrown over railing
  code/game/objects/structures/railing.dm
Labels: :scroll: CL валиден

#854 [MIRROR] adds surgery sounds
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/face.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/slimes.dm
  sound/items/amputation.ogg
  sound/items/bonegel.ogg
  sound/items/bonesetter.ogg
  sound/items/cautery.ogg
  sound/items/circularsaw.ogg
  sound/items/fixovein.ogg
  sound/items/hemostat.ogg
  sound/items/retractor.ogg
  sound/items/scalpel.ogg
  sound/items/surgicaldrill.ogg
Labels: :sound: Звуки, :scroll: CL валиден

#856 [MIRROR] fix pai behavior
  code/game/objects/items/devices/paicard.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mob/living/silicon/pai/admin.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/pai/software.dm
Labels: :scroll: CL валиден

#851 [MIRROR] planet ruins spawn when player budget would be negative
  code/modules/maps/ruins.dm
Labels: :mirror: MIR ЯОЯ

#858 [MIRROR] Obfuscate OOC Manifest
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/modular_computers/file_system/manifest.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#857 [MIRROR] Radio fixes
  code/game/objects/items/devices/radio/radio.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#849 [MIRROR] Fixes pAI radios
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/silicon/pai/admin.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  nano/templates/pai_radio.tmpl
  nano/templates/radio_basic.tmpl
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#859 [MIRROR] Clipboard QoL
  code/modules/paperwork/clipboard.dm
  code/modules/paperwork/pen/retractable_pen.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#861 [MIRROR] fix /hook/startup/proc/set_visibility appearing to error
  code/game/world.dm
Labels: :mirror: MIR ЯОЯ

#862 [MIRROR] Expands stabbing eyes to all sharp items
  code/_helpers/unsorted.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/tools/screwdriver.dm
  code/game/objects/objs.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/paperwork/pen/pen.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#863 [MIRROR] Fixes some hostile mob targeting
  code/_onclick/other_mobs.dm
  code/game/atoms_health.dm
  code/modules/mob/living/simple_animal/hostile/antlion.dm
  code/modules/mob/living/simple_animal/hostile/leech.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/exoplanet.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  code/modules/mob/living/simple_animal/hostile/vagrant.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#864 [MIRROR] even more sprite fixes
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/mining/drilling/drill.dm
  icons/obj/doors/station/sparks_broken.dmi
  icons/obj/doors/station/sparks_damaged.dmi
  icons/obj/flora/hydroponics_growing.dmi
  icons/obj/flora/hydroponics_misc.dmi
  icons/obj/guns/merc_smg.dmi
  icons/obj/structures/portgen.dmi
  icons/obj/tools/bloodpack.dmi
  icons/obj/tools/card.dmi
  icons/obj/tools/wirecutter.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#865 [MIRROR] Makes fancy storage use lists for key_items
  code/game/objects/items/weapons/storage/fancy/_fancy.dm
  code/game/objects/items/weapons/storage/fancy/crackers.dm
  code/game/objects/items/weapons/storage/fancy/crayons.dm
  code/game/objects/items/weapons/storage/fancy/egg_box.dm
  code/game/objects/items/weapons/storage/fancy/matchbox.dm
  code/game/objects/items/weapons/storage/fancy/pencilcase.dm
  code/game/objects/items/weapons/storage/fancy/smokable/_smokable.dm
  code/game/objects/items/weapons/storage/fancy/smokable/basic.dm
  code/game/objects/items/weapons/storage/fancy/vials.dm
  code/modules/reagents/reagent_containers/food/snacks/bugmeat.dm
Labels: :mirror: MIR ЯОЯ

#860 [MIRROR] Removes annoying airlock beep
  code/game/machinery/doors/airlock.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#868 [MIRROR] Hide stored entries in Topic manifest
  code/game/world.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#867 [MIRROR] Use browser datum for connection checker popups
  code/modules/admin/connectioncheck/bancheck_functions.dm
  code/modules/admin/connectioncheck/connectioncheck_functions.dm
Labels: :mirror: MIR ЯОЯ

#873 [MIRROR] stop empty categories from showing in bot manifests
  code/modules/modular_computers/file_system/manifest.dm
Labels: :mirror: MIR ЯОЯ

#874 [MIRROR] Exoplanet Gen tweaks
  code/__defines/misc.dm
  code/modules/ZAS/Fire.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/exoplanets/exoplanet_atmosphere.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/xgm/xgm_gas_mixture.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#875 [MIRROR] Revert "exoplanet gen tweaks"
  code/modules/overmap/exoplanets/planet_types/barren.dm
Labels: :scroll: CL не требуется

#876 [MIRROR] Fixes D2 wiring issues and removes unnecessary SMESes
  maps/torch/items/manuals.dm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch_presets.dm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#878 Fix identation error
  maps/sierra/job/_job_defines.dm
Labels: :scroll: CL не требуется

#880 [MIRROR] Apply `use_*` to `/obj/item/holder`
  code/modules/mob/holder.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден, :mirror: MIR ЯОЯ

#881 [MIRROR] Make vending machines glow
  code/game/machinery/vending/_vending.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#882 [MIRROR] Makes "prison break" event more impactful
  code/game/machinery/doors/airlock.dm
  code/modules/events/prison_break.dm
  code/modules/power/apc.dm
  maps/torch/torch_events.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#883 [MIRROR] lets ghosts see the time and date in the statpanel
  code/modules/mob/observer/ghost/ghost.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#884 [MIRROR] Fixes a typo when removing posters
  code/game/objects/effects/decals/contraband.dm
Labels: :mirror: MIR ЯОЯ

#866 Sierra Mods: The Second Encounter
  code/__defines/~mods/~master_defines.dm
  interface/skin.dmf
  maps/sierra/sierra.dm
  mods/_maps/liberia/code/liberia_jobs.dm
  mods/don_loadout/_don_loadout.dme
  mods/don_loadout/code/loadout/helpers.dm
  mods/don_loadout/code/loadout/preferences.dm
  mods/don_loadout/code/tweaked/general/01_basic.dm
  mods/don_loadout/code/tweaked/general/02_body.dm
  mods/don_loadout/code/tweaked/general/03_equipment.dm
  mods/don_loadout/code/tweaked/general/04_flavor.dm
  mods/don_loadout/code/tweaked/general/05_preview.dm
  mods/don_loadout/code/tweaked/global.dm
  mods/global_modpacks.dm
  mods/leroy_beasts/code/beasts.dm
  mods/screentips/code/screentip.dm
  mods/tajara/code/clothing/accessories.dm
  mods/tajara/code/datum/species.dm
  mods/utf8/README.md
  mods/utf8/_utf8.dm
  mods/utf8/_utf8.dme
  mods/utf8/code/utf8.dm
Labels: :scroll: CL валиден

#887 [MIRROR] More randomized vendor stock
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/boda.dm
  code/game/machinery/vending/coffee.dm
  code/game/machinery/vending/cola.dm
  code/game/machinery/vending/fitness.dm
  code/game/machinery/vending/games.dm
  code/game/machinery/vending/snack.dm
  code/game/machinery/vending/soda.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#888 Fix icon state checker script broken by mirror bot
  test/check_icon_state_limit.py
  tools/dmitool/check_icon_state_limit.py
Labels: :open_file_folder: Репозиторий

#889 [MIRROR] attempt to give robots multiple antag items
  code/_onclick/hud/robot.dm
  code/datums/mind/mind.dm
  code/game/antagonist/antagonist_add.dm
  code/game/antagonist/station/traitor.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/hydroponics/seed.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/flying/module_flying.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_cultivator.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_emergency.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_filing.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_forensics.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_repair.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/modules/_module.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/mob/living/silicon/robot/modules/module_engineering.dm
  code/modules/mob/living/silicon/robot/modules/module_janitor.dm
  code/modules/mob/living/silicon/robot/modules/module_maintenance_drone.dm
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/mob/living/silicon/robot/modules/module_miner.dm
  code/modules/mob/living/silicon/robot/modules/module_research.dm
  code/modules/mob/living/silicon/robot/modules/module_security.dm
  code/modules/mob/living/silicon/robot/modules/module_standard.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/projectiles/guns/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/launcher/syringe_gun.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Reagents/Random/Chemistry-Reagents-Random.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  maps/torch/robot/module_flying_surveyor.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#890 [MIRROR] Use standardized health for fireaxe cabinets
  code/game/objects/structures/fireaxe_cabinet.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#891 [MIRROR] Fixes intercoms and allows you to open the wire hacking menu with an empty hand
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#768 Update changelog generation
  html/auction-hammer-gavel.png
  html/bug-minus.png
  html/burn-exclamation.png
  html/changelog.css
  html/cross-circle.png
  html/hard-hat-exclamation.png
  html/image-minus.png
  html/image-plus.png
  html/map-pencil.png
  html/music-minus.png
  html/music-plus.png
  html/scales.png
  html/spell-check.png
  html/templates/footer.html
  html/templates/header.html
  html/tick-circle.png
  html/wrench-screwdriver.png
  tools/changelog/ss13_genchangelog.py
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден

#893 Add CuddleAndTea to the memorial
  maps/sierra/structures/signs.dm
Labels: :scroll: CL валиден

#895 [MIRROR] Fixes runtime error and storing guns on harm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/projectiles/gun.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#622 FIX: ETA timer now in sync with the subsystem movement speed
  code/modules/overmap/ships/computers/helm.dm
Labels: :hourglass: Ожидание автора, :scroll: CL валиден

#899 [MIRROR] Delay gun recharging if recently fired
  code/modules/projectiles/guns/energy.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#901 EX666 ecosystem
  baystation12.dme
  code/controllers/configuration.dm
  code/game/world.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/banjob.dm
  code/modules/admin/connectioncheck/bancheck_functions.dm
  code/modules/admin/topic.dm
  code/modules/client/client_procs.dm
  code/modules/mob/new_player/login.dm
  config/example/config.txt
  config/example/dbconfig.txt
  mods/_master_files/code/modules/mob/new_player/new_player.dm
  mods/ex666_ecosystem/README.md
  mods/ex666_ecosystem/_ex666_ecosystem.dm
  mods/ex666_ecosystem/_ex666_ecosystem.dme
  mods/ex666_ecosystem/code/database.dm
  mods/ex666_ecosystem/code/discord.dm
  mods/ex666_ecosystem/code/experience/_defines.dm
  mods/ex666_ecosystem/code/experience/_undefines.dm
  mods/ex666_ecosystem/code/experience/exp_job.dm
  mods/ex666_ecosystem/code/experience/exp_species.dm
  mods/ex666_ecosystem/code/experience/subsystem.dm
  mods/ex666_ecosystem/code/whitelist.dm
  mods/global_modpacks.dm
  sql/modifications/001_initial.sql
Labels: :page_facing_up: Конфиги, :floppy_disk: База данных

#897 [MOD] Gliding - Smooth movement
  code/__defines/~mods/~master_defines.dm
  code/datums/movement/mob.dm
  code/modules/mob/living/living.dm
  mods/gliding/README.md
  mods/gliding/_gliding.dm
  mods/gliding/_gliding.dme
  mods/gliding/code/movable.dm
  mods/gliding/code/movement_handler.dm
  mods/global_modpacks.dm
Labels: :scroll: CL валиден

#903 Add nice dark scrollbar to the changelog
  html/changelog.css
Labels: :scroll: CL валиден

#905 [MIRROR] more sprite fixes
  code/modules/detectivework/microscope/microscope.dm
  code/modules/power/sensors/sensor_monitoring.dm
  icons/obj/beekeeping.dmi
  icons/obj/closets/coffin.dmi
  icons/obj/closets/coffin_wood.dmi
  icons/obj/structures/structures.dmi
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#906 [MIRROR] Removes lock from the hydro closet
  code/game/objects/structures/crates_lockers/closets/_closet_appearance_definitions.dm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dmm
  maps/torch/structures/closets/services.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#907 [MIRROR] Hypospray tweaks
  code/modules/clothing/under/accessories/storage.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ
