Repository SierraBay/SierraBay12, pull requests merged in 2023-12, with the labels that each got.

#1562 Port loadout cloaks & Unathi loadout items
  baystation12.dme
  code/__defines/~mods/~master_defines.dm
  mods/_master_files/code/modules/clothing/spacesuits/spacesuits.dm
  mods/global_modpacks.dm
  mods/loadout_items/README.md
  mods/loadout_items/_loadout_items.dm
  mods/loadout_items/_loadout_items.dme
  mods/loadout_items/code/cloak.dm
  mods/loadout_items/code/lists/cloaks.dm
  mods/loadout_items/code/lists/xenowear.dm
  mods/loadout_items/code/shoes.dm
  mods/loadout_items/icons/obj_feet.dmi
  mods/loadout_items/icons/onmob_feet.dmi
  packs/infinity/__defines/clothing.dm
  packs/infinity/_pack.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#1596 [MIRROR] fixes rotation of soda machine in deck five aft ladderwell
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты, :mirror: MIR ЯОЯ

#1599 [MIRROR] Canister storage changes
  code/game/objects/structures/signs.dm
  icons/obj/structures/decals.dmi
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1597 [MIRROR] gun & ninja boxes are selection items, adds pilot helmet selection item
  baystation12.dme
  code/game/antagonist/outsider/ninja.dm
  code/game/objects/items/gunboxes.dm
  code/game/objects/items/selection.dm
  maps/torch/items/selection.dm
  maps/torch/structures/closets/exploration.dm
  maps/torch/torch.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1600 [MIRROR] Aviator Expansion
  code/datums/uplink/devices and tools.dm
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/glasses/thermals.dm
  icons/mob/onmob/onmob_eyes.dmi
  icons/obj/clothing/obj_eyes.dmi
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#1602 [MIRROR] Additions to IPC
  baystation12.dme
  code/_helpers/global_lists.dm
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/machine/screen_abilities.dm
  code/modules/organs/robolimbs.dm
  code/modules/species/station/machine.dm
  code/modules/sprite_accessories/accessory_ipc.dm
  code/unit_tests/icon_tests.dm
  icons/mob/human_races/cyberlimbs/shellguard/shellguard_main.dmi
  icons/mob/human_races/species/ipc/facial.dmi
  icons/mob/human_races/species/ipc/hair.dmi
  icons/mob/human_races/species/ipc/legacy_markings.dmi
  icons/mob/human_races/species/ipc/markings.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1604 [MIRROR] Adds NTNRC Notifications and NT Relay Chat to PDA defaults
  code/modules/modular_computers/computers/subtypes/preset_pda.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  nano/templates/ntnet_chat.tmpl
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1605 [MIRROR] fix a runtime in examines
  code/modules/mob/living/carbon/human/examine.dm
Labels: :mirror: MIR ЯОЯ

#1609 [MIRROR] Assumes Cobby's gender
  code/modules/mob/living/simple_animal/hostile/retaliate/snake.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1611 [MIRROR] Bump actions/labeler from 4 to 5
  .github/labeler.yml
Labels: :mirror: MIR ЯОЯ

#1612 [MIRROR] Radio fixes
  nano/templates/radio_basic.tmpl
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1618 [MIRROR] Fix wristwatch incorrect dates of month
  code/modules/clothing/under/accessories/wristwatches.dm
Labels: :mirror: MIR ЯОЯ

#1615 Fix fullscreen disabling enables statusbar
  code/modules/client/client_procs.dm
  mods/ssinput/README.md
Labels: :scroll: CL валиден

#1633 [MIRROR] Makes research tape purple
  code/game/objects/items/weapons/policetape.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1635 [MIRROR] Assorted Fixes
  code/modules/overmap/ships/computers/ship.dm
  code/modules/power/apc.dm
  maps/torch/structures/signs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1636 [MIRROR] Fixes C4 and runtime
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/mob/living/living_health.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1638 [MIRROR] Makes collection mode toggleable oversight
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/laundry_basket.dm
  code/game/objects/items/weapons/storage/pill_bottle.dm
  code/game/objects/items/weapons/storage/specialized.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/turfs/turf.dm
  code/modules/research/part_replacer.dm
  code/modules/xenoarcheaology/tools/tools_pickaxe.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1639 [MIRROR] Mixing descriptions
  code/modules/reagents/Chemistry-Recipes.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1641 [MIRROR] Makes Gukhe A Flower Again
  code/modules/hydroponics/seed_datums.dm
  icons/obj/flora/hydroponics_products.dmi
  icons/obj/flora/seeds.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1642 [MIRROR] Updates floorlight damage
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/floor_light.dm
  code/game/objects/objs.dm
  icons/obj/machines/floor_light.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1640 [MIRROR] Updates magnitka's in-game blurb
  code/modules/culture_descriptor/location/locations_human.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1649 [MIRROR] IPC Antennae Fixes
  code/modules/sprite_accessories/accessory_ipc.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1647 [MIRROR] Fix mechs not being scannable by analyzers
  code/modules/mechs/mech_interaction.dm
  code/modules/mob/living/silicon/robot/analyzer.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1646 [MIRROR] Fixes wiring emergency shutters
  code/game/machinery/doors/firedoor_assembly.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1645 [MIRROR] Fix doors missing icons in map editors
  code/game/machinery/doors/airlock.dm
Labels: :mirror: MIR ЯОЯ

#1644 [MIRROR] Fix holster belts not holstering on click
  code/game/objects/items/weapons/storage/belt.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1648 [MIRROR] Improvements to wrapping paper
  code/game/objects/items/weapons/gifts.dm
  code/game/objects/items/weapons/wrapping_paper.dm
  code/game/objects/structures.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/spells/artifacts/storage.dm
  sound/effects/wrap.ogg
  sound/effects/wrap_tear.ogg
Labels: :sound: Звуки, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1654 [MIRROR] The OFD can't launch closets
  code/__defines/overmap.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/overmap/disperser/disperser_fire.dm
  maps/torch/torch3_deck3.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1655 [MIRROR] Fixes #34407
  code/game/machinery/doors/door.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1656 [MIRROR] add major version of rogue drone event
  code/modules/events/event_container.dm
  code/modules/events/mob_spawning/rogue_drones.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1657 [MIRROR] Fixes bloodied naked feet
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1658 [MIRROR] Fix RSF and riot helmet
  code/game/objects/items/weapons/RSF.dm
  icons/screen/radial.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1659 [MIRROR] rapid service fabricator gets correct ammo from cartridges
  code/game/objects/items/weapons/RSF.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1650 FIX: Assorted Issues while i can do that
  maps/sierra/items/guns.dm
  maps/sierra/job/_job_defines.dm
  maps/sierra/loadout/loadout_suit.dm
  maps/sierra/loadout/loadout_tactical.dm
  maps/sierra/loadout/loadout_uniform.dm
  maps/sierra/structures/closets/security.dm
  mods/loadout_items/README.md
  mods/loadout_items/_loadout_items.dme
  mods/loadout_items/code/armor.dm
  mods/loadout_items/code/lists/tactical.dm
  mods/loadout_items/code/lists/uniforms.dm
  mods/loadout_items/code/uniforms.dm
  mods/loadout_items/icons/obj_head.dmi
  mods/loadout_items/icons/obj_suit.dmi
  mods/loadout_items/icons/obj_under.dmi
  mods/loadout_items/icons/onmob_head.dmi
  mods/loadout_items/icons/onmob_suit.dmi
  mods/loadout_items/icons/onmob_under.dmi
  mods/tajara/code/posters.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#1666 [MIRROR] Fixes hardsuit modules
  code/modules/clothing/spacesuits/rig/modules/utility.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1722 Fix total donation amount type
  mods/don_loadout/code/donations/donations.dm
Labels: :scroll: CL валиден

#1734 [MIRROR] Generalize chameleon extension setup
  code/__defines/flags.dm
  code/_helpers/game.dm
  code/datums/extensions/chameleon.dm
  code/game/objects/items.dm
  code/modules/clothing/chameleon.dm
  code/modules/holodeck/HolodeckControl.dm
  code/unit_tests/unique_tests.dm
Labels: :mirror: MIR ЯОЯ

#1738 Add free donation tier for admins
  code/__defines/~mods/~master_defines.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  html/browser/common.css
  mods/don_loadout/README.md
  mods/don_loadout/code/donations/donations.dm
  mods/don_loadout/code/donations/donator.dm
Labels: :scroll: CL валиден

#1752 [MIRROR] fix organ printer not taking steel
  code/game/machinery/bioprinter.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1746 [MIRROR] Prevent Cultists from summoning nar-sie on shuttles or off-ship.
  code/game/antagonist/station/cultist.dm
  code/game/gamemodes/cult/runes.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1742 A pack of fixes
  mods/_master_files/code/modules/culture_descriptor/faction/factions_skrell.dm
  mods/expanded_culture_descriptor/code/cultures/cultures_unathi.dm
  mods/expanded_culture_descriptor/code/factions/factions_skrell.dm
  mods/expanded_culture_descriptor/code/species/station.dm
  mods/loadout_items/code/lists/accessories.dm
Labels: :scroll: CL валиден
