Repository SierraBay/SierraBay12, pull requests merged in 2023-07, with the labels that each got.

#744 Add: Return back Sierra overmap icon
  maps/sierra/icons/obj/overmap.dmi
  maps/sierra/sierra_overmap.dm
Labels: :scroll: CL валиден, Sprites

#747 Make lables fancy
  .github/labeler.yml
Labels: :scroll: CL не требуется, Repo

#751 [MIRROR] Shave process all machinery
  code/controllers/subsystems/machines.dm
  code/game/machinery/_machines_base/machinery.dm
Labels: :mirror: MIR ЯОЯ

#752 [MIRROR] Make the rest verb lay players instanetely
  code/modules/mob/living/living.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#756 [MIRROR] Fixes magazines not updating sprites
  code/modules/projectiles/ammunition.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#755 [MIRROR] Cane Expansion
  code/game/objects/items/weapons/cane.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_items.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons/melee_physical.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#754 [MIRROR] Remaps security armory
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/structures/closets/security.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#753 [MIRROR] Fix falldown sound constantly triggering
  code/modules/mob/living/carbon/human/human_damage.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#757 Add mods NanoUI templates
  nano/templates/_inf-mod-stasis.tmpl
  nano/templates/_jukebox-mod_jukebox.tmpl
Labels: :scroll: CL не требуется

#758 [MIRROR] Adds an alert when attempting to late join as a role that is not set in your 'Occupation' preferences
  code/modules/mob/new_player/new_player.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#759 [MIRROR] Sensors is machine, console is interface
  code/modules/overmap/contacts/_contacts.dm
  code/modules/overmap/contacts/contact_sensors.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/computers/ship.dm
  code/modules/overmap/ships/ship.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#760 [MIRROR] Add goonchat reload button to the legacy chat
  code/modules/goonchat/browserOutput.dm
Labels: :mirror: MIR ЯОЯ

#761 [MIRROR] Fix chat loading as non-newplayer mob
  code/modules/mob/login.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#762 [MIRROR] Fix create object menu html layout
  code/modules/admin/create_mob.dm
  code/modules/admin/create_object.dm
  code/modules/admin/create_turf.dm
  html/create_object.html
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#763 [MIRROR] Revert "Sensors is machine, console is interface"
  code/modules/overmap/contacts/_contacts.dm
  code/modules/overmap/contacts/contact_sensors.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/computers/ship.dm
  code/modules/overmap/ships/ship.dm
Labels: :mirror: MIR ЯОЯ

#764 [MIRROR] Fixes various mobs floating off, balances fleet bots
  code/modules/mob/living/simple_animal/hostile/robotic/bad_drone.dm
  code/modules/mob/living/simple_animal/hostile/robotic/hivebot/ranged.dm
  code/modules/mob/living/simple_animal/hostile/robotic/robots.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  maps/torch/torch_simplemobs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#765 [MIRROR] Fixes random hell Move() call counts, removes the parent call from mob/Login
  code/modules/mob/login.dm
Labels: :mirror: MIR ЯОЯ

#769 Remove bodyfall sound added on upstream
  packs/sierra-tweaks/_pack.dm
  packs/sierra-tweaks/mob/bodyfall_sound.dm
Labels: :scroll: CL не требуется

#770 [MIRROR] Move gun attack handling to resolve attackby
  code/modules/projectiles/gun.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#774 [MIRROR] Remove mobs from queue when halting processing
  code/controllers/subsystems/mobs.dm
Labels: :mirror: MIR ЯОЯ

#773 [MIRROR] adds sounds to showers
  code/game/objects/structures/watercloset.dm
  sound/machines/shower.ogg
Labels: :sound: Звуки, :scroll: CL валиден, :mirror: MIR ЯОЯ

#772 [MIRROR] correct uppercased helmet paths, remove emb from loadout
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/clothing/head/hardhat.dm
  maps/away/errant_pisces/errant_pisces.dm
  maps/torch/structures/closets/medical.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#771 [MIRROR] Allow weapon attacks to target mob zones
  code/_onclick/item_attack.dm
  code/modules/mob/living/living_health.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#775 [MIRROR] Fix sector initializtion actions order
  code/modules/overmap/sectors.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#776 [MIRROR] Removes shotgun drum mags from being lathable
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#778 [MIRROR] Exoplanet ruins fixes and tweaks
  code/modules/maps/ruins.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dm
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#779 [MIRROR] Cleans up examination code
  baystation12.dme
  code/_onclick/click.dm
  code/_onclick/ghost.dm
  code/game/atoms.dm
  code/game/objects/items/devices/holowarrant.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/modules/clothing/rings/material.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/detectivework/tools/evidencebag.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mob/examinations.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
  code/modules/mob/observer/freelook/eye.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/photography.dm
  code/modules/power/cable_structure.dm
Labels: :mirror: MIR ЯОЯ

#767 Fix Sierra lockdown properties
  maps/sierra/game/lockdown.dm
  maps/sierra/sierra_define.dm
  maps/sierra/sierra_presets.dm
Labels: :scroll: CL не требуется

#780 [MIRROR] Email program minimizes on normal exit
  code/__defines/misc.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  code/modules/modular_computers/ntos/ntos.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#781 [MIRROR] fix observers not being able to examine things
  code/_onclick/ghost.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#782 [MIRROR] ballistics stuff 3
  code/datums/supplypacks/security.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/beams.dm
  icons/effects/projectiles.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/laser_carbine.dmi
  maps/away/meatstation/meatstation.dm
  maps/away/meatstation/meatstation.dmm
  maps/away/meatstation/meatstation_left_hand.dmi
  maps/away/meatstation/meatstation_right_hand.dmi
  maps/away/meatstation/meatstation_sprites.dmi
  maps/torch/datums/supplypacks/security.dm
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#783 [MIRROR] Adds Fleet Sweaters
  maps/torch/datums/uniforms.dm
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/items/clothing/solgov-suit.dm
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#785 [MIRROR] prevents airlocks double-crushing mobs
  code/game/machinery/doors/airlock_interactions.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#784 [MIRROR] Improve light break/fix admin secrets \w changes
  code/modules/admin/secrets/fun_secrets/break_all_lights.dm
  code/modules/admin/secrets/fun_secrets/fix_all_lights.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#786 [MIRROR] remove trailing comma in vscode repo settings
  .vscode/settings.json
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#787 [MIRROR] add parser diagnostics block to spacemandmm config
  SpacemanDMM.toml
  code/_helpers/game.dm
  code/game/machinery/telecomms/broadcaster.dm
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#789 [MIRROR] Add ambient sound mute button to sensor
  code/modules/overmap/ships/computers/sensors.dm
  nano/templates/shipsensors.tmpl
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#788 [MIRROR] CSO changes
  maps/torch/items/rigs.dm
  maps/torch/structures/closets/research.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch6_bridge.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#790 [MIRROR] update ssicon_update
  code/controllers/subsystems/processing/icon_updates.dm
Labels: :mirror: MIR ЯОЯ

#791 [MIRROR] faster ssatoms
  code/__defines/__initialization.dm
  code/controllers/subsystems/atoms.dm
  code/game/atoms.dm
  code/modules/lighting/lighting_overlay.dm
  code/unit_tests/subsystem_tests.dm
Labels: :mirror: MIR ЯОЯ
