Repository SierraBay/SierraBay12, pull requests merged in 2024-11, with the labels that each got.

#2716 Fix Explosion Watcher
  mods/explosions/code/explosion_iter.dm
Labels: :scroll: CL валиден

#2717 Removes remnants of my enthusiasm 2: Electric Boogalo
  code/__defines/ZAS.dm
  code/__defines/misc.dm
  code/controllers/master.dm
  code/controllers/subsystems/atoms.dm
  code/controllers/subsystems/processing/nano.dm
  code/datums/datum.dm
  code/datums/extensions/state_machine.dm
  code/datums/observation/moved.dm
  code/game/area/areas.dm
  code/game/atoms_movable.dm
  code/game/machinery/_machines_base/machinery_components.dm
  code/game/objects/structures.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor_icon.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf_ao.dm
  code/game/turfs/turf_changing.dm
  code/game/turfs/unsimulated.dm
  code/modules/ZAS/Turf.dm
  code/modules/lighting/lighting_corner.dm
  code/modules/overmap/exoplanets/random_map.dm
  code/modules/overmap/ships/computers/ship.dm
  code/modules/power/cable_structure.dm
  code/modules/power/power.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/dartgun.dm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
  maps/bluespace_interlude/bluespace_interlude.dm
  maps/torch/torch_turfs.dm
  mods/anomaly/code/spawn_anomalies_protocol/bsd_event_protocol.dm
  mods/explosions/code/explosion_iter.dm
Labels: :scroll: CL валиден

#2720 remove lack of faster xenoarch init
  baystation12.dme
  code/_helpers/lists.dm
  code/controllers/subsystems/initialization/misc_late.dm
  code/controllers/subsystems/initialization/xenoarch.dm
  code/controllers/subsystems/machines.dm
  code/controllers/subsystems/mapping.dm
  code/modules/mining/mine_turfs.dm
  code/modules/xenoarcheaology/sampling.dm
  code/modules/xenoarcheaology/tools/tools.dm
  maps/mapsystem/maps.dm
Labels: :scroll: CL валиден

#2721 Remove lack of proper input priority
  code/__defines/subsystem-priority.dm
Labels: :scroll: CL валиден

#2726 Пси сигнал
  baystation12.dme
  maps/sierra/job/jobs.dm
  maps/sierra/sierra_events.dm
  mods/_master_files/code/modules/psionics/events/mini_spasm.dm
  packs/infinity/sound/misc/foundation_alarm.ogg
  packs/infinity/sound/misc/foundation_restore.ogg
Labels: :sound: Звуки, :scroll: CL валиден

#2727 Fixes some Ascent bugs
  mods/_maps/ascent_caulship/code/ascent_caulship_jobs.dm
  mods/_maps/ascent_caulship/code/ascent_caulship_props.dm
  mods/_maps/ascent_caulship/maps/ascent_caulship.dmm
  mods/_maps/ascent_seedship/code/ascent_seedship_jobs.dm
  mods/ascent/code/ascent_atoms.dm
  mods/ascent/code/ascent_doodads.dm
  mods/ascent/code/ascent_effects.dm
  mods/ascent/code/ascent_id.dm
  mods/ascent/code/ascent_outfits.dm
  mods/ascent/code/ascent_rigs.dm
  mods/ascent/code/ascent_species.dm
  mods/ascent/code/ascent_tools.dm
  mods/ascent/icons/items/ascent.dmi
  mods/ascent/icons/obj/ascent_doodads.dmi
  mods/ascent/icons/obj/items/ascent.dmi
  mods/ascent/icons/obj/items/egg.dmi
  mods/ascent/icons/obj/items/organs.dmi
  mods/ascent/icons/obj/razorweb.dmi
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#2728 Добавление хоткея
  mods/ssinput/code/keybindings/living.dm
Labels: :scroll: CL валиден

#2719 Remove lack of update_graphic fixes
  code/modules/ZAS/Turf.dm
  code/modules/ZAS/Zone.dm
  code/modules/recycling/conveyor2.dm
  code/modules/xgm/xgm_gas_data.dm
  code/modules/xgm/xgm_gas_mixture.dm
Labels: :scroll: CL валиден

#2724 Переломы Адхерантов.
  baystation12.dme
  mods/_master_files/code/game/objects/structures/mineral_bath.dm
Labels: :scroll: CL валиден

#2754 Утрата навыков у Генокрада
  baystation12.dme
  mods/_master_files/code/game/antagonist/station/changeling.dm
Labels: :scroll: CL валиден

#2755 Блокировка обновления зрения
  baystation12.dme
  mods/_master_files/code/modules/mob/living/life.dm
Labels: :scroll: CL валиден

#2764 Synth glitch screens
  mods/ipc_mods/code/machine_functions.dm
  mods/ipc_mods/icons/glitch.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2742 RnD Больше дизайнов
  mods/RnD/code/design.dm
  mods/RnD/code/tech_engineering.dm
  mods/RnD/code/tech_illegal.dm
  mods/RnD/code/tech_power.dm
  mods/RnD/code/tech_telecom.dm
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/chemistry.dm
  nano/images/science.png
  nano/templates/rdconsole.tmpl
Labels: :scroll: CL валиден

#2769 Add Skrell Clothes from Failu modules
  mods/failu_skrell_clothes/README.md
  mods/failu_skrell_clothes/_failu_skrell_clothes.dm
  mods/failu_skrell_clothes/_failu_skrell_clothes.dme
  mods/failu_skrell_clothes/_failu_skrell_clothes.int
  mods/failu_skrell_clothes/code/lists/xenowear.dm
  mods/failu_skrell_clothes/code/suits.dm
  mods/failu_skrell_clothes/code/uniforms.dm
  mods/failu_skrell_clothes/icons/skrell/idk.dmi
  mods/failu_skrell_clothes/icons/skrell/obj_skrell_robe.dmi
  mods/failu_skrell_clothes/icons/skrell/obj_under_skrell.dmi
  mods/failu_skrell_clothes/icons/skrell/onmob_skrell_robe.dmi
  mods/failu_skrell_clothes/icons/skrell/onmob_under_skrell.dmi
  mods/failu_skrell_clothes/icons/skrell/skrell_ointment.dmi
  mods/failu_skrell_clothes/icons/skrell/skrell_raskinta_boots.dmi
  mods/failu_skrell_clothes/icons/skrell/skrell_shoulder_windings.dmi
  mods/global_modpacks.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#2776 Removes lack of high-quality performance improvements
  code/controllers/subsystems/machines.dm
Labels: :scroll: CL валиден

#2778 Fixes view Y_decode
  code/_onclick/hud/movable_screen_objects.dm
Labels: :scroll: CL валиден

#2777 Мод на трейты персонажа
  mods/character_traits/README.md
  mods/character_traits/_character_traits.dm
  mods/character_traits/_character_traits.dme
  mods/character_traits/code/all.dm
  mods/character_traits/code/character_traits.dm
  mods/character_traits/code/glob_character_traits.dm
  mods/character_traits/code/unathi.dm
  mods/global_modpacks.dm
Labels: :scroll: CL валиден

#2779 Mechs balance feature, fixes
  mods/mechs_by_shegar/_mechs_by_shegar.dme
  mods/mechs_by_shegar/code/components/body.dm
  mods/mechs_by_shegar/code/components/components.dm
  mods/mechs_by_shegar/code/components/head.dm
  mods/mechs_by_shegar/code/interface.dm
  mods/mechs_by_shegar/code/mech_interaction.dm
  mods/mechs_by_shegar/code/mech_repair.dm
  mods/mechs_by_shegar/code/mech_vision.dm
  mods/mechs_by_shegar/code/passengers_compartment.dm
Labels: :scroll: CL валиден

#2815 revert: lazy ammo init
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/dartgun.dm
Labels: :scroll: CL валиден

#2770 add solgov insignia + beret
  maps/sierra/loadout/loadout_accessories.dm
  maps/sierra/loadout/loadout_head.dm
Labels: :scroll: CL валиден

#2814 Хотфикс вагабондов
  maps/sierra/job/jobs.dm
  maps/sierra/job/jobs_misc.dm
Labels: :scroll: CL валиден

#2817 Откат трех секунд подсистемы машин
  code/controllers/subsystems/machines.dm
Labels: :scroll: CL валиден

#2801 Resomi sechud lenses
  mods/resomi/code/clothing/glasses.dm
  mods/resomi/code/datum/gear.dm
Labels: :scroll: CL валиден

#2602 [MIRROR] Fix Shuttle Control Console Syncing
  baystation12.dme
  code/datums/extensions/multitool/circuitboards/shuttle_console.dm
  code/game/objects/items/weapons/circuitboards/computer/shuttle.dm
  code/modules/overmap/ships/computers/shuttle.dm
  code/modules/shuttles/shuttle_console.dm
  icons/obj/machines/computer.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2620 [MIRROR] Fix mutating killer tomato plants
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: :mirror: MIR ЯОЯ

#2621 [MIRROR] Fixes GAS clothes and blood masks
  code/game/antagonist/outsider/raider.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/spacesuits/void/wizard.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/human_races/species/nabber/blood_mask.dmi
  icons/mob/species/nabber/onmob_accessories_gas.dmi
  icons/mob/species/nabber/onmob_hands_gas.dmi
  icons/mob/species/nabber/onmob_head_gas.dmi
  icons/mob/species/nabber/onmob_suit_gas.dmi
  maps/sierra/loadout/loadout_suit.dm
  maps/torch/icons/mob/nabber/onmob_head_solgov_gas.dmi
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/items/clothing/solgov-head.dm
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2822 Resomi and Rev fixes
  mods/antagonists/code/revolutionary.dm
  mods/emote_panel/code/audible.dm
  mods/resomi/code/body/emotes.dm
  mods/resomi/code/datum/species.dm
Labels: :scroll: CL валиден

#2627 [MIRROR] adjust spawn targets for merc, raider, traitor
  code/game/antagonist/outsider/mercenary.dm
  code/game/antagonist/outsider/raider.dm
  code/game/antagonist/station/traitor.dm
  mods/antagonists/_antagonists.dme
  mods/antagonists/code/mercenary.dm
  mods/antagonists/code/raider.dm
  mods/antagonists/code/traitor.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2628 [MIRROR] Let posibrains be fixed outside bodies
  code/modules/organs/internal/species/ipc.dm
  mods/ipc_mods/code/ipc.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2629 [MIRROR] Timestamps for cargo orders
  code/controllers/subsystems/supply.dm
  code/modules/events/shipping_error.dm
  code/modules/modular_computers/file_system/programs/generic/supply.dm
  nano/templates/supply.tmpl
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2630 [MIRROR] Increase throat-slit cooldown
  code/modules/mob/grab/normal/grab_normal.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2631 [MIRROR] Make flora destructible
  baystation12.dme
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/structures.dm
  code/game/objects/structures/flora/flora.dm
  code/game/objects/structures/flora/tree.dm
  icons/obj/flora/deadtrees.dmi
  icons/obj/flora/pinetrees.dmi
  sound/effects/woodcutting.ogg
Labels: :mountain: Спрайты, :sound: Звуки, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2632 [MIRROR] Let the watch show the date
  code/_helpers/time.dm
  code/modules/clothing/under/accessories/wristwatches.dm
  code/modules/economy/Accounts.dm
  code/modules/events/money_hacker.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2633 [MIRROR] Assorted pride pin/badge selection changes
  code/datums/supplypacks/nonessent.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/under/accessories/pronouns.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2644 [MIRROR] Enable extending loadout descriptions
  code/modules/client/preference_setup/loadout/_defines.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  maps/torch/loadout/loadout_accessories.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2651 [MIRROR] Bump JamesIves/github-pages-deploy-action from 4.6.3 to 4.6.4
  .github/workflows/generate_documentation.yml
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#2652 [MIRROR] Fix spawning on landed colony ship
  maps/random_ruins/exoplanet_ruins/playablecolony2/playablecolony2.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2653 [MIRROR] Implement base loadout var gear tweak
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
Labels: :mirror: MIR ЯОЯ

#2834 FIX: Ascent Seedship
  mods/_maps/ascent_caulship/code/ascent_caulship_jobs.dm
  mods/_maps/ascent_seedship/code/ascent_seedship_jobs.dm
  mods/_maps/ascent_seedship/code/ascent_seedship_shuttles.dm
  mods/_maps/ascent_seedship/maps/ascent_seedship.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#2740 Advanced Landing
  maps/mapsystem/maps_unit_testing.dm
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/advanced_landing.dm
  mods/utility_items/icons/alphacolors.dmi
  nano/templates/shuttle_control_console_exploration.tmpl
Labels: :mountain: Спрайты, :scroll: CL валиден

#2843 Вырез раковой опухоли из мода Колеса
  mods/failu_skrell_clothes/_failu_skrell_clothes.int
  mods/failu_skrell_clothes/code/suits.dm
Labels: :scroll: CL валиден

#2674 [MIRROR] Fix antag scaling considering ghosts and off-ship players
  code/game/antagonist/antagonist_update.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2675 [MIRROR] fixed a show-stopper
  code/__defines/mobs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2680 [MIRROR] add hand holding
  code/modules/mob/mob.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2685 [MIRROR] poster update
  icons/obj/structures/contraband.dmi
  maps/torch/structures/posters.dm
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2847 Изменение события пси сигнала
  mods/_master_files/code/modules/psionics/events/mini_spasm.dm
Labels: :scroll: CL валиден

#2851 Advanced Landing fixes
  code/_helpers/turfs.dm
  mods/utility_items/code/advanced_landing.dm
Labels: :scroll: CL валиден

#2853 Anomaly hotfix
  mods/anomaly/code/anomaly_controller.dm
  mods/anomaly/code/spawn_anomalies_protocol/planet_spawn_types/flying.dm
Labels: :scroll: CL валиден

#2842 Фикс мезонных очков
  baystation12.dme
  mods/_master_files/code/modules/mob/living/carbon/human/human_helpers.dm
Labels: :scroll: CL валиден

#2793 Remove lack of queue_icon_update optimization
  baystation12.dme
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/initialization/icon_updates.dm
  code/controllers/subsystems/processing/icon_updates.dm
  code/modules/power/lighting.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден

#2809 Блокировка хранилища скафандров
  maps/sierra/icons/obj/suitstorage.dmi
  maps/sierra/machinery/machinery.dm
  maps/sierra/machinery/suit_storage.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#2796 Remove absence of emissive airlock sounds
  code/game/machinery/embedded_controller/airlock_program.dm
  sound/machines/airlockdone.ogg
  sound/machines/airlockin.ogg
  sound/machines/airlockout.ogg
Labels: :sound: Звуки, :scroll: CL валиден

#2866 Fix 9 - 10 - 11 Поды
  maps/sierra/z7_transit.dmm
  mods/utility_items/code/advanced_landing.dm
Labels: :world_map: Карты, :scroll: CL валиден

#2730 QoL: Alt Facedir by ctrl icon click
  code/_onclick/hud/human.dm
  packs/infinity/icons/mob/screen/facedir.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2823 ChemMode & slime revive potion
  mods/chemtweaks/README.md
  mods/chemtweaks/_chemtweaks.dm
  mods/chemtweaks/_chemtweaks.dme
  mods/chemtweaks/code/Chemistry-Recipes.dm
  mods/global_modpacks.dm
Labels: :scroll: CL валиден

#2660 [MIRROR] Fixes disarm intent combat
  code/_onclick/item_attack.dm
  code/modules/projectiles/gun.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2661 [MIRROR] Refactor: Items update holding mob overlays on `update_icon()`
  code/game/objects/items.dm
  code/game/objects/items/devices/oxycandle.dm
  code/game/objects/items/devices/paint_sprayer.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/swords_axes_etc.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/launcher/pneumatic.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#2697 [MIRROR] added preference to toggle run/walk on shift
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/mob_movement.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2702 [MIRROR] stop ai from endlessly attacking doors
  code/modules/ai/ai_holder_targeting.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2872 Anomaly fix
  code/modules/overmap/exoplanets/_exoplanet.dm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/anomaly/_anomaly.dme
  mods/anomaly/code/anomalies/anomalies_premades.dm
  mods/anomaly/code/anomalies/anomaly_core.dm
  mods/anomaly/code/anomalies/single/cooler.dm
  mods/anomaly/code/anomalies/single/electra.dm
  mods/anomaly/code/anomalies/single/heater.dm
  mods/anomaly/code/anomalies/single/rvach.dm
  mods/anomaly/code/anomalies/single/tramplin.dm
  mods/anomaly/code/anomalies/single/ventilyator.dm
  mods/anomaly/code/anomalies/single/vspishka.dm
  mods/anomaly/code/anomalies/single/zharka.dm
  mods/anomaly/code/anomaly_admin.dm
  mods/anomaly/code/anomaly_controller.dm
  mods/anomaly/code/anomaly_defines.dm
  mods/anomaly/code/artefacts/_anomaly_artefacts.dm
  mods/anomaly/code/artefacts/_artefact_external_interact.dm
  mods/anomaly/code/artefacts/_artefact_processing.dm
  mods/anomaly/code/artefacts/_artefact_spawn.dm
  mods/anomaly/code/artefacts/_interact_with_artefacts.dm
  mods/anomaly/code/artefacts/artefact_flyer.dm
  mods/anomaly/code/artefacts/artefact_gravi.dm
  mods/anomaly/code/detectors_and_etc/detector.dm
  mods/anomaly/code/detectors_and_etc/gurza_detector.dm
  mods/anomaly/code/documentation/rvach_anomaly/Схема рвача.drawio
  mods/anomaly/code/documentation/rvach_anomaly/Схема рвача.png
  mods/anomaly/code/monitor_effects/monitor_core.dm
  mods/anomaly/code/spawn_anomalies_protocol/planet_spawn_protocol/_planet_spawn_core.dm
  mods/anomaly/code/spawn_anomalies_protocol/planet_spawn_protocol/flying_planet/clouds.dm
  mods/anomaly/code/spawn_anomalies_protocol/planet_spawn_protocol/flying_planet/flying.dm
  mods/anomaly/code/spawn_anomalies_protocol/planet_spawn_protocol/ice.dm
  mods/anomaly/code/spawn_anomalies_protocol/planet_spawn_protocol/sargas.dm
  mods/anomaly/code/spawn_anomalies_protocol/planet_spawn_protocol/vulcanic.dm
  mods/anomaly/code/spawn_anomalies_protocol/planet_spawn_types/flying.dm
  mods/anomaly/code/spawn_anomalies_protocol/spawn_anomaly_with_big_artefact.dm
  mods/anomaly/code/spawn_anomalies_protocol/spawn_with_ruins.dm
  mods/anomaly/icons/artifacts.dmi
  mods/anomaly/icons/effects.dmi
  mods/anomaly/icons/gurza_detector.dmi
  mods/anomaly/icons/spawn_protocol_stuff.dmi
  mods/anomaly/maps/zharka_ruins/zharka_ruins.dm
  mods/anomaly/maps/zharka_ruins/zharka_ruins.dmm
  mods/anomaly/sounds/zharka.ogg
Labels: :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :scroll: CL валиден

#2708 [MIRROR] fix shuttle console not connecting after rebuild
  code/modules/shuttles/shuttle_console.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2723 [MIRROR] add atom underlays & overlays to VV no-modify
  code/modules/admin/view_variables/helpers.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2722 [MIRROR] memo refresh
  maps/torch/items/memos.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2733 [MIRROR] Don't disable statusbar in fullscreen (fix #34553)
  code/modules/client/client_procs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2734 [MIRROR] Allows Fleet chaplains to refuse small arms training
  maps/torch/job/service_jobs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2745 [MIRROR] Changes to pump and valve layering
  code/modules/atmospherics/components/binary_devices/binary_atmos_base.dm
  code/modules/atmospherics/components/binary_devices/circulator.dm
  code/modules/atmospherics/components/binary_devices/oxyregenerator.dm
  code/modules/atmospherics/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/components/binary_devices/pump.dm
  code/modules/atmospherics/components/shutoff.dm
  code/modules/atmospherics/components/tvalve.dm
  code/modules/atmospherics/components/valve.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2746 [MIRROR] New separate item sprites for mono floor tiles
  code/game/objects/items/stacks/tiles/tile_types.dm
  icons/obj/tiles.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2753 [MIRROR] Exoplanets with fancy coloured clouds actually work now
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2747 [MIRROR] Round end reports highest profits/losses, not biggest/smallest balance
  code/controllers/subsystems/ticker.dm
  code/modules/economy/Accounts.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#2752 [MIRROR] Reduce base projectile step delay from 1 to 0.65
  code/modules/projectiles/projectile.dm
Labels: :mirror: MIR ЯОЯ

#2748 [MIRROR] Various changes to chaplain
  code/game/objects/structures/crates_lockers/closets/secure/service.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/accessories/chaplain.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/obj/clothing/obj_accessories.dmi
  maps/sierra/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/torch3_deck3.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2696 [MIRROR] Bump JamesIves/github-pages-deploy-action from 4.6.4 to 4.6.8
  .github/workflows/generate_documentation.yml
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#2757 [MIRROR] Beds and chairs are no longer a blackhole of resources (mostly)
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/materials/recipes_furniture.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2760 [MIRROR] Adjust info, notice, warning, danger, subtle colors
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/stylesheet.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2731 [MIRROR] add computer command logging
  baystation12.dme
  code/_helpers/logging.dm
  code/controllers/configuration.dm
  code/datums/repositories/computer_logs.dm
  code/modules/admin/secrets/investigation/computer_logs.dm
  code/modules/modular_computers/terminal/terminal.dm
  config/example/config.txt
Labels: :page_facing_up: Конфиги, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2749 [MIRROR] SFP Jackets/Armor Tag
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories/armor_tag.dm
  icons/mob/onmob/onmob_modular_armor.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/obj_suit_modular_armor.dmi
  maps/sierra/loadout/loadout_suit.dm
  maps/torch/loadout/loadout_head.dm
  maps/torch/loadout/loadout_suit.dm
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#2751 [MIRROR] Alliance United Flotilla branch, and some consistency tweaks to others
  maps/torch/torch_ranks.dm
  packs/factions/fa/_pack.dm
  packs/factions/fa/faction.dm
  packs/factions/iccgn/faction.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2750 [MIRROR] Hugs and Headpats
  code/modules/species/species.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2767 [MIRROR] Consistancy for firing gun messages for user and observer
  code/modules/projectiles/gun.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2756 [MIRROR] include tracy dylibs in repo, tweak tracy init code
  code/__defines/byond_tracy.dm
  code/modules/admin/admin_verbs.dm
  tracy.dll
  tracy.so
Labels: :mirror: MIR ЯОЯ

#2761 [MIRROR] slightly refactor bsd bluespace pulse event
  code/game/machinery/bluespace_drive.dm
Labels: :mirror: MIR ЯОЯ

#2766 [MIRROR] Tweak injury examination colors
  code/modules/mob/living/carbon/human/examine.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2783 [MIRROR] Hyperzine reacts negatively with opiates
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2781 [MIRROR] Various legion updates
  html/changelogs/legion_event_2_caled.yml
  html/changelogs/legion_event_2_sierrakomodo.yml
  html/changelogs/legion_event_2_spookerton.yml
  icons/mob/simple_animal/hivebot.dmi
  packs/legion/_globals.dm
  packs/legion/_pack.dm
  packs/legion/hivebot.dmi
  packs/legion/icons/beacon.dmi
  packs/legion/legion_beacon.dm
  packs/legion/legion_hivebot.dm
  packs/legion/legion_mob.dm
  packs/legion/legion_narrate.dm
  packs/legion/sounds/legion_arrive.ogg
  packs/legion/sounds/legion_voices1.ogg
Labels: :mountain: Спрайты, :sound: Звуки, :mirror: MIR ЯОЯ

#2771 [MIRROR] Fix newscaster images not appearing if channel contains symbols
  code/game/machinery/newscaster.dm
  html/changelogs/HeyBanditoz-fix-newscaster-images.yml
Labels: :mirror: MIR ЯОЯ

#2785 [MIRROR] Make helm processing nullsafe for `linked` because colony ship
  code/modules/overmap/ships/computers/helm.dm
Labels: :mirror: MIR ЯОЯ

#2788 [MIRROR] Explosions affecting the SM have no chance of deleting it
  code/modules/supermatter/supermatter.dm
Labels: :mirror: MIR ЯОЯ

#2782 [MIRROR] Layer changes to atmos machines and telebeacon
  code/__defines/__renderer.dm
  code/game/machinery/teleporter/beacon.dm
  code/modules/atmospherics/components/binary_devices/circulator.dm
  code/modules/atmospherics/components/binary_devices/oxyregenerator.dm
  code/modules/atmospherics/components/unary/cold_sink.dm
  code/modules/atmospherics/components/unary/heat_source.dm
  code/modules/power/terminal.dm
Labels: :mirror: MIR ЯОЯ

#2787 [MIRROR] Supply QoL changes
  code/modules/modular_computers/file_system/programs/generic/supply.dm
  nano/templates/supply.tmpl
Labels: :mirror: MIR ЯОЯ

#2790 [MIRROR] allows for single-step crafting recipes to actually make their product
  code/controllers/subsystems/initialization/fabrication.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2791 [MIRROR] Allow toolbelts to hold RCDs
  code/game/objects/items/weapons/storage/belt.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2789 [MIRROR] Fixes the light replacer not being stowable
  code/game/objects/items/devices/lightreplacer.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2792 [MIRROR] Fixes issues with the paint sprayer
  code/game/objects/items/devices/paint_sprayer.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2909 [MIRROR] Removed papers go to user's hands
  code/modules/persistence/noticeboards.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2910 [MIRROR] Changes wording in the cryo cell UI
  nano/templates/cryo.tmpl
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2911 [MIRROR] Refactors mil_rank sort_order
  maps/torch/datums/uniforms_expedition.dm
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/obj/obj_accessories_solgov.dmi
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/torch_ranks.dm
  packs/factions/iccgn/faction.dm
  packs/factions/scga/faction.dm
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2913 [MIRROR] tweak shuttle fuel supply pack name for clarity
  code/datums/supplypacks/atmospherics.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2830 [MIRROR] change nacelles apcs to be critical
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2837 [MIRROR] Mule psi latency fix
  code/modules/psionics/mob/mob.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2833 [MIRROR] Hailer Description Change
  code/game/objects/items/devices/whistle.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2832 [MIRROR] Adds radial menu for choosing cable color
  code/__defines/colors.dm
  code/modules/power/cable_coil.dm
  code/modules/power/cable_structure.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2844 [MIRROR] Fixes pixel offset when taping things to walls
  code/game/objects/items/weapons/tape.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2840 [MIRROR] Changes a shotgun description
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2829 [MIRROR] Paint sprayer features and bugfix
  code/game/objects/items/devices/paint_sprayer.dm
  code/game/turfs/flooring/flooring_decals.dm
  icons/screen/radial.dmi
  icons/turf/flooring/decals.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2848 [MIRROR] Fixes metal foam air block
  code/game/objects/effects/chem/foam.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2854 [MIRROR] Fix stacked cargo piles blocking interaction
  code/modules/mechs/equipment/utility.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2850 [MIRROR] prefix msgs mob receives while aghosted
  code/modules/mob/hear_say.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2845 [MIRROR] Medical mechs from round start
  code/modules/mechs/components/software.dm
  code/modules/research/designs/designs_exosuits.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2856 [MIRROR] Droppers can be used on help intent
  code/modules/reagents/reagent_containers/dropper.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2839 [MIRROR] Bumps AO layer down
  code/__defines/__renderer.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2858 [MIRROR] remove max_pick from shared lists & privated mutability
  code/datums/singletons/shared_list/_shared_list.dm
Labels: :mirror: MIR ЯОЯ

#2862 [MIRROR] moved item/New behavior into Initialize
  code/game/objects/items.dm
Labels: :mirror: MIR ЯОЯ

#2849 [MIRROR] Shuffles both armouries
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2857 [MIRROR] add verb to set round length at round start
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2855 [MIRROR] more memos
  maps/torch/items/memos.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2868 [MIRROR] Fax languages fix
  code/modules/paperwork/adminpaper.dm
  code/modules/paperwork/photocopier.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2860 [MIRROR] Click Refactor - Machinery States
  code/game/machinery/_machines_base/machine_construction/_construction.dm
  code/game/machinery/_machines_base/machine_construction/computer.dm
  code/game/machinery/_machines_base/machine_construction/default.dm
  code/game/machinery/_machines_base/machine_construction/frame.dm
  code/game/machinery/_machines_base/machine_construction/item_chassis.dm
  code/game/machinery/_machines_base/machine_construction/tcomms.dm
  code/game/machinery/_machines_base/machinery_components.dm
Labels: :mirror: MIR ЯОЯ

#2863 [MIRROR] tiny cleanup pass on jukebox datum, audio singleton
  code/datums/audio/_audio.dm
  code/datums/audio/jukebox.dm
  code/game/machinery/jukebox.dm
  code/game/objects/items/devices/boombox.dm
  code/modules/clothing/ears/headphones.dm
  code/unit_tests/music_test.dm
  mods/jukebox_tapes/code/jukebox.dm
  mods/music_player/code/music_tape.dm
  mods/music_player/code/music_writer.dm
  mods/music_player/code/subtypes_tape.dm
Labels: :mirror: MIR ЯОЯ

#2838 [MIRROR] Readds the airlock controller for the engine room
  code/game/machinery/embedded_controller/airlock_program.dm
  maps/torch/torch4_deck2.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2869 [MIRROR] Fixes escape pods not repressurizing after launch
  code/modules/shuttles/escape_pods.dm
  maps/event/iccgn_ship/icgnv_hound.dm
  maps/event/sfv_arbiter/sfv_arbiter.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2867 [MIRROR] organ scarring is correctly reported by body scanners
  code/game/objects/items/devices/scanners/health.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/brain.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2864 [MIRROR] bump param 2 is "called" for clarity, applied to overrides & uses
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/cult/narsie.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/objects/effects/chem/water.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/game/turfs/turf.dm
  code/modules/ZAS/Airflow.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/bot/mulebot.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_movement.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/mob/living/living.dm
  code/modules/overmap/ships/ship.dm
  code/modules/power/singularity/particle_accelerator/particle.dm
  code/modules/power/singularity/singularity.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/animate.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/spells/aoe_turf/drain_blood.dm
  code/modules/spells/spell_projectile.dm
  code/modules/xenoarcheaology/artifacts/gigadrill.dm
  code/modules/xenoarcheaology/finds/special.dm
Labels: :mirror: MIR ЯОЯ

#2870 [MIRROR] Fixes paint sprayer for borgs
  code/game/objects/items/devices/paint_sprayer.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2883 [MIRROR] Fix machine frames being unwrenchable
  code/game/machinery/_machines_base/machine_construction/frame.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2885 [MIRROR] Changes to Laser DMR Damage, Accuracy, and ROF
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile/beams.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2886 [MIRROR] Added mandatory vegan and protein MRE to the crate
  code/game/objects/items/weapons/storage/mre.dm
  code/game/objects/structures/crates_lockers/crates.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2888 [MIRROR] RIG verbs and skills
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/rig_verbs.dm
  nano/templates/hardsuit.tmpl
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2889 [MIRROR] RPD pipe placement based on cursor position
  code/__defines/atmospherics.dm
  code/game/machinery/pipe/pipe_datums/pipe_datum_base.dm
  code/game/machinery/pipe/pipe_datums/pipe_datums.dm
  code/game/objects/items/weapons/RPD.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2903 [MIRROR] adjust various computer command skill requirements
  code/modules/mob/skills/skill.dm
  code/modules/modular_computers/terminal/commands/hwinfo.dm
  code/modules/modular_computers/terminal/commands/ifconfig.dm
  code/modules/modular_computers/terminal/commands/log.dm
  code/modules/modular_computers/terminal/commands/status.dm
  code/modules/modular_computers/terminal/commands/sysnotify.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2893 Тенек при посадке
  mods/utility_items/code/advanced_landing.dm
  mods/utility_items/icons/alphacolors.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2918 [MIRROR] Th'oom Juice source rectification
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2916 [MIRROR] Fix railgun overlays
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  icons/obj/guns/railgun.dmi
  icons/obj/guns/railgun_adv.dmi
  icons/obj/guns/railgun_heavy.dmi
  icons/obj/guns/railgun_old.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2917 [MIRROR] Fix non-component item->machine interactions
  code/game/machinery/_machines_base/machinery_components.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2891 Максимальное количество символов
  baystation12.dme
  code/__defines/~mods/misc.dm
Labels: :scroll: CL валиден

#2930 [MIRROR] Borgs can see date/time in status panel
  code/modules/mob/living/silicon/robot/robot.dm
  html/changelogs/HeyBanditoz-borgs-see-date-time.yml
Labels: :mirror: MIR ЯОЯ

#2932 [MIRROR] Fix coffee cup recipe typo
  code/modules/fabrication/designs/micro/designs_glasses.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2709 [MIRROR] party cards and cultural changes
  code/__defines/culture.dm
  code/__defines/~mods/expanded_culture_descriptor.dm
  code/game/objects/items/passport.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/species/station/station.dm
  icons/obj/tools/card.dmi
  maps/mapsystem/maps.dm
  mods/_master_files/code/modules/culture_descriptor/culture/cultures_human.dm
  mods/expanded_culture_descriptor/code/cultures/cultures_human.dm
  mods/expanded_culture_descriptor/code/locations/locations_human.dm
  mods/expanded_culture_descriptor/code/passport.dm
  mods/expanded_culture_descriptor/code/species/lizard.dm
  mods/expanded_culture_descriptor/code/species/station.dm
  mods/expanded_culture_descriptor/code/species/tajaran.dm
  mods/resomi/code/datum/species.dm
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2923 Возвращение потерявшихся планет
  code/__defines/~mods/expanded_culture_descriptor.dm
  code/modules/species/station/station.dm
  maps/mapsystem/maps.dm
  mods/expanded_culture_descriptor/code/cultures/cultures_human.dm
  mods/expanded_culture_descriptor/code/locations/locations_human.dm
  mods/expanded_culture_descriptor/code/species/station.dm
Labels: :scroll: CL валиден

#2920 Порт нижнего белья с инфинити
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/bottom.dm
  mods/utility_items/code/top.dm
  mods/utility_items/icons/human.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2810 Особенности гильгамешской охоты (мапфикс)
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/_maps/liberia/code/liberia_areas.dm
  mods/_maps/liberia/maps/liberia.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#2806 Hand map bugfix
  mods/_maps/hand/code/hand_shuttles.dm
  mods/_maps/hand/maps/hand-1.dmm
Labels: :world_map: Карты, :scroll: CL валиден
