Repository SierraBay/SierraBay12, pull requests merged in 2024-12, with the labels that each got.

#2935 Dionaea tweak
  mods/diona/README.md
  mods/diona/_diona.dm
  mods/diona/_diona.dme
  mods/diona/code/cultures_diona.dm
  mods/diona/code/station.dm
  mods/global_modpacks.dm
Labels: :scroll: CL валиден

#2942 [MIRROR] Fixes some standard window onframe sprite states
  html/changelogs/Cakey-windowfix.yml
  icons/obj/structures/window.dmi
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#2943 [MIRROR] improve randhex
  code/_helpers/text.dm
  code/_macros.dm
Labels: :mirror: MIR ЯОЯ

#2925 пересозданный МИРРОР 34500
  baystation12.dme
  code/__defines/mobs.dm
  code/datums/traits/_defines.dm
  code/datums/traits/maluses/allergy.dm
  code/datums/traits/maluses/animal_protein.dm
  code/datums/traits/maluses/ethanol.dm
  code/datums/traits/maluses/sugar.dm
  code/datums/traits/maluses/water.dm
  code/datums/traits/traits.dm
  code/game/objects/items/weapons/storage/med_pouch.dm
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/allergy.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living_defines.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
  code/modules/species/species.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден

#2945 Mod skrell ship, skrell void fix
  mods/guns/_guns.dm
  mods/guns/code/xenos.dm
  mods/guns/icons/obj/skrell_pistol.dmi
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/skrell-ship.dm
  mods/utility_items/icons/skrell_suit.dmi
  mods/utility_items/icons/skrell_suit_on_mob.dmi
  mods/utility_items/maps/skrell-sierrabay.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#2940 Languages
  code/__defines/mobs.dm
  code/modules/client/preference_setup/background/02_language.dm
  code/modules/nano/modules/human_appearance.dm
  mods/adherent_discharge/code/adherent.dm
  mods/diona/code/station.dm
  mods/ipc_mods/code/machine.dm
Labels: :scroll: CL валиден

#2949 [MIRROR] Borg module activations are now announced to their department
  code/modules/mob/living/silicon/robot/flying/module_flying_cultivator.dm
  code/modules/mob/living/silicon/robot/robot.dm
  maps/torch/robot/module_flying_surveyor.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2959 [MIRROR] Remove cyborgification contract
  maps/torch/datums/reports/robotics.dm
  maps/torch/torch.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2937 Порт префов на музыку
  mods/music_player/_music_player.dme
  mods/music_player/code/music_player.dm
  mods/music_player/code/music_prefs.dm
Labels: :scroll: CL валиден

#2982 Simplified languages
  code/__defines/~mods/~master_defines.dm
  mods/expanded_culture_descriptor/code/locations/locations_human.dm
  mods/global_modpacks.dm
  mods/simplangs/README.md
  mods/simplangs/code/simplangs.dm
  mods/simplangs/simplangs.dm
  mods/simplangs/simplangs.dme
Labels: :scroll: CL валиден

#2983 Custom planets language fixes
  mods/expanded_culture_descriptor/code/locations/locations_human.dm
Labels: :scroll: CL валиден

#2991 Демонстративное временное отключение аномалий
  mods/anomaly/code/spawn_anomalies_protocol/spawn_on_planet.dm
Labels: :scroll: CL валиден

#2914 bug fix
  maps/sierra/loadout/loadout_accessories.dm
  mods/_maps/liberia/maps/liberia.dmm
  mods/failu_skrell_clothes/_failu_skrell_clothes.dm
  mods/failu_skrell_clothes/code/lists/xenowear.dm
  mods/failu_skrell_clothes/code/uniforms.dm
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/FBP_vox.dm
  mods/utility_items/code/ma21.dm
  mods/utility_items/code/modnye_patchi.dm
  mods/utility_items/icons/lefthand_guns.dmi
  mods/utility_items/icons/pins.dmi
  mods/utility_items/icons/righthand_guns.dmi
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#2880 Небольшое изменение к пси сигналу
  mods/_master_files/code/modules/psionics/events/mini_spasm.dm
Labels: :scroll: CL валиден

#3000 Fix Runtume
  code/modules/power/turbine.dm
Labels: :scroll: CL валиден

#2985 Coat retexture
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/security.dm
Labels: :scroll: CL валиден

#3004 Colorable cap
  mods/loadout_items/_loadout_items.dme
  mods/loadout_items/code/head.dm
  mods/loadout_items/code/lists/headwear.dm
  mods/loadout_items/icons/obj_head.dmi
  mods/loadout_items/icons/onmob_head.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3008 Flat age skill poins for some xeno
  mods/adherent_discharge/code/adherent.dm
  mods/diona/code/station.dm
  mods/ipc_mods/code/machine.dm
Labels: :scroll: CL валиден

#2931 [MIRROR] adds a GCS signal to the transmission beacon
  code/modules/overmap/ships/beacon.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2960 [MIRROR] Legion beacon spawn spam buffer
  packs/legion/legion_beacon.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2961 [MIRROR] Fix cancelled allergy inputs breaking allergies
  code/modules/client/preference_setup/general/02_body.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2962 [MIRROR] Fix Eyeglow Layering
  code/modules/organs/external/head.dm
  code/modules/organs/external/species/diona.dm
  code/modules/organs/external/species/nabber_stance.dm
  code/modules/organs/internal/eyes.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2963 [MIRROR] Fix laser cannons not having a sprite in DMM editors
  code/modules/projectiles/guns/energy/laser.dm
Labels: :mirror: MIR ЯОЯ

#2936 [MIRROR] Better contrasted wall sprites & wall paint layering system
  code/__defines/doors.dm
  code/__defines/materials.dm
  code/_global_vars/lists/objects.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items/devices/paint_sprayer.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/wall_frame.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/wall_types.dm
  code/game/turfs/simulated/walls.dm
  code/modules/materials/_materials.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/definitions/materials_mineral.dm
  code/modules/materials/definitions/materials_organic.dm
  code/modules/materials/definitions/materials_other.dm
  code/modules/materials/definitions/materials_stone.dm
  code/modules/materials/definitions/materials_wood.dm
  code/modules/turbolift/turbolift_door.dm
  html/changelogs/Cakey-prettywalls.yml
  icons/obj/structures/wall_frame.dmi
  icons/screen/radial.dmi
  icons/turf/wall_masks.dmi
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#2986 Определение предметов антага
  mods/global_modpacks.dm
  mods/item_identification/README.md
  mods/item_identification/_item_identification.dm
  mods/item_identification/_item_identification.dme
  mods/item_identification/code/item_identification.dm
  mods/item_identification/code/items/traitor.dm
Labels: :scroll: CL валиден

#3028 Revert "[MIRROR] Better contrasted wall sprites & wall paint layering system"
  code/__defines/doors.dm
  code/__defines/materials.dm
  code/_global_vars/lists/objects.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items/devices/paint_sprayer.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/wall_frame.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/wall_types.dm
  code/game/turfs/simulated/walls.dm
  code/modules/materials/_materials.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/definitions/materials_mineral.dm
  code/modules/materials/definitions/materials_organic.dm
  code/modules/materials/definitions/materials_other.dm
  code/modules/materials/definitions/materials_stone.dm
  code/modules/materials/definitions/materials_wood.dm
  code/modules/turbolift/turbolift_door.dm
  icons/obj/structures/wall_frame.dmi
  icons/screen/radial.dmi
  icons/turf/wall_masks.dmi
Labels: :mountain: Спрайты

#3035 Небольшое дополнение к осмотру
  mods/item_identification/code/item_identification.dm
  mods/item_identification/code/items/traitor.dm
Labels: :scroll: CL валиден

#3019 M
  mods/global_modpacks.dm
  mods/makeshift_sword_overhaul/README.md
  mods/makeshift_sword_overhaul/code/makeshift_sword.dm
  mods/makeshift_sword_overhaul/icons/makeshift_sword_onmob_back.dmi
  mods/makeshift_sword_overhaul/icons/makeshift_sword_onmob_belt.dmi
  mods/makeshift_sword_overhaul/icons/makeshift_sword_onmob_left.dmi
  mods/makeshift_sword_overhaul/icons/makeshift_sword_onmob_right.dmi
  mods/makeshift_sword_overhaul/makeshift_sword_overhaul.dm
  mods/makeshift_sword_overhaul/makeshift_sword_overhaul.dme
  mods/utility_items/code/modnye_patchi.dm
  mods/utility_items/icons/onmob_pins.dmi
  mods/utility_items/icons/pins.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3034 Вырезание спавна аномалий от БСД пролива
  mods/anomaly/code/spawn_anomalies_protocol/bsd_event_protocol.dm
Labels: :scroll: CL валиден
