Repository SierraBay/SierraBay12, pull requests merged in 2024-09, with the labels that each got.

#2439 [MIRROR] Multiple fixes for a wizard
  code/modules/ghosttrap/trap.dm
  code/modules/mob/login.dm
  code/modules/spells/artifacts/storage.dm
  code/modules/spells/general/portal_teleport.dm
  code/modules/spells/hand/hand.dm
  code/modules/spells/hand/hand_item.dm
  code/modules/spells/racial_wizard.dm
  code/modules/spells/targeted/equip/dyrnwyn.dm
  code/modules/spells/targeted/equip/seed.dm
  code/modules/spells/targeted/equip/shield.dm
  code/modules/spells/targeted/shapeshift.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2440 [MIRROR] adds photograph to loadout
  code/modules/paperwork/photography.dm
  maps/torch/loadout/loadout_misc.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2441 [MIRROR] Document managed globals
  code/__datastructures/globals.dm
Labels: :mirror: MIR ЯОЯ

#2442 [MIRROR] Document `/PriorityQueue`
  code/__datastructures/priority_queue.dm
Labels: :mirror: MIR ЯОЯ

#2614 Ninja map remap
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/ninja-map.dm
  mods/utility_items/maps/ninja_sierrabay.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#2656 Delete tracy
  maps/sierra/sierra.dm
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/labcoat.dm
  packs/infinity/icons/mob/onmob/onmob_suit.dmi
  packs/infinity/icons/obj/clothing/obj_suit.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2655 Порт фич для интегральных плат с Инфинити
  mods/global_modpacks.dm
  mods/integrated_circuits/README.md
  mods/integrated_circuits/_integrated_circuits.dm
  mods/integrated_circuits/_integrated_circuits.dme
  mods/integrated_circuits/code/assemblies.dm
  mods/integrated_circuits/code/input.dm
  mods/integrated_circuits/code/integrated_circuit.dm
  mods/integrated_circuits/code/manipulation.dm
  mods/integrated_circuits/code/pai.dm
Labels: :scroll: CL валиден

#2667 Порт отображения для скана контактов и экстренной кнопки бедствия
  baystation12.dme
  mods/_master_files/code/modules/overmap/distress.dm
  mods/_master_files/code/modules/overmap/panicbutton.dm
  mods/global_modpacks.dm
  mods/overmap/README.md
  mods/overmap/_overmap.dm
  mods/overmap/_overmap.dme
  mods/overmap/code/contacts/contact_class.dm
  mods/overmap/code/contacts/special_contact_class.dm
  mods/overmap/code/overmap_object.dm
  mods/overmap/code/overmap_objects/ships.dm
  mods/overmap/code/overmap_objects/stationary.dm
  mods/overmap/code/ship.dm
  packs/infinity/icons/obj/distress.dmi
  packs/infinity/icons/obj/panicbutton.dmi
  packs/infinity/sound/AI/sos.ogg
  packs/infinity/sound/misc/emergency_beacon_launched.ogg
Labels: :mountain: Спрайты, :sound: Звуки, :scroll: CL валиден

#2658 [TWEAK] fix loadout ninja and tweak contains closets
  code/game/antagonist/outsider/ninja.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/game/objects/structures/crates_lockers/crates.dm
  mods/antagonists/code/operative.dm
  mods/bouquet_by_hakso/README.md
  mods/bouquet_by_hakso/_bouquet_by_hakso.dm
  mods/bouquet_by_hakso/_bouquet_by_hakso.dme
  mods/bouquet_by_hakso/code/bouquet.dm
  mods/bouquet_by_hakso/icons/bouquet.dmi
  mods/global_modpacks.dm
  mods/utility_items/maps/ninja_sierrabay.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#2605 Взрывы порт с Авроры
  code/__defines/misc.dm
  code/__defines/subsystem-priority.dm
  code/_global_vars/misc.dm
  code/controllers/configuration.dm
  code/game/objects/explosion.dm
  code/game/objects/explosion_recursive.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/shield_generators/shield.dm
  mods/explosions/README.md
  mods/explosions/_explosions.dm
  mods/explosions/_explosions.dme
  mods/explosions/code/explosion.dm
  mods/explosions/code/explosion_iter.dm
  mods/explosions/code/systems_start_end.dm
  mods/global_modpacks.dm
  mods/ipc_mods/code/external_cooling_device.dm
Labels: :scroll: CL валиден

#2670 Фикс карго поезда и отображения скрапа
  packs/infinity/machinery/scrap_compactor/scrap.dm
  packs/sierra-tweaks/objects/vehicles/train.dm
  packs/sierra-tweaks/objects/vehicles/vehicle.dm
Labels: :scroll: CL валиден

#2669 Inf acids
  code/modules/reagents/Chemistry-Reagents.dm
Labels: :scroll: CL валиден

#2666 Homemade stimultor craft
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/craft_drugs.dm
Labels: :scroll: CL валиден

#2672 Возврат старых шансов на дизарм
  baystation12.dme
  mods/_master_files/code/modules/species/species.dm
Labels: :scroll: CL валиден

#2677 [Tweak and add] ПРИЧЕСКА И ПОЧИНКА ШЛЕМА УРААААААААААААААААААА
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/ert_maint_helmet.dm
  mods/utility_items/code/hair_olivka.dm
  mods/utility_items/icons/corsair.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2687 AI buttons откат
  mods/ai/code/ai_machine_interaction.dm
Labels: :scroll: CL валиден
