Repository SierraBay/SierraBay12, pull requests merged in 2024-02, with the labels that each got.

#1854 [MIRROR] Revert "Fix white skybox appearance"
  code/_onclick/hud/skybox.dm
  code/controllers/subsystems/skybox.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1857 [MIRROR] Fixes vote extend text and fleet medical fatigues
  code/datums/vote/transfer.dm
  maps/torch/items/clothing/solgov-under.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1855 [MIRROR] Vox only get neuter pronouns
  code/modules/species/outsider/vox.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1846 Add slot a pouches
  baystation12.dme
  maps/sierra/items/pouches.dm
  maps/sierra/sierra.dm
Labels: :scroll: CL валиден

#1861 [MIRROR] FIX: Humans can choke now
  code/modules/emotes/definitions/_mob.dm
  code/modules/emotes/emote_mob.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1862 [MIRROR] Closets/Crates are now puncheable
  code/game/antagonist/outsider/vox.dm
  code/game/machinery/_machines_base/machinery.dm
  code/game/objects/objs.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/game/objects/structures/crates_lockers/closets/secure/_secure_closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1860 [MIRROR] adding coolant to pacmans with coolant adds coolant to the pacman
  code/modules/power/port_gen.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1891 [MIRROR] FIX: Capitalized cyrillic radio prefixes
  code/modules/mob/living/say.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1850 [MIRROR] Increases SKILL_DEVICES cap for the CE
  maps/torch/job/command_jobs.dm
  maps/torch/job/engineering_jobs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1890 Size backpack
  maps/sierra/items/backpack.dm
  maps/sierra/sierra.dm
Labels: :scroll: CL валиден

#1892 [MIRROR] fixes subdermal armor
  code/modules/organs/external/_external_damage.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1895 Fix: grabbing yourself paralyzes you
  code/datums/movement/mob.dm
Labels: :scroll: CL валиден

#1898 Bugfix: This Space FFFire
  maps/sierra/sierra.dm
  mods/wyccbay_optimization/README.md
  mods/wyccbay_optimization/_wyccbay_optimization.dm
  mods/wyccbay_optimization/_wyccbay_optimization.dme
  mods/wyccbay_optimization/code/ZAS/Turf.dm
  mods/wyccbay_optimization/code/ZAS/Zone.dm
  mods/wyccbay_optimization/code/xgm/xgm_gas_data.dm
  mods/wyccbay_optimization/code/xgm/xgm_gas_mixture.dm
Labels: :scroll: CL валиден

#1900 [MIRROR] FIx: rig_modules.dmi absence of icons
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  icons/obj/rig_modules.dmi
  maps/away/blueriver/blueriver-1.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1899 [MIRROR] changes the taste of DnB from sassafras (wrong) to fruit and aniseed (correct)
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1902 [MIRROR] Allows filling fire extinguishers with beakers/glass containers.
  code/game/objects/items/weapons/extinguisher.dm
  code/modules/mob/living/silicon/robot/modules/_module.dm
  code/modules/reagents/Chemistry-Holder.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1906 [MIRROR] adds portable radio jammer
  baystation12.dme
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/radio_jammer.dm
  icons/obj/radio_jammer.dmi
  nano/templates/radio_jammer.tmpl
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1912 [MIRROR] Adds TC and FPE outfits/accessories.
  code/datums/outfits/misc.dm
  code/modules/clothing/under/accessories/frontier.dm
  code/modules/clothing/under/frontier.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/mob/onmob/onmob_accessories_frontier.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/onmob/onmob_under_frontier.dmi
  icons/obj/clothing/obj_accessories.dmi
  icons/obj/clothing/obj_accessories_frontier.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/obj_under_frontier.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1913 [MIRROR] Add Black Carpet
  code/datums/supplypacks/flooring.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  icons/obj/tiles.dmi
  icons/turf/flooring/carpet.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1907 [MIRROR] Standardizes APC health
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/vending/_vending.dm
  code/modules/power/apc.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1897 Add: WolforbyKot Guns and rebalance
  code/modules/projectiles/guns/energy/secure.dm
  maps/sierra/sierra.dm
  maps/sierra/structures/closets/armory.dm
  maps/sierra/structures/closets/command.dm
  maps/sierra/structures/closets/security.dm
  mods/guns/README.md
  mods/guns/_guns.dm
  mods/guns/_guns.dme
  mods/guns/code/energy.dm
  mods/guns/code/projectile.dm
  mods/guns/code/xenos.dm
  mods/guns/icons/mob/lefthand_guns.dmi
  mods/guns/icons/mob/lefthand_guns_secure.dmi
  mods/guns/icons/mob/righthand_guns.dmi
  mods/guns/icons/mob/righthand_guns_secure.dmi
  mods/guns/icons/obj/basic_energy.dmi
  mods/guns/icons/obj/battlerifle.dmi
  mods/guns/icons/obj/boltaction.dmi
  mods/guns/icons/obj/bullpup_rifle.dmi
  mods/guns/icons/obj/confederate.dmi
  mods/guns/icons/obj/confuseray_secure.dmi
  mods/guns/icons/obj/energy_gun_secure.dmi
  mods/guns/icons/obj/foundation.dmi
  mods/guns/icons/obj/freezegun.dmi
  mods/guns/icons/obj/garand.dmi
  mods/guns/icons/obj/heavysniper.dmi
  mods/guns/icons/obj/holdout_pistol.dmi
  mods/guns/icons/obj/incendiary_laser.dmi
  mods/guns/icons/obj/ion_pistol_nt.dmi
  mods/guns/icons/obj/ion_rifle.dmi
  mods/guns/icons/obj/laser_cannon.dmi
  mods/guns/icons/obj/laser_carbine.dmi
  mods/guns/icons/obj/laser_sniper.dmi
  mods/guns/icons/obj/machine_pistol.dmi
  mods/guns/icons/obj/magnum_pistol.dmi
  mods/guns/icons/obj/merc_smg.dmi
  mods/guns/icons/obj/military_pistol.dmi
  mods/guns/icons/obj/pistol.dmi
  mods/guns/icons/obj/prototype_smg.dmi
  mods/guns/icons/obj/pulse_carbine.dmi
  mods/guns/icons/obj/pulse_pistol.dmi
  mods/guns/icons/obj/pulse_rifle.dmi
  mods/guns/icons/obj/retro_laser.dmi
  mods/guns/icons/obj/revolvers.dmi
  mods/guns/icons/obj/shotguns.dmi
  mods/guns/icons/obj/skrell_carbine.dmi
  mods/guns/icons/obj/skrell_pistol.dmi
  mods/guns/icons/obj/skrell_rifle.dmi
  mods/guns/icons/obj/small_egun.dmi
  mods/guns/icons/obj/small_egun_secure.dmi
  mods/guns/icons/obj/stunrevolver.dmi
  mods/guns/icons/obj/stunrevolver_secure.dmi
  mods/guns/icons/obj/stunrifle.dmi
  mods/guns/icons/obj/taser.dmi
  mods/guns/icons/obj/taser_carbine.dmi
  mods/guns/icons/obj/xray.dmi
  mods/guns/icons/obj/xray_pistol.dmi
  packs/infinity/icons/obj/guns/confusegun_secure.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#1915 [MIRROR] packified frontier alliance and terran commonwealth assets
  baystation12.dme
  code/datums/outfits/misc.dm
  code/modules/clothing/under/accessories/frontier.dm
  code/modules/clothing/under/frontier.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/mob/onmob/onmob_accessories_frontier.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/onmob/onmob_under_frontier.dmi
  icons/obj/clothing/obj_accessories.dmi
  icons/obj/clothing/obj_accessories_frontier.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/obj_under_frontier.dmi
  maps/torch/torch.dm
  packs/factions/fa/_pack.dm
  packs/factions/fa/badges.dm
  packs/factions/fa/badges.dmi
  packs/factions/fa/badges_unathi.dmi
  packs/factions/fa/clothing.dm
  packs/factions/fa/clothing.dmi
  packs/factions/fa/clothing_unathi.dmi
  packs/factions/fa/misc.dm
  packs/factions/fa/outfits.dm
  packs/factions/fa/tweaks.dm
  packs/factions/tc/_pack.dm
  packs/factions/tc/badges.dm
  packs/factions/tc/badges.dmi
  packs/factions/tc/clothing.dm
  packs/factions/tc/clothing.dmi
  packs/factions/tc/misc.dm
  packs/factions/tc/outfits.dm
  packs/factions/tc/tweaks.dm
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#1919 [MIRROR] repath /tc*/ to /commonwealth*/ & fix rolling utes
  maps/torch/torch.dm
  packs/factions/commonwealth/_pack.dm
  packs/factions/commonwealth/badges.dm
  packs/factions/commonwealth/badges.dmi
  packs/factions/commonwealth/clothing.dm
  packs/factions/commonwealth/clothing.dmi
  packs/factions/commonwealth/misc.dm
  packs/factions/commonwealth/outfits.dm
  packs/factions/commonwealth/tweaks.dm
  packs/factions/fa/clothing.dm
  packs/factions/tc/misc.dm
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#1914 [MIRROR] rsf improvement pass
  code/game/objects/items/weapons/RSF.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#1917 add: xeno whitelist panel, FBP whitelist
  code/__defines/admin.dm
  code/__defines/mobs.dm
  code/_helpers/type2type.dm
  code/modules/admin/admin_ranks.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/mob/new_player/new_player.dm
  mods/ex666_ecosystem/_ex666_ecosystem.dme
  mods/ex666_ecosystem/code/xeno_whitelist/_defines.dm
  mods/ex666_ecosystem/code/xeno_whitelist/xeno_webhook.dm
  mods/ex666_ecosystem/code/xeno_whitelist/xeno_whitelist.dm
  nano/templates/mods/xeno_whitelist.tmpl
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден

#1637 MAP: Hearer's Hand Salvage Vessel
  maps/sierra/loadout/loadout_pda.dm
  maps/sierra/loadout/loadout_tactical.dm
  maps/sierra/sierra.dm
  mods/_maps/hand/_map_hand.dm
  mods/_maps/hand/_map_hand.dme
  mods/_maps/hand/code/hand.dm
  mods/_maps/hand/code/hand_areas.dm
  mods/_maps/hand/code/hand_crew.dm
  mods/_maps/hand/code/hand_items.dm
  mods/_maps/hand/code/hand_shuttles.dm
  mods/_maps/hand/code/hand_structures.dm
  mods/_maps/hand/icons/mob/onmob_hand.dmi
  mods/_maps/hand/icons/obj/obj_hand.dmi
  mods/_maps/hand/maps/hand-1.dmm
  mods/_maps/hand/maps/hand-2.dmm
  mods/_maps/liberia/code/liberia_jobs.dm
  mods/_maps/miningpirate/_map_miningpirate.dm
  mods/_maps/miningpirate/_map_miningpirate.dme
  mods/_maps/miningpirate/code/miningpirate.dm
  mods/_maps/miningpirate/code/miningpirate_areas.dm
  mods/_maps/miningpirate/icons/miningpirate_sprites.dmi
  mods/_maps/miningpirate/maps/miningpirate.dmm
  mods/_maps/sentinel/code/sentinel_shuttle.dm
  mods/loadout_items/code/armor.dm
Labels: :world_map: Карты, :mountain: Спрайты, :compass: Авей-карты

#1901 [MIRROR] fixed not being able to teleport objects sometimes
  maps/sierra/sierra_procs.dm
  maps/torch/torch_procs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1782 IPC Cooling organ
  code/__defines/~mods/~master_defines.dm
  mods/global_modpacks.dm
  mods/ipc_cooling_unit/README.md
  mods/ipc_cooling_unit/_ipc_cooling_unit.dm
  mods/ipc_cooling_unit/_ipc_cooling_unit.dme
  mods/ipc_cooling_unit/code/cooling_system.dm
  mods/ipc_cooling_unit/code/external_cooling_device.dm
  mods/ipc_cooling_unit/code/machine.dm
  mods/ipc_cooling_unit/icons/ipc_icons.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден
