Repository SierraBay/SierraBay12, pull requests merged in 2024-10, with the labels that each got.

#2681 Возврат вкладки size converter для интегральных плат
  mods/integrated_circuits/README.md
  mods/integrated_circuits/_integrated_circuits.dme
  mods/integrated_circuits/code/size_converter.dm
Labels: :scroll: CL валиден

#2682 Возвращение дыхания под водой для Тритонца
  baystation12.dme
  mods/_master_files/code/modules/species/station/human_subspecies.dm
Labels: :scroll: CL валиден

#2686 Фикс консоли телесайнса
  mods/machinery/code/telesci_by_TT/telesci_computer.dm
Labels: :scroll: CL валиден

#2689 Remove lack of headgib fix
  code/modules/projectiles/guns/launcher/money_cannon.dm
Labels: :scroll: CL валиден

#2690 Remove lack of observers overhead cleanup
  code/datums/observation/~cleanup.dm
  code/unit_tests/observation_tests.dm
Labels: :scroll: CL валиден

#2691 Fix Autopsy и по мелочи
  code/game/objects/items/weapons/autopsy.dm
  code/modules/modular_computers/hardware/portable_hard_drive.dm
  mods/RnD/code/tech_robotics.dm
Labels: :scroll: CL валиден

#2693 Birka
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/tag_recipe.dm
  mods/utility_items/icons/tag.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2698 Возврат старой скорости Адхерантам
  mods/_master_files/code/modules/species/station/adherent.dm
Labels: :scroll: CL валиден

#2701 scanner data
  code/game/machinery/body_scanner_console.dm
  code/modules/modular_computers/file_system/data.dm
  code/modules/modular_computers/file_system/programs/generic/file_browser.dm
  code/modules/modular_computers/hardware/nano_printer.dm
  code/modules/modular_computers/ntos/components.dm
  nano/templates/body_scanner.tmpl
Labels: :scroll: CL валиден

#2712 Возврат OOC заметок персонажа
  code/modules/mob/living/carbon/human/examine.dm
  maps/sierra/structures/closets/misc.dm
  mods/global_modpacks.dm
  mods/ooc_notes/README.md
  mods/ooc_notes/_ooc_notes.dm
  mods/ooc_notes/_ooc_notes.dme
  mods/ooc_notes/code/ooc_notes.dm
Labels: :scroll: CL валиден

#2705 Fixing a bug with white brows
  mods/body_markings/code/body_markings.dm
  mods/body_markings/icons/body_markings.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2710 Фикс кейбинда на дроп
  mods/ssinput/code/keybindings/living.dm
Labels: :scroll: CL валиден

#2715 Revamps Voxship atmos
  maps/away/voxship/voxship-2.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#2443 [MIRROR] Add documentation to spacemandmm helper defines
  code/__spaceman_dmm.dm
Labels: :mirror: MIR ЯОЯ

#2465 [MIRROR] Remove RnD/Roundstart Disorientor + Make Parapen Less Combat Viable
  code/modules/paperwork/pen/reagent_pen.dm
  code/modules/research/designs/designs_weapon.dm
  maps/torch/structures/closets/command.dm
  maps/torch/structures/closets/engineering.dm
  maps/torch/structures/closets/medical.dm
  maps/torch/structures/closets/research.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2469 [MIRROR] adjusted recommended extensions
  .vscode/extensions.json
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#2471 [MIRROR] Documentation on datum vars. (And a couple global procs)
  code/core/datum/IsAbstract.dm
  code/datums/datum.dm
  code/datums/extensions/extensions.dm
  code/datums/weakref.dm
Labels: :mirror: MIR ЯОЯ

#2472 [MIRROR] Remove unnecessary attackby test
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#2470 [MIRROR] Document and format `/datum/stack`
  code/__datastructures/stack.dm
Labels: :mirror: MIR ЯОЯ

#2494 [MIRROR] Refactor/attackby/click-doc-and-standards
  code/_onclick/click.dm
  code/_onclick/click_handling.dm
  code/modules/mechs/mech_interaction.dm
Labels: :mirror: MIR ЯОЯ

#2510 [MIRROR] Add event-specific fluff doc
  maps/torch/torch.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch6_bridge.dmm
  packs/event_2024jul20/_pack.dm
  packs/event_2024jul20/documents.dm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2512 [MIRROR] Add legionified hivebots and beacon
  baystation12.dme
  code/_macros.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/goonchat/browserassets/css/styles_template.css
  code/stylesheet.dm
  packs/legion/_pack.dm
  packs/legion/hivebot.dm
  packs/legion/hivebot.dmi
  packs/legion/legion.dmi
  packs/legion/legion_narrate.dm
  packs/legion/mob.dm
  packs/legion/structure.dm
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2513 [MIRROR] Lockets and wallets can hold photo trinkets
  code/game/objects/items/weapons/storage/wallets.dm
  code/modules/clothing/under/accessories/lockets.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2514 [MIRROR] Let FT/CI have labcoats
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_suit.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2515 [MIRROR] Lighting fix for shuttles and minor fixes
  code/_onclick/cyborg.dm
  code/game/turfs/turf_changing.dm
  code/modules/lighting/lighting_corner.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  code/modules/shuttles/shuttle.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2517 [MIRROR] Supply radio rearrange
  maps/torch/items/encryption_keys.dm
  maps/torch/items/headsets.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2516 [MIRROR] Makes Skrianhi Tea actually tea
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2543 [MIRROR] Attack Refactor - `resolve_attackby()` overrides to `use_*()`
  code/game/objects/items/devices/hacktool.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/weapons/candle/candle.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/material/swiss.dm
  code/game/objects/items/weapons/tools/crowbar.dm
  code/game/objects/items/weapons/trays.dm
  code/game/objects/structures/roller_bed.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/projectiles/gun.dm
  code/modules/reagents/reagent_containers/borghypo.dm
Labels: :mirror: MIR ЯОЯ

#2544 [MIRROR] Makes envelopes shreddable
  code/modules/paperwork/papershredder.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2546 [MIRROR] Ports Portals from Polaris and fixes their visibility bugs
  baystation12.dme
  code/__defines/__renderer.dm
  code/game/objects/effects/map/map_effects.dm
  code/game/objects/effects/map/portal.dm
  code/modules/admin/buildmode/portals.dm
  code/modules/admin/buildmode/visible_portal.dm
  icons/effects/map_effects.dmi
  icons/misc/buildmode.dmi
  maps/_maps.dm
  maps/map_tools_showcase/portal_showcase.dm
  maps/map_tools_showcase/portal_showcase.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :mirror: MIR ЯОЯ

#2547 [MIRROR] Fixes halting artifact scan
  code/modules/xenoarcheaology/tools/artifact_analyser.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2556 [MIRROR] Standardized Health - Breakable Airlocks
  baystation12.dme
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/broken_door.dm
  code/game/machinery/doors/door.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2557 [MIRROR] Purchasable stasis cages
  code/controllers/subsystems/supply.dm
  code/datums/supplypacks/science.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2566 [MIRROR] increase traitor scaling coeff to 7
  code/game/gamemodes/traitor/traitor.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2567 [MIRROR] Atmos fix for late initialized away sites and more
  code/controllers/subsystems/air.dm
  code/controllers/subsystems/airflow.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/ventcrawl/ventcrawl.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2568 [MIRROR] Disposable Energy Weapons
  code/datums/supplypacks/security.dm
  code/game/machinery/recharger.dm
  code/game/objects/items/devices/inducer.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/stun.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2569 [MIRROR] Plant potency affects bioluminescence
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/trays/tray_update_icons.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2570 [MIRROR] Various supply changes
  code/datums/supplypacks/engineering.dm
  code/datums/supplypacks/munitions.dm
  code/datums/supplypacks/operations.dm
  code/datums/supplypacks/science.dm
  code/modules/clothing/suits/jobs.dm
  maps/torch/datums/supplypacks/security.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2572 [MIRROR] Fix bottle racks
  code/modules/reagents/reagent_containers/borghypo.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2573 [MIRROR] Remove error log on client lacking preferences
  code/modules/client/preference_setup/global/05_settings.dm
Labels: :mirror: MIR ЯОЯ

#2574 [MIRROR] Increases taser capacity
  code/modules/projectiles/guns/energy/stun.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2575 [MIRROR] fix some bad style for vars
  code/_helpers/maths.dm
  code/datums/communication/dsay.dm
  code/datums/outfits/equipment/backpacks.dm
  code/game/machinery/rotating_alarm.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/turfs/turf_changing.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/mob/living/carbon/xenobiological/powers.dm
  code/modules/paperwork/adminpaper.dm
  code/modules/random_map/dungeon/rooms/monster_room.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: :mirror: MIR ЯОЯ

#2576 [MIRROR] wheelchairs are subject to regular mob slowdowns
  code/datums/movement/atom_movable.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/mob/living/bot/remotebot.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/webslinger.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2577 [MIRROR] remove the unused /alien/ particle from various reagents
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Ethanol.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/lunch.dm
Labels: :mirror: MIR ЯОЯ

#2578 [MIRROR] Generalize var gear tweaks, allow for extended descriptions
  code/_helpers/_global_objects.dm
  code/modules/client/preference_setup/loadout/_defines.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  maps/torch/loadout/loadout_accessories.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2590 [MIRROR] Sugar now causes brain damage in extremely high doses for unathi
  code/datums/traits/trait_helpers.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2591 [MIRROR] block microwave interact for non-admin observers & non-human/robots
  code/game/machinery/kitchen/microwave.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2735 Быстрый фикс для РнД
  mods/RnD/code/tech_combat.dm
Labels: :scroll: CL валиден

#2736 Быстрый откат лоадаута
  code/_helpers/_global_objects.dm
  code/modules/client/preference_setup/loadout/_defines.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  maps/torch/loadout/loadout_accessories.dm
Labels: :scroll: CL валиден
