Repository SierraBay/SierraBay12, pull requests merged in 2024-07, with the labels that each got.

#2328 [MIRROR] Add antagonist vote fix
  code/datums/vote/add_antag.dm
  code/game/antagonist/antagonist_create.dm
  code/game/antagonist/antagonist_helpers.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2329 [MIRROR] little renderer refactor
  code/__defines/_renderer.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
  code/modules/mob/new_player/login.dm
Labels: :mirror: MIR ЯОЯ

#2330 [MIRROR] added free space between planes outside scene group
  code/__defines/__renderer.dm
Labels: :mirror: MIR ЯОЯ

#2341 [MIRROR] Add new planet-specific posters
  code/game/objects/effects/decals/posters/bs12.dm
  icons/obj/structures/contraband.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2340 [MIRROR] process_visors no longer tries to steal accessories from kittens
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2347 [MIRROR] correct a 9 to an 8
  code/__defines/__renderer.dm
Labels: :mirror: MIR ЯОЯ

#2416 Adds captain parade uniform
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/miscellaneous.dm
  maps/sierra/icons/mob/onmob/onmob_head.dmi
  maps/sierra/icons/mob/onmob/onmob_suit.dmi
  maps/sierra/icons/mob/onmob/onmob_under.dmi
  maps/sierra/icons/obj/clothing/obj_head.dmi
  maps/sierra/icons/obj/clothing/obj_suit.dmi
  maps/sierra/icons/obj/clothing/obj_under.dmi
  maps/sierra/structures/closets/command.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#2414 stairs icon tweak 30.06.2024
  icons/obj/structures/stairs.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2421 Runechat fix
  code/__defines/_renderer.dm
Labels: :scroll: CL валиден

#2437 Новый UI для телекоммуникаций + шаблоны для NanoUI (Section, Label List, Table)
  maps/sierra/sierra.dm
  mods/_master_files/code/game/machinery/telecomms/machine_interactions.dm
  mods/newUI/README.md
  mods/newUI/_newUI.dm
  mods/newUI/_newUI.dme
  nano/css/layout_modern.css
  nano/css/modern.css
  nano/templates/mods/telecomms.tmpl
Labels: :scroll: CL валиден

#2433 Updates Sentinel ship, fixes a few typos
  code/modules/submaps/submap_join.dm
  maps/sierra/machinery/machinery.dm
  maps/sierra/z6_admin.dmm
  mods/_maps/sentinel/code/sentinel_crew.dm
  mods/_maps/sentinel/code/sentinel_items.dm
  mods/_maps/sentinel/code/sentinel_structures.dm
  mods/_maps/sentinel/icons/mob/onmob_accessories_solpatrol.dmi
  mods/_maps/sentinel/icons/obj/fleet_vendomat.dmi
  mods/_maps/sentinel/icons/obj/obj_accessories_solpatrol.dmi
  mods/_maps/sentinel/maps/sentinel-1.dmm
  mods/_maps/sentinel/maps/sentinel-2.dmm
  mods/loadout_items/code/lists/cloaks.dm
  packs/factions/scga/faction.dm
  packs/factions/scga/ranks.dm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#2436 Фиксы для нескольких ишуев и небольшое дополнение
  code/modules/client/preference_setup/general/05_preview.dm
  code/modules/submaps/submap_join.dm
  maps/sierra/sierra.dm
  maps/sierra/sierra_events.dm
  mods/resomi/code/body/abilities.dm
Labels: :scroll: CL валиден

#2448 Интерфейс для копировальной машины
  mods/_master_files/code/modules/paperwork/photocopier.dm
  mods/newUI/README.md
  mods/newUI/_newUI.dme
  mods/newUI/sound/printer.ogg
  nano/css/modern.css
  nano/css/shared.css
  nano/templates/mods/photocopier.tmpl
  nano/templates/rdconsole.tmpl
Labels: :sound: Звуки, :scroll: CL валиден

#2457 RND фикс
  code/game/machinery/robotics_fabricator.dm
  code/game/objects/items.dm
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
  code/modules/research/rdmachines.dm
  mods/RnD/code/tech_robotics.dm
  mods/RnD/code/tech_telecom.dm
Labels: :scroll: CL валиден

#2464 build: Bump BYOND verison
  .github/workflows/test.yml
  docs/SECURITY.md
Labels: :open_file_folder: Репозиторий

#2463 Новый crew manifest
  maps/sierra/sierra.dm
  mods/_master_files/code/modules/mob/new_player/new_player.dm
  mods/_master_files/code/modules/mob/observer/ghost/ghost.dm
  mods/global_modpacks.dm
  mods/newUI/README.md
  mods/newUI/_newUI.dme
  mods/newUI/code/manifest.dm
  nano/templates/mods/manifest.tmpl
Labels: :scroll: CL валиден

#2473 Новый интерфейс для факса
  mods/_master_files/code/modules/paperwork/faxmachine.dm
  mods/newUI/README.md
  mods/newUI/_newUI.dme
  mods/newUI/sound/card_insert.ogg
  nano/css/modern.css
  nano/templates/mods/faxmachine.tmpl
Labels: :sound: Звуки, :scroll: CL валиден

#2466 A little more fixes for RND
  mods/RnD/code/tech_engineering.dm
  mods/RnD/code/tech_robotics.dm
Labels: :scroll: CL валиден

#2468 Fix maping and balance projectile
  code/modules/projectiles/projectile.dm
  maps/away/mininghome/mininghome.dmm
Labels: :world_map: Карты

#2475 Новый интерфейс для мод-меню
  code/controllers/subsystems/initialization/modpacks.dm
  nano/css/modern.css
  nano/templates/mods/modlist.tmpl
Labels: :scroll: CL валиден

#2486 RnD Xenofauna
  code/game/objects/items/devices/scanners/plant.dm
  code/game/objects/items/devices/scanners/xenobio.dm
  code/modules/mob/living/simple_animal/hostile/meat_horrors.dm
  code/modules/paperwork/paper.dm
  mods/RnD/code/experiment.dm
  mods/RnD/code/tech_telecom.dm
Labels: :scroll: CL валиден

#2458 Возвращение панели интерактов с фиников
  baystation12.dme
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/interactions.dm
  sound/interactions/hug.ogg
  sound/interactions/slap.ogg
Labels: :sound: Звуки

#2485 Новое меню для входа в игру
  mods/_master_files/code/modules/mob/new_player/new_player.dm
  mods/newUI/README.md
  mods/newUI/_newUI.dme
  mods/newUI/code/joinpanel.dm
  mods/newUI/code/manifest.dm
  nano/css/modern.css
  nano/templates/mods/joinpanel.tmpl
  nano/templates/mods/manifest.tmpl
Labels: :scroll: CL валиден

#2491 Фикс Невозможности раздеть людей
  code/modules/mob/living/carbon/human/human.dm
Labels: :scroll: CL валиден

#2488 robo scanner fix
  code/modules/mob/living/silicon/robot/analyzer.dm
  mods/ipc_mods/code/machine.dm
Labels: :scroll: CL валиден

#2523 Фикс телекоммуникаций
  mods/_master_files/code/game/machinery/telecomms/machine_interactions.dm
  mods/newUI/README.md
  nano/templates/mods/telecomms.tmpl
Labels: :scroll: CL валиден

#2535 More Fixes
  code/modules/fabrication/designs/general/designs_medical.dm
  code/modules/research/designs/designs_medical.dm
  mods/RnD/code/tech_illegal.dm
Labels: :scroll: CL валиден

#2519 Небольшие фиксы по ишуям
  code/modules/admin/verbs/randomverbs.dm
  code/modules/reagents/reagent_containers/glass.dm
  mods/utility_items/code/multimeter.dm
Labels: :scroll: CL валиден

#2529 ПиксельШифт, Эвакуация и Емагподы
  code/__defines/lists.dm
  code/__defines/misc.dm
  code/_helpers/cmp.dm
  code/_helpers/logging.dm
  code/_helpers/type2type.dm
  code/_helpers/unsorted.dm
  code/controllers/configuration.dm
  code/controllers/evacuation/evacuation.dm
  code/controllers/evacuation/evacuation_pods.dm
  code/datums/datum.dm
  code/datums/observation/entered.dm
  code/game/atoms_movable.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/life.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_movement.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/shuttles/escape_pods.dm
  maps/sierra/sierra_define.dm
  mods/escpodinf/_escpodinf.dm
  mods/escpodinf/_escpodinf.dme
  mods/escpodinf/code/evacuation_pods_fast.dm
  mods/global_modpacks.dm
  mods/pixelshift/README.md
  mods/pixelshift/_pixelshift.dm
  mods/pixelshift/_pixelshift.dme
  mods/pixelshift/code/_component.dm
  mods/pixelshift/code/_element.dm
  mods/pixelshift/code/component_tests.dm
  mods/pixelshift/code/dcs.dm
  mods/pixelshift/code/keybinding.dm
  mods/pixelshift/code/pixel_shift.dm
  mods/pixelshift/code/signals.dm
  mods/pixelshift/templates/COMPONENT_TEMPLATE.md
  mods/pixelshift/templates/ELEMENT_TEMPLATE.md
  mods/ssinput/code/keybindings/living.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден

#2541 RnD Miner
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/research/rdconsole.dm
  code/modules/research/research.dm
  mods/RnD/_RnD.dme
  mods/RnD/code/design.dm
  mods/RnD/code/research.dm
  mods/RnD/code/sciefolder.dm
  nano/images/uiBackground-NTsci.png
  nano/js/nano_base_helpers.js
  nano/templates/access_decrypter.tmpl
  nano/templates/mods/sciencefolding.tmpl
  nano/templates/rdconsole.tmpl
Labels: :scroll: CL валиден

#2539 BOUNTY: AI alarm fixes and update
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/silicon/subsystems.dm
  code/modules/modular_computers/file_system/programs/engineering/alarm_monitor.dm
Labels: :scroll: CL валиден

#2552 Fix bla-bla-bla and add cost transfer vavle
  code/game/objects/items/devices/transfer_valve.dm
  code/modules/codex/entries/paperwork.dm
Labels: :scroll: CL валиден
