Repository SierraBay/SierraBay12, pull requests merged in 2024-01, with the labels that each got.

#1769 [MIRROR] fix exo awakening resetting other event timers
  code/modules/events/exo_awakening/exo_awaken.dm
Labels: :mirror: MIR ЯОЯ

#1757 [MIRROR] Refactor poster code
  baystation12.dme
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/effects/decals/posters/_defines.dm
  code/game/objects/effects/decals/posters/bs12.dm
  code/game/objects/effects/decals/posters/posters.dm
  code/unit_tests/icon_tests.dm
  maps/sierra/sierra.dm
  maps/torch/structures/posters.dm
  maps/torch/torch.dm
  mods/nyc_posters/code/nyc_posters.dm
  mods/tajara/code/posters.dm
Labels: :mirror: MIR ЯОЯ

#1761 More loadout additions
  maps/sierra/loadout/_defines.dm
  maps/sierra/loadout/loadout_head.dm
  maps/sierra/loadout/loadout_suit.dm
  maps/sierra/loadout/loadout_uniform.dm
  mods/loadout_items/README.md
  mods/loadout_items/_loadout_items.dme
  mods/loadout_items/code/head.dm
  mods/loadout_items/code/lists/suits.dm
  mods/loadout_items/code/lists/uniforms.dm
  mods/loadout_items/code/lists/xenowear.dm
  mods/loadout_items/code/suits.dm
  mods/loadout_items/code/uniforms.dm
  mods/loadout_items/icons/obj_head.dmi
  mods/loadout_items/icons/obj_suit.dmi
  mods/loadout_items/icons/obj_under.dmi
  mods/loadout_items/icons/onmob_head.dmi
  mods/loadout_items/icons/onmob_suit.dmi
  mods/loadout_items/icons/onmob_under.dmi
  mods/loadout_items/icons/unathi/onmob_suit_unathi.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#1770 [MIRROR] FIX: Various sprites from PR#33877 thread
  code/game/objects/items/devices/radio/electropack.dm
  code/game/objects/items/weapons/staff.dm
  code/game/objects/items/weapons/teleportation.dm
  code/game/objects/structures/barsign.dm
  code/modules/power/fusion/kinetic_harvester.dm
  code/modules/reagents/Chemistry-Sublimator.dm
  code/modules/spells/spellbook.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/obj/clothing/obj_feet.dmi
  maps/away/casino/casino.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1771 [MIRROR] Fix chameleon stuff
  code/_helpers/unsorted.dm
  code/datums/datum.dm
  code/datums/extensions/chameleon.dm
  code/game/objects/items.dm
  code/modules/holodeck/HolodeckControl.dm
Labels: :mirror: MIR ЯОЯ

#1772 [MIRROR] Reduce survival pod spawn rate, remove bearcat radio beacon and holopad
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1774 [MIRROR] Move punitelli to safer spawns
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_npcs.dm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1777 [MIRROR] Fixes hardsuit flash and pipe placing
  code/game/machinery/pipe/construction.dm
  code/modules/atmospherics/pipes.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1776 [MIRROR] Fix energy shield icons not updating when disabled
  code/game/objects/items/weapons/shields.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1775 [MIRROR] Fix empty body scanner icon runtime
  code/game/machinery/body_scanner_console.dm
Labels: :mirror: MIR ЯОЯ

#1778 [MIRROR] Add emissives to air alarms, lights, and switches
  code/game/machinery/alarm.dm
  code/game/machinery/lightswitch.dm
  code/modules/power/lighting.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1779 [MIRROR] MAP: Some exoplanet ruins
  code/game/turfs/simulated/wall_types.dm
  code/modules/mechs/premade/_premade.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  maps/_maps.dm
  maps/random_ruins/exoplanet_ruins/crashed_shuttle/crashed_shuttle.dm
  maps/random_ruins/exoplanet_ruins/crashed_shuttle/crashed_shuttle.dmm
  maps/random_ruins/exoplanet_ruins/droppod/contents_1.dmm
  maps/random_ruins/exoplanet_ruins/droppod/contents_2.dmm
  maps/random_ruins/exoplanet_ruins/droppod/contents_3.dmm
  maps/random_ruins/exoplanet_ruins/droppod/droppod.dm
  maps/random_ruins/exoplanet_ruins/droppod/droppod.dmm
  maps/random_ruins/exoplanet_ruins/excavation_site/excavation_site.dm
  maps/random_ruins/exoplanet_ruins/excavation_site/excavation_site.dmm
  maps/random_ruins/exoplanet_ruins/fountain/fountain_ruin.dmm
  maps/random_ruins/exoplanet_ruins/skrell_biodome/skrell_biodome.dm
  maps/random_ruins/exoplanet_ruins/skrell_biodome/skrell_biodome.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1780 [MIRROR] Allow unlimited passenger slots
  code/game/jobs/job/job.dm
  maps/torch/job/misc_jobs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1781 [MIRROR] Makes status display destructible
  code/game/machinery/status_display.dm
  icons/obj/machines/status_display.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1783 [MIRROR] Fix broken borg overlays
  code/modules/mob/living/silicon/robot/robot.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1785 [MIRROR] Fix ironing board runtimes when ironing clothes
  code/game/objects/structures/ironing_board.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1787 [MIRROR] clustertools use the correct isTool form
  code/modules/skrell/skrell_rigs.dm
Labels: :mirror: MIR ЯОЯ

#1786 [MIRROR] Fix robotics fabricator not animating
  code/game/machinery/robotics_fabricator.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1784 [MIRROR] Fix runtimes when using sharp objects on head organs
  code/modules/organs/external/_external.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1792 [MIRROR] remove robot flying module's gun
  code/modules/mob/living/silicon/robot/flying/module_flying.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1791 [MIRROR] Fix: Skrellian Biodome unit tests
  maps/random_ruins/exoplanet_ruins/skrell_biodome/skrell_biodome.dm
  maps/random_ruins/exoplanet_ruins/skrell_biodome/skrell_biodome.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1794 [MIRROR] null equality to isnull
  code/_helpers/unsorted.dm
  code/controllers/subsystems/ambient_lighting.dm
  code/controllers/subsystems/zcopy.dm
  code/game/antagonist/antagonist.dm
  code/game/gamemodes/changeling/modularchangling.dm
  code/game/machinery/computer/arcade_orion.dm
  code/game/machinery/computer/message.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/nuclear_bomb.dm
  code/game/machinery/teleporter/beacon.dm
  code/game/movietitles.dm
  code/game/objects/effects/fire/fire.dm
  code/game/objects/effects/spawners/bombspawner.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/implants/implants/compressed.dm
  code/game/objects/items/weapons/policetape.dm
  code/game/objects/items/weapons/storage/storage_ui/default.dm
  code/game/objects/structures/transit_tubes.dm
  code/modules/admin/admin.dm
  code/modules/admin/verbs/SDQL_2/SDQL_2_parser.dm
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/atmospherics/components/omni_devices/filter.dm
  code/modules/atmospherics/components/pipesparker.dm
  code/modules/client/preferences_persist.dm
  code/modules/clothing/under/accessories/buddy_tag.dm
  code/modules/economy/EFTPOS.dm
  code/modules/error_handler/error_handler.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/integrated_electronics/subtypes/converters.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/materials/_materials.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/carbon/give.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/modular_computers/file_system/programs/engineering/alarm_monitor.dm
  code/modules/modular_computers/laptop_vendor.dm
  code/modules/overmap/exoplanets/planet_themes/mountains.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/overmap/exoplanets/random_map.dm
  code/modules/power/cell_rack.dm
  code/modules/power/port_gen.dm
  code/modules/radiation/radiation.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/research/rdconsole.dm
  code/modules/spells/contracts.dm
  code/unit_tests/unit_test.dm
  maps/mapsystem/maps.dm
  packs/deepmaint/generator/jp_dungeon_gen.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#1795 [MIRROR] Allow Unicode for reagent container labels
  code/modules/reagents/reagent_containers.dm
Labels: :mirror: MIR ЯОЯ

#1796 [MIRROR] Tweak: Mech interface, disposals and some fixes
  code/modules/mechs/interface/_interface.dm
  code/modules/recycling/disposal.dm
  icons/mob/onmob/onmob_under.dmi
  icons/obj/weapons/flamethrower_new.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1797 [MIRROR] Fixes the ICGNV Hound's oxygen canister.
  maps/event/iccgn_ship/icgnv_hound.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1800 [MIRROR] transfer controller -> ssroundend
  baystation12.dme
  code/controllers/autotransfer.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/initialization/misc.dm
  code/controllers/subsystems/roundend.dm
  code/controllers/verbs.dm
  code/datums/vote/add_antag.dm
  code/game/gamemodes/game_mode_latespawn.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/new_player/new_player.dm
  config/example/config.txt
Labels: :page_facing_up: Конфиги, :mirror: MIR ЯОЯ

#1802 [MIRROR] Replace new inroduced `== null` uses with `isnull`
  code/controllers/configuration.dm
Labels: :mirror: MIR ЯОЯ

#1804 [MIRROR] Disallow bullets to reach hostage when attacker is turned away
  code/modules/projectiles/projectile.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1806 [MIRROR] fix hullbreaker laser penetration
  code/modules/mob/living/simple_animal/hostile/robotic/robots.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1805 [MIRROR] using another as a shield uses 3 adjacent 8-dirs instead of only reverse
  code/_global_vars/lists/mapping.dm
  code/modules/projectiles/projectile.dm
Labels: :mirror: MIR ЯОЯ

#1807 [MIRROR] Vending machines have standardized health
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/coffee.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1808 [MIRROR] fix interlude tp chance being 100%
  code/game/machinery/bluespace_drive.dm
Labels: :mirror: MIR ЯОЯ

#1810 [MIRROR] Fixes #34462
  code/game/objects/items/weapons/storage/secure.dm
  code/modules/mechs/equipment/medical.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1811 [MIRROR] Fix: red circles at graffiti and pickaxes
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/items/weapons/gifts.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mining/mine_items.dm
  code/modules/research/designs/designs_mining.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1813 [MIRROR] Add `sexplorer` generic memo
  maps/torch/items/memos.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1812 [MIRROR] Fixes #34470
  code/game/objects/items/weapons/RCD.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1814 [MIRROR] fix offship spawn and shuttle bugs
  code/_helpers/turfs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1816 [MIRROR] fix shuttle docking issue
  code/_helpers/turfs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1817 [MIRROR] fix projector paper slide distance bug
  code/game/objects/items/devices/slide_projector.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1818 [MIRROR] robots can no longer roll for traitor
  maps/torch/torch_antagonism.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1819 [MIRROR] Turf to use_tool
  code/game/gamemodes/cult/cultify/de-cultify.dm
  code/game/machinery/floorlayer.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/game/turfs/simulated/floor_static.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/game/turfs/space/space.dm
  code/modules/mining/mine_turfs.dm
  code/modules/multiz/turf.dm
  code/modules/overmap/exoplanets/turfs.dm
  test/check-paths.sh
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1821 [MIRROR] Randomize NTNet IDs
  code/modules/modular_computers/hardware/network_card.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1841 [MIRROR] Bump styfle/cancel-workflow-action from 0.12.0 to 0.12.1
  .github/workflows/cancel.yml
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#1843 [MIRROR] Bump dorny/paths-filter from 2.11.1 to 3.0.0
  .github/workflows/generate_documentation.yml
  .github/workflows/test.yml
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#1842 [MIRROR] (re)moves the fleet report
  maps/torch/torch6_bridge.dmm
  packs/event_2022jul30/documents.dm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1845 [MIRROR] Fixes Radial menu in exosuits
  code/_onclick/hud/radial.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#1849 [MIRROR] Adds new overmap vessel placeholder sprite
  maps/event/placeholders/placeholders.dm
  maps/event/placeholders/scg-64.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1851 [MIRROR] fix up interlude tp stuff
  code/game/machinery/bluespace_drive.dm
  maps/torch/torch_procs.dm
Labels: :mirror: MIR ЯОЯ

#1852 [MIRROR] Fixes Unathi nutrition
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ
