Repository SierraBay/SierraBay12, pull requests merged in 2024-06, with the labels that each got.

#2272 Balance thermal goggles
  code/datums/uplink/devices and tools.dm
  code/modules/clothing/under/accessories/goggle_mods.dm
Labels: :scroll: CL валиден

#2273 Stasis bags returning
  maps/sierra/items/cargo.dm
  maps/sierra/sierra.dm
Labels: :scroll: CL валиден

#2276 Fix recipes leather
  code/modules/materials/material_recipes.dm
Labels: :scroll: CL валиден

#2281 Update structures.dm
  code/game/objects/structures.dm
Labels: :scroll: CL валиден

#2283 Port yeosa medicine
  mods/unathi/_unathi.dme
  mods/unathi/code/chemical_reactions.dm
  mods/unathi/code/human_powers.dm
  mods/unathi/code/reagents.dm
  mods/unathi/code/species.dm
Labels: :scroll: CL валиден

#2285 New plushies in vendomat
  code/game/machinery/vending/games.dm
Labels: :scroll: CL валиден

#2286 Портируем донатные кубики с животными.
  code/modules/clothing/glasses/glasses.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  maps/sierra/loadout/loadout.dm
Labels: :scroll: CL валиден

#2287 IPC Перенос фич
  baystation12.dme
  code/__defines/~mods/~master_defines.dm
  code/modules/culture_descriptor/culture/cultures_ipc.dm
  code/modules/mob/living/silicon/posi_brainmob.dm
  code/modules/organs/internal/species/fbp.dm
  code/modules/organs/internal/species/ipc.dm
  code/modules/species/species.dm
  code/modules/surgery/organs_internal.dm
  maps/sierra/job/jobs.dm
  mods/_master_files/code/modules/culture_descriptor/culture/cultures_ipc.dm
  mods/_master_files/code/modules/species/station/machine.dm
  mods/global_modpacks.dm
  mods/ipc_cooling_unit/_ipc_cooling_unit.dm
  mods/ipc_cooling_unit/_ipc_cooling_unit.dme
  mods/ipc_cooling_unit/code/machine.dm
  mods/ipc_cooling_unit/icons/ipc_icons.dmi
  mods/ipc_mods/README.md
  mods/ipc_mods/_ipc_mods.dm
  mods/ipc_mods/_ipc_mods.dme
  mods/ipc_mods/code/cooling_system.dm
  mods/ipc_mods/code/dev_exonet_connection_system.dm
  mods/ipc_mods/code/exonet_connection_system.dm
  mods/ipc_mods/code/external_cooling_device.dm
  mods/ipc_mods/code/ipc.dm
  mods/ipc_mods/code/machine.dm
  mods/ipc_mods/code/machine_functions.dm
  mods/ipc_mods/code/uplink.dm
  mods/ipc_mods/icons/ipc_icons.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2289 Pelmeni and rye bread
  maps/sierra/icons/obj/snacks.dmi
  maps/sierra/items/recipes_microwave.dm
  maps/sierra/items/snacks.dm
  maps/sierra/sierra.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#2302 Normal ghost vision
  code/modules/mob/login.dm
Labels: :scroll: CL валиден

#2299 Psychologist, Therapist, Psychiatrist is back
  maps/sierra/job/jobs_medical.dm
Labels: :scroll: CL валиден

#2242 [MIRROR] remove mapped tacks, add single tacks to junk spawns and a tack pot to office supply crates, shard embed limits
  code/datums/supplypacks/operations.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/random/random.dm
  maps/antag_spawn/ert/ert_base.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/mining/mining-signal.dmm
  maps/away/miningstation/miningstation.dmm
  maps/away/smugglers/smugglers.dmm
  maps/bluespace_interlude/bluespace_interlude.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2243 [MIRROR] Toggle safety verb no longer brings up a menu if you have more than one
  code/modules/projectiles/gun.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2244 [MIRROR] Clear references when deleting disposal trunks
  code/modules/recycling/disposalpipe.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2294 Фикс кожи с дивана, возвращаем в свободный доступ gear harness
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/fabrication/designs/general/designs_engineering.dm
  code/modules/materials/definitions/materials_organic.dm
  maps/sierra/loadout/loadout_uniform.dm
Labels: :scroll: CL валиден

#2307 Фикс китов ниндзи, фикс фракций для таяр (кошкеров)
  maps/antag_spawn/ninja/ninja_base.dmm
  mods/expanded_culture_descriptor/_expanded_culture_descriptor.dme
  mods/expanded_culture_descriptor/code/species/tajaran.dm
Labels: :world_map: Карты, :scroll: CL валиден

#2300 IPC Провода наружу
  code/modules/mob/living/carbon/human/update_icons.dm
  mods/ipc_mods/README.md
  mods/ipc_mods/icons/ipc_icons.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2245 [MIRROR] improve door virus event implementation
  code/modules/events/prison_break.dm
Labels: :mirror: MIR ЯОЯ

#2246 [MIRROR] ai aifast update
  code/controllers/subsystems/ai.dm
  code/controllers/subsystems/aifast.dm
  code/modules/ai/ai_holder.dm
Labels: :mirror: MIR ЯОЯ

#2247 [MIRROR] remove unused path depth from /obj/projectile/bullet
  code/modules/projectiles/effects.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/special.dm
Labels: :mirror: MIR ЯОЯ

#2314 Возвращаю СМО жабам
  maps/sierra/job/_job_defines.dm
Labels: :scroll: CL валиден

#2248 [MIRROR] gun & projectile fire sounds can be lists, pitch varying is optional
  code/modules/projectiles/gun.dm
Labels: :mirror: MIR ЯОЯ

#2318 Fix mercenary and add tapes roll autolat
  code/game/objects/items/weapons/tape.dm
  code/modules/fabrication/designs/general/designs_general.dm
  mods/antagonists/code/mercenary.dm
  mods/antagonists/icons/obj/syndie_backpacks.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2336 Fix ремонт позитронки
  mods/ipc_mods/code/ipc.dm
Labels: :scroll: CL валиден

#2338 Фикс автолата, затяжек от сигарет. Меняем тактички на нашлемный ПНВ
  code/modules/clothing/masks/smokable.dm
  code/modules/crafting/crafting_weapons_ranged.dm
  code/modules/fabrication/designs/general/designs_medical.dm
  maps/sierra/datums/supplypacks/security.dm
  sound/effects/inhale.ogg
Labels: :sound: Звуки, :scroll: CL валиден

#2249 [MIRROR] client_defines.dm cleanup and documentation
  code/game/world.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/silicon/robot/life.dm
Labels: :mirror: MIR ЯОЯ

#2250 [MIRROR] Play local sound volume
  code/modules/admin/verbs/playsound.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2251 [MIRROR] toggleable accessory New -> Initialize
  code/modules/clothing/under/accessories/_accessory.dm
Labels: :mirror: MIR ЯОЯ

#2252 [MIRROR] helmet visor toggle refactor
  code/modules/clothing/head/helmet.dm
Labels: :mirror: MIR ЯОЯ

#2253 [MIRROR] tweaked accessory slots to use shorter keys and better names
  code/__defines/items_clothing.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/accessories/arm_guards.dm
  code/modules/clothing/under/accessories/armor_plate.dm
  code/modules/clothing/under/accessories/armor_tag.dm
  code/modules/clothing/under/accessories/goggle_mods.dm
  code/modules/clothing/under/accessories/helmcover.dm
  code/modules/clothing/under/accessories/helmet_decor.dm
  code/modules/clothing/under/accessories/leg_guards.dm
  code/modules/clothing/under/accessories/pouches.dm
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/torch_simplemobs.dm
Labels: :mirror: MIR ЯОЯ

#2254 [MIRROR] foreign body removal repeats until halted or there's nothing left
  code/modules/surgery/implant.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2255 [MIRROR] QoL and immersion engineering improvements
  code/game/objects/structures/wall_frame.dm
  code/game/objects/structures/wallframe_spawner.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/supermatter/supermatter.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch4_deck2.dmm
Labels: :world_map: Карты, :mirror: MIR ЯОЯ

#2256 [MIRROR] prevent audible emote spam
  code/modules/emotes/definitions/_mob.dm
  code/modules/emotes/definitions/audible.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2258 [MIRROR] GLOBify radial menu
  code/_onclick/hud/radial.dm
  code/_onclick/hud/radial_persistent.dm
Labels: :mirror: MIR ЯОЯ

#2263 [MIRROR] Allows protolathes to actually accept chemicals
  code/modules/research/protolathe.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2279 [MIRROR] Adds the rad shield var to all the maintence rooms, and moves the rust areas to /area/engineering/prototype
  maps/torch/torch4_deck2.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_unit_testing.dm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2288 [MIRROR] fusion injectors don't stack infinite overlays
  code/modules/power/fusion/fuel_assembly/fuel_injector.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2360 Возвращаю телесало, чиним пистолет кадета, исправляем ошибку в название платы, возвращаем reagents
  code/game/objects/items/devices/multitool.dm
  icons/obj/telescience.dmi
  mods/antagonists/_antagonists.dme
  mods/antagonists/code/teleportation.dm
  mods/guns/code/energy.dm
  mods/guns/icons/mob/lefthand_guns_cadet.dmi
  mods/guns/icons/mob/righthand_guns_cadet.dmi
  mods/machinery/_machinery.dme
  mods/machinery/code/bcrystal.dm
  mods/machinery/code/gps.dm
  mods/machinery/code/tele.dm
  mods/machinery/code/tele_pads.dm
  mods/machinery/code/telepads.dm
  mods/machinery/code/telesci_computer.dm
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/reagents.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#2369 [TWEAK] fix telesci GPS and fix recharger
  code/game/machinery/cell_charger.dm
  code/game/machinery/recharger.dm
  code/modules/research/designs/designs_bluespace.dm
  mods/machinery/code/gps.dm
  mods/machinery/code/telesci_computer.dm
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/cell_charger.dm
Labels: :scroll: CL валиден

#2371 Pojilaya Jaba
  code/modules/species/station/station.dm
Labels: :scroll: CL валиден

#2292 [MIRROR] re add pod zombos
  code/datums/outfits/misc.dm
  code/modules/mob/living/carbon/human/corpse.dm
  maps/_maps.dm
  maps/away/miningstation/miningstation.dmm
  maps/random_ruins/exoplanet_ruins/datacapsule/datacapsule.dm
  maps/random_ruins/exoplanet_ruins/ejected_datapod/contents_1.dmm
  maps/random_ruins/exoplanet_ruins/ejected_datapod/contents_2.dmm
  maps/random_ruins/exoplanet_ruins/ejected_datapod/contents_3.dmm
  maps/random_ruins/exoplanet_ruins/ejected_datapod/ejected_datapod.dm
  maps/random_ruins/exoplanet_ruins/ejected_datapod/ejected_datapod.dmm
  mods/loadout_items/README.md
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2308 [MIRROR] Add the Shikra
  maps/event/placeholders/placeholders.dm
  maps/event/placeholders/scg-32.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2309 [MIRROR] fake moustache fits in pockets and can change names
  code/modules/clothing/masks/miscellaneous.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2310 [MIRROR] Add stethoscope sounds for arterial bleeding
  code/modules/organs/external/diagnostics.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2311 [MIRROR] Standardized Health - Health Flags
  code/__defines/health.dm
  code/game/atoms.dm
  code/game/atoms_health.dm
  code/game/machinery/_machines_base/machinery.dm
  code/game/objects/structures.dm
  code/game/objects/structures/fireaxe_cabinet.dm
  code/game/turfs/simulated/walls.dm
  code/modules/admin/view_variables/vv_set_handlers.dm
  code/modules/xenoarcheaology/anomaly_container.dm
Labels: :mirror: MIR ЯОЯ

#2320 [MIRROR] riot helmets can attach visors, visors don't incorrectly show in storage
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/under/accessories/goggle_mods.dm
  maps/antag_spawn/ninja/ninja_base.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2375 [TWEAK] fix call charger and add bluespace crystal to research
  mods/machinery/code/telepads.dm
  mods/utility_items/code/cell_charger.dm
Labels: :scroll: CL валиден

#2380 DEV-SIERRA: Mechs by Shegar patch 1.1
  code/datums/supplypacks/nonessent.dm
  code/game/jobs/access.dm
  code/game/objects/items/paintkit.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mechs/components/_components.dm
  code/modules/mechs/components/head.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/mechs/interface/_interface.dm
  code/modules/mechs/mech_icon.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mechs/mech_movement.dm
  code/modules/mechs/premade/powerloader.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  maps/away/mininghome/mininghome.dmm
  maps/torch/items/mecha.dm
  mods/_maps/farfleet/code/farfleet_crew.dm
  mods/_maps/sentinel/code/sentinel_crew.dm
  mods/mechs_by_shegar/_mechs_by_shegar.dme
  mods/mechs_by_shegar/code/components/arms.dm
  mods/mechs_by_shegar/code/components/body.dm
  mods/mechs_by_shegar/code/components/components.dm
  mods/mechs_by_shegar/code/components/head.dm
  mods/mechs_by_shegar/code/components/legs.dm
  mods/mechs_by_shegar/code/equipment/ballistic.dm
  mods/mechs_by_shegar/code/equipment/equipment.dm
  mods/mechs_by_shegar/code/equipment/pulse_rifle.dm
  mods/mechs_by_shegar/code/equipment/rocket_launcher.dm
  mods/mechs_by_shegar/code/interface.dm
  mods/mechs_by_shegar/code/mech.dm
  mods/mechs_by_shegar/code/mech_interaction.dm
  mods/mechs_by_shegar/code/mech_move.dm
  mods/mechs_by_shegar/code/new_prices.dm
  mods/mechs_by_shegar/code/premades/death_squad.dm
  mods/mechs_by_shegar/icons/ammo.dmi
  mods/mechs_by_shegar/icons/mech_equipment.dmi
  mods/mechs_by_shegar/icons/mech_weapon_overlays.dmi
  mods/mechs_by_shegar/icons/mech_weapon_overlays_off.dmi
  mods/mechs_by_shegar/icons/projectiles.dmi
  mods/mechs_by_shegar/sounds/mech_peek.ogg
  mods/mechs_by_shegar/sounds/mecha_minigun.ogg
Labels: :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :scroll: CL валиден

#2386 Доп правки для патчка 1.1
  code/modules/admin/admin_verbs.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  mods/colony_fractions/README.md
  mods/colony_fractions/code/admin_button.dm
  mods/mechs_by_shegar/code/components/arms.dm
  mods/mechs_by_shegar/code/components/body.dm
  mods/mechs_by_shegar/code/components/head.dm
  mods/mechs_by_shegar/code/components/legs.dm
  mods/mechs_by_shegar/code/mech.dm
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/living_adv.dm
Labels: :scroll: CL валиден

#2304 Security uniforms: setting order
  maps/sierra/datums/uniforms_employee.dm
  maps/sierra/icons/mob/onmob/onmob_under.dmi
  maps/sierra/icons/obj/clothing/obj_under.dmi
  maps/sierra/items/clothing/security.dm
  maps/sierra/job/outfits.dm
  maps/sierra/loadout/loadout_head.dm
  maps/sierra/loadout/loadout_tactical.dm
  maps/sierra/sierra.dm
  maps/sierra/structures/closets/security.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#2387 Fix ABS and fix sprites charges OFD, fix damage rods
  code/game/machinery/cell_charger.dm
  code/game/machinery/recharger.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/munition.dm
  code/modules/clothing/head/helmet.dm
  code/modules/overmap/disperser/disperser_charge.dm
  icons/mob/onmob/onmob_head_ERT.dmi
  icons/obj/obj_head_ERT.dmi
  mods/machinery/code/telepads.dm
  mods/utility_items/code/cell_charger.dm
  mods/utility_items/icons/munitions.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2393 QM Bridge access
  maps/sierra/job/jobs_cargo.dm
Labels: :scroll: CL валиден

#2401 Add CCA patch
  mods/tajara/code/clothing/accessories.dm
  mods/tajara/icons/obj_accessories.dmi
  mods/tajara/icons/onmob_accessories.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2407 A cool unati with a cool mask.
  code/modules/clothing/_clothing.dm
  mods/utility_items/icons/onmob_mask_unathi.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2408 No qa allowed and fix traider vox
  code/modules/species/station/lizard.dm
  code/modules/species/station/station.dm
  mods/unathi/sounds/unathitalk.ogg
  mods/unathi/sounds/unathitalk2.ogg
  mods/unathi/sounds/unathitalk3.ogg
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/vox.dm
Labels: :sound: Звуки, :scroll: CL валиден

#2411 Современный NanoUI
  maps/sierra/sierra.dm
  mods/modernUI/README.md
  mods/modernUI/_modernUI.dm
  mods/modernUI/_modernUI.dme
  mods/modernUI/code/override.dm
  nano/css/layout_modern.css
  nano/css/modern.css
  nano/images/nt-logo.png
  nano/templates/layout_modern.tmpl
Labels: :scroll: CL валиден

#2321 [MIRROR] removed . = ..() from some on_update_icon impls
  code/datums/beam.dm
  code/game/machinery/teleporter/beacon.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/items/devices/inducer.dm
  code/game/objects/items/flora.dm
  code/game/objects/items/paper_fortune_teller.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/objects/structures/watercloset.dm
  code/modules/clothing/masks/cig_crafting.dm
  code/modules/holomap/ship_holomap.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/mechs/interface/screen_objects.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/webslinger.dm
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/overmap/contacts/tracker.dm
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/xenoarcheaology/tools/transport_drone.dm
  maps/away/skrellscoutship/skrellscoutship_machines.dm
  maps/torch/structures/memorabilia.dm
Labels: :mirror: MIR ЯОЯ

#2312 [MIRROR] added click backgrounds to overmap ships that lacked them
  maps/event/placeholders/gcn-32.dmi
  maps/event/placeholders/gen-32.dmi
  maps/event/placeholders/gen-64.dmi
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#2322 [MIRROR] Add a hairstyle or two
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2323 [MIRROR] Medal Boxes
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/under/accessories/medals.dm
  icons/obj/medalbox.dmi
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/loadout/loadout_accessories.dm
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2325 [MIRROR] exosuits return TRUE for isSynthetic()
  code/modules/mechs/mech.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2327 [MIRROR] replace XMOUSE_* with their correct alternatives
  baystation12.dme
  code/__defines/__renderer.dm
  code/__defines/appearance.dm
  code/controllers/subsystems/typing.dm
  code/game/objects/structures/ironing_board.dm
  code/game/objects/structures/roller_bed.dm
Labels: :mirror: MIR ЯОЯ
