Repository SierraBay/SierraBay12, pull requests merged in 2024-08, with the labels that each got.

#2579 Add pistol HOS. and fix brain damage
  code/modules/organs/internal/brain.dm
  maps/sierra/structures/closets/security.dm
  mods/guns/code/projectile.dm
  mods/guns/icons/obj/M1911.dmi
  mods/guns/icons/obj/ammo_m1911.dmi
  mods/guns/sounds/pistol_fire.ogg
Labels: :mountain: Спрайты, :sound: Звуки, :scroll: CL валиден

#2583 Fixes
  code/game/antagonist/antagonist.dm
  code/game/atoms.dm
  code/game/machinery/robotics_fabricator.dm
  code/modules/clothing/suits/alien.dm
  code/modules/research/designs/designs_hud_optical.dm
  code/modules/research/rdconsole.dm
  code/modules/species/station/machine.dm
  code/modules/surgery/robotics.dm
  maps/away/voxship/voxship-2.dmm
  maps/sierra/items/datajack.dm
  mods/RnD/_RnD.dme
  mods/RnD/code/misc.dm
  mods/RnD/code/sciefolder.dm
  mods/guns/_guns.dme
  mods/guns/code/xenos.dm
  mods/guns/icons/mob/clothing/head.dmi
  mods/guns/icons/mob/clothing/obj_head.dmi
  mods/guns/icons/mob/clothing/onmob_head.dmi
  mods/ipc_mods/code/ipc.dm
  mods/legalese_language/code/skill.dm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#2520 Камеры Планшеты, DNG файлы.
  code/_helpers/icons.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/client/preference_setup/general/05_preview.dm
  code/modules/mob/examinations.dm
  code/modules/modular_computers/file_system/programs/generic/file_browser.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
  code/modules/modular_computers/hardware/nano_printer.dm
  code/modules/modular_computers/ntos/components.dm
  code/modules/modular_computers/ntos/ui.dm
  code/modules/paperwork/photography.dm
  code/modules/species/station/machine.dm
  icons/blanks/32x32.dmi
  icons/blanks/96x96.dmi
  mods/RnD/_RnD.dme
  mods/RnD/code/camera.dm
  mods/RnD/code/design.dm
  nano/templates/file_manager.tmpl
  nano/templates/layout_modern.tmpl
Labels: :mountain: Спрайты, :scroll: CL валиден

#2588 Zombieeeeee
  code/modules/organs/internal/brain.dm
Labels: :scroll: CL валиден

#2589 Fix sprites smart revolver and tweak ammo magazine
  code/_onclick/hud/global_hud.dm
  code/modules/projectiles/guns/energy/secure.dm
  icons/obj/structures/rotating_alarm.dmi
  maps/away/voxship/voxship-2.dmm
  maps/sierra/structures/closets/security.dm
  mods/guns/code/projectile.dm
  mods/guns/icons/obj/stunrevolver_secure.dmi
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/global_hud_sierra.dm
  mods/utility_items/icons/hud_tiled.dmi
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#2356 [MIRROR] scene group renderer is owned again, add mob/GetRenderer
  code/__defines/_renderer.dm
  code/modules/client/client_color.dm
  code/modules/client/preference_setup/global/preferences.dm
Labels: :mirror: MIR ЯОЯ

#2357 [MIRROR] Fix inconsistent can-move-into checks in machinery interactions
  code/game/machinery/Sleeper.dm
  code/game/machinery/suit_cycler.dm
  code/game/machinery/suit_storage.dm
  code/modules/recycling/disposal.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2361 [MIRROR] Premade exosuits now actually spawn with boards
  code/modules/mechs/components/head.dm
  code/modules/mechs/premade/powerloader.dm
  maps/away/scavver/scavver_gantry.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2359 [MIRROR] Lock void stripes to void suits only
  code/__defines/items_clothing.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  maps/torch/items/clothing/ec_skillbadges.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2363 [MIRROR] Change rand() to Frand() in some places
  code/game/machinery/bluespace_drive.dm
  code/modules/admin/verbs/debug.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_gene_mut.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/simple_animal/borer/borer_captive.dm
  code/modules/overmap/exoplanets/planet_themes/radiation_bombing.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/lighting.dm
  code/modules/supermatter/supermatter.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2364 [MIRROR] Delete sent emails when told to
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
Labels: :mirror: MIR ЯОЯ

#2365 [MIRROR] Fix blood overlay caching
  code/game/objects/items.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2581 Фикс записи книг в библиотечную БД
  code/modules/library/lib_machines.dm
  code/modules/modular_computers/file_system/programs/generic/library.dm
Labels: :scroll: CL валиден

#2611 Фикс бесконечной тряски персонажа
  code/modules/organs/internal/brain.dm
Labels: :scroll: CL валиден

#2366 [MIRROR] corrected a couple of opendream warnings
  code/controllers/subsystems/misc.dm
  maps/torch/torch_simplemobs.dm
Labels: :mirror: MIR ЯОЯ

#2367 [MIRROR] made MC tab main stats more detailed
  code/controllers/master.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2388 [MIRROR] ausbushes no longer render on top of mobs and tables
  code/game/objects/structures/flora.dm
Labels: :mirror: MIR ЯОЯ

#2391 [MIRROR] Remove authorization when changing the target of a warrant
  code/modules/modular_computers/file_system/programs/security/digitalwarrant.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2395 [MIRROR] Fix incorrect licensing info for tracks by Sunbeamstress
  code/datums/audio/_tracks.dm
Labels: :mirror: MIR ЯОЯ

#2399 [MIRROR] spiders that explode on death no longer spawn naturally
  code/game/objects/effects/spiders.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2618 IPC active buttons
  code/modules/mob/living/carbon/human/machine/screen_abilities.dm
  maps/sierra/job/jobs.dm
  mods/ipc_mods/_ipc_mods.dme
  mods/ipc_mods/code/cooling_system.dm
  mods/ipc_mods/code/exonet_connection_system.dm
  mods/ipc_mods/code/ipc.dm
  mods/ipc_mods/code/machine.dm
  mods/ipc_mods/code/pictures.dm
  mods/ipc_mods/icons/ipc_icons.dmi
  mods/ipc_mods/icons/ipc_pics.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2409 [MIRROR] fixed a case where a singleton type implemented destroy
  code/controllers/subsystems/jobs.dm
  code/controllers/subsystems/mapping.dm
  code/datums/repositories/singletons.dm
  code/modules/submaps/submap_archetype.dm
  code/modules/submaps/submap_landmark.dm
  code/unit_tests/submaps.dm
Labels: :mirror: MIR ЯОЯ

#2410 [MIRROR] fix lifts gibbing moving upward, refactoring also
  code/modules/turbolift/turbolift.dm
Labels: :mirror: MIR ЯОЯ

#2423 [MIRROR] convert chemical reactions to singletons
  code/controllers/subsystems/chemistry.dm
  code/modules/codex/categories/category_reagents.dm
  code/modules/psionics/null/chemistry.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Logging.dm
  code/modules/reagents/Chemistry-Recipes.dm
  mods/unathi/code/chemical_reactions.dm
  packs/infinity/_datums/reagents/experimental.dm
Labels: :mirror: MIR ЯОЯ

#2425 [MIRROR] Updates WW2 Gun Sprites
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/guns/battlerifle.dmi
  icons/obj/guns/pistol_throwback.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2426 [MIRROR] Makes raw ores do damage when thrown
  code/modules/materials/materials_ore.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2434 [MIRROR] Fix familiars being unable to stop resting
  code/modules/mob/living/simple_animal/familiars/familiars.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2435 [MIRROR] Adds microscope functionality
  code/modules/detectivework/microscope/microscope.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2438 [MIRROR] the draggening - making cigarette drags visible to others
  code/game/objects/items/weapons/lighter.dm
  code/modules/clothing/masks/smokable.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2623 Фикс падения при отсутствии сознания/сне
  code/modules/mob/living/life.dm
Labels: :scroll: CL валиден

#2619 Implanter
  code/modules/fabrication/designs/general/designs_medical.dm
  code/modules/research/designs/designs_implant.dm
  mods/RnD/code/experiment.dm
  mods/RnD/code/tech_biotech.dm
  mods/ipc_mods/code/dev_exonet_connection_system.dm
  mods/machinery/code/bs_silk_by_TT/accessory.dm
  mods/machinery/code/bs_silk_by_TT/circuits.dm
Labels: :scroll: CL валиден

#2626 Active Buttons HUD fix
  mods/ipc_mods/code/machine.dm
Labels: :scroll: CL валиден

#2636 return map_upload
  code/__defines/~mods/rust_g.dm
Labels: :scroll: CL валиден
