Repository SierraBay/SierraBay12, pull requests merged in 2024-03, with the labels that each got.

#1920 [MIRROR] Fixes cult talismans just loudly saying "{talisman_name}!"
  code/game/gamemodes/cult/talisman.dm
Labels: :mirror: MIR ЯОЯ

#1921 [MIRROR] adds sink to chemistry (medical)
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1923 [MIRROR] Issue bingo
  code/game/objects/items/glassjar.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/mob/species/unathi/onmob_eyes_unathi.dmi
  icons/mob/species/unathi/onmob_under_unathi.dmi
  icons/obj/flora/seeds.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1925 Фикс ИИ. Доступ к вещам и Кнопка терминал к консолям
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  mods/ai/README.md
  mods/ai/_ai.dme
  mods/ai/code/ai.dm
Labels: :scroll: CL валиден

#1927 Head Pats
  code/modules/species/species.dm
  mods/emote_panel/README.md
  mods/emote_panel/_emote_panel.dme
  mods/emote_panel/code/species.dm
Labels: :scroll: CL валиден

#1926 [MIRROR] adds an air alarm to chemistry
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2051 Doctor's Mistake
  mods/global_modpacks.dm
  mods/surgery/README.md
  mods/surgery/_surgery.dm
  mods/surgery/_surgery.dme
  mods/surgery/code/surgery.dm
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден
