Repository SierraBay/SierraBay12, pull requests merged in 2024-05, with the labels that each got.

#2221 [MIRROR] osmium is heavier than platinum
  code/modules/materials/definitions/materials_metal.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2195 [MIRROR] add resync button to r&d console tabs
  code/modules/research/rdconsole.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2199 [MIRROR] Bullet Sounds and a Sprite
  code/modules/mob/living/simple_animal/hostile/robotic/hivebot/ranged.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/flaregun.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/guns/projectile/zipgun.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  sound/weapons/gunshot/gunshot_smg.ogg
  sound/weapons/gunshot/minigun.ogg
Labels: :mountain: Спрайты, :sound: Звуки, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2212 [MIRROR] Fix empty announcements when exceeding character limit
  code/modules/modular_computers/file_system/programs/command/comm.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2200 [MIRROR] Anomaly analysis QOL Tweaks
  code/modules/xenoarcheaology/tools/ano_device_battery.dm
  code/modules/xenoarcheaology/tools/artifact_analyser.dm
  code/modules/xenoarcheaology/tools/artifact_harvester.dm
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2219 [MIRROR] shards are a teeny bit dangerous
  code/_helpers/lists.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/game/machinery/vending/dinnerware.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/items/weapons/storage/lunchbox.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/clothing/shoes/jobs.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/persistence/noticeboards.dm
  icons/obj/materials/shards.dmi
  maps/antag_spawn/ert/ert_base.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/mining/mining-signal.dmm
  maps/away/miningstation/miningstation.dmm
  maps/away/smugglers/smugglers.dmm
  maps/bluespace_interlude/bluespace_interlude.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  sound/obj/item/material/shard/caltrop.ogg
  sound/obj/item/material/shard/shrapnel.ogg
  sound/obj/item/material/shard/tack.ogg
  test/check-paths.sh
Labels: :world_map: Карты, :mountain: Спрайты, :open_file_folder: Репозиторий, :sound: Звуки, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1977 [MIRROR] Spotty frogs, lizard tatts
  code/modules/organs/external/head.dm
  code/modules/sprite_accessories/accessory_hair_fade.dm
  code/modules/sprite_accessories/accessory_skrell.dm
  code/modules/sprite_accessories/accessory_tattoo.dm
  code/modules/sprite_accessories/accessory_unathi.dm
  icons/mob/human_races/species/skrell/markings.dmi
  icons/mob/human_races/species/unathi/body.dmi
  icons/mob/human_races/species/unathi/tattoo.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#1999 [MIRROR] Fix bundles using fax toner
  code/modules/paperwork/photocopier.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2005 Дезориентатор
  icons/obj/guns/confuseraysec.dmi
  mods/global_modpacks.dm
  mods/ssgunsetc/README.md
  mods/ssgunsetc/_ssgunsetc.dm
  mods/ssgunsetc/_ssgunsetc.dme
  mods/ssgunsetc/code/guns/energy/stun.dm
  mods/ssgunsetc/code/icons/confuseraysec.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#2014 [MIRROR] Assorted bug fixes
  code/game/machinery/computer/message.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
  code/modules/species/station/nabber.dm
  icons/mob/human_races/species/nabber/threat.dmi
  test/check-paths.sh
Labels: :mountain: Спрайты, :open_file_folder: Репозиторий, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2013 [MIRROR] Replaces macros with custom pronouns based on choose_from_pronouns
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/objective.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/modules/admin/admin_verbs.dm
  code/modules/augment/active/polytool.dm
  code/modules/augment/active/powerfist.dm
  code/modules/augment/implanter.dm
  code/modules/augment/item.dm
  code/modules/clothing/_clothing.dm
  code/modules/games/cards.dm
  code/modules/mob/grab/normal/grab_normal.dm
  code/modules/mob/grab/normal/norm_aggressive.dm
  code/modules/mob/grab/normal/norm_kill.dm
  code/modules/mob/grab/normal/norm_neck.dm
  code/modules/mob/grab/normal/norm_struggle.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/skills/skill_verbs.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/species/nabber_threat.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/paperwork/papershredder.dm
  code/modules/power/lighting.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/psionics/faculties/energistics.dm
  code/modules/species/species_attack.dm
  code/modules/supermatter/supermatter.dm
  code/modules/surgery/slimes.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2158 [MIRROR] reduce amount of venom frost spiders inject
  code/modules/mob/living/simple_animal/hostile/giant_spider/frost.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2160 [MIRROR] Fix nullsuit sprite
  code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2113 [MIRROR] Pulling yourself out of quicksand is now gender neutral
  code/modules/overmap/exoplanets/planet_types/desert.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2091 [MIRROR] Fixes #34551
  code/modules/shieldgen/emergency_shield.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2078 [MIRROR] Makes IPCs unable to pick Chief Steward
  maps/torch/job/torch_jobs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2116 [MIRROR] Fix [zhlogo] description
  code/modules/codex/entries/paperwork.dm
Labels: :mirror: MIR ЯОЯ

#2076 [MIRROR] Fixes #34548
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2089 [MIRROR] Gyrotron damage fix & emitter damage refactor
  code/modules/power/fusion/gyrotron/gyrotron.dm
  code/modules/power/singularity/emitter.dm
  code/modules/projectiles/projectile/beams.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2112 [MIRROR] Adds prescription versions of aviator HUDs
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2032 [MIRROR] Fix light sprites not matching light color
  code/modules/power/lighting.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2090 [MIRROR] Makes GAS brains unable to be put in a MMI
  code/modules/organs/internal/species/nabber.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2114 [MIRROR] Fix glucose/unathi interaction
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2157 [MIRROR] Returns PAI creation to previous system
  code/game/objects/items/devices/paicard.dm
  code/modules/mob/living/silicon/pai/admin.dm
  code/modules/mob/living/silicon/pai/pai.dm
Labels: :mirror: MIR ЯОЯ

#2191 [MIRROR] Fixes #34570 and wrapping boxes
  code/game/objects/items/weapons/wrapping_paper.dm
  code/modules/projectiles/gun.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2192 [MIRROR] Adds fun stuff for the event.
  baystation12.dme
  code/modules/mob/living/simple_animal/kamerr.dm
  icons/mob/simple_animal/kamerr.dmi
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#2202 [MIRROR] reworks amatoxin
  code/game/objects/items/contraband.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2203 [MIRROR] Fixes rag wiping to work, allows paper to wipe off writing too
  code/modules/detectivework/tools/rag.dm
  code/modules/paperwork/paper.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2205 [MIRROR] Fixes Firelock Prompts
  code/game/machinery/doors/firedoor.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2206 [MIRROR] add an 'access' related default law to robots
  code/datums/ai_law_sets.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2213 [MIRROR] update ssmobs fire loop
  code/controllers/subsystems/mobs.dm
Labels: :mirror: MIR ЯОЯ

#2207 [MIRROR] use cdnjs with SRI tags for remote jquery
  code/modules/tooltip/tooltip.html
Labels: :mirror: MIR ЯОЯ

#2216 [MIRROR] replaced airlock audio, fixed denied sound not playing
  code/game/machinery/doors/airlock.dm
  sound/machines/AirlockClose.ogg
  sound/machines/AirlockClose_heavy.ogg
  sound/machines/airlock_close.ogg
  sound/machines/airlock_close_force.ogg
  sound/machines/airlock_open.ogg
  sound/machines/airlock_open_force.ogg
  sound/obj/machinery/door/airlock/access.ogg
  sound/obj/machinery/door/airlock/bolts_down.ogg
  sound/obj/machinery/door/airlock/bolts_up.ogg
  sound/obj/machinery/door/airlock/close.ogg
  sound/obj/machinery/door/airlock/close_force.ogg
  sound/obj/machinery/door/airlock/open.ogg
  sound/obj/machinery/door/airlock/open_force.ogg
Labels: :sound: Звуки, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2193 [MIRROR] fix cans not being openable
  code/modules/reagents/reagent_containers/food/drinks.dm
Labels: :mirror: MIR ЯОЯ

#2201 [MIRROR] Gives PAIs intents and headlights
  code/_onclick/hud/pai.dm
  code/modules/mob/living/silicon/pai/admin.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/mob_helpers.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2190 [MIRROR] Ports sprites, nutella, decapitating champagne bottles with swords, more
  baystation12.dme
  code/_global_vars/edible.dm
  code/game/machinery/vending/boda.dm
  code/game/machinery/vending/boozeomat.dm
  code/game/machinery/vending/props.dm
  code/game/objects/items/weapons/storage/fancy/crackers.dm
  code/game/objects/items/weapons/storage/fancy/egg_box.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/objects/items/weapons/storage/mre.dm
  code/game/objects/random/random.dm
  code/modules/food/recipes_microwave.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/borghypo.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/drinks/jar.dm
  code/modules/reagents/reagent_containers/food/shaker.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  icons/obj/crafting_icons.dmi
  icons/obj/food/condiment.dmi
  icons/obj/food/drinks.dmi
  icons/obj/food/drinks/bottles.dmi
  icons/obj/food/drinks/cans.dmi
  icons/obj/food/drinks/drink_effects.dmi
  icons/obj/food/drinks/flasks.dmi
  icons/obj/food/drinks/misc.dmi
  icons/obj/food/food.dmi
  icons/obj/food/food_custom.dmi
  icons/obj/food/food_storage.dmi
  icons/obj/food/mre.dmi
  icons/obj/weapons/grenade.dmi
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/sierra/z6_admin.dmm
  sound/items/champagne_pop.ogg
  sound/items/soda_burst.ogg
  sound/items/soda_shaking.ogg
Labels: :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2217 [MIRROR] reduced airlock open/close volumes to 65%
  code/game/machinery/doors/airlock.dm
Labels: :mirror: MIR ЯОЯ

#2204 [MIRROR] Fixes dragging taped papers and storing in sealed storage
  code/game/objects/items/weapons/storage/fancy/_fancy.dm
  code/game/objects/items/weapons/storage/fancy/smokable/basic.dm
  code/game/objects/items/weapons/tape.dm
  code/game/objects/items/weapons/wrapping_paper.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2214 [MIRROR] allows pAIs to target limbs
  code/_onclick/hud/pai.dm
  code/modules/mechs/equipment/medical.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2016 [MIRROR] ballistic goggles
  baystation12.dme
  code/__defines/items_clothing.dm
  code/_helpers/cmp.dm
  code/datums/uplink/devices and tools.dm
  code/game/antagonist/outsider/raider.dm
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/random/random.dm
  code/modules/client/client_color.dm
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/accessories/goggle_mods.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/skills/skill_verbs.dm
  icons/mob/onmob/onmob_eyes.dmi
  icons/mob/onmob/onmob_goggle_mod.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/species/unathi/onmob_eyes_unathi.dmi
  icons/mob/species/unathi/onmob_goggle_mod_unathi.dmi
  icons/mob/species/vox/onmob_eyes_vox.dmi
  icons/mob/species/vox/onmob_goggle_mod_vox.dmi
  icons/obj/clothing/obj_accessories.dmi
  icons/obj/clothing/obj_eyes.dmi
  icons/obj/clothing/obj_head.dmi
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/loadout/loadout_eyes.dm
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2220 [MIRROR] pill bottles hold tacks, certain mob types ignore shards
  code/__defines/flags.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/items/weapons/storage/pill_bottle.dm
  code/modules/mechs/mech.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/silicon.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2222 [MIRROR] there are 6 tacks per container instead of 16
  code/game/objects/items/weapons/storage/misc.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2159 [MIRROR] Updates culture/residence blurbs
  code/__defines/culture.dm
  code/__defines/~mods/expanded_culture_descriptor.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/culture_descriptor/location/locations_human.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/station.dm
  maps/mapsystem/maps.dm
  mods/_master_files/code/modules/culture_descriptor/culture/cultures_human.dm
  mods/_master_files/code/modules/culture_descriptor/location/locations_human.dm
  mods/expanded_culture_descriptor/README.md
  mods/expanded_culture_descriptor/code/cultures/cultures_human.dm
  mods/expanded_culture_descriptor/code/locations/locations_human.dm
  mods/expanded_culture_descriptor/code/species/machine.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2183 DEV-SIERRA: Voidsuit fixes
  mods/hardsuits/code/void.dm
  mods/resomi/icons/clothing/onmob_suit_resomi.dmi
  mods/tajara/icons/sprite_sheets/helmet.dmi
  mods/tajara/icons/sprite_sheets/obj/hats.dmi
  mods/tajara/icons/sprite_sheets/obj/suits.dmi
  mods/tajara/icons/sprite_sheets/suit.dmi
Labels: :mountain: Спрайты

#2230 DEV-SIERRA: Loadout additions
  maps/sierra/items/clothing/clothing.dm
  maps/sierra/loadout/loadout_tactical.dm
  mods/loadout_items/README.md
  mods/loadout_items/code/armor.dm
  mods/loadout_items/code/cloak.dm
  mods/loadout_items/code/lists/cloaks.dm
  mods/loadout_items/code/lists/suits.dm
  mods/loadout_items/code/lists/uniforms.dm
  mods/loadout_items/code/suits.dm
  mods/loadout_items/code/uniforms.dm
  mods/loadout_items/icons/obj_accessory.dmi
  mods/loadout_items/icons/obj_suit.dmi
  mods/loadout_items/icons/obj_under.dmi
  mods/loadout_items/icons/onmob_accessory.dmi
  mods/loadout_items/icons/onmob_suit.dmi
  mods/loadout_items/icons/onmob_under.dmi
  mods/loadout_items/icons/unathi/onmob_accessory_unathi.dmi
  mods/tajara/code/clothing/accessories.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#2236 DEV-SIERRA: Translated announcer
  code/__defines/~mods/~master_defines.dm
  code/controllers/evacuation/evacuation.dm
  code/controllers/evacuation/evacuation_pods.dm
  maps/sierra/sierra_announcements.dm
  maps/sierra/sierra_define.dm
  maps/sierra/sierra_setup.dm
  mods/_master_files/maps/mapsystem/maps.dm
  mods/eris_announcer/sound/announcements/anime.ogg
  mods/eris_announcer/sound/announcements/anomaly_gravity.ogg
  mods/eris_announcer/sound/announcements/anomaly_time.ogg
  mods/eris_announcer/sound/announcements/biohazard_level_5.ogg
  mods/eris_announcer/sound/announcements/biohazard_level_7.ogg
  mods/eris_announcer/sound/announcements/bluespacejump_initialization.ogg
  mods/eris_announcer/sound/announcements/bluespacejump_prepare.ogg
  mods/eris_announcer/sound/announcements/bluespacejump_start.ogg
  mods/eris_announcer/sound/announcements/command_report.ogg
  mods/eris_announcer/sound/announcements/electrical_storm_high.ogg
  mods/eris_announcer/sound/announcements/electrical_storm_normal.ogg
  mods/eris_announcer/sound/announcements/electricity_off.ogg
  mods/eris_announcer/sound/announcements/electricity_on.ogg
  mods/eris_announcer/sound/announcements/evacuation.ogg
  mods/eris_announcer/sound/announcements/life_signatures.ogg
  mods/eris_announcer/sound/announcements/meteors_1.ogg
  mods/eris_announcer/sound/announcements/meteors_2.ogg
  mods/eris_announcer/sound/announcements/new_ai_1.ogg
  mods/eris_announcer/sound/announcements/new_ai_2.ogg
  mods/eris_announcer/sound/announcements/radiation.ogg
  mods/eris_announcer/sound/announcements/welcome_1.ogg
  mods/eris_announcer/sound/announcements/welcome_2.ogg
Labels: :sound: Звуки, :scroll: CL валиден

#2234 DEV-SIERRA: Ported xenowhitelist fixes
  mods/ex666_ecosystem/code/xeno_whitelist/xeno_webhook.dm
  mods/ex666_ecosystem/code/xeno_whitelist/xeno_whitelist.dm
Labels: :scroll: CL валиден

#2237 drink fix
  code/modules/reagents/reagent_containers/food/drinks.dm
Labels: :scroll: CL валиден

#2238 Welding protection fix
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: :scroll: CL валиден

#2240 FixAutholateRecipes
  code/__defines/guns.dm
  code/game/objects/items/devices/binoculars.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/fabrication/designs/general/designs_general.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/projectile/bullets.dm
  packs/infinity/__defines/guns.dm
  packs/infinity/items/projectile/ammunition/boxes.dm
  packs/infinity/items/projectile/ammunition/bullets.dm
Labels: :scroll: CL валиден

#2261 Fixes logic of quick equip
  code/modules/mob/living/carbon/human/inventory.dm
Labels: :scroll: CL валиден

#2257 MakeBottlesShatter
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
Labels: :scroll: CL валиден

#2260 EmotesTranslated
  code/modules/emotes/definitions/_mob.dm
  code/modules/emotes/definitions/audible.dm
  mods/emote_panel/code/overrides.dm
Labels: :scroll: CL валиден

#2262 DEV-SIERRA: Donation tiers
  code/__defines/~mods/~master_defines.dm
  code/controllers/subsystems/jobs.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  maps/sierra/loadout/loadout.dm
  mods/loadout_items/README.md
  mods/loadout_items/_loadout_items.dme
  mods/loadout_items/code/loadout/donations.dm
  mods/loadout_items/code/loadout/donator.dm
  mods/loadout_items/code/loadout/loadout.dm
  mods/loadout_items/code/loadout/preferences.dm
  mods/resomi/README.md
Labels: :scroll: CL валиден

#2264 bugfix: /mob/login no longer executes parent proc
  code/_onclick/hud/ability_screen_objects.dm
  code/_onclick/hud/skybox.dm
  code/datums/observation/logged_in.dm
  code/modules/mob/login.dm
  code/modules/spells/spells.dm
Labels: :scroll: CL валиден

#2265 Adds [NT REDACTED] option
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/noose.dm
  mods/utility_items/icons/noose.dmi
  mods/utility_items/sounds/noose_idle.ogg
  mods/utility_items/sounds/noosed.ogg
Labels: :mountain: Спрайты, :sound: Звуки, :scroll: CL валиден

#2267 Fix welding augments
  code/modules/clothing/glasses/glasses.dm
Labels: :scroll: CL валиден
