Repository SierraBay/SierraBay12, pull requests merged in 2025-05, with the labels that each got.

#3576 bot fix
  mods/anomaly/maps/water_ruins/skat/skat-2.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3573 Микроправки лодаут
  maps/sierra/icons/obj/clothing/new_loadout.dmi
  maps/sierra/icons/obj/clothing/new_loadout_icons.dmi
  maps/sierra/icons/obj/clothing/new_loadout_tajara.dmi
  maps/sierra/icons/obj/clothing/new_loadout_unati.dmi
  maps/sierra/items/clothing/new_uniform.dm
  maps/sierra/loadout/loadout_shoes.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#3565 Slimes addon - volume one
  maps/sierra/sierra.dm
  maps/sierra/z1-z4_sierra.dmm
  mods/RnD/code/misc.dm
  mods/RnD/icons/biobag.dmi
  mods/global_modpacks.dm
  mods/utility_items/code/chemistry.dm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден, :microscope: РнД

#3580 Фикс падений в космосе
  baystation12.dme
  maps/sierra/z1-z4_sierra.dmm
  mods/_master_files/code/modules/multiz/turf.dm
Labels: :world_map: Карты, :scroll: CL валиден

#3581 Изменение адхерантов
  mods/adherent_discharge/_adherent_discharge_includes.dm
  mods/adherent_discharge/code/adherent_armor.dm
  mods/adherent_discharge/code/adherent_reset_ident.dm
  mods/utility_items/_utility_items_includes.dm
Labels: :scroll: CL валиден

#3570 Изменение визуала для эффекта afterimage
  baystation12.dme
  mods/_master_files/code/game/objects/effects/afterimages.dm
Labels: :scroll: CL валиден

#3583 Фикс карты Сьерры
  maps/sierra/z1-z4_sierra.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3607 [MIRROR] Restores missing syringe preview icons
  icons/obj/tools/syringe.dmi
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#3566 Плата B.O.R.I.S. с ТГ
  mods/ai/_ai_includes.dm
  mods/ai/code/boris.dm
  mods/ai/icons/boris.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3601 Summon Hellwater fix
  mods/220_cult/code/cult_items.dm
  mods/220_cult/code/runes.dm
Labels: :scroll: CL валиден

#3587 Адхеранты больше не могут кушать и пить
  mods/adherent_discharge/_adherent_discharge_includes.dm
  mods/adherent_discharge/code/adherent_cant_eat.dm
Labels: :scroll: CL валиден

#3476 [MIRROR] HTML encode destination tags
  code/modules/recycling/sortingmachinery.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3507 [MIRROR] Buff plushie bomb explosions
  code/game/objects/items/traitor_plush.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3550 [MIRROR] Make carp move around on the overmap (actual carp migration)
  baystation12.dme
  code/datums/rng.dm
  code/modules/events/event_container.dm
  code/modules/events/event_dynamic.dm
  code/modules/overmap/events/event.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3615 Solves Ascent Caulship issues
  mods/_maps/ascent_caulship/maps/ascent_caulship.dmm
  mods/ascent/code/ascent_atoms.dm
  mods/ascent/code/ascent_tools.dm
Labels: :world_map: Карты, :scroll: CL валиден

#3603 [MIRROR] 516: Initial goonchat fixes
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/goonchat/browserassets/css/styles_template.css
  code/modules/goonchat/browserassets/js/browserOutput.js
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3341 [MIRROR] Pressing "Cancel" in Set Ambition now discards edits
  code/game/antagonist/antagonist_objectives.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3616 Adds missing stuff for Verne
  mods/_maps/verne/maps/verne-2.dmm
  mods/_maps/verne/maps/verne-3.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3618 Фикс тележки + обнова трейси
  maps/sierra/job/jobs_security.dm
  mods/RnD/code/designs/mechfab/main_mech.dm
  mods/_maps/verne/maps/verne-2.dmm
  mods/anomaly/code/anomalies/anomaly_types/tramplin.dm
  mods/anomaly/code/big_artefacts/gravi_concetration.dm
  mods/anomaly/code/planets/titan/water_turfs/drowning.dm
  mods/infinity_content/code/structures/cargo.dm
  mods/mechs_by_shegar/code/components/components_interactions/screwdriver.dm
  mods/mechs_by_shegar/code/components/frame/cart_check.dm
  mods/mechs_by_shegar/code/components/frame/frame.dm
  mods/mechs_by_shegar/code/components/frame/use_tool.dm
  mods/mechs_by_shegar/code/components/frame/use_tool/screwdriver_interaction.dm
  mods/mechs_by_shegar/code/components/head/_head_core.dm
  mods/mechs_by_shegar/code/components/software.dm
  mods/mechs_by_shegar/code/core/mech_interaction/maint_interaction/mech_construction.dm
  tracy.dll
Labels: :world_map: Карты, :scroll: CL валиден

#3619 Изменение офиса АВД
  maps/sierra/z1-z4_sierra.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3620 хотфикс дизайнов оружия у фабрикатора мехов
  mods/RnD/code/designs/mechfab/mech_equipment/combat.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/megaspeakers.dm
Labels: :scroll: CL валиден

#3676 Попытка заменить ссылку в тестах бота
  install-byond.sh
Labels: :scroll: CL валиден

#3635 Add card slot to cargo computer
  mods/cargo/_cargo_includes.dm
  mods/cargo/code/cargo_clothes.dm
  mods/cargo/code/cargo_computery.dm
Labels: :scroll: CL валиден

#3644 [MIRROR] Uses Sleeping() proc consistently
  code/game/gamemodes/changeling/powers/absorb.dm
  code/game/machinery/OpTable.dm
  code/game/objects/effects/effect_system.dm
  code/modules/emotes/definitions/visible.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/organs/internal/species/ipc.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Ethanol.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/xenoarcheaology/finds/special.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3645 [MIRROR] Add verb for getting radio channels as borg
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3652 [MIRROR] sanitize some inputs for nanoui
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  code/modules/modular_computers/file_system/programs/generic/wordprocessor.dm
  code/modules/modular_computers/file_system/reports/people.dm
Labels: :mirror: MIR ЯОЯ

#3309 [MIRROR] add Compiler: [DM_VERSION].[DM_BUILD] line to stat
  code/controllers/master.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3604 Vision cone
  code/__defines/__renderer.dm
  code/__defines/~mods/~master_defines.dm
  code/modules/mob/mob.dm
  mods/global_modpacks.dm
  mods/ssinput/code/keybindings/living.dm
  mods/ssinput/code/keybindings/mob.dm
  mods/vision_cone/README.md
  mods/vision_cone/code/components_signals.dm
  mods/vision_cone/code/equips.dm
  mods/vision_cone/code/overrides.dm
  mods/vision_cone/code/vision_cone.dm
  mods/vision_cone/icons/field_of_view.dmi
  mods/vision_cone/icons/fov_effects.dmi
  mods/vision_cone/vision_cone.dm
  mods/vision_cone/vision_cone_includes.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#3657 RnD misc
  code/modules/research/designs/designs_singletons.dm
  maps/sierra/z1-z4_sierra.dmm
  mods/RnD/_RnD_includes.dm
  mods/RnD/code/machinery/autolathe.dm
  mods/RnD/code/machinery/autolathe_disk_cloner.dm
  mods/RnD/code/machinery/rdconsole.dm
  mods/RnD/code/misc.dm
  mods/RnD/code/program/design.dm
  mods/RnD/code/tech_branch/tech_data.dm
  mods/RnD/code/tech_branch/tech_engineering.dm
  mods/RnD/code/xenoarch/grav.dm
  mods/RnD/code/xenoarch/nature.dm
  mods/RnD/code/xenoarch/overrides.dm
  mods/RnD/code/xenoarch/swap.dm
  mods/RnD/code/xenoarch/tesla.dm
  mods/RnD/icons/disk_cloner.dmi
  mods/utility_items/code/security.dm
  nano/templates/mods/autolathe_disk_cloner.tmpl
  nano/templates/mods/rdconsole.tmpl
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#3680 Разные фиксы с FOV
  code/__defines/__renderer.dm
  mods/RnD/code/machinery/autolathe.dm
  mods/_master_files/code/game/objects/structures/reflective_mirrors.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/hatch.dm
  mods/mechs_by_shegar/code/equipment/combat/defense_systems/ballistic_shield.dm
  mods/mechs_by_shegar/code/equipment/combat/defense_systems/energy_shields/energy_aura.dm
  mods/vision_cone/code/equips.dm
  mods/vision_cone/code/overrides.dm
  mods/vision_cone/code/planes.dm
  mods/vision_cone/code/vision_cone.dm
  mods/vision_cone/vision_cone_includes.dm
Labels: :scroll: CL валиден

#3689 Фикс кривого плейна
  mods/RnD/_RnD_includes.dm
  mods/vision_cone/code/planes.dm
Labels: :scroll: CL валиден

#3633 Fixes even more Verne bugs
  maps/sierra/sierra_overmap.dm
  maps/sierra/z1-z4_sierra.dmm
  maps/sierra/z7_transit.dmm
  mods/_maps/ascent_caulship/maps/ascent_caulship.dmm
  mods/_maps/verne/code/verne.dm
  mods/_maps/verne/code/verne_shuttles.dm
  mods/_maps/verne/maps/verne-1.dmm
  mods/_maps/verne/maps/verne-2.dmm
  mods/_maps/verne/maps/verne-3.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :compass: Авей-карты

#3567 Vox beacon
  maps/sierra/sierra.dm
  mods/_maps/voxship/_map_voxship.dme
  mods/_maps/voxship/code/vox-ship.dm
  mods/_maps/voxship/code/vox_beacon.dm
  mods/_maps/voxship/maps/voxship-sierrabay.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3708 Фикс и нерф
  code/modules/species/outsider/zombie.dm
  mods/virusology/code/pre_made_viruses.dm
  mods/vision_cone/code/vision_cone.dm
Labels: :scroll: CL валиден

#3721 [MIRROR] Make the BSD shoot lightning at random things when unstable
  baystation12.dme
  code/_helpers/maths.dm
  code/game/machinery/bluespace_drive.dm
  code/modules/events/bsd_instability.dm
  code/modules/lightning_bolt/bar.dm
  code/modules/lightning_bolt/beam.dm
  code/modules/lightning_bolt/bolt.dm
  code/modules/lightning_bolt/branched_bolt.dm
  code/modules/lightning_bolt/line.dm
  code/modules/lightning_bolt/segment.dm
  code/modules/lightning_bolt/segment.dmi
  code/modules/lightning_bolt/simple_vector.dm
  sound/effects/bsd_zap_1.ogg
  sound/effects/bsd_zap_2.ogg
Labels: :mountain: Спрайты, :sound: Звуки, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3703 Sudoku
  mods/utility_items/_utility_items_includes.dm
  mods/utility_items/code/sudoku.dm
  mods/utility_items/sounds/magic_light.ogg
  nano/templates/mods/sudoku.tmpl
Labels: :sound: Звуки, :scroll: CL валиден

#3731 Laying refactor
  baystation12.dme
  code/__defines/mobs.dm
  code/__defines/~mods/interactions.dm
  mods/TG_signals/code/laying_and_resting_refactor/lying_set.dm
  mods/TG_signals/code/laying_and_resting_refactor/overrides.dm
  mods/global_modpacks.dm
  mods/lying_refactor/code/ClickOn.dm
  mods/lying_refactor/code/action_buttons.dm
  mods/lying_refactor/code/etc.dm
  mods/lying_refactor/code/incapacitated.dm
  mods/lying_refactor/code/melee_fight.dm
  mods/lying_refactor/code/melee_weapon.dm
  mods/lying_refactor/code/pulling.dm
  mods/lying_refactor/lying_desc.dm
  mods/lying_refactor/lying_refactor_includes.dm
  mods/utility_items/_utility_items_includes.dm
  mods/vision_cone/code/overrides.dm
Labels: :scroll: CL валиден

#3732 infotech access & biomech skills
  maps/sierra/job/jobs_engineering.dm
  maps/sierra/job/jobs_research.dm
Labels: :scroll: CL валиден

#3747 Фикс падения при смерти/отключке
  mods/TG_signals/code/laying_and_resting_refactor/overrides.dm
Labels: :scroll: CL валиден

#3756 Фикс падений мобов 2
  mods/TG_signals/code/laying_and_resting_refactor/overrides.dm
Labels: :scroll: CL валиден

#3752 Фикс возможности захода на верне для таяра и резоми
  mods/_maps/verne/code/verne.dm
Labels: :scroll: CL валиден

#3740 Мирроры покраски
  baystation12.dme
  code/__defines/doors.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items/devices/paint_sprayer.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/wall_frame.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/wall_types.dm
  code/game/turfs/simulated/walls.dm
  code/modules/materials/_materials.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/definitions/materials_mineral.dm
  code/modules/materials/definitions/materials_organic.dm
  code/modules/materials/definitions/materials_other.dm
  code/modules/materials/definitions/materials_stone.dm
  code/modules/materials/definitions/materials_wood.dm
  code/modules/turbolift/turbolift_door.dm
  icons/obj/structures/wall_frame.dmi
  icons/turf/wall_masks.dmi
  mods/_master_files/code/game/objects/effects/misc.dm
  mods/_master_files/code/modules/materials/definitions/materials_organic.dm
  mods/mechs_by_shegar/code/etc/paint_override.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#3739 Voxship tweaks
  mods/_maps/voxship/maps/voxship-sierrabay.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3755 Трейторский псионический шлем (актуализировано)
  mods/antagonists/code/uplink.dm
  mods/psionics/code/equipment/cerebro_enhancers.dm
Labels: :scroll: CL валиден

#3762 Vox walls color fix
  code/game/turfs/simulated/wall_types.dm
Labels: :scroll: CL валиден
