Repository SierraBay/SierraBay12, pull requests merged in 2025-03, with the labels that each got.

#3302 Миррор 34775
  baystation12.dme
  code/__defines/MC.dm
  code/__defines/time.dm
  code/_helpers/system.dm
  code/_helpers/time.dm
  code/controllers/controller.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/controllers/subsystems/air.dm
  code/controllers/subsystems/ambient_lighting.dm
  code/controllers/subsystems/atoms.dm
  code/controllers/subsystems/lighting.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/file_system/programs/generic/supply.dm
Labels: :scroll: CL валиден

#3319 Возвращает утерянные звуки
  maps/sierra/sierra_lobby.dm
  mods/emote_panel/_emote_panel_includes.dm
  mods/emote_panel/code/audible.dm
  mods/emote_panel/code/pain.dm
  mods/emote_panel/code/silicon.dm
  mods/emote_panel/sound/cat_purr_long2.ogg
  mods/emote_panel/sound/tajhiss1.ogg
  mods/emote_panel/sound/tajhiss2.ogg
  mods/emote_panel/sound/tajhiss3.ogg
  mods/global_modpacks.dm
  mods/music_player/code/music_player.dm
  mods/sound_effects/_sound_effects.dm
  mods/sound_effects/_sound_effects_includes.dm
  mods/sound_effects/code/artery.dm
  mods/sound_effects/code/say.dm
  mods/sound_effects/code/sound.dm
  mods/sound_effects/code/sounds.dm
  mods/tajara/code/datum/species.dm
Labels: :sound: Звуки, :scroll: CL валиден

#3275 Minus nemnogo stat у синтетов
  code/_onclick/hud/human.dm
  code/modules/mob/living/carbon/human/human.dm
  mods/ipc_mods/code/machine.dm
Labels: :scroll: CL валиден

#3348 516 fixes
  code/modules/admin/topic.dm
  code/modules/mob/mob.dm
  code/modules/mob/observer/ghost/follow.dm
  code/modules/organs/external/_external_icons.dm
  maps/sierra/items/clothing/new_uniform.dm
  maps/sierra/loadout/loadout_accessories.dm
  mods/utility_items/_utility_items_includes.dm
  mods/utility_items/code/ghost_speed.dm
Labels: :scroll: CL валиден

#3350 516 Исправление внутриигровых ссылок
  code/_helpers/logging.dm
  code/_helpers/unsorted.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/hologram.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/spaceheater.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/devices/radio/electropack.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/implants/implants/explosive.dm
  code/game/objects/items/weapons/implants/implants/imprinting.dm
  code/game/objects/items/weapons/implants/implants/tracking.dm
  code/game/objects/items/weapons/scrolls.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/admin/ticket.dm
  code/modules/assembly/signaler.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/synthetic.dm
  code/modules/mob/living/bot/remotebot.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/photocopier.dm
  code/modules/persistence/persistence_datum.dm
  code/modules/persistence/persistence_datum_graffiti.dm
  code/modules/persistence/persistence_datum_paper.dm
  code/modules/power/gravitygenerator.dm
  code/modules/spells/artifacts/spellbound_servants.dm
  code/modules/spells/spellbook.dm
  code/modules/xenoarcheaology/tools/tools.dm
  maps/sierra/machinery/machinery.dm
  maps/sierra/machinery/uniform_vendor.dm
  maps/torch/items/uniform_vendor.dm
  mods/ipc_mods/code/external_cooling_device.dm
  mods/ipc_mods/code/ipc.dm
  mods/loadout_items/code/accessory.dm
Labels: :scroll: CL валиден

#3347 [MAP] First day 4-Z Sierra fixes
  maps/sierra/z1-z4_sierra.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3354 [MAP] Второй тур фиксов карты
  maps/sierra/z1-z4_sierra.dmm
  mods/sierra_resprite/code/chem.dm
  mods/sierra_resprite/icons/chem.dmi
Labels: :world_map: Карты, :mountain: Спрайты

#3355 516 Лишние byond ссылки
  code/datums/audio/_audio.dm
  code/datums/helper_datums/getrev.dm
  code/modules/admin/NewBan.dm
  maps/sierra/sierra_setup.dm
  mods/client_verbs/html/credits.html
Labels: :scroll: CL валиден

#3359 [MIRROR] Fixes blood transferral on hugs
  code/game/atoms.dm
  code/modules/clothing/_clothing.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3361 [MIRROR] fix area copy to area using source coords instead of target for target turfs
  code/_helpers/unsorted.dm
  code/game/area/areas.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3356 Разнообразные фиксы спрайтов и карты
  maps/sierra/machinery/suit_storage.dm
  maps/sierra/sierra_presets.dm
  maps/sierra/z1-z4_sierra.dmm
  mods/petting_zoo/code/commanded.dm
  mods/sierra_resprite/_sierra_resprite_includes.dm
  mods/sierra_resprite/code/disposal.dm
  mods/sierra_resprite/icons/chem.dmi
  mods/sierra_resprite/icons/disposal.dmi
  mods/sierra_resprite/icons/disposal_small.dmi
  packs/infinity/icons/obj/machinery/disposal_small.dmi
  packs/infinity/machinery/machines.dm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#3374 Mechs hot fixes
  maps/sierra/z1-z4_sierra.dmm
  mods/mechs_by_shegar/code/components/_components.dm
  mods/mechs_by_shegar/code/components/arms/_arms_core.dm
  mods/mechs_by_shegar/code/components/arms/combat.dm
  mods/mechs_by_shegar/code/components/arms/heavy.dm
  mods/mechs_by_shegar/code/components/arms/light.dm
  mods/mechs_by_shegar/code/components/arms/powerloader.dm
  mods/mechs_by_shegar/code/components/body/powerloader.dm
  mods/mechs_by_shegar/code/components/head/_head_core.dm
  mods/mechs_by_shegar/code/components/head/powerloader.dm
  mods/mechs_by_shegar/code/components/legs/_legs_core.dm
  mods/mechs_by_shegar/code/components/legs/combat.dm
  mods/mechs_by_shegar/code/components/legs/doubled_legs.dm
  mods/mechs_by_shegar/code/components/legs/heavy.dm
  mods/mechs_by_shegar/code/components/legs/light.dm
  mods/mechs_by_shegar/code/components/legs/powerloader.dm
  mods/mechs_by_shegar/code/components/legs/tracks.dm
  mods/mechs_by_shegar/code/components/software.dm
  mods/mechs_by_shegar/code/core/mech_interaction/mech_interaction.dm
  mods/mechs_by_shegar/code/core/movement/do_move/do_move.dm
  mods/mechs_by_shegar/code/core/movement/do_move/strafe_mech.dm
  mods/mechs_by_shegar/code/etc/mech_skill.dm
  mods/mechs_by_shegar/code/etc/new_prices.dm
  mods/mechs_by_shegar/icons/mech_parts.dmi
  mods/mechs_by_shegar/icons/mech_parts_held.dmi
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#3340 [MIRROR] Hyposprays can now inject through rescue/stasis bags
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3331 [MAP] Мелкофиксы Верне и бюрократия ГКК эдишн
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/_maps/phobos/code/phobos.dm
  mods/_maps/phobos/code/phobos_areas.dm
  mods/_maps/phobos/maps/phobos.dmm
  mods/_maps/verne/maps/verne-1.dmm
  mods/_maps/verne/maps/verne-2.dmm
  mods/ascent/code/ascent_machines.dm
Labels: :world_map: Карты, :scroll: CL валиден, :compass: Авей-карты

#3376 mech fix баг размером в один символ
  mods/mechs_by_shegar/code/core/mech_initialization.dm
Labels: :scroll: CL валиден

#3378 Mech skill fixes
  mods/mechs_by_shegar/code/etc/mech_skill.dm
  mods/utility_items/code/skills_desc.dm
Labels: :scroll: CL валиден

#3380 [MAP] Карательное зонирование
  maps/sierra/z1-z4_sierra.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3382 [MIRROR] Flasks can be hidden in boots
  code/modules/reagents/reagent_containers/food/drinks.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3383 [MIRROR] Increase name limit on pen -> food / Doubles name limit on serving bowl
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/servingbowl.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3384 [MIRROR] Medical scanner modules now beep on scan (PDAs, tablets)
  code/modules/modular_computers/hardware/scanners/scanner_medical.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3385 [MIRROR] Upgraded body scanners check for mutation existence
  code/_helpers/medical_scans.dm
  code/game/machinery/body_scanner.dm
  code/game/machinery/body_scanner_console.dm
  code/modules/admin/verbs/debug.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3298 [MIRROR] Pass `use_*` calls from grab item to grabbed mob
  code/modules/mob/grab/grab_datum.dm
  code/modules/mob/grab/grab_object.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3277 [MIRROR] Increase secure closet minimum damage threshold
  code/game/objects/structures/crates_lockers/closets/secure/_secure_closets.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3389 [MIRROR] All binary machines are scannable
  code/modules/atmospherics/components/binary_devices/binary_atmos_base.dm
  code/modules/atmospherics/components/binary_devices/pump.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3388 [MIRROR] All unary machines are scannable
  code/modules/atmospherics/components/unary/tank.dm
  code/modules/atmospherics/components/unary/unary_base.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3390 REMOVE: Kimber Warrior plus minor map fixes
  maps/sierra/areas/z3_sierra_deck2.dm
  maps/sierra/areas/z4_sierra_deck1.dm
  maps/sierra/areas/z5_sierra_bridge.dm
  maps/sierra/structures/closets/security.dm
  maps/sierra/z1-z4_sierra.dmm
  mods/dev_mode/maps/dev_map.dmm
  mods/guns/code/projectile.dm
  mods/guns/icons/obj/M1911.dmi
  mods/guns/icons/obj/ammo_m1911.dmi
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#3395 [MIRROR] actually fix blood hugs
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3397 [MIRROR] Adds the Gas Extractor
  baystation12.dme
  code/game/machinery/pipe/pipe_datums/device_pipe_datums.dm
  code/modules/atmospherics/components/unary/gas_extractor.dm
  icons/atmos/gas_extractor.dmi
  nano/templates/gas_extractor.tmpl
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3400 [MIRROR] Ports blurbs from nebula, modifies them a bit
  code/controllers/subsystems/jobs.dm
Labels: :mirror: MIR ЯОЯ

#3311 [MIRROR] Update Tracy binaries
  tracy.dll
  tracy.so
Labels: :mirror: MIR ЯОЯ

#3393 Отражения для зеркал
  baystation12.dme
  mods/_master_files/code/game/objects/structures/reflective_mirrors.dm
  mods/_master_files/icons/obj/mirror_mask.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3339 [MIRROR] Refactor bottle presets, add most medications
  baystation12.dme
  code/datums/supplypacks/medical.dm
  code/datums/trading/goods.dm
  code/game/machinery/vending/medical.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/random_map/drop/drop_types.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_containers/glass/bottle/presets/medication_presets.dm
  code/modules/reagents/reagent_containers/glass/bottle/presets/other_presets.dm
  icons/obj/chemical_storage.dmi
  maps/antag_spawn/heist/heist_base.dmm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/antag_spawn/ninja/ninja_base.dmm
  maps/antag_spawn/vox/vox_raider.dmm
  maps/event/sfv_arbiter/sfv_arbiter.dmm
  maps/sierra/_references/map-refs.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/z1_admin.dmm
  mods/_maps/general_maps/maps/heist/heist_base.dmm
  mods/_maps/general_maps/maps/sfv_arbiter.dmm
  mods/_maps/general_maps/maps/vox/vox_raider.dmm
  mods/_maps/phobos/maps/phobos.dmm
  mods/antagonists/maps/ert_base.dmm
  mods/antagonists/maps/mercenary_base.dmm
  mods/antagonists/maps/ninja_sierrabay.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :mirror: MIR ЯОЯ

#3403 [MIRROR] prevents robots from renegade
  code/game/antagonist/station/renegade.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3417 MECHS: Новый УИ, режим обучения, шортбаттоны
  mods/mechs_by_shegar/README.md
  mods/mechs_by_shegar/code/core/interface/_interface_includes.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/air.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/eject.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/gps.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/hatch.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/hatch_lock.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/id.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/maint.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/megaspeakers.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/pilot_medscan.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/power.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/radio.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/rename.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/sensors.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/menu_button.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/shortcut_menu_button.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/downside_menu.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/guide.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/heat.dm
  mods/mechs_by_shegar/code/core/interface/interface/interface_initialization/_interface.dm
  mods/mechs_by_shegar/code/core/interface/interface/interface_initialization/downside_menu.dm
  mods/mechs_by_shegar/code/core/interface/interface/interface_initialization/hardpoints.dm
  mods/mechs_by_shegar/code/core/interface/interface/interface_initialization/main_menu.dm
  mods/mechs_by_shegar/code/core/interface/interface/interface_initialization/placing_parts.dm
  mods/mechs_by_shegar/code/core/mech_interaction/mech_control.dm
  mods/mechs_by_shegar/code/core/mech_interaction/pilot.dm
  mods/mechs_by_shegar/code/core/mech_main.dm
  mods/mechs_by_shegar/code/equipment/utility/plasma_cutter.dm
  mods/mechs_by_shegar/code/etc/mech_skill.dm
  mods/mechs_by_shegar/icons/guide.dmi
  mods/mechs_by_shegar/icons/mech_hud.dmi
  mods/mechs_by_shegar/icons/mech_image_background.dmi
  mods/mechs_by_shegar/icons/mech_menu.dmi
  mods/mechs_by_shegar/icons/menu_buttons.dmi
  mods/mechs_by_shegar/icons/shortcut_buttons.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3422 Расширение лодаута
  maps/sierra/icons/obj/clothing/new_loadout.dmi
  maps/sierra/icons/obj/clothing/new_loadout_icons.dmi
  maps/sierra/icons/obj/clothing/new_loadout_tajara.dmi
  maps/sierra/icons/obj/clothing/new_loadout_unati.dmi
  maps/sierra/items/clothing/new_uniform.dm
  maps/sierra/loadout/loadout_head.dm
  maps/sierra/loadout/loadout_shoes.dm
  maps/sierra/loadout/loadout_suit.dm
  maps/sierra/loadout/loadout_uniform.dm
  mods/loadout_items/code/lists/uniforms.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#3419 Починка системы Persistence
  baystation12.dme
  mods/_master_files/code/modules/persistence/persistence_datum.dm
Labels: :scroll: CL валиден

#3434 [MIRROR] Adds extra check for equip slot
  code/modules/clothing/_clothing.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3436 [MIRROR] fix fusion_network_test performance
  code/unit_tests/fusion_plants.dm
  code/unit_tests/unit_test.dm
Labels: :mirror: MIR ЯОЯ

#3439 [MIRROR] Cleaner injectors
  code/modules/atmospherics/components/unary/outlet_injector.dm
  nano/templates/injector.tmpl
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3440 [MIRROR] hardsuit thrusters don't work for floored/dead people
  code/modules/clothing/spacesuits/rig/modules/utility.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3435 [MIRROR] Preventing pick up monkey with back item
  code/__defines/mobs.dm
  code/modules/mob/holder.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3199 [MIRROR] NT Lunchbox changes
  code/game/machinery/vending/dinnerware.dm
  code/game/objects/items/weapons/storage/lunchbox.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  icons/obj/lunchboxes.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3431 ремонт шмоток
  maps/sierra/icons/obj/clothing/new_loadout.dmi
  maps/sierra/icons/obj/clothing/new_loadout_icons.dmi
  maps/sierra/items/clothing/new_uniform.dm
  maps/sierra/loadout/loadout_head.dm
  maps/sierra/loadout/loadout_suit.dm
  maps/sierra/loadout/loadout_uniform.dm
Labels: :mountain: Спрайты
