Repository SierraBay/SierraBay12, pull requests merged in 2025-07, with the labels that each got.

#3962 [MIRROR] Add roller bed racks from Aurora
  baystation12.dme
  code/game/objects/structures/roller_rack.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_structures.dm
  icons/obj/rollerbedrack.dmi
  maps/torch/torch5_deck1.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3787 Пачка мелкоштук на возврат
  maps/sierra/z1-z4_sierra.dmm
  mods/tajara/code/misc.dm
  mods/tajara/icons/drinks.dmi
  mods/utility_items/_utility_items_includes.dm
  mods/utility_items/code/boozeomat.dm
  mods/utility_items/code/chemistry.dm
  mods/utility_items/code/hairbrush.dm
  mods/utility_items/icons/smoke_hookah.dmi
  packs/infinity/items/hookah.dm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#3943 Фиксы для мода пИИ
  mods/paimod/code/core.dm
  mods/paimod/code/software.dm
Labels: :scroll: CL валиден

#3946 Bearcat Revived modpack
  maps/sierra/sierra.dm
  mods/_maps/bearcat_revived/_map_bearcat_revived.dm
  mods/_maps/bearcat_revived/_map_bearcat_revived.dme
  mods/_maps/bearcat_revived/code/bearcat.dm
  mods/_maps/bearcat_revived/code/bearcat_access.dm
  mods/_maps/bearcat_revived/code/bearcat_areas.dm
  mods/_maps/bearcat_revived/code/bearcat_jobs.dm
  mods/_maps/bearcat_revived/code/bearcat_radio.dm
  mods/_maps/bearcat_revived/maps/bearcat_rev-1.dmm
  mods/_maps/bearcat_revived/maps/bearcat_rev-2.dmm
Labels: :world_map: Карты, :hourglass: Ожидание голосования, :scroll: CL валиден, :compass: Авей-карты

#3950 [MIRROR] [Tweak] ID Card Program: Branch and Rank Update
  code/modules/modular_computers/file_system/programs/command/card.dm
  nano/templates/identification_computer.tmpl
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3940 [Tweak] Added the ranks of Acting Officer and Probationary Task Officer
  code/modules/modular_computers/file_system/manifest.dm
  maps/sierra/job/jobs_cargo.dm
  maps/sierra/job/jobs_command.dm
  maps/sierra/job/jobs_engineering.dm
  maps/sierra/job/jobs_exploration.dm
  maps/sierra/job/jobs_medical.dm
  maps/sierra/job/jobs_research.dm
  maps/sierra/job/jobs_security.dm
  maps/sierra/job/jobs_service.dm
  maps/sierra/sierra_ranks.dm
  mods/utility_items/README.md
  mods/utility_items/_utility_items_includes.dm
  mods/utility_items/code/cards_ids.dm
Labels: :scroll: CL валиден

#3976 [MIRROR] Use constant width and height for img size in nanoui header
  nano/templates/layout_default_header.tmpl
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3979 [MIRROR] Enable find/refresh for >=516 browsers
  code/modules/client/client_procs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3994 batch sierra fixes (post medbay remap)
  install-byond.sh
  maps/sierra/icons/assignment_hud.dmi
  maps/sierra/job/jobs_medical.dm
  maps/sierra/z1-z4_sierra.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#4003 [TWEAK] ERT Base Remapp
  maps/sierra/z6_admin.dmm
  mods/_maps/general_maps/_map_general_maps.dme
  mods/_maps/general_maps/code/ert.dm
  mods/_maps/general_maps/maps/ert/ert_base.dmm
  mods/antagonists/icons/obj/ert_rig_back.dmi
  mods/antagonists/maps/ert_base.dmm
  mods/guns/icons/mob/lefthand_guns.dmi
  mods/guns/icons/mob/righthand_guns.dmi
  mods/psionics/code/equipment/foundation_weapon.dm
Labels: :world_map: Карты, :mountain: Спрайты

#4013 [MIRROR] Teleport thrown objects
  code/game/machinery/teleporter/pad.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4014 [MIRROR] Legion beacons used weighted spawn lists
  packs/legion/object/legion_beacon.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4015 [MIRROR] Roller racks can be dismantled
  code/game/objects/structures/roller_rack.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4020 Удаляем цельки
  mods/antagonists/code/traitor.dm
Labels: :white_check_mark: Принято, :gun: Режим: Предатель

#4025 [MIRROR] Press camera audio fix
  code/game/objects/items/devices/tvcamera.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4023 SSV Prosthetic printer
  mods/utility_items/maps/skrell-sierrabay.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#4022 всякие исправления для гккшипа
  mods/_maps/farfleet/code/farfleet_crew.dm
  mods/_maps/farfleet/code/farfleet_structures.dm
  mods/_maps/farfleet/maps/farfleet-1.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :compass: Авей-карты

#4031 Fix of Bonfire
  mods/guns/code/modded.dm
Labels: :scroll: CL валиден

#4017 [MIRROR] Add legion scavenger
  packs/legion/_pack.dm
  packs/legion/icons/scavenger.dmi
  packs/legion/mob/legion_scavenger.dm
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#4018 [MIRROR] Harvester Tweaks
  code/modules/tension/tension.dm
  packs/legion/ai/legion_ai_harvester.dm
  packs/legion/mob/legion_harvester.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4000 KMS beret
  mods/loadout_items/code/head.dm
  mods/loadout_items/code/lists/headwear.dm
  mods/loadout_items/icons/obj_head.dmi
  mods/loadout_items/icons/onmob_head.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3839 [MIRROR] remove deprecated dependency from invalid utf8 discovery tool
  tools/dm-invalid-utf8-discovery/index.js
  tools/dm-invalid-utf8-discovery/package.json
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#3934 [MIRROR] fix bsd flush triggering on moderate
  code/game/machinery/bluespace_drive.dm
  code/modules/events/bsd_instability.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3988 [MIRROR] fixed a max severity bug
  code/game/objects/items/devices/flashlight.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3987 [MIRROR] Coffee cups, flasks and vacuum flasks selected from the loadout retain custom names and descriptions.
  code/modules/reagents/reagent_containers/drinkingglass/drinkingglass.dm
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  maps/torch/torch5_deck1.dmm
  mods/anomaly/maps/water_ruins/skat/skat-1.dmm
  mods/colony_fractions/maps/colony_base.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3986 [MIRROR] Signals from radio beacons now follow shuttles on the overmap after they undock.
  code/modules/overmap/ships/beacon.dm
  code/modules/shuttles/shuttle.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4038 [MIRROR] Add orderable contraband rogue maintenance drones
  code/datums/supplypacks/livecargo.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4037 [MIRROR] correct use of access_security
  code/datums/supplypacks/security.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/suit_cycler_units.dm
  code/game/machinery/suit_storage_units.dm
  code/game/machinery/vending/security.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/weapons/policetape.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/augment/active/hudimplants.dm
  code/modules/clothing/glasses/eyepatch.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/mob/living/bot/secbot.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
  maps/mapsystem/maps.dm
  maps/torch/datums/reports/security.dm
  maps/torch/datums/supplypacks/security.dm
Labels: :mirror: MIR ЯОЯ

#4035 GameModes Extension
  mods/config/code/config.dm
Labels: :scroll: CL валиден

#4044 Colorblindness
  mods/character_traits/_character_traits_includes.dm
  mods/character_traits/code/all.dm
  mods/character_traits/code/colorblindwires.dm
  mods/character_traits/code/gas.dm
  mods/character_traits/code/skrell.dm
Labels: :scroll: CL валиден
