Repository SierraBay/SierraBay12, pull requests merged in 2025-02, with the labels that each got.

#3136 [MIRROR] fix laser impact effect persisting sometimes
  code/modules/projectiles/projectile.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3138 [MIRROR] Fix invalid defib paddles icon before they're first used
  code/game/objects/items/weapons/defib.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3146 [MIRROR] Treats pressure tanks, connectors and omni devices as above turf
  code/modules/atmospherics/components/omni_devices/omni_base.dm
  code/modules/atmospherics/components/portables_connector.dm
  code/modules/atmospherics/components/unary/tank.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3098 [MIRROR] Fix debug log spam when turfs change
  code/datums/proximity_trigger/proximity_trigger.dm
Labels: :mirror: MIR ЯОЯ

#3192 [MIRROR] makes it so the warehouse actually has more then 2 sheets of glass
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3181 [MIRROR] tweak thruster init style
  code/modules/overmap/ships/engines/gas_thruster.dm
Labels: :mirror: MIR ЯОЯ

#3177 [MIRROR] Fixes Ion Thruster init
  code/modules/overmap/ships/engines/ion_thruster.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3190 Объединение материалов на тайлах
  baystation12.dme
  mods/_master_files/code/game/objects/items/stacks/stack.dm
Labels: :scroll: CL валиден

#3168 [MIRROR] Adds limits to allergy count
  code/datums/traits/maluses/allergy.dm
  code/datums/traits/traits.dm
  code/modules/client/preference_setup/general/02_body.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3165 Xeno Jobs tweak
  maps/sierra/job/_job_defines.dm
  maps/sierra/job/jobs.dm
  maps/sierra/sierra.dm
Labels: :scroll: CL валиден

#3148 [MIRROR] Baneuus: fixed emag chameleon behavior
  code/datums/extensions/chameleon.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3149 [MIRROR] unify dview mobs again on GLOB.dview_mob
  code/__defines/__dview.dm
  code/_helpers/unsorted.dm
  code/modules/ai/ai_holder_targeting.dm
  code/modules/mob/dview.dm
Labels: :mirror: MIR ЯОЯ

#3197 Kvicfiks
  maps/sierra/job/jobs.dm
Labels: :scroll: CL валиден

#3171 Fix sprite gloves and add skirt to loadout
  maps/sierra/loadout/loadout_uniform.dm
  mods/utility_items/_utility_items_includes.dm
  mods/utility_items/code/changed_sprite.dm
  mods/utility_items/code/dls_loadout.dm
  mods/utility_items/icons/chebukek.dmi
  mods/utility_items/icons/onmob_hands.dmi
  mods/utility_items/icons/onmob_under.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3163 Cult Effects
  mods/antagonists/_antagonists_includes.dm
  mods/antagonists/code/cult.dm
  mods/antagonists/icons/effects/cult_icons.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3216 [MIRROR] Fix AI core wrenching
  code/game/machinery/computer/ai_core.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3202 [MIRROR] hardsuit defibs require two hands free
  code/game/objects/items/weapons/defib.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3198 [MAP] Mining home update
  maps/sierra/sierra.dm
  mods/_maps/mininghome/_map_mininghome.dm
  mods/_maps/mininghome/_map_mininghome.dme
  mods/_maps/mininghome/mininghome.dm
  mods/_maps/mininghome/mininghome.dmm
  mods/_maps/mininghome/sand_lurker.dmi
Labels: :world_map: Карты, :mountain: Спрайты, :white_check_mark: Голосование пройдено

#3223 [MIRROR] Fix empty jobs causing antag runtimes
  code/game/antagonist/antagonist_update.dm
Labels: :mirror: MIR ЯОЯ

#3211 [MIRROR] Fixes pill bottle interaction with chemmasters
  code/game/objects/items/weapons/storage/pill_bottle.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3150 [MIRROR] add: list list_elements_of_type(list, type, strict)
  code/_helpers/lists.dm
Labels: :mirror: MIR ЯОЯ

#3247 Опускаем кресла
  mods/fancy_sofas/icons/furniture.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3201 [MAP] Pioneer update
  mods/_maps/farfleet/code/farfleet_crew.dm
  mods/_maps/farfleet/code/farfleet_items.dm
  mods/_maps/farfleet/icons/mob/lefthand.dmi
  mods/_maps/farfleet/icons/mob/onmob_feet.dmi
  mods/_maps/farfleet/icons/mob/onmob_hands.dmi
  mods/_maps/farfleet/icons/mob/onmob_head.dmi
  mods/_maps/farfleet/icons/mob/onmob_rig_back.dmi
  mods/_maps/farfleet/icons/mob/onmob_suit.dmi
  mods/_maps/farfleet/icons/mob/righthand.dmi
  mods/_maps/farfleet/icons/obj/obj_feet.dmi
  mods/_maps/farfleet/icons/obj/obj_hands.dmi
  mods/_maps/farfleet/icons/obj/obj_head.dmi
  mods/_maps/farfleet/icons/obj/obj_suit.dmi
  mods/_maps/farfleet/icons/obj/rig_modules.dmi
  mods/_maps/farfleet/maps/farfleet-1.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден, :compass: Авей-карты

#3221 Фикс сохранения языков
  code/modules/client/preference_setup/background/02_language.dm
  mods/diona/code/station.dm
  mods/utility_items/_utility_items_includes.dm
  mods/utility_items/code/languages.dm
Labels: :scroll: CL валиден

#3252 Миррор 34991
  baystation12.dme
  code/game/machinery/kitchen/cookers.dm
  code/game/objects/items/trash.dm
  code/game/objects/structures/crates_lockers/closets/fridge.dm
  code/modules/fabrication/designs/replicator/designs_food.dm
  code/modules/food/recipes_microwave.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/platter.dm
  icons/obj/food/condiment.dmi
  icons/obj/food/food.dmi
  icons/obj/food/food_custom.dmi
  icons/obj/food/food_ingredients.dmi
  icons/obj/trash.dmi
  mods/_master_files/code/modules/reagents/reagent_containers/food/snacks.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#3213 Initial-V
  maps/sierra/sierra.dm
  maps/sierra/structures/closets.dm
  mods/_maps/verne/_map_verne.dm
  mods/_maps/verne/_map_verne.dme
  mods/_maps/verne/code/verne.dm
  mods/_maps/verne/code/verne_areas.dm
  mods/_maps/verne/code/verne_items.dm
  mods/_maps/verne/code/verne_jobs.dm
  mods/_maps/verne/code/verne_radio.dm
  mods/_maps/verne/code/verne_shuttles.dm
  mods/_maps/verne/icons/verne.dmi
  mods/_maps/verne/icons/verne_void_obj.dmi
  mods/_maps/verne/icons/verne_void_onmob.dmi
  mods/_maps/verne/maps/verne-1.dmm
  mods/_maps/verne/maps/verne-2.dmm
  mods/_maps/verne/maps/verne-3.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден, :compass: Авей-карты

#3251 Чинит ИКСы и войды для ксеносов
  mods/hardsuits/code/rigs.dm
  mods/hardsuits/code/void.dm
  mods/resomi/icons/clothing/onmob_head_resomi.dmi
  mods/tajara/code/clothing/clothing.dm
  mods/tajara/icons/sprite_sheets/helmet.dmi
  mods/tajara/icons/sprite_sheets/suit.dmi
  mods/utility_items/_utility_items_includes.dm
  mods/utility_items/code/xeno_voids_and_rigs.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#3208 Возвращает старый культ и даёт ему реворки по балансу
  html/changelogs/AutoChangeLog-sierra-pr-3213.yml
  mods/220_cult/README.md
  mods/220_cult/_220_cult.dm
  mods/220_cult/_220_cult_includes.dm
  mods/220_cult/code/airlock.dm
  mods/220_cult/code/cult_items.dm
  mods/220_cult/code/ritual.dm
  mods/220_cult/code/runes.dm
  mods/220_cult/code/talisman.dm
  mods/220_cult/code/talisman/burn.dm
  mods/220_cult/code/talisman/emp.dm
  mods/220_cult/code/talisman/stun.dm
  mods/220_cult/code/talisman/wrath.dm
  mods/220_cult/icons/mob/onmob/onmob_eyes.dmi
  mods/220_cult/icons/obj/clothing/obj_eyes.dmi
  mods/220_cult/icons/obj/hellstone.dmi
  mods/global_modpacks.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#3261 [MIRROR] Trigger example-1 switching to 2-character indexes
  maps/example/example-1.dmm
Labels: :world_map: Карты, :mirror: MIR ЯОЯ

#3164 [MIRROR] fixes changeturf light
  code/game/turfs/turf_changing.dm
Labels: :mag: Требуется ревью, :mirror: MIR ЯОЯ

#3219 [MIRROR] default config minimum version to 515.1647
  code/controllers/configuration.dm
Labels: :mirror: MIR ЯОЯ

#3268 [MIRROR] 516 pt 2
  code/_macros.dm
  code/modules/admin/admin.dm
Labels: :mirror: MIR ЯОЯ

#3227 Фикс крафта диванов и круглых кресел
  mods/fancy_sofas/code/roundedchair.dm
  mods/fancy_sofas/code/sofa.dm
Labels: :scroll: CL валиден

#3269 [MIRROR] add debug->devtools
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3229 [MIRROR] Cup Check Grammar Fix
  code/modules/mob/living/carbon/human/unarmed_attack.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3203 [MIRROR] Sestrisite Language Fix
  code/modules/culture_descriptor/culture/cultures_human.dm
Labels: :mirror: MIR ЯОЯ

#3178 [MIRROR] Forcefield floor and glass floor
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/floor.dm
  icons/turf/flooring/forcefield.dmi
  icons/turf/flooring/glassfloor.dmi
Labels: :mountain: Спрайты, :mirror: MIR ЯОЯ

#3271 [MIRROR] blood overlay handling rework
  code/game/atoms.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/items.dm
  code/game/turfs/simulated.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories/armor_plate.dm
  code/modules/detectivework/forensics.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/species/species.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3270 [MIRROR] Added Bee Plush & Fixed Farwa Plush
  code/game/objects/items/toys.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/toy.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3249 [MAP] VERNE-VERSE Third Fleet Patrol Ship
  maps/sierra/sierra.dm
  mods/_maps/phobos/_map_phobos.dm
  mods/_maps/phobos/_map_phobos.dme
  mods/_maps/phobos/code/phobos.dm
  mods/_maps/phobos/code/phobos_areas.dm
  mods/_maps/phobos/code/phobos_crew.dm
  mods/_maps/phobos/code/phobos_items.dm
  mods/_maps/phobos/code/phobos_structures.dm
  mods/_maps/phobos/icons/phobos_icons.dmi
  mods/_maps/phobos/icons/smg_sol.dmi
  mods/_maps/phobos/maps/phobos.dmm
  mods/_maps/sentinel/code/sentinel_crew.dm
  mods/antagonists/icons/mob/ert_rig_back.dmi
  mods/antagonists/icons/mob/ert_rig_feet.dmi
  mods/antagonists/icons/mob/ert_rig_hands.dmi
  mods/antagonists/icons/mob/ert_rig_head.dmi
  mods/antagonists/icons/mob/ert_rig_suit.dmi
  mods/antagonists/icons/obj/ert_rig_back.dmi
  mods/antagonists/icons/obj/ert_rig_feet.dmi
  mods/antagonists/icons/obj/ert_rig_hands.dmi
  mods/antagonists/icons/obj/ert_rig_head.dmi
  mods/antagonists/icons/obj/ert_rig_suit.dmi
Labels: :world_map: Карты, :mountain: Спрайты

#3276 [MIRROR] Pipes dont die in fire again
  code/modules/atmospherics/pipes.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3296 Еще быстро фикс РнД
  mods/RnD/code/machinery/autolathe.dm
  mods/RnD/code/tech_branch/tech_data.dm
Labels: :scroll: CL валиден

#3308 Фикс крафтов из золота и пластика
  mods/fancy_sofas/code/roundedchair.dm
  mods/fancy_sofas/code/sofa.dm
Labels: :scroll: CL валиден

#3295 [ICONS] Horns biomods
  mods/sprite_accessories/code/accessory_human.dm
  mods/sprite_accessories/icons/bodymods.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден
