Repository SierraBay/SierraBay12, pull requests merged in 2025-09, with the labels that each got.

#4143 Фиксим несохранение трейтов
  code/modules/client/preference_setup/loadout/loadout.dm
  mods/character_traits/code/character_traits.dm
  mods/character_traits/code/glob_character_traits.dm
  mods/character_traits/code/loadouttraits.dm
Labels: :scroll: CL валиден

#3191 [MIRROR] isatom -> istom, add is_loc_predicate
  code/_helpers/functional.dm
  code/_macros.dm
  code/datums/audio/jukebox.dm
  code/game/objects/items/weapons/storage/ammobox.dm
  code/modules/admin/view_variables/vv_set_handlers.dm
  code/modules/goals/definitions/personal_achievement_specific_object.dm
  code/modules/organs/external/_external.dm
  code/modules/psionics/faculties/energistics.dm
Labels: :mirror: MIR ЯОЯ

#4145 PSI: Встречайте Ассамблею! Правки псионики и одежда (Часть 1)
  code/__defines/~mods/expanded_culture_descriptor.dm
  code/game/objects/items/weapons/cards_ids.dm
  maps/sierra/job/outfits.dm
  mods/expanded_culture_descriptor/code/species/station.dm
  mods/loadout_items/_loadout_items_includes.dm
  mods/loadout_items/code/gloves.dm
  mods/loadout_items/code/head.dm
  mods/loadout_items/code/lists/footwear.dm
  mods/loadout_items/code/lists/general.dm
  mods/loadout_items/code/lists/gloves.dm
  mods/loadout_items/code/lists/headwear.dm
  mods/loadout_items/code/lists/suits.dm
  mods/loadout_items/code/lists/uniforms.dm
  mods/loadout_items/code/shoes.dm
  mods/loadout_items/code/suits.dm
  mods/loadout_items/code/uniforms.dm
  mods/loadout_items/icons/obj_feet.dmi
  mods/loadout_items/icons/obj_hands.dmi
  mods/loadout_items/icons/obj_head.dmi
  mods/loadout_items/icons/obj_suit.dmi
  mods/loadout_items/icons/obj_under.dmi
  mods/loadout_items/icons/onmob_feet.dmi
  mods/loadout_items/icons/onmob_hands.dmi
  mods/loadout_items/icons/onmob_head.dmi
  mods/loadout_items/icons/onmob_suit.dmi
  mods/loadout_items/icons/onmob_under.dmi
  mods/psionics/code/complexus/complexus_process.dm
  mods/psionics/code/complexus/complexus_topic.dm
  mods/psionics/code/equipment/asamblee_clothing.dm
  mods/psionics/code/equipment/psipower_blade.dm
  mods/psionics/code/equipment/psipower_cryokinesis.dm
  mods/psionics/code/equipment/psipower_orbs.dm
  mods/psionics/code/equipment/psipower_tk.dm
  mods/psionics/code/faculties/consciousness.dm
  mods/psionics/code/faculties/metakinesis.dm
  mods/psionics/code/faculties/psychokinesis.dm
  mods/psionics/code/misc/background.dm
  mods/psionics/code/override.dm
  mods/psionics/icons/asamblee/asamblee.dmi
  mods/psionics/icons/asamblee/asamblee_onmob.dmi
  mods/psionics/icons/asamblee/asamblee_tiny.dmi
  mods/psionics/psionics_includes.dm
Labels: :mountain: Спрайты, :scroll: CL валиден, :school_satchel: Лодаут, :satellite: Псионика

#4148 Фикс визуала камер
  code/game/machinery/camera/camera.dm
Labels: :scroll: CL валиден

#4149 Твикаем расовые трейты
  mods/character_traits/code/all.dm
  mods/character_traits/code/diseases.dm
  mods/character_traits/code/loadouttraits.dm
Labels: :scroll: CL валиден

#4153 Цветные рубашки
  mods/loadout_items/_loadout_items_includes.dm
  mods/loadout_items/code/underwear/undershirt.dm
Labels: :scroll: CL валиден

#4160 [FIX/ADD] Фикс спрайта для дрона-камеры и добавление сети для нашлемных камер
  maps/sierra/sierra_presets.dm
  mods/utility_items/icons/resprites.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#4157 УльтраЛастТвик болячек.
  mods/character_traits/code/diseases.dm
  mods/character_traits/code/loadouttraits.dm
Labels: :scroll: CL валиден

#4164 [MIRROR] fix up changelog generation
  tools/changelog/generate_cl.py
Labels: :open_file_folder: Репозиторий, :scroll: CL валиден, :mirror: MIR ЯОЯ

#4165 Фикс раскрасок ИПС
  code/modules/sprite_accessories/accessory_ipc.dm
  icons/mob/human_races/species/ipc/markings.dmi
  mods/ipc_mods/README.md
  mods/ipc_mods/_ipc_mods_includes.dm
  mods/ipc_mods/code/accessory_ipc.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#4166 Фикс подозрительного униформ вендера
  maps/sierra/z1-z4_sierra.dmm
  mods/sierra_resprite/_sierra_resprite_includes.dm
  mods/sierra_resprite/code/vendors.dm
  mods/sierra_resprite/icons/vending.dmi
Labels: :world_map: Карты, :mountain: Спрайты

#4167 Порт двух костюмов капитана
  maps/sierra/structures/closets/command.dm
  packs/infinity/clothing/suits/suits.dm
Labels: :scroll: CL валиден
