Repository SierraBay/SierraBay12, pull requests merged in 2025-01, with the labels that each got.

#3033 Возвращение спавна планет
  code/modules/mob/living/say.dm
  mods/anomaly/code/spawn_anomalies_protocol/spawn_on_planet.dm
Labels: :scroll: CL валиден

#2995 Skrell map tweaks by HonkEmo
  mods/utility_items/code/skrell-ship.dm
  mods/utility_items/maps/skrell-sierrabay.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :compass: Авей-карты

#3060 Returning LAEP-90 for Asset Protection
  maps/sierra/structures/closets/security.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :balance_scale: Баланс

#3048 Скрытие верба Inspect
  mods/item_identification/_item_identification.dme
  mods/item_identification/code/item_identification.dm
  mods/item_identification/code/job.dm
Labels: :scroll: CL валиден

#2797 Remove lack of smoking smoke
  mods/utility_items/README.md
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/cig_smoke.dm
  mods/utility_items/icons/smoke.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3053 Переключение типа меню (обычное/NanoUI) для входа в игру и манифеста.
  mods/_master_files/code/modules/mob/new_player/new_player.dm
  mods/newUI/_newUI.dme
  mods/newUI/code/preferences.dm
Labels: :scroll: CL валиден, :computer: Интерфейс

#3036 DEV-mode
  maps/using.dm
  mods/dev_mode/INSTRUCTION.md
  mods/dev_mode/README.md
  mods/dev_mode/_dev_mode.dm
  mods/dev_mode/_dev_mode.dme
  mods/dev_mode/code/dev_map/_dev_map.dm
  mods/dev_mode/code/dev_map/compatibility_stuff/solgov-armor.dm
  mods/dev_mode/code/dev_map/dev_decals.dm
  mods/dev_mode/code/dev_map/dev_define.dm
  mods/dev_mode/code/dev_map/dev_lobby_music.dm
  mods/dev_mode/code/dev_map/dev_map.dm
  mods/dev_mode/code/dev_map/dev_ranks.dm
  mods/dev_mode/code/dev_map/dev_setup.dm
  mods/dev_mode/code/dev_map/dev_turfs.dm
  mods/dev_mode/maps/dev_map.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#2759 [MIRROR] Add global list for shield generators
  code/_global_vars/lists/objects.dm
  code/modules/events/electrical_storm.dm
  code/modules/modular_computers/file_system/programs/engineering/shields_monitor.dm
  code/modules/overmap/contacts/_contacts.dm
  code/modules/shield_generators/shield_generator.dm
  maps/torch/job/service_jobs.dm
Labels: :mirror: MIR ЯОЯ

#2966 [MIRROR] Fix fail light runtime
  code/game/objects/items/weapons/lighter.dm
Labels: :mirror: MIR ЯОЯ

#2972 [MIRROR] Allow copying loadout slots
  code/modules/client/preference_setup/loadout/loadout.dm
Labels: :hourglass: Ожидание мёржа, :scroll: CL валиден, :mirror: MIR ЯОЯ, :school_satchel: Лодаут

#2973 [MIRROR] IV Bag Drip Rate Tweaks
  code/modules/reagents/reagent_containers/ivbag.dm
Labels: :hourglass: Ожидание мёржа, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2974 [MIRROR] Add allergy autoinjectors to medical vendors
  code/game/machinery/vending/medical.dm
  code/game/machinery/vending/wallmed1.dm
  code/game/machinery/vending/wallmed2.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2976 [MIRROR] Update and fix APC overlays
  code/__defines/colors.dm
  code/modules/power/apc.dm
  icons/obj/machines/apc.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2978 [MIRROR] GAS no longer lose their voice from allergies
  code/modules/mob/living/carbon/allergy.dm
  code/modules/mob/living/carbon/breathe.dm
Labels: :hourglass: Ожидание мёржа, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2980 [MIRROR] Various allergy fixes
  code/modules/mob/living/carbon/allergy.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2988 [MIRROR] Research borgs get RPED
  code/modules/mob/living/silicon/robot/modules/module_research.dm
Labels: :hourglass: Ожидание мёржа, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2989 [MIRROR] removed duplicate d5 air alarm
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты, :hourglass: Ожидание мёржа, :mirror: MIR ЯОЯ

#2997 [MIRROR] Legion hivebots are space movable and airflow immune
  packs/legion/legion_hivebot.dm
Labels: :hourglass: Ожидание мёржа, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3024 [MIRROR] Remove unused (And broken) warning stripes decal
  baystation12.dme
  code/game/objects/effects/decals/warning_stripes.dm
Labels: :hourglass: Ожидание мёржа, :mirror: MIR ЯОЯ

#3030 [MIRROR] Major Changes to Slaver Base Map
  maps/away/slavers/slavers_base.dmm
  maps/away/slavers/slavers_base_areas.dm
Labels: :world_map: Карты, :hourglass: Ожидание мёржа, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3031 [MIRROR] ERT Base and Shuttle Remastered
  maps/antag_spawn/ert/ert_base.dmm
Labels: :world_map: Карты, :hourglass: Ожидание мёржа, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3045 [MIRROR] Drones now bleeding with oil.
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/mob/living/simple_animal/hostile/robotic/bad_drone.dm
Labels: :hourglass: Ожидание мёржа, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3052 [MIRROR] testing to see whether faction_invisible causes mutiny icon woes
  code/game/antagonist/station/loyalist.dm
  code/game/antagonist/station/revolutionary.dm
Labels: :hourglass: Ожидание мёржа, :mirror: MIR ЯОЯ

#3058 [MIRROR] fabrication has its own access and explorers aren't invited
  maps/torch/job/command_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/torch_access.dm
  maps/torch/torch_areas.dm
Labels: :hourglass: Ожидание мёржа, :scroll: CL валиден, :mirror: MIR ЯОЯ

#2998 [MIRROR] Update legion documents to clarify IONS DONT WORK
  packs/event_2024jul20/documents.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3023 [MIRROR] Fix runtimes when ghosts observe humans
  code/modules/species/species_age_comparison.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2979 [MIRROR] Rework fortune cookies
  baystation12.dme
  code/datums/recipe.dm
  code/datums/trading/food.dm
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/fortunecookie.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2968 [MIRROR] changes allergy autoinjector description to standard
  code/game/objects/items/weapons/storage/med_pouch.dm
Labels: :mirror: MIR ЯОЯ

#2967 [MIRROR] Fixes error with welding step in mech construction
  code/modules/mechs/components/frame.dm
Labels: :mirror: MIR ЯОЯ

#2984 [MIRROR] Dog tags use custom loadout descriptions.
  maps/torch/items/clothing/solgov-accessory.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#2999 [MIRROR] Legion narrations now broadcast over telecomms
  packs/legion/_globals.dm
  packs/legion/_pack.dm
  packs/legion/legion_beacon.dm
  packs/legion/legion_broadcaster.dm
  packs/legion/legion_narrate.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3009 [MIRROR] Fix rig wearer not updating when equipped using the strip panel
  code/game/objects/items.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/mob/inventory.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3057 [MIRROR] fixes a typo with a mil_uniform singleton
  maps/torch/datums/uniforms_fleet.dm
Labels: :mirror: MIR ЯОЯ

#3043 [MIRROR] Fix vox head gibbing creating infinite loops
  code/modules/organs/internal/species/vox.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3022 [MIRROR] Allows action buttons from accessories
  code/_onclick/hud/action.dm
  code/modules/clothing/under/accessories/_accessory.dm
  code/modules/clothing/under/accessories/goggle_mods.dm
  code/modules/mob/living/living_defense.dm
Labels: :mirror: MIR ЯОЯ

#3055 [MIRROR] Ammo Boxes
  baystation12.dme
  code/game/objects/items/weapons/storage/ammobox.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/psionics/equipment/null_ammo.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3003 [MIRROR] Add single stack practice pistol magazines
  code/modules/projectiles/ammunition/boxes.dm
  maps/torch/datums/supplypacks/security.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3080 [MIRROR] Add canon deaths to the chapel's memorial
  html/changelogs/AutoChangeLog-sierra-pr-3055.yml
  maps/torch/structures/signs.dm
  maps/torch/torch3_deck3.dmm
Labels: :world_map: Карты, :hourglass: Ожидание мёржа, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3081 [MIRROR] Added a prybar and mini extinguisher to explorer and pathfinder lockers
  maps/torch/structures/closets/exploration.dm
Labels: :mirror: MIR ЯОЯ

#3082 [MIRROR] split hangar substation into a full room, added console & map to expedition prep
  maps/torch/torch1_deck5.dmm
  maps/torch/torch_areas.dm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3062 [MIRROR] Multi-Z Cable Fixes
  code/datums/extensions/support_lattice.dm
  code/modules/power/cable_coil.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3050 Solar Investigation Bureau Inc.
  code/__defines/~mods/expanded_culture_descriptor.dm
  mods/expanded_culture_descriptor/code/factions/factions_human.dm
  mods/expanded_culture_descriptor/code/species/station.dm
Labels: :hourglass: Ожидание мёржа, :scroll: CL валиден

#3072 Adherent armor
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/adherent_armor.dm
Labels: :white_check_mark: Принято, :scroll: CL валиден, :balance_scale: Баланс, :atom: Xenos

#3087 Фикс невозможности строить ботов и что-то ещё
  mods/utility_items/code/on_floor_icon.dm
Labels: :scroll: CL валиден

#3090 [MIRROR] Inflatables + Ladders Fixes
  code/game/objects/structures/inflatable.dm
  code/modules/multiz/structures.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3085 MAP: Assorted Salvage Vessel tweaks and bugfixes
  mods/_maps/hand/code/hand_crew.dm
  mods/_maps/hand/code/hand_items.dm
  mods/_maps/hand/maps/hand-1.dmm
  mods/_maps/hand/maps/hand-2.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3122 Ubuntu-22.04
  .github/workflows/cancel.yml
  .github/workflows/changelog_generation.yml
  .github/workflows/check_changelog.yml
  .github/workflows/close_stale.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/generate_documentation.yml
  .github/workflows/labeler.yml
  .github/workflows/make_changelogs.yml
  .github/workflows/test.yml
  .github/workflows/testmerge-blocker.yml
Labels: :open_file_folder: Репозиторий

#3099 [MIRROR] Notify staff when clients connect to the server
  code/modules/client/client_procs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3097 [MIRROR] Catwalks pass interactions to turfs
  code/game/objects/structures/catwalk.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3094 [MIRROR] fix bluespace pulse not teleporting people
  code/game/machinery/bluespace_drive.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3096 [MIRROR] Wildly swinging through turfs
  code/game/turfs/simulated/floor_attackby.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3109 [MIRROR] Wire examine labels for master electricians
  code/datums/wires/airlock.dm
  code/datums/wires/alarm.dm
  code/datums/wires/apc.dm
  code/datums/wires/camera.dm
  code/datums/wires/fabricator.dm
  code/datums/wires/nuclearbomb.dm
  code/datums/wires/particle_accelerator.dm
  code/datums/wires/radio.dm
  code/datums/wires/robot.dm
  code/datums/wires/shield_generator.dm
  code/datums/wires/smartfridge.dm
  code/datums/wires/smes.dm
  code/datums/wires/suit_storage_unit.dm
  code/datums/wires/taperecorder.dm
  code/datums/wires/transfer_valve.dm
  code/datums/wires/wire_description.dm
  code/datums/wires/wires.dm
  code/game/machinery/stasis_cage.dm
  code/game/machinery/teleporter/beacon.dm
  code/game/machinery/vending/_wires.dm
  code/modules/clothing/spacesuits/rig/rig_wiring.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3125 ADD: Renegade choice of weapon + renegade vs ling
  mods/antagonists/_antagonists.dme
  mods/antagonists/code/_gamemodes.dm
  mods/antagonists/code/renegade.dm
Labels: :scroll: CL валиден

#3123 [MAP] More fixes of main map and other stuff
  baystation12.dme
  maps/sierra/sierra_presets.dm
  mods/_maps/hand/maps/hand-1.dmm
  mods/_master_files/code/game/gamemodes/antag_maps.dm
  mods/_master_files/code/game/gamemodes/ert.dm
  mods/antagonists/code/operative.dm
  mods/antagonists/maps/ert_base.dmm
  mods/antagonists/maps/mercenary_base.dmm
  mods/antagonists/maps/ninja_sierrabay.dmm
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/ninja-map.dm
  mods/utility_items/maps/ninja_sierrabay.dmm
  mods/utility_items/maps/skrell-sierrabay.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3075 [MIRROR] Buffs to Helmet Lights and Floodlights
  code/game/machinery/floodlight.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/skrell/skrell_rigs.dm
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/rigs.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3130 Attempted lag fix
  code/modules/mob/living/life.dm
Labels: :scroll: CL валиден

#3126 Адд Трейтс, абитилиз унатов, язык кьюига и батарейки в РнД
  mods/character_traits/code/character_traits.dm
  mods/expanded_culture_descriptor/code/locations/locations_human.dm
  mods/unathi/code/species.dm
  mods/utility_items/_utility_items.dme
  mods/utility_items/code/rndloadout.dm
Labels: :scroll: CL валиден, :atom: Xenos, :school_satchel: Лодаут

#3139 [MIRROR] Fix newscaster images in modular computer program
  code/modules/modular_computers/file_system/programs/generic/news.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3137 [MIRROR] Fix invalid noticeboard icon if over 5 papers attached
  code/modules/persistence/noticeboards.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3142 [MIRROR] Add thoomplush to random spawnpool + Add SCG lunchbox
  code/game/objects/items/weapons/storage/lunchbox.dm
  code/game/objects/random/random.dm
  icons/obj/lunchboxes.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3154 [MIRROR] iscultist is safe, accepts mobs and minds
  code/game/antagonist/station/cultist.dm
Labels: :mirror: MIR ЯОЯ

#3153 [MIRROR] Makes microwaves use radial menu
  code/game/machinery/kitchen/microwave.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3127 [MIRROR] Tests run if the tests themselves are modified
  .github/workflow-config/preflight-filters.yml
Labels: :open_file_folder: Репозиторий, :mirror: MIR ЯОЯ

#3092 [MIRROR] misc config housekeeping
  code/controllers/configuration.dm
Labels: :mirror: MIR ЯОЯ

#3141 [MIRROR] Fired Borscht Chef
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3133 [ADD] NTNet tweaks
  mods/ntnet/code/NTNet-core.dm
  mods/ntnet/code/NTNet-items.dm
  mods/ntnet/code/terminal/commands/connect.dm
  mods/utility_items/code/wires.dm
Labels: :hourglass: Ожидание мёржа, :scroll: CL валиден, :books: Update Wiki after merge

#3157 РПЕД для борга
  mods/ai/code/borgs_equipments.dm
Labels: :scroll: CL валиден

#3160 Убираем дамаг по протезам, от низкого давления
  code/modules/mob/living/carbon/human/life.dm
  mods/ipc_mods/README.md
Labels: :scroll: CL валиден

#3159 Снятие ограничений с меток
  mods/body_markings/_body_markings_includes.dm
  mods/body_markings/code/disallows.dm
Labels: :scroll: CL валиден

#3176 ISO Fixes
  maps/sierra/icons/mob/onmob/onmob_under.dmi
  maps/sierra/loadout/_defines.dm
  maps/sierra/loadout/loadout_accessories.dm
  maps/sierra/loadout/loadout_tactical.dm
  maps/sierra/loadout/loadout_uniform.dm
  maps/sierra/sierra_antagonism.dm
Labels: :mountain: Спрайты

#3089 [MIRROR] Use proper pronouns when aiming at self
  code/modules/projectiles/targeting/targeting_overlay.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3188 Fix Space Explosions
  maps/sierra/job/jobs_command.dm
  mods/explosions/code/explosion_iter.dm
Labels: :scroll: CL валиден
