Repository SierraBay/SierraBay12, pull requests merged in 2025-04, with the labels that each got.

#3460 Фиксы за март
  maps/sierra/job/jobs.dm
  maps/sierra/z1-z4_sierra.dmm
  mods/_maps/farfleet/maps/farfleet-2.dmm
  mods/playable_away_yacht/maps/yacht.dmm
Labels: :world_map: Карты

#3464 [MIRROR] Fix teleporter not working for mobs in closet
  code/game/machinery/teleporter/console.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3463 [MIRROR] limit overmap spawns from being on the map limits
  code/modules/overmap/_defines.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3402 [MIRROR] Expand the playable colony's mess and medbay
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/playablecolony.dm
Labels: :world_map: Карты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3401 Попытка починить освещение
  code/game/turfs/turf_changing.dm
Labels: :scroll: CL валиден

#3472 No titan
  mods/anomaly/code/spawn_anomalies_protocol/spawn_on_planet.dm
Labels: :scroll: CL валиден

#3480 Три миррора
  code/__defines/mobs.dm
  code/_onclick/rig.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/items/devices/personal_shield.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/augment/active/adaptive_binoculars.dm
  code/modules/augment/active/armblades.dm
  code/modules/augment/active/corrective_lenses.dm
  code/modules/augment/active/glare_dampeners.dm
  code/modules/augment/active/hudimplants.dm
  code/modules/augment/augment.dm
  code/modules/augment/passive/ling_lenses.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/modules/vision.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons/melee_energy.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3481 Мелкофикс девмапы
  mods/dev_mode/maps/dev_map.dmm
Labels: :world_map: Карты

#3490 Фикс Player List
  html/pages/player_list.html
  html/pages/player_list_entry.html
Labels: :scroll: CL валиден

#3482 Titan 2
  code/modules/admin/admin_verbs.dm
  mods/anomaly/code/anomalies/anomaly_deleting.dm
  mods/anomaly/code/anomalies/anomaly_graphic.dm
  mods/anomaly/code/anomalies/anomaly_parts.dm
  mods/anomaly/code/anomalies/anomaly_types/electra/_electra.dm
  mods/anomaly/code/anomalies/anomaly_types/labirint/labirint.dm
  mods/anomaly/code/anomalies/anomaly_types/labirint/labirint_parts.dm
  mods/anomaly/code/anomalies/anomaly_types/rvach.dm
  mods/anomaly/code/anomalies/anomaly_types/teleporter.dm
  mods/anomaly/code/anomalies/anomaly_types/tramplin.dm
  mods/anomaly/code/anomalies/anomaly_types/zharka.dm
  mods/anomaly/code/anomaly_admin.dm
  mods/anomaly/code/anomaly_controller.dm
  mods/anomaly/code/detectors_and_etc/detector/detector.dm
  mods/anomaly/code/planets/titan/titan.dm
  mods/anomaly/code/planets/titan/water_turfs/crossing.dm
  mods/anomaly/code/planets/titan/water_turfs/drowning.dm
  mods/anomaly/code/planets/titan/water_turfs/render/desetup.dm
  mods/anomaly/code/planets/titan/water_turfs/render/setup.dm
  mods/anomaly/code/planets/titan/water_turfs/water.dm
  mods/anomaly/code/spawn_anomalies_protocol/bsd_event_protocol.dm
  mods/anomaly/code/spawn_anomalies_protocol/spawn_on_planet.dm
  mods/anomaly/icons/detection_icon.dmi
  mods/anomaly/icons/water_mask_big.dmi
  mods/anomaly/icons/water_mask_small.dmi
  mods/anomaly/maps/electra_ruins/deployed_generator.dm
  mods/anomaly/maps/electra_ruins/ice_cave.dm
  mods/anomaly/maps/water_ruins/avanpost/avanpost.dm
  mods/anomaly/maps/water_ruins/ranger/ranger.dm
  mods/anomaly/maps/water_ruins/skat/skat-1.dmm
  mods/anomaly/maps/water_ruins/skat/skat_2.dm
  mods/dev_mode/code/dev_map/dev_lobby_music.dm
  mods/dev_mode/maps/dev_map.dmm
  mods/screen_big_text/core.dm
  mods/weather/code/_controller.dm
  mods/weather/code/weather_manager/weather_manager.dm
  mods/weather/code/weather_manager/weather_manager_deploy.dm
  mods/weather/code/weather_types/titan_rain.dm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#3491 titan go sleep
  mods/anomaly/code/spawn_anomalies_protocol/spawn_on_planet.dm
Labels: :scroll: CL валиден

#3503 Фикс вуалей таяр
  mods/tajara/code/clothing/accessories.dm
Labels: :scroll: CL валиден

#3506 Фикс размеров планет
  mods/anomaly/code/spawn_anomalies_protocol/spawn_on_planet.dm
Labels: :scroll: CL валиден

#3509 Небольшие фиксы руин льда
  mods/anomaly/maps/electra_ruins/garage.dmm
  mods/anomaly/maps/electra_ruins/ice_cave.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3511 Анализатор газов у дрона
  mods/utility_items/_utility_items_includes.dm
  mods/utility_items/code/drone_gas_analyser.dm
Labels: :scroll: CL валиден

#3512 weather turn off
  mods/anomaly/code/planets/ice/ice.dm
Labels: :scroll: CL валиден

#3514 Попытка починить освещение 2
  baystation12.dme
  mods/_master_files/code/controllers/subsystems/lighting.dm
Labels: :scroll: CL валиден

#3517 yacht fix
  mods/playable_away_yacht/maps/yacht.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3520 Попытка починить освещение 3
  mods/_master_files/code/controllers/subsystems/lighting.dm
Labels: :scroll: CL валиден

#3513 [MAP] Фиксы за Апрель
  maps/sierra/z1-z4_sierra.dmm
  mods/utility_items/maps/skrell-sierrabay.dmm
Labels: :world_map: Карты, :compass: Авей-карты

#3521 Фикс входа в зарядник
  mods/machinery/_machinery_includes.dm
  mods/machinery/code/rechargestation.dm
  mods/tajara/code/clothing/accessories.dm
Labels: :scroll: CL валиден

#3522 Фикс атмосферы авеек
  baystation12.dme
  mods/_master_files/code/modules/maps/map_template.dm
Labels: :scroll: CL валиден

#3538 Корректировка названий шлюзов
  maps/sierra/z1-z4_sierra.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3541 Добавил кнопку открытия шлюза в офис АВД
  maps/sierra/z1-z4_sierra.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3533 Small Fixes
  code/game/objects/items/weapons/circuitboards/computer/research.dm
  mods/RnD/code/designs_autolathe/disks.dm
  mods/RnD/code/machinery/rdconsole.dm
  mods/RnD/code/program/design.dm
  mods/RnD/code/program/designownloader.dm
  mods/emote_panel/code/pain.dm
  mods/ipc_mods/code/ipc.dm
  mods/sound_effects/code/sound.dm
Labels: :scroll: CL валиден

#3543 Шмотки by failu
  mods/loadout_items/code/accessory.dm
  mods/loadout_items/code/lists/accessories.dm
  mods/loadout_items/code/lists/suits.dm
  mods/loadout_items/code/lists/uniforms.dm
  mods/loadout_items/code/suits.dm
  mods/loadout_items/code/uniforms.dm
  mods/loadout_items/icons/obj_accessory.dmi
  mods/loadout_items/icons/obj_suit.dmi
  mods/loadout_items/icons/obj_under.dmi
  mods/loadout_items/icons/onmob_accessory.dmi
  mods/loadout_items/icons/onmob_suit.dmi
  mods/loadout_items/icons/onmob_under.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3545 Изменения названий шлюзов. Попытка №2
  maps/sierra/z1-z4_sierra.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3549 Bulletsfix
  mods/sound_effects/code/sound.dm
Labels: :scroll: CL валиден

#3554 Ребаланс скиллпоинтов жаб
  mods/failu_skrell_clothes/code/lists/xenowear.dm
  mods/utility_items/code/skrell.dm
Labels: :scroll: CL валиден

#3556 Возврат оверлеев газов
  code/modules/xgm/xgm_gas_mixture.dm
  maps/sierra/sierra.dm
  mods/dev_mode/code/dev_map/_dev_map.dm
Labels: :scroll: CL валиден
