Repository SierraBay/SierraBay12, pull requests merged in 2025-06, with the labels that each got.

#3741 Скрелльские причи
  mods/hairs_ports/_hairs_ports_includes.dm
  mods/hairs_ports/code/_clothing.dm
  mods/hairs_ports/code/accessory_skrell.dm
  mods/hairs_ports/code/clothing.dm
  mods/hairs_ports/icons/ears.dmi
  mods/hairs_ports/icons/hair.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3697 Landing pods
  code/modules/shuttles/escape_pods.dm
  code/modules/shuttles/landmarks.dm
  maps/mapsystem/maps_unit_testing.dm
  maps/sierra/sierra_shuttles.dm
  maps/sierra/z1-z4_sierra.dmm
  mods/RnD/code/designs_autolathe/designs_arms_ammo.dm
  mods/RnD/code/designs_autolathe/designs_general.dm
  mods/RnD/code/designs_autolathe/disks.dm
  mods/RnD/code/machinery/autolathe.dm
  mods/RnD/code/machinery/rdconsole.dm
  mods/RnD/code/misc.dm
  mods/RnD/code/xenoarch/swap.dm
  mods/_master_files/code/modules/maps/map_template.dm
  mods/escpodinf/code/evacuation_pods_fast.dm
  mods/utility_items/_utility_items_includes.dm
  mods/utility_items/code/flashlight.dm
  mods/utility_items/code/shuttles/advanced_landing.dm
  mods/utility_items/code/shuttles/pods_landing.dm
  mods/utility_items/code/sudoku.dm
  mods/vision_cone/code/planes.dm
Labels: :world_map: Карты, :scroll: CL валиден

#3758 Снимаем скиллы биомеху
  maps/sierra/job/jobs_research.dm
Labels: :scroll: CL валиден

#3778 Assets loading
  baystation12.dme
  code/modules/client/asset_cache.dm
  mods/RnD/code/program/asset.dm
  mods/_master_files/code/modules/client/asset_cache.dm
  mods/ipc_mods/_ipc_mods_includes.dm
  mods/ipc_mods/code/handle_enviroment.dm
  mods/utility_items/code/flashlight.dm
Labels: :scroll: CL валиден

#3785 дополнение дефайна unrestricted species
  code/__defines/mobs.dm
Labels: :scroll: CL валиден

#3800 Skrell Hair Fix
  mods/hairs_ports/icons/ears.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3823 [MIRROR] Removes extra pixel from Bun Uniter hair sprite
  icons/mob/human_races/species/human/hair.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3817 Komatsu Medical Services addition
  code/__defines/~mods/expanded_culture_descriptor.dm
  code/_helpers/text.dm
  code/modules/client/client_procs.dm
  html/images/kmslogo.png
  maps/sierra/loadout/_defines.dm
  mods/expanded_culture_descriptor/code/factions/factions_human.dm
  mods/expanded_culture_descriptor/code/species/machine.dm
  mods/expanded_culture_descriptor/code/species/station.dm
  mods/expanded_culture_descriptor/code/species/tajaran.dm
  mods/loadout_items/_loadout_items_includes.dm
  mods/loadout_items/code/accessory.dm
  mods/loadout_items/code/armor.dm
  mods/loadout_items/code/gloves.dm
  mods/loadout_items/code/lists/accessories.dm
  mods/loadout_items/code/lists/tactical.dm
  mods/loadout_items/code/lists/uniforms.dm
  mods/loadout_items/code/lists/xenowear.dm
  mods/loadout_items/code/uniforms.dm
  mods/loadout_items/code/xeno.dm
  mods/loadout_items/icons/obj_accessory.dmi
  mods/loadout_items/icons/obj_hands.dmi
  mods/loadout_items/icons/obj_suit.dmi
  mods/loadout_items/icons/obj_under.dmi
  mods/loadout_items/icons/onmob_accessory.dmi
  mods/loadout_items/icons/onmob_hands.dmi
  mods/loadout_items/icons/onmob_suit.dmi
  mods/loadout_items/icons/onmob_under.dmi
  mods/loadout_items/icons/resomi/obj_resomi_under.dmi
  mods/loadout_items/icons/resomi/onmob_resomi_under.dmi
  mods/resomi/code/datum/species.dm
  mods/resomi/icons/clothing/onmob_under_resomi.dmi
  packs/infinity/icons/obj/clothing/species/resomi/obj_under_resomi.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3836 [MIRROR] neonvolt: add new away-site
  maps/away/spy_station/spy_station.dm
  maps/away/spy_station/spy_station.dmm
  maps/away/spy_station/spy_station_sprites.dmi
  maps/sierra/sierra.dm
  maps/torch/torch.dm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3824 [MIRROR] Resolves issues with Skrell objects that would otherwise cause tests to fail
  baystation12.dme
  code/game/jobs/access_datum.dm
  code/game/objects/skrell_props.dm
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: :mirror: MIR ЯОЯ

#3838 [MIRROR] resolve issue 35248
  code/modules/reagents/reagent_containers/food/condiment.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3827 [MIRROR] Pill bottle shaking
  code/game/objects/items/weapons/storage/pill_bottle.dm
  sound/items/pill_bottle_shake.ogg
Labels: :sound: Звуки, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3830 [MIRROR] ChemMaster QoL additions
  code/game/objects/items/weapons/storage/pill_bottle.dm
  code/modules/reagents/Chemistry-Machinery.dm
  nano/templates/chemmaster.tmpl
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3829 [MIRROR] Makes light fixture overlays properly respect lighting modes
  code/modules/power/lighting.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3826 [MIRROR] dont show stealthed players in lobby count
  code/modules/mob/new_player/new_player.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3832 [MIRROR] Allow admins to bypass most checks when making someone an antagonist
  code/datums/mind/mind.dm
  code/game/antagonist/antagonist_add.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3845 [MIRROR] Adds onmob sprites for coffee cups
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3833 [MIRROR] paint sprayer can fill walls
  code/game/objects/items/devices/paint_sprayer.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3850 Фикс печенек
  mods/utility_items/code/reagents.dm
Labels: :scroll: CL валиден

#3849 [MAP FIX] Третий флот может летать.
  mods/_maps/phobos/maps/phobos.dmm
Labels: :world_map: Карты, :scroll: CL валиден, :compass: Авей-карты

#3856 [MIRROR] Updates pipe pressure meter sprite
  icons/obj/atmospherics/meter.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3863 PSI: Изменения по фидбеку
  mods/_master_files/code/modules/psionics/events/mini_spasm.dm
  mods/psionics/code/equipment/implant.dm
  mods/psionics/code/equipment/psipower_gun.dm
  mods/psionics/code/equipment/psipower_orbs.dm
  mods/psionics/code/equipment/psipower_tk.dm
  mods/psionics/code/faculties/coercion.dm
  mods/psionics/code/faculties/consciousness.dm
  mods/psionics/code/faculties/energistics.dm
  mods/psionics/code/faculties/psychokinesis.dm
  mods/psionics/code/faculties/redaction.dm
  mods/psionics/code/override.dm
Labels: :scroll: CL валиден

#3859 Klearch prime/sierra12
  icons/mob/onmob/onmob_belt.dmi
  mods/loadout_items/code/lists/accessories.dm
  mods/loadout_items/code/lists/tactical.dm
Labels: :mountain: Спрайты, :scroll: CL валиден

#3866 Mechs differents fixes
  code/__defines/~mods/mechs.dm
  code/game/machinery/doors/firedoor.dm
  code/modules/projectiles/projectile.dm
  maps/away_sites_testing/away_sites_testing.dm
  maps/example/example.dm
  maps/sierra/z1-z4_sierra.dmm
  mods/RnD/code/designs/mechfab/mech_equipment/engi.dm
  mods/mechs_by_shegar/code/components/software.dm
  mods/mechs_by_shegar/code/core/_mech_defines.dm
  mods/mechs_by_shegar/code/core/damage/apply_damage.dm
  mods/mechs_by_shegar/code/core/damage/bullet_act.dm
  mods/mechs_by_shegar/code/core/heat_managment.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/big_menu/buttons/power.dm
  mods/mechs_by_shegar/code/core/interface/interface/buttons/hardpoint.dm
  mods/mechs_by_shegar/code/core/mech_death.dm
  mods/mechs_by_shegar/code/core/mech_interaction/_interactions_includes.dm
  mods/mechs_by_shegar/code/core/mech_interaction/main_mech_interaction.dm
  mods/mechs_by_shegar/code/core/mech_interaction/maint_interaction/equipment_repair.dm
  mods/mechs_by_shegar/code/core/mech_interaction/maint_interaction/modules_system.dm
  mods/mechs_by_shegar/code/core/mech_interaction/mech_control.dm
  mods/mechs_by_shegar/code/core/mech_interaction/mech_fists/attack.dm
  mods/mechs_by_shegar/code/core/movement/_core.dm
  mods/mechs_by_shegar/code/core/movement/can_move.dm
  mods/mechs_by_shegar/code/core/movement/do_move/do_move.dm
  mods/mechs_by_shegar/code/equipment/_equipment.dm
  mods/mechs_by_shegar/code/equipment/combat/ballistic_weapon/_main.dm
  mods/mechs_by_shegar/code/equipment/combat/ballistic_weapon/autoshotgun.dm
  mods/mechs_by_shegar/code/equipment/combat/ballistic_weapon/grenade_launcher.dm
  mods/mechs_by_shegar/code/equipment/combat/ballistic_weapon/machinegun.dm
  mods/mechs_by_shegar/code/equipment/combat/ballistic_weapon/smg.dm
  mods/mechs_by_shegar/code/equipment/combat/defense_systems/ballistic_shield.dm
  mods/mechs_by_shegar/code/equipment/combat/energy_weapon/ion_rifle.dm
  mods/mechs_by_shegar/code/equipment/combat/energy_weapon/laser.dm
  mods/mechs_by_shegar/code/equipment/combat/energy_weapon/taser.dm
  mods/mechs_by_shegar/code/equipment/combat/flamethower.dm
  mods/mechs_by_shegar/code/equipment/combat/flash.dm
  mods/mechs_by_shegar/code/equipment/combat/mechete.dm
  mods/mechs_by_shegar/code/equipment/combat/rocket_launcher.dm
  mods/mechs_by_shegar/code/equipment/engineering/shields.dm
  mods/mechs_by_shegar/code/equipment/medical/sleeper.dm
  mods/mechs_by_shegar/code/equipment/utility/camera.dm
  mods/mechs_by_shegar/code/equipment/utility/catapult.dm
  mods/mechs_by_shegar/code/equipment/utility/floodlight.dm
  mods/mechs_by_shegar/code/equipment/utility/integralka_rack.dm
  mods/mechs_by_shegar/code/equipment/utility/jets.dm
  mods/mechs_by_shegar/code/etc/mech_wreckage.dm
  mods/mechs_by_shegar/code/etc/paint_kit.dm
  mods/mechs_by_shegar/code/premades/security.dm
  mods/mechs_by_shegar/icons/ballistic_shield.dmi
  mods/mechs_by_shegar/icons/main_buttons_back.dmi
  mods/mechs_by_shegar/icons/projectiles.dmi
  mods/mechs_by_shegar/icons/radial_menu.dmi
  mods/mechs_by_shegar/icons/traccer.dmi
  mods/mechs_by_shegar/sounds/laser_final.ogg
  mods/mechs_by_shegar/sounds/static_sound_laser.ogg
  mods/screentips/code/handler.dm
  mods/utility_items/code/dodge_animation.dm
Labels: :world_map: Карты, :mountain: Спрайты, :sound: Звуки, :scroll: CL валиден

#3869 Tweak vox beacon
  mods/_maps/voxship/code/vox_beacon.dm
Labels: :scroll: CL валиден

#3825 [MIRROR] Flatpacked ore boxes for miners
  baystation12.dme
  code/game/objects/items/flatpack.dm
  code/modules/fabrication/designs/general/designs_general.dm
  code/modules/mining/satchel_ore_boxdm.dm
  icons/obj/ore_boxes.dmi
  maps/sierra/z1-z4_sierra.dmm
  maps/torch/torch1_deck5.dmm
Labels: :world_map: Карты, :mountain: Спрайты, :mirror: MIR ЯОЯ

#3875 Hotfix bug to vox beacon
  mods/_maps/voxship/code/vox_beacon.dm
Labels: :scroll: CL валиден

#3880 Пули теперь не исчезают при промахе
  code/modules/projectiles/projectile.dm
Labels: :scroll: CL валиден

#3877 [MIRROR] Legion tweaks
  packs/legion/mob/legion_bellator.dm
  packs/legion/mob/legion_mob.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3886 [Imageadd]: medibot 3/4
  code/modules/mob/living/bot/medibot.dm
  icons/mob/bot/medibot.dmi
  icons/mob/bot/medibot_skins.dmi
  icons/obj/crafting_icons.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3857 [MIRROR] Allow interrupting timed actions
  code/__defines/mobs.dm
  code/_helpers/mobs.dm
  interface/interface.dm
  interface/skin.dmf
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3892 bugfix: fixed disperser direction picker
  code/modules/overmap/disperser/disperser_console.dm
Labels: :scroll: CL валиден

#3894 [MIRROR] Add intent-based actions to card decks
  code/modules/codex/entries/misc.dm
  code/modules/games/cards.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#3895 [MIRROR] Adds stars to the overmap
  baystation12.dme
  code/controllers/subsystems/misc.dm
  code/controllers/subsystems/skybox.dm
  code/modules/overmap/_defines.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/star/star.dm
  code/modules/overmap/star/star_skybox.dm
  code/modules/power/solar.dm
  icons/obj/overmap.dmi
  icons/skybox/star.dmi
  maps/mapsystem/maps.dm
  maps/sierra/sierra_define.dm
  maps/sierra/sierra_unit_testing.dm
  maps/torch/torch_define.dm
  maps/torch/torch_unit_testing.dm
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3887 Вариант фикса падения вещей
  mods/TG_signals/code/laying_and_resting_refactor/lying_set.dm
  mods/TG_signals/code/laying_and_resting_refactor/overrides.dm
  mods/_master_files/code/modules/species/species.dm
Labels: :scroll: CL валиден

#3896 Небольшие изменения по запросу
  baystation12.dme
  maps/sierra/loadout/_defines.dm
  mods/_master_files/code/modules/clothing/under/accessories/armor_plate.dm
Labels: :scroll: CL валиден

#3743 Возвращает IntelligenceTech и модификации для пИИ
  code/modules/mob/living/silicon/pai/pai.dm
  maps/sierra/z1-z4_sierra.dmm
  mods/RnD/code/tech_branch/tech_data.dm
  mods/global_modpacks.dm
  mods/paimod/README.md
  mods/paimod/_paimod.dm
  mods/paimod/_paimod_includes.dm
  mods/paimod/code/core.dm
  mods/paimod/code/designs_pai.dm
  mods/paimod/code/hacking.dm
  mods/paimod/code/memory.dm
  mods/paimod/code/painew.dm
  mods/paimod/code/software.dm
  mods/paimod/code/special.dm
  mods/paimod/code/vending.dm
  mods/paimod/icons/pai.dmi
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден

#3904 [MIRROR] Bugfix: incorrect sprite of basic medibot
  icons/mob/bot/medibot_skins.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#3694 Resprite security beret
  maps/sierra/items/clothing/security.dm
  mods/sierra_resprite/icons/headwear_item.dmi
  mods/sierra_resprite/icons/sec_head.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3903 Изменение для паспорта
  baystation12.dme
  mods/_master_files/code/game/objects/items/passport.dm
Labels: :scroll: CL валиден

#3909 Repair bodymarks
  mods/body_markings/code/body_markings.dm
  mods/body_markings/icons/body_markings.dmi
  mods/sierra_resprite/icons/kitchen.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3919 ещё спрайты
  mods/sierra_resprite/code/kitchen.dm
  mods/sierra_resprite/code/other_obj.dm
  mods/sierra_resprite/icons/donutbox.dmi
  mods/sierra_resprite/icons/fax_machine.dmi
  mods/sierra_resprite/icons/hydroponic.dmi
  mods/sierra_resprite/icons/kitchen.dmi
  mods/sierra_resprite/icons/mining.dmi
  mods/sierra_resprite/icons/plants.dmi
  mods/sierra_resprite/icons/suitcycler.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3922 tweak: вернул инфинити иконки и снаряжение роботам
  mods/infinity_content/_infinity_includes.dm
  mods/infinity_content/code/robots.dm
  mods/infinity_content/icons/robots.dmi
  mods/infinity_content/icons/robots_flying.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#3920 fix: fixed robot radio passthrough
  code/modules/mob/living/silicon/robot/robot.dm
Labels: :scroll: CL валиден, :arrow_double_up: Реверсивный апстрим

#3926 SierraMap Fix CE/HoP/Virology/RnD
  maps/sierra/z1-z4_sierra.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#3915 [MIRROR] adjusts details on fleet service jackets
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/mob/unathi/onmob_suit_solgov_unathi.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ
