Repository SierraBay/SierraBay12, pull requests merged in 2025-08, with the labels that each got.

#4047 [MIRROR] Made cowboy hat printable
  code/game/machinery/biogenerator.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4043 Поворот атмосферного щита и лаптопа
  baystation12.dme
  mods/_master_files/code/modules/modular_computers/computers/subtypes/dev_laptop.dm
  mods/machinery/code/sealing_generator.dm
Labels: :scroll: CL валиден

#4049 IAA Badge Access Fix
  mods/utility_items/code/armor.dm
Labels: :scroll: CL валиден

#4059 Bodymarkings by Failu
  mods/body_markings/code/body_markings.dm
  mods/body_markings/icons/body_markings.dmi
  mods/hairs_ports/code/_accessory_hair.dm
  mods/hairs_ports/icons/port_hair.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден

#4060 Small implants access fixes and IAA Office changes
  code/modules/augment/active/hudimplants.dm
  maps/sierra/z1-z4_sierra.dmm
Labels: :world_map: Карты, :scroll: CL валиден

#4063 XenoVision + DevMode fix
  mods/character_traits/code/gas.dm
  mods/character_traits/code/skrell.dm
  mods/dev_mode/code/dev_map/_dev_map.dm
Labels: :scroll: CL валиден

#4077 [MIRROR] Remove duplicate lattices from spy station map
  maps/away/spy_station/spy_station.dmm
Labels: :world_map: Карты, :mirror: MIR ЯОЯ

#4076 [MIRROR] Clamp mech and robot component health
  code/modules/mechs/components/_components.dm
  code/modules/mob/living/silicon/robot/component.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ, :pig2: Мехи

#4075 [MIRROR] Email QOL
  code/modules/modular_computers/NTNet/emails/email_message.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  code/modules/modular_computers/file_system/programs/research/email_administration.dm
  code/modules/modular_computers/file_system/reports/people.dm
  code/modules/modular_computers/terminal/commands/log.dm
  code/modules/modular_computers/terminal/terminal_skill_fail.dm
  nano/templates/email_administration.tmpl
  nano/templates/email_client.tmpl
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4086 [MIRROR] Fix resin not brittling prosthetics
  code/game/objects/items/stacks/medical.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4087 [MIRROR] Fix email admin not showing sent emails
  code/modules/modular_computers/file_system/programs/research/email_administration.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4089 [MIRROR] Fix type paths for shooting boost augments
  code/modules/augment/passive/boost/shooting.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4093 [MIRROR] Pull request #35283 ICCGN-Voidsuit
  code/modules/clothing/spacesuits/void/misc.dm
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: :mountain: Спрайты, :scroll: CL валиден, :mirror: MIR ЯОЯ

#4092 [MAP] ERT Remapp according to upstream changes
  maps/sierra/job/outfits.dm
  maps/sierra/sierra.dm
  maps/sierra/sierra_shuttles.dm
  maps/sierra/sierra_snatch.dm
  maps/sierra/z7_transit.dmm
  maps/torch/torch_simplemobs.dm
  mods/_master_files/code/game/gamemodes/antag_maps.dm
  mods/antagonists/README.md
  mods/antagonists/code/ert.dm
  mods/antagonists/icons/mob/ert_rig_hands.dmi
  mods/antagonists/maps/ert_ship.dmm
  mods/dev_mode/code/dev_map/_dev_map.dm
  mods/guns/code/projectile.dm
  mods/hardsuits/code/foundation.dm
  mods/hardsuits/icons/voidsuits/obj_head.dmi
  mods/hardsuits/icons/voidsuits/obj_suit.dmi
  mods/hardsuits/icons/voidsuits/onmob_head.dmi
  mods/hardsuits/icons/voidsuits/onmob_suit.dmi
  mods/psionics/code/equipment/foundation_clothing.dm
  mods/psionics/code/equipment/foundation_exosuit.dm
  mods/psionics/code/mob/foundation_simplemobs.dm
  mods/psionics/icons/foundation/foundation_mobs.dmi
  mods/psionics/psionics_includes.dm
Labels: :world_map: Карты, :mountain: Спрайты, :scroll: CL валиден, :books: Update Wiki after merge

#4099 [MIRROR] fix placeholder control rotating
  maps/event/placeholders/placeholders.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4129 [MIRROR] Email QOL Updates
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  nano/templates/email_client.tmpl
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4008 [MIRROR] Rename all vars that override internal ones
  code/_helpers/storage.dm
  code/controllers/hooks.dm
  code/game/antagonist/antagonist_panel.dm
  code/game/jobs/job/job.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/turfs/simulated/footsteps.dm
  code/modules/clothing/under/accessories/goggle_mods.dm
  code/modules/goals/_goal.dm
  code/modules/goals/goal_ambition.dm
  code/modules/goals/goal_mind.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/synthesized_instruments/real_instruments.dm
Labels: :mirror: MIR ЯОЯ

#4132 [MAP] Fix abcence of pilot access on Charon
  maps/sierra/sierra_shuttles.dm
Labels: :scroll: CL валиден

#4136 [MIRROR] fix emergency shield generator doubling power use on activation
  code/modules/shieldgen/emergency_shield.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4134 Порт MP панели с инфинити
  baystation12.dme
  code/modules/admin/admin_verbs.dm
  mods/_master_files/code/modules/admin/admin_verbs.dm
  mods/_master_files/code/modules/admin/topic.dm
Labels: :scroll: CL валиден

#4137 [MIRROR] let mobs jump over bluespace
  code/game/turfs/flooring/flooring_premade.dm
Labels: :scroll: CL валиден, :mirror: MIR ЯОЯ

#4067 Сигареты в лодаут
  mods/loadout_items/code/lists/general.dm
Labels: :scroll: CL валиден

#4068 Бодимарки ксеноте
  mods/body_markings/code/body_markings.dm
Labels: :scroll: CL валиден

#4066 OOC notes fixes
  mods/ooc_notes/code/ooc_notes.dm
Labels: :scroll: CL валиден

#4104 [MIRROR] Adds a usable shuttle to the Bearcat map
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_areas.dm
  maps/away/bearcat/bearcat_shuttles.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_overmap.dm
Labels: :world_map: Карты, :mirror: MIR ЯОЯ

#4140 Заливаем карту без файла Бэйстэйшена
  maps/sierra/sierra.dm
  mods/_events/battlefield_event/_battlefield_event.dm
  mods/_events/battlefield_event/_battlefield_event_includes.dme
  mods/_events/battlefield_event/battlefield.dm
  mods/_events/battlefield_event/battlefield.dmm
  mods/global_modpacks.dm
Labels: :world_map: Карты, :scroll: CL валиден
